.classOptionsMain{
	margin-bottom:10px;
}
.smallerWidth{
	width:15.6667% !important;
}
.classOverOptions{
	font-size:10px;
	padding-left:3px !important;
	padding-right:3px !important;
	line-height:25px;
}
.bubbleSmall{
	width:20px;
	height:20px;
	background:#B9BBCA;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
}
.stylishBub{
background:#b9bbca url(../images/liners.png) repeat-x !important;
}
.redBubble{
	background:#ff7d71 !important;
}
.greenBubble{
	background:#a7c9a4 !important;
}
.smallWidth{
	width:18.6667% !important;
}
.bubbleSmallrounded{
	width:25px;
	height:25px;
	background:#ffffff;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
	border:2px solid #c8c8c8;
}
.bubbleSmallPattren{
	width:20px;
	height:20px;
	background:#B9BBCA url(../images/bubble-pattren1.png) repeat;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
}
.widthoverride{
	width: 16.333333% !important;
}
.outerContainer{
width: 1000px;
margin: 0 auto;
}
