@charset "utf-8";

/*welcome to workspace*/
.welcomeToWorkspaceImageContainer {
	float: left;
	width: 100%;
	height: 107px;
}

.landingPageHelpOrganizeBigIconContainer {
	width: 58px;
	height: 50px;
	float: left;
	margin-top: 4px;
}

.landingPageHelpOrganizeBigIconContainer {
	width: 58px;
	height: 50px;
	float: left;
	margin-top: 4px;
}

.landingPageHelpOrganizeBigIconHolder {
	float: left;
	position: relative;
}

.landingPageHelpOrganizePlusIcon {
	right: -8px;
	top: -7px;
	position: absolute;
	z-index: 5;
}

.landingPageHelpOrganizeBigIconContainerTwo {
	width: 58px;
	height: 50px;
	float: left;
	margin-top: 11px;
}

.landingPageHelpOrganizeBigIconHolder {
	float: left;
	position: relative;
}

.landingPageHelpOrganizeLessonTotlatContainer {
	height: 110px;
	float: left;
	position: relative;
	right: 0px;
}

.landingPageHelpOrganizeTopArrow {
	position: absolute;
	top: -32px;
	left: -8px;
	z-index: 5;
}

.landingPageHelpOrganizeDownArrow {
	position: absolute;
	top: 0px;
	top: 12px;
	left: -8px;
	z-index: 5;
}

.landingPageHelpDottedBoxContainer {
	float: right;
	position: relative;
	z-index: 4;
	width: 88px;
	height: 68px;
	border: 2px #999999 dashed;
	border-top: 0px;
	right: 74px;
	top: 16px;
}

.workspaceLessonTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 15px;
	padding-top: 2px;
	width: 100%;
	color: #FFF;
	text-align: center;
	background-color: #999999;
}

.workspaceCustomizeLessonTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 15px;
	padding-top: 2px;
	width: 192px;
	color: #FFF;
	text-align: center;
	background-color: #999999;
}

.workspaceOnePartOfContent {
	float: left;
	width: 246px;
	height: 162px;
}

.workspaceTotalContentContainer {
	text-align: center;
	width: 100%;
	height: 183px;
	float: left;
	background-color: gray;
}

.workspaceTitleContainer {
	width: 100%;
	float: left;
	height: 36px;
	margin-bottom: 22px;
}

.workspaceTitleContainerForAssignAndShare {
	width: 100%;
	float: left;
	height: 36px;
	margin-bottom: 6px;
}

.workspaceTilteNumberContainer {
	float: left;
	margin-left: 13px;
	margin-right: 12px;
}

.workspaceTitleText {
	/* float: left; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #1076BB;
/* 	margin-top: 5px;*/
    padding-top:6px;

 }

.workspaceLessonHintActive {
	background: url(images/hint-icon-blue-color.png);
	float: left;
	width: 21px;
	height: 19px;
	margin-top: 3px;
}

.landingPageHelpTeachLessonTextActive {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin: 3px 0px 0px 5px;
}

.workspaceLessonHint {
	background: url(images/hint-icon.png);
	float: left;
	width: 21px;
	height: 19px;
	margin-top: 3px;
}

.landingPageHelpTeachLessonText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	margin: 3px 0px 0px 5px;
}

.workspaceLessonContainer {
	float: left;
	width: 100%;
	height: 24px;
	margin-top: 10px;
}

.workspaceAssignDottedBoxContainer {
	float: right;
	position: relative;
	z-index: 4;
	width: 59px;
	height: 45px;
	border: 2px #999999 dashed;
	border-top: 0px;
	right: 74px;
	top: 16px;
}

.workspaceAssignLessonTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 14px;
	padding-top: 2px;
	width: 100%;
	color: #FFF;
	text-align: center;
	background-color: #999999;
}

.shareLinkImageContainer {
	position: absolute;
	margin-top: 45px;
	margin-left: -3px;
}

.assignSmallArrow {
	position: absolute;
	margin-top: 32px;
	margin-left: 36px;
}

.assignMidArrow {
	position: absolute;
	margin-top: 29px;
	margin-left: 70px;
}

.assignLargeArrow {
	position: absolute;
	margin-top: 23px;
	margin-left: 76px;
}

.assignLargeHumanImage {
	position: absolute;
	margin-top: 51px;
	margin-left: 57px;
}

.assignSmallHumanImage {
	position: absolute;
	margin-top: 68px;
	margin-left: 95px;
}

.assignMidHumanImage {
	position: absolute;
	margin-top: 56px;
	margin-left: 127px;
}

.welcomeToWorkspaceContainer {
	float: left;
	/* width: 820px; */
	width: 640px;
	height: auto;
	margin-top: 121px;
}

.welcomeToWorkspaceBottomText {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:120%;
color:rgb(81,81,81);
padding:56px 0px 0px 259px;
font-style: normal;
}
.welcomeToWorkspaceBottomBlueText {
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:120%;
color:#1076bb;
padding:56px 0px 0px 3px;
font-style: normal;
text-decoration: none;
}

.welcomeToWorkspaceText {
	width: 100%;
	text-align: center;
	margin-top: 22px;
	font-size: 24px;
	color: #1076BB;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.getStartedTextContainer {
	text-align: center;
	/* width: 71%; */
	width: 94%;
	height: 21px;
	margin: 0 auto;
	margin-top: 10px;	
}

.getStartedText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.getStartedNewFolder {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin-left: 14px;
	margin: 44px 0 0 19px;
}

.getStartedSeparator {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin: 44px 0 0 19px;;
}

.getStartedCollection {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin-left: 3px;
	margin-right: 5px;
	cursor: pointer;
}

.assignAndShareImageContainer {
	float: left;
	width: 145px;
	height: 106px;
}

.workspaceTextSupport {
	font-family: Arial, Helvetica, sans-serif;
	clear: both;
	margin: 0px auto;
	text-align: center;
}

.supportLink{
	text-decoration: none !important;
	color: #1076bb;
	cursor: pointer;
}
.supportLink:hover{
	color: #87BADD;
}


.workspaceTextOptions {
	margin: 0px auto;
	width: 685px;
	text-align: center;
	padding-top: 25px;
	min-height: 253px;
	margin-left: -32px;
	color: #1076bb;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.firstDiv, .secondDiv, .thirdDiv{
	float: left;
	padding: 10px;
	/* padding-left: 20px;
	padding-right: 20px; */
}
.imageCss{
	float:left;
	padding-right: 8px;
}

.imgTextContainer{
	margin: 0px auto;
	text-align: center;
	padding-left: 35px;
}

.workspaceTitleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #1076bb;
	padding-left: 7px;
	text-align:left;
}


.workspaceShareDesc, .workspaceDesc, .workspaceCreateDesc {
	/* float: left; */
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: center;
	padding-bottom: 15px;
	padding-top: 20px;
}


.workspaceThumbnail {
	clear: both;
	width: 185px;
	height: 143px;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
}

.workspaceImg{
	margin-top: 29%;
}
.shareImg{
	margin-top: 26%;
}
.customizeIma{
	margin-top: 19%;
}

.imgTextContainerCustomize {
	margin: 0px auto;
	text-align: center;
	margin-left: 20px;
}

.needSomeMore{
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 16px;
}

/* New css.. */

.h1 {
	font-weight: normal;
	font-size: 20px;
}
.h2, .h3 {
	margin-bottom: 10px;
}
.container {
	width: 1000px;
	margin: auto;
	background: #fff;
	min-height: 100%;
	padding: 20px;
	padding-top: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.startsection {
	float: left;
	padding: 20px;
	min-height: 100px;
	margin-right: 21px;
}
.fright {
	float: right;
}
.title {
	font-family: 'Arvo', serif !important;
	font-weight: bold;
	font-size: 29px;
	padding: 10px 0px;
}
.subtitle {
	font-size: 16px;
	width: 420px
}
#createClass {
	font-size: 14px;
	padding: 10px 12px;
}
.codeBg {
	padding: 10px;
	background: #f1efef;
	width: 310px;
}
.codeTitle {
	font-size: 18px;
	font-weight: bold;
}
.classCodeTxtBox {
	color: #515151;
	outline: 0;
	font-size: 14px;
	padding: 6px;
	border: 1px #E3E3E3 solid;
	display: inline-block;
	background-color: #f9f9f9;
}
.clearfix {
	clear: both;
	margin-bottom: 10px;
}
.leftPanel {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	padding: 0px 10px 10px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-height: 200px;
}
.navBox {
	position: relative;
	display: block;
	padding: 30px 10px 30px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-height: 200px;
	margin-bottom: 20px;
	background: #f1efef;
	border: 1px solid #ddd;
}
.navBox .h3 {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: 'Arvo', serif !important;
}
.navBox .desc {
	font-size: 16px;
	text-align: left;
	padding-top: 0px;
}
.hoverCircle {
	position: absolute;
	top: -12px;
	left: -15px;
	width: 40px;
	height: 40px;
	background: #fbb03b;
	border-radius: 20px;
	-moz-border-radius: 20px;
}
.circleTitle {
	color: #fff;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.rightPanel {
	display: inline-block;
	vertical-align: top;
}
#img {
	padding-left: 10px;
}
.navLink {
	cursor: pointer;
	color: #1076bb;
	position: relative;
	top: 17px;
}
.classSection {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
	background: #fff;
	min-height: 100px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.classContent {
	text-align: center;
	padding: 20px;
}
.classSection .h5 {
	font-size: 30px;
	text-align: center;
	padding-bottom: 10px;
}
.hoverTitle {
	position: relative;
	top: -70px;
	color: #FFF;
	font-size: 14px;
	text-align: center;
}
.imgBlock {
	margin: 0px 30px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 134px;
}


.resourceDiv {
	margin-right: 10px;
}

.resourceImg {
	width: 170px;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #515151;
	font-family: 'Arvo', serif !important;
}
.desc-emphasis {
	color: #4E9746;
	float: left;
	width: 55%;
}
.align {
	margin-top: 13px;
}


.collectionContainer{
	vertical-align: top;
	margin-left: 15px;
	text-align: right;
	cursor: pointer;
}

.sampleCollection{
	color: #4e9746;
	font-size: 16px;
	float: left;
	margin-top: 6px;
	font-weight: bold;
	font-family: 'Arvo', serif !important;
}

.arrowContainer{
	position: absolute;
margin-left: 137px;
margin-top: 32px;
}

.thumbnailImage{
	
}
.thumbnailImage:hover{
	opacity: 0.6;
}
