.multipleAnswerInputControl {
	float: left;
	width: 87%;
	height: 30px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing: content-box;
}

.hintAnswerInputControl {
	float: left;
	width: 97%;
	height: 30px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing: content-box;
}

.questionRightMain {
	border-left: 1px solid #ddd;
	background-color: white;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	max-height: 567px;
	min-height: 300px;
}

.answerHeadLbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #515151;
	text-align: left;
	display: inline-block;
	padding: 0 0 7px 0;
}

.htQAnswerHeadings {
	display: inline-block;
	color: #999;
	font-size: 13px;
	font-weight: normal;
	padding: 0 4% 0 4%;
}

.htQAnswerTypeLbl {
	font-style: italic;
	padding-left: 0;
}

.htQAnswerHeadings input[type="radio"] {
	vertical-align: bottom;
	margin-right: 1.0ex !important;
}

.htQAnswerInputControl {
	float: left;
	width: 97%;
	height: 30px;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing: content-box;
	padding-left: 18px;
}

.htQAnswerHeadings label {
	font-size: 12px;
	font-weight: normal;
}

.htQhighlightTextArea {
	width: 100%;
	background-color: transparent;
	border-color: #ddd;
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
}
.htQLabelNum {
	font-size: 12px;
	color: #515151;
	font-weight: bold;
	position: absolute;
	z-index: 9;
	padding: 5px 8px;
	background-color: #ddd;
}
.htQanswerContainer {
	position: relative;
}
.htQInLbl {
	float: right;
	padding: 0 1% 0 4%;
}

.ancTab {
	color: #1076b8;
	padding: 5px 18px;
	border: 1px solid #ddd;
	background: #fff url("${cdn.endpoint}/images/NewResourcePopup/sprite-new-resource.png")	no-repeat -4px 2px;
	display: inline-block;
	margin-top: 10px;
}

.ancTab:hover {
	border-color: #1076bb;
}
.ancTabActive {
	background: #fff url("${cdn.endpoint}/images/NewResourcePopup/sprite-new-resource.png")	no-repeat -4px -24px;
	position: relative;
	padding: 5px 18px;
    display: inline-block;
    margin-top: 10px;
	border: 1px solid #4c9645;
	color: #4c9645;
}
.ancTabActive:hover {
	border-color: #4c9645;
}
.imgBlockContainer {
	border: 1px solid #ccc;
	height: 90px;
	margin-right: 15px;
	padding: 10px 10px;
	text-align: center;
}
.imgAnsContainer {
	border: 1px solid #ccc;
	height: 90px;
}
.addAnswerDeletebg {
	position: absolute;
	top: 0px;
	float: right;
	right: 10px;
}
.ansAnchImageText  {
	color: #1076BA;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}
.containerBottom {
	margin-bottom: 15px;
}
.containerTop {
	margin-top: 5px;
}
.containerMarginTop {
	margin-top: 10px;
}

.textRight {
	text-align: right;
}

.advancedOptionsHeading {
	text-align: left;
	color: #999;
	font-size: 11px;
	width: 100%;
	display: inline-block;
	margin-bottom: 6px;
}

.advancedOptions {
	float: left;
	margin-bottom: 3px;
}

.advancedOptionsTabs {
	color: #1076B8;
	padding: 5px 18px;
	border: 1px solid #DDDDDD;
	background: #fff url("${cdn.endpoint}/images/NewResourcePopup/sprite-new-resource.png") no-repeat -4px 2px;
	display: inline-block;
    margin-top: 10px;
}
.advancedOptionsTabs:hover {
	border-color: #1076bb;
}
.advancedOptionsTabActive {
	background: #fff url("${cdn.endpoint}/images/NewResourcePopup/sprite-new-resource.png")	no-repeat -4px -24px;
	position: relative;
	padding: 5px 18px;
    display: inline-block;
    margin-top: 10px;
	border: 1px solid #4c9645;
	color: #4c9645;
}
.advancedOptionsTabActive:hover {
	border-color: #4c9645;
}
.addAdvancedHeaderTextContainer {
	text-align: center;
	position:relative;
	color: #999;
	font-size: 11px;
	width: 100%;
	display: inline-block;
}
.addAdvancedHeaderTextContainer > div {
	padding: 6px 6px;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 99;
}

.addAdvancedHeaderTextContainer:before{
	position:absolute;
	content:"";
	height:1px;
	background: #ddd;
	width: 100%;
	left: 0;
	right: 0;
	top: 11px;
}

.hsQAnswerInputControl {
	float: left;
	width: 91%;
	height: 30px;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing: content-box;
	padding-left: 18px;
}

.hsQAnsContainer {
	width:100%;
	display: inline-block;
	margin-top: 5px;
}


.containerPadding {
	padding: 10px 0px 0px 0px;
}

.eHeader{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#515151;
	padding:0 0 0 18px;
	background:#ffffff url("${cdn.endpoint}/images/NewResourcePopup/sprite-new-resourcenew.png") no-repeat -7px -70px;
	height: 13px;
	display: inline-block;
	cursor: pointer;
}

.containerTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: rgb(81,81,81);
	text-align: left;
	display: inline-block;
	padding: 0px 0px 7px 0px;
}

.charLimitExplanationStyle{
	display: inline-flex;	
	color: #999;
	margin-left: 10px;
}

.textBoxContainer {
	background-color: transparent;
	border-color: rgb(221,221,221);
	border-width: 1px;
	/* Firefox v1.0+ */
	-moz-border-radius: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	height: 85px!important;
	min-height: 85px!important;
	width:100%;
	margin-top: 5px;
	box-sizing:content-box;
}

.errorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	padding: 10px 0px 0px 0px;
	margin-right: 10%;
	float: right;
}

.depthOfKnowledgeContainer
{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.depthOfKnowledgeSubContainer{
	display: inline-flex;
}
.depthOfKnoweldgeTitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
	padding: 0px 0px 2px 0px;
	display: inline-block;
}
.depthOfKnoweldgeInnerContainer{
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 98%;
	margin-left: 2px;
}
.outerContiner
{
	width:100%
}
.checkBoxinnerContainer
{
	width:50%;
	float:left;
}
.checkBoxlevels{
	float:left;
	padding: 3px 0px;
	color:black;
}

.checkBoxlevels label {
	font-weight: normal;
}

.checkBoxlevels input[type="checkbox"] {
	margin: 1px 0;
	vertical-align: middle;
}

.standardTitle {
	color: rgb(112, 109, 109);
	margin: 10px 0px 10px 0px;
	display: inline-block;
	font-size: 12px;
	color: #515151;
}

.suggestedBox {
	color: #CCCCCC;
	font-size: 16px;
}
.standardsCont {
	float: left;
	position: relative;
	width: 100%;
}
.browseContainer{
	display: inline-block;
	width: 13%;
	position: relative;
	text-align: right;
}
.standardMaxHide {
	display: none;
}
.standardTxtBox {
	float: left;
	margin-top: 5px;
}
.standardMax {
	display: block;
	float: left;
	font-size: 12px;
	margin-top: 41px;
	width: 50%;
	font-style: italic;
}
.floatLeftNeeded {
	float: left;
}



@media only screen and (min-width:768px) and (max-width:991px) {
	.multipleAnswerInputControl {
		float: left;
		width: 80%;
		height: 30px;
		border-color: rgb(221, 221, 221);
		border-width: 1px;
		border-style: solid;
		position: relative;
		box-sizing: content-box;
	}
	.hintAnswerInputControl {
		float: left;
		width: 95%;
		height: 30px;
		border-color: rgb(221, 221, 221);
		border-width: 1px;
		border-style: solid;
		position: relative;
		box-sizing: content-box;
	}
	.htQAnswerInputControl {
		float: left;
		width: 96%;
		height: 30px;
		border-color: #ddd;
		border-width: 1px;
		border-style: solid;
		position: relative;
		box-sizing: content-box;
	}
	.htQAnswerHeadings {
		display: inline-block;
		color: #999;
		font-size: 13px;
		font-weight: normal;
		padding: 0 1.5% 0 1.5%;
	}
	.htQAnswerHeadings input[type="radio"] {
		vertical-align: bottom;
		margin-right: 0.5ex !important;
	}
	.htQInLbl {
		padding: 0;
        margin-top: 2px;
	}
	
}

@media only screen and (min-width:992px) and (max-width:1024px) {
}