.multipleAnswerInputControl {
	float: left;
	width: 87%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing:content-box;
}
.hintAnswerInputControl {
	float: left;
	width: 97%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing:content-box;
}

@media only screen and (min-width:768px) and (max-width:991px){
	
	.multipleAnswerInputControl {
	float: left;
	width: 80%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing:content-box;
}
.hintAnswerInputControl {
	float: left;
	width: 95%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
	box-sizing:content-box;
}
}

@media only screen and (min-width:992px) and (max-width:1024px){
	
}