@charset "utf-8";
/* CSS Document */

.unitDetailsSigngle{
	
}

.containerTeacher {
	margin: auto;
	position: relative;
	width: 1000px;
	background: #ffffff;
}

.detailsMenuBlock .rowInner {
	padding-bottom: 15px;
	padding-top: 15px;
}

.rowInner {
	padding-left: 15px;
	padding-right: 15px;
}

.unitDetailsSigngle .genHead {
	display: inline-block;
	width: 77px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 35px;
	padding: 10px 0;
	float: left;
}

.unitDetailsSigngle .bubbleMain {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 66px;
}

.bubbleSmall {
	background: none repeat scroll 0 0 #b9bbca;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 20px;
}

.greenBubble {
	background: none repeat scroll 0 0 #a7c9a4 !important;
}

.redBubble {
	background: none repeat scroll 0 0 #ff7d71 !important;
}

.HoverBlcok {
	background: none repeat scroll 0 0 #efefef;
	display: none;
	padding-bottom: 5px !important;
	padding-top: 5px !important;
	position: absolute;
	top: 0;
}

.detailsMenuBlock:hover .HoverBlcok {
	display: block;
}

.unitDetailsSigngle .bubbleBig {
	background: none repeat scroll 0 0 #b9bbca;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	width: 34px;
}

.activeBubble .bubbleBig {
	position: relative;
	z-index: 999999;
}

.detailsMenuBlock .popupBox {
	text-align: left;
	z-index: 9;
}

.bubbleMain:hover .popupBox {
	display: block;
	left: -112px;
	position: absolute;
	top: 55px;
}

.popupBox .topHandle .handleInner {
	background: none repeat scroll 0 0 #ffffff;
	border-radius: 25px 25px 0 0;
	display: inline-block;
	height: 65px;
	margin: -53px 0 0;
	width: 55px;
}

.popupBox .topHandle {
	margin-top: -15px;
	text-align: center;
}

.popupBox {
	background: #ffffff;
	padding: 8px 8px;
	border: 1px solid #e9e9e9;
	border-radius: 6px 6px;
	box-shadow: 0 0 10px #eaeaea;
	width: 290px;
	z-index: 999999;
}

.popupBox .caretUp {
	border-bottom: 15px solid #ffffff;
	border-left: 15px solid rgba(0, 0, 0, 0);
	border-right: 15px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
	margin-top: -25px;
}

.popArrowInner {
	
}

.popupBox .popHeader {
	font-weight: bold;
}

.popupBox hr {
	margin: 12px 0;
}

.popupBox .upArrow {
	text-align: center;
	margin-top: -24px;
	margin-bottom: 15px;
}

.popupBox .popDescription {
	margin: 12px 0;
}

.popupBox .dropBoxes .col-xs-4 {
	padding-left: 0;
	padding-right: 0;
}

.popupBox .dropBoxes {
	font-weight: bold;
	margin: 12px 0;
}

.popupBox .dropBoxes select {
	width: 70px;
	display: inline;
	margin: 0 10px 0 5px;
	border: 1px solid #dedede;
	padding: 7px 5px;
}

.popupBox .btnGroup {
	text-align: center;
	margin: 12px 0;
}

.popupBox {
	display: none;
}

.progressBars {
	float: left;
	width: 100%;
}

.progressBars .progress {
	float: left;
	width: 83%;
}

.progressBars .proInfo {
	color: #fa7f70;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin: 3px 0 3px 15px;
}

.popupBox .popDescription {
	margin: 12px 0;
}

.popupBox .requestInput input {
	border: 1px solid #cecece;
	color: #666666;
	font-style: italic;
	padding: 6px 10px;
	width: 218px;
}