@charset "utf-8";
/* CSS Document */
.containerTeacher {
	margin: auto;
	position: relative;
	width: 1000px;
	background: #ffffff;
}

.detailsMenuBlock .rowInner {
	
}

.activeBubble{
    position: relative;
    z-index: 999999;
}


.rowInner {
    padding-left: 15px;
    padding-right: 15px;
}

.unitDetailsSigngle .bubbleBig {
    background: none repeat scroll 0 0 #b9bbca;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
}

.unitDetailsSigngle .genHead {
	display: inline-block;
	width: 77px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 35px;
	padding: 10px 0;
	float: left;
}

.unitDetailsSigngle .bubbleMain {
	display: inline-block;
	position: relative;
	text-align: center;
}

/* .detailsMenuBlock:hover{
	display: block;
} */

.detailsMenuBlock .progressPopupBox {
	text-align: left;
	z-index: 9;
}

.detailsMenuBlock {
	
}

.detailsMenuBlock .bubbleMain .numaric {
	line-height: 20px;
	color: #ffffff;
	font-weight: bold;
	display: none;
}

.bubbleMain {
	background: none repeat scroll 0 0 #b9bbca;
	display: inline-block;
	font-weight: bold;
	height: 20px;
	line-height: 34px;
	margin: 0px 16px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	border-radius: 50px;
	margin: 10px;
}

.detailsMenuBlock:hover .bubbleMain .numaric {
	color: #ffffff;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	line-height: 31px;
	display: block;
}



.greenBubble {
    background: none repeat scroll 0 0 #a7c9a4 !important;
}


.redBubble {
    background: none repeat scroll 0 0 #ff7d71 !important;
}

.optional {
    background: url('../images/optional.png') no-repeat !important;
}

.optionalRed {
    background: url("../images/liners.png") no-repeat scroll 0 0 #ff7d71 !important;
}


.optionalGreen {
    background: url("../images/liners.png") no-repeat scroll 0 0 #a7c9a4 !important;
}

.colorGreen{
	color: #a7c9a4 !important;
}

.colorRed{
	color: #ff7d71 !important;
}

.HoverBlcok {
    background: none repeat scroll 0 0 #efefef;
    display: none;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    position: absolute;
    top: 0;
}


/* Popup Block */

.detailsMenuBlock .progressPopupBox {
    text-align: left;
    z-index: 9;
}


.bubbleMain:hover .progressPopupBox {
    display: block;
    left: -112px;
    position: absolute;
    top: 55px;
}


.progressPopupBox .topHandle .handleInner {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 25px 25px 0 0;
    display: inline-block;
    height: 55px;
    /* margin: -53px 0 0; */
    width: 55px;
}

.progressPopupBox .topHandle {
    text-align: center;
    height: 54px;
}


.progressPopupBox1{
	background:#ffffff;
	padding:8px 8px;
	border:1px solid #e9e9e9;
	border-radius:6px 6px;
	box-shadow:0 0 10px #eaeaea;
	width:290px;
	height: 87px;
}

.progressPopupBox{
	padding:8px 8px;
	width:307px;
	margin-top: -68px;
	margin-left: -25px;
	/* z-index:999999; */
}
		
.progressPopupBox .caretUp {
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
		
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
	margin-top:-25px;
}

.popArrowInner{
	
}

.progressPopupBox .popHeader{
	font-weight:bold;
	width: 98%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.progressPopupBox hr{
	margin:0 0;
}

.progressPopupBox .upArrow{
	text-align:center;
	margin-top:-24px;
	margin-bottom:15px;
}

.progressPopupBox .popDescription{
	margin:12px 0;
}

.progressPopupBox .dropBoxes .col-xs-4{
	padding-left:0;
		padding-right:0;
}
.progressPopupBox .dropBoxes{
	font-weight:bold;
	margin:12px 0;
}
.progressPopupBox .dropBoxes select{
	width:70px;
	display:inline;
	margin:0 10px 0 5px;
	border:1px solid #dedede;
	padding:7px 5px;
}

.progressPopupBox .btnGroup{
	text-align:center;
	margin:12px 0;
}

.progressPopupBox{
	display:none;
}

.progressBars {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.progressBars .progress {
    float: left;
    width: 83%;
}

.progressBars .proInfo {
    color: #fa7f70;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 3px 0 3px 15px;
}

.progressPopupBox .popDescription {
    margin: 12px 0;
}

.progressPopupBox .requestInput input {
    border: 1px solid #cecece;
    color: #666666;
    font-style: italic;
    padding: 6px 10px;
    width: 218px;
}


.studentNameContainer{
	padding: 15px 0px;
	height: 35px;
}

.studentNameContainer:hover{
	background: #ccc;
	border-radius: 5px;
}

.studentNameContainer:hover .bubbleMain{
	width: 34px !important;
	height: 34px !important;
	margin: 0px !important;
}
