@charset "utf-8";
/* CSS Document */

#getStartedContainer .blueBand{
	background:#87badd;
	padding:5px 0;
	position: fixed;
	width: 100%;
	text-align: left;
}
#getStartedContainer .topBlueRight{
	text-align:right;
}
#getStartedContainer .blueBand h2{
	color:#ffffff;
	margin:9px 0;
	font-size:24px;
	font-weight:bold;
}

#getStartedContainer .rightWhiteBox, #getStartedContainer .settingsMenu{

	display:inline-block;
	vertical-align:middle;
}
#getStartedContainer .settingsMenu .classAnrSettings{
	color:#ffffff;
	display:inline-block;
	margin-right:5px;
	font-weight:bold;
	cursor:pointer;
}
#getStartedContainer .settingsMenu .classAnrSettings:hover,  #getStartedContainer .settingsMenu  .classAnrSettings:focus{
	opacity: 0.75;
	text-decoration:none;
}
#getStartedContainer .rightWhiteBox  span{
    background: #ffffff none repeat scroll 0 0;
    color: #515151;
    font-size: 26px;
    font-weight: normal;
	border-radius:4px 4px;
	-webkit-border-radius:4px 4px;
	-moz-border-radius:4px 4px;
    padding: 6px 12px;
	display:inline-block;
}

#getStartedContainer .whiteBG{
	background:#ffffff;
}
#getStartedContainer .getStarted{
	text-align:center;
/* 	margin-top: 49px; */
	padding-bottom: 30px;
}
#getStartedContainer .getStarted h1{
	text-align:center;
	color:#515151;
	margin:0 0 0 0;
	padding:30px 0;
}

#getStartedContainer .getStarted button.primary{
	padding:8px 35px;
}
	#getStartedContainer .videoBlock{
		text-align:center;
		padding:35px 0;
	}
#getStartedContainer .videoBlock .img-responsive{
	display:inline-block;
	border:1px solid #eaeaea;
}
.gradeContainer {
	background: #333333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background: -o-linear-gradient(top, #ffffff, #f5f5f5);
	margin-top: 40px;
}
.mainHeader{
	padding: 15px 15px;
	border-bottom: 1px solid #dddddd;
	margin-top: 49px;
}
.standardBlueBand{
	background:#87badd;
	position:fixed;
	padding:5px 0;
	top:49px;
	width:100%;
	z-index:999;
}
.standardBlueBand .topBlueRight{
	text-align:right;
}
.standardBlueBand h2{
	color:#ffffff;
	margin:9px 0;
	font-size:24px;
	font-weight:bold;
}

.standardBlueBand .rightWhiteBox, .standardBlueBand .settingsMenu{

	display:inline-block;
	vertical-align:middle;
}
.standardBlueBand .settingsMenu a{
	color:#ffffff;
	display:inline-block;
	margin-right:10px;
	font-weight:bold;
}
.standardBlueBand .settingsMenu a:hover,  .standardBlueBand .settingsMenu a:focus{
	opacity:.8;
	text-decoration:none;
}
.standardBlueBand .rightWhiteBox  span{
    background: #ffffff none repeat scroll 0 0;
    color: #515151;
    font-size: 26px;
    font-weight: normal;
	border-radius:4px 4px;
	-webkit-border-radius:4px 4px;
	-moz-border-radius:4px 4px;
    padding: 6px 12px;
	display:inline-block;
}
.mainBodySupportBlock{
	position:relative;
	margin-top:90px;
}
.mainBodySupportBlock .whiteBG{
	background:#ffffff;
}

.MainHeader{
	padding:15px 15px;
	border-bottom:1px solid #dddddd;
}

.MainHeader h2{
	font-size:20px;
	color:#5151512;
	margin:0 0;
}

.geryBackgroundBody{
	background:#f8fafb;
		border:1px solid #dddddd;
		border-top:none;
}

.paddingBlock{
	padding:15px 15px;
}

/**class settings css**/  
.classSettingsContainer{

	margin:0 auto;
}

.classSettingsContainer .form-control{
	font-size:12px;
	color:#515151;
}

.classSettingsContainer .gradesContainer {
    background: #e8e7e7 none repeat scroll 0 0;
    padding: 20px;
	margin-bottom:15px;
}

.classSettingsContainer .classSettingsInner{
	padding:5% 10%; 
}
  .classSettingsContainer  .btn-file {
        position: relative;
        overflow: hidden;
    }
   .classSettingsContainer .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
	.classSettingsContainer p{
		margin:0 0 5px 0;
	}
	.classSettingsContainer  .form-control{
		margin-bottom:15px;
	}
	  .classSettingsContainer .uploadImage .btn-default{
		  background-color:#dddddd;
		  border:none;
		  font-size:13px;
		  color:#1076bb;
	  }
	  
	    .classSettingsContainer .rightWhiteBox span {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 4px;
    color: #515151;
    display: inline-block;
    font-size: 26px;
    font-weight: normal;
    padding: 4px 24px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.classSettingsContainer .visibilityBlock {
    margin-top: 40px;
}
.classSettingsContainer .visibilityBlock a {
    border: 2px solid transparent;
    border-radius: 4px;
    color: #515151;
    display: block;
    margin-bottom: 10px;
    padding: 8px;
}
.classSettingsContainer .visibilityBlock a:hover, .classSettingsContainer .visibilityBlock a:focus {
    border: 2px solid #85b9df;
    color: #515151;
    display: block;
	text-decoration:none;
    opacity: 1;
}
.classSettingsContainer .visibilityBlock a.active {
    border: 2px solid #85b9df;
    color: #515151;
    display: block;
    opacity: 1;
}

.classSettingsContainer .visiblityHeader{
	margin-bottom: 5px;
	display: inline-block;
}

.classSettingsContainer .visibilityBlock .anchorCls{
	color:#515151;
	display:block;
	border:2px solid #f8fafb;
    padding:5px 5px;
	border-radius:4px 4px;
	cursor:pointer;
}

.classSettingsContainer .visibilityBlock .anchorCls:hover{
	color:#515151;
	display:block;
	border:2px solid #85b9df;
	opacity:1;
	cursor:pointer;
}
.classSettingsContainer .visibilityBlock .anchorCls.active{
	color:#515151;
	display:block;
	border:2px solid #85b9df;
	opacity:1;
}
.classSettingsContainer .visibilityBlock .anchorCls{
	margin:0 0;
}

.classSettingsContainer .actionButtons{
	margin:50px 0;
	text-align:center;
}
.classSettingsContainer .actionButtons button.primary{
	padding:7px 20px;
}

/** class content css**/

.classMenuBlock{
	border-bottom:1px solid #dddddd;
	background: #fff;
}

.classMenuBlock .classMenuLeft ul{
	margin:0 0;
	padding:0 0;
}
.classMenuBlock .classMenuLeft{
	border-right:1px solid #dddddd;
}
.classMenuBlock .classMenuLeft ul li{
	margin:0 0;
	padding:0 0;
	display:table-cell;
}
.classMenuBlock .classMenuLeft ul li a{
	display:block;
	padding:15px 15px;
	color:#9999a6;
	font-weight:bold;
}
.classMenuBlock .classTitle{
	color: #515151;
	font-weight: bold;
	margin: 0 8px;
}
.classMenuBlock .classMenuLeft ul li a:hover, .classMenuBlock .classMenuLeft ul li a:focus {
	background:#e7f1f9;
	color:#1076bb;
	text-decoration:none;
}
.classMenuBlock .classMenuLeft ul li.active a{
	background:#e7f1f9;
	color:#1076bb;
}
.classMenuBlock .classMenuRight{
	float:right;

}
.classMenuBlock .classMenuRight .coureEditActions, .classMenuBlock .classMenuRight .stPriviewButton{
	display:table-cell;
}
.classMenuBlock .classMenuRight .coureEditActions, .classMenuBlock .classMenuRight .stPriviewButton{
	padding:6px 5px;
}
.classMenuBlock .classMenuRight .coureEditActions{
	padding:6px 5px;
	border-right:1px solid #dddddd;

}
.classMenuBlock .classMenuRight .coureEditActions a{
	display:inline-block;
	color:#515151;
	font-weight:bold;
	margin:0 6px;
}
.classMenuBlock .classMenuRight .coureEditActions a:hover, .classMenuBlock .classMenuRight .coureEditActions a:focus{
	opacity:1;
	text-decoration:none;
}
.classMenuBlock .classMenuRight .coureEditActions .folderIcon{
	background:url(../images/gooru-sprite.png) no-repeat -226px -371px;
	width:35px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
}
.setScoreContainer {
	padding:15px 0;
}
.setScoreContainer .setScoreLeft p{
	margin:0 0 0 0;
}
.setScoreContainer .setScoreLeft p.help-block{
	font-style:italic;
}
.setScoreContainer .setScoreLeft .scoreBox{
	width:95px;
	margin:6px 0;
}
.setScoreContainer .setScoreLeft .scoreBox .form-control{
	font-size:24px;
	font-weight:bolder;
	color:#78b172;
}
.setScoreContainer  .actionButtons{
	text-align:center;
	margin:30px 0;
}
.setScoreContainer  .actionButtons button{
	padding:8px 20px;
}
@media (min-width: 240px) and (max-width: 319px) {
 .classMenuBlock .classMenuLeft{
			 border-bottom:1px solid #dddddd;
		 }
	 .classMenuBlock .classMenuLeft ul li{
		width:1%;
		overflow:hidden;
		text-align:center;
	}
}
@media (min-width: 320px) and (max-width: 479px) {
	 	 .classMenuBlock .classMenuLeft{
			 border-bottom:1px solid #dddddd;
		 }
	 .classMenuBlock .classMenuLeft ul li{
		width:1%;
		overflow:hidden;
		text-align:center;
	}
	.classMenuBlock .classMenuRight {
    float: none;
}
.classMenuBlock .classMenuRight .coureEditActions{
	display:block;
	 border-bottom:1px solid #dddddd;
	 text-align:center;
}
.classMenuBlock .classMenuRight .stPriviewButton{
	display:block;
	text-align:center;
}
}
 @media (min-width: 480px) and (max-width: 767px) {
	 .classMenuBlock .classMenuLeft{
			 border-bottom:1px solid #dddddd;
		 }
	 .classMenuBlock .classMenuLeft ul li{
		width:1%;
		overflow:hidden;
		text-align:center;
	}
	.classMenuBlock .classMenuRight {
    float: none;
    margin: 0 auto;
    width: 415px;
}
}
 @media (min-width: 768px) and (max-width: 991px) {
}
 @media (min-width: 992px) and (max-width: 1199px) {
}
 @media (min-width: 1200px) {
}


@media (min-width: 240px) and (max-width: 319px) {
	.standardBlueBand{
		position:relative;
	}
	.mainBodySupportBlock{
		margin-top:0;
	}
	.classSettingsContainer .classSettingsInner{
		padding:5% 0;
	}
.standardBlueBand .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}

.standardBlueBand .settingsMenu img{
	width:19px;
}
.standardBlueBand .settingsMenu a:last-child{
	margin-right:0;
	margin-bottom:0;
}
.standardBlueBand  .blueBand{
	text-align:center;
}
.standardBlueBand .settingsMenu a{
	margin-bottom:10px;
	border:1px solid #a2d0f0;
	padding:6px 6px;
	background:#87badd;
}
.standardBlueBand .topBlueRight{
	text-align:center;
}
.standardBlueBand h2{
	text-align:center;
}
.standardBlueBand .rightWhiteBox, .standardBlueBand .settingsMenu{
	width:100%;
}
.standardBlueBand .rightWhiteBox span{
	width:98%;
}
.classSettingsContainer .gradesContainer ul li.gradeTypes {

    margin:0 0 10px 0;
    width: 100%;
}
.classSettingsContainer .gradesContainer ul{
	margin:0 0 18px 0;
}
.classSettingsContainer .gradesContainer ul li a {

    height: 25px;
    line-height: 25px;
    width: 25px;
}
}

@media (min-width: 320px) and (max-width: 479px) {
	.standardBlueBand{
		position:relative;
	}
	.mainBodySupportBlock{
		margin-top:0;
	}
	.classSettingsContainer .classSettingsInner{
		padding:5% 0;
	}
.standardBlueBand .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}

.standardBlueBand .settingsMenu img{
	width:19px;
}
.standardBlueBand .settingsMenu a:last-child{
	margin-right:0;
}
.standardBlueBand  .blueBand{
	text-align:center;
}
.standardBlueBand .topBlueRight{
	text-align:center;
}
.standardBlueBand h2{
	text-align:center;
}
.standardBlueBand .rightWhiteBox, .standardBlueBand .settingsMenu{
	width:100%;
}
.standardBlueBand .rightWhiteBox span{
	width:68%;
}
.classSettingsContainer .gradesContainer ul li.gradeTypes {

    margin:0 0 10px 0;
    width: 100%;
}
.classSettingsContainer .gradesContainer ul{
	margin:0 0 18px 0;
}
.classSettingsContainer .gradesContainer ul li a {

    height: 25px;
    line-height: 25px;
    width: 25px;
}
}


@media (min-width: 480px) and (max-width: 767px){
	.standardBlueBand{
		position:relative;
	}
	.mainBodySupportBlock{
		margin-top:0;
	}
.classSettingsContainer .classSettingsInner {
    padding: 5% 6%;
}
.standardBlueBand .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}

.standardBlueBand .settingsMenu img{
	width:19px;
}
.standardBlueBand .settingsMenu a:last-child{
	margin-right:0;
}
.standardBlueBand  .blueBand{
	text-align:center;
}
.standardBlueBand .topBlueRight{
	text-align:center;
}
.standardBlueBand h2{
	text-align:center;
}
.standardBlueBand .rightWhiteBox, .standardBlueBand .settingsMenu{
	width:100%;
}
.standardBlueBand .rightWhiteBox span{
	width:65%;
}
}


	@media (min-width: 768px) and (max-width: 991px) {
		.mainBodySupportBlock{
			margin-top:100px;
		}
		.classSettingsContainer .classSettingsInner{
			padding:5% 0;
		}
	
.standardBlueBand h2{
	font-size:16px;
	margin-left:6px;
}
.standardBlueBand .settingsMenu img{
	width:20px;
}
.standardBlueBand .rightWhiteBox{
	margin-right:6px;
}
.standardBlueBand .rightWhiteBox span{
	font-size:18px;
}
	}



		@media (min-width: 992px) and (max-width: 1199px) {
			
		.standardBlueBand .settingsMenu img{
			width:25px;
		}
			
		}
@media (min-width: 1200px) {
.standardBlueBand .settingsMenu img{
			width:30px;
		}
}
@media (min-width: 240px) and (max-width: 319px) {
#getStartedContainer .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}
#getStartedContainer .settingsMenu img{
	width:19px;
}
#getStartedContainer .settingsMenu a:last-child{
	margin-right:0;
	margin-bottom:0;
}
#getStartedContainer  .blueBand{
	text-align:center;
}
#getStartedContainer .settingsMenu a{
	margin-bottom:10px;
	border:1px solid #a2d0f0;
	padding:6px 6px;
	background:#87badd;
}
#getStartedContainer .topBlueRight{
	text-align:center;
}

}
@media (min-width: 320px) and (max-width: 479px) {
#getStartedContainer .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}

#getStartedContainer .settingsMenu img{
	width:19px;
}
#getStartedContainer .settingsMenu a:last-child{
	margin-right:0;
}
#getStartedContainer  .blueBand{
	text-align:center;
}
#getStartedContainer .topBlueRight{
	text-align:center;
}
}
@media (min-width: 480px) and (max-width: 767px){

#getStartedContainer .settingsMenu{
	text-align:center;
	width:100%;
	padding:12px 0;
	margin:8px 0;
	background:#79afd4;
	border-top:1px solid #6da3c8;
	border-bottom:1px solid #6da3c8;
}

#getStartedContainer .settingsMenu img{
	width:19px;
}
#getStartedContainer .settingsMenu a:last-child{
	margin-right:0;
}
#getStartedContainer  .blueBand{
	text-align:center;
}
#getStartedContainer .topBlueRight{
	text-align:center;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	
#getStartedContainer .blueBand h2{
	font-size:16px;
	margin-left:6px;
}
#getStartedContainer .settingsMenu img{
	width:20px;
}
#getStartedContainer .rightWhiteBox{
	margin-right:6px;
}
#getStartedContainer .rightWhiteBox span{
	font-size:18px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
		#getStartedContainer .settingsMenu img{
			width:25px;
}
}
@media (min-width: 1200px) {
	#getStartedContainer .settingsMenu img{
			width:30px;
		}
}

