/* Reset Password... */

.passwordErrorLabel {
	background-color: #FFFFCC;
	border: 1px solid #CC0000;
	clear: both;
	font: 12px arial;
	padding: 3px;
	width: 50%;
	margin: 0 auto;
}

.resetPwdTextError {
	background-color: #FFFFCC;
	border: 1px solid #CCCCCC;
	float: left;
	margin-top: -5px;
	margin-bottom: 3px;
	padding: 7px;
	width: 250px;
}

.resetPwdContentDiv {
	border: none;
	margin: -4px 4px 4px;
}


.resetPwdContentDiv .resetPwdTextContainer {
	clear: both;
	float: left;
	margin: 15px 5px 8px 15px;
	width: 95%;
}


.resetPwdContentDiv .resetPwdPanel {
	clear: both;
	float: left;
	margin-left: 30px;
	padding: 11px;
	width: 85%;
}


.forgotEmailIdLabel, .resetPwdLabel, .resetPwdContentDiv .resetPwdLabel {
	float: left;
	width: 25%;
}

.errorMessageContainer{
	display: inline-block;
	width: 100%;
}

.errorMessageStyle{
	text-align: center;
	color: #fab03a;
	font-size: 12px;
	font-style: italic;
}

.forgotPwdFormButtonDiv {
	text-align: center;
	width: 100%;
}
.forgotPwdFormCancelButton {
	clear: both;
	cursor: pointer;
	left: 20px;
	position: relative;
	text-decoration: none;
}

.form-control {
	margin-bottom: 6px;
	border-radius: 0 0;
	width: 99% !important;
}
