.publicProfileTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81, 81, 81);
	float: left;
	margin-top: 8px;
}

.publicProfileOnButtonContent {
	margin: 0px 0px 0px 9px;
	float: left;
}

.publicProfileOnButtonContent button {
	border-radius: 0px;
	font-weight: normal;
	color: #515151;
}

.profileDescription {
	height: 18px;
	text-align: left;
	font-size: 14px;
	color: rgba(200, 200, 200, 0.8);
	margin-right: 17px;
}

.publicProfilePencil-IconNew {
	width: 10px;
	height: 15px;
	background: url(images/pencil-hover-icon.fw.png) no-repeat;
	margin-left: 3px;
	margin-top: 3px;
}


.publicProfilePencil-IconNew:hover {
	cursor: pointer;
	display: block;
}

.publicProfileTextarea {
	background-color: rgb(255, 255, 255);
	max-width: 200px;
	margin-bottom: -18px;
	height: 146px;
	word-wrap: break-word;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	outline: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	position: relative;
	z-index: 10;
	bottom: -2px;
	cursor: pointer;
	margin-top: -20px;
}

.publicProfileTextarea:hover {
	cursor: pointer;
	display: block;
}

.publicProfileSaveButtonText {
	padding: 7px 9px;
	margin-bottom: 5px;
}

.publicProfileSaveButtonBg:hover {
	background: #1076BB;
}

.publicProfileSaveButtonBg {
	float: left;
	cursor: pointer;
	color: white;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 7px 2px 0 2px;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
	background-color: rgb(16, 118, 187);
	border: 1px solid #1076BB;
}


.publicProfileCancelText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(16, 118, 186);
	padding: 7px 9px;
	cursor: pointer;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	clear: both;
}

.publicProfileCancelText:hover {
	cursor: pointer;
	background: #ddd
}


.publicProfileSaveButtonContent {
	float: right;
	position: absolute;
	right: 0;
}

.mandatoryAboutUsLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: left;
	padding: 2px 0px 9px 0px;
	width: 100px;
}

.publicProfileOnButtonDeActive {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	float: left;
}

.publicProfileOnButtonDeActive:hover,.publicProfileOnTitleActive:hover,.publicProfileOffButtonsDeActive:hover
	{
	cursor: pointer;
	background: #eee;
}


.publicProfileOffButtonsDeActive {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	float: left;
}

.publicProfileOffButtonsActive:hover,.publicProfileOnButtonActive:hover
	{
	cursor: default;
}

.publicProfileOffButtonsActive,.publicProfileOffButtonsActive:hover
	{
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	/* background-color: #ededed; */
	background-color: #dddddd;
	width: 57px;
	height: 29px;
	cursor: pointer;
	background: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bbb), to(#eee));
	background: -webkit-linear-gradient(top, #bbb, #eee);
	background: -moz-linear-gradient(top, #bbb, #eee);
	background: -ms-linear-gradient(top, #bbb, #eee);
	background: -o-linear-gradient(top, #bbb, #eee);
	-moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	border-left: transparent;
	float: left;
}


.publicProfileOnButtonActive,.publicProfileOnButtonActive:hover
	{
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	/* background-color: #ededed; */
	background-color: #dddddd;
	width: 57px;
	height: 29px;
	cursor: pointer;
	background: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bbb), to(#eee));
	background: -webkit-linear-gradient(top, #bbb, #eee);
	background: -moz-linear-gradient(top, #bbb, #eee);
	background: -ms-linear-gradient(top, #bbb, #eee);
	background: -o-linear-gradient(top, #bbb, #eee);
	-moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	border-right: transparent;
	float: left;
}

.courseMaxMsg {
	display: none;
}

.gradeListCont {
	color: #999999;
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	margin: 0 auto;
	opacity: 0.6;
	text-align: center;
}


.collectionCourseLstPanel {
	float: left;
	padding-top: 6px;
}

.floatLeftCollectionInputBox {
	/*display: inline-block;
	float: left;
	width: 323px; */
	font-size: 14px;	
	margin-bottom:10px;	
}

.userCollectionMetaAssignImage {
	float: left;
	margin-right: 5px;
	position: relative;
	top: -1px;
	opacity: 0.3;
}