.publicProfileTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81, 81, 81);
	float: left;
	margin-top: 8px;
}

.publicProfileOnButtonContent {
	margin: 0px 0px 0px 9px;
	float: left;
}

.publicProfileOnButtonContent button {
	border-radius: 0px;
	font-weight: normal;
	color: #515151;
}

.profileDescription {
	height: 18px;
	text-align: left;
	font-size: 14px;
	color: rgba(200, 200, 200, 0.8);
	margin-right: 17px;
}

.publicProfilePencil-IconNew {
	width: 10px;
	height: 15px;
	background: url(images/pencil-hover-icon.fw.png) no-repeat;
	margin-left: 3px;
	margin-top: 3px;
}

.publicProfilePencil-IconNew:hover {
	cursor: pointer;
	display: block;
}

.publicProfileTextarea {
	background-color: rgb(255, 255, 255);
	max-width: 200px;
	margin-bottom: -18px;
	height: 146px;
	word-wrap: break-word;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	outline: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	position: relative;
	z-index: 10;
	bottom: -2px;
	cursor: pointer;
	margin-top: -20px;
}

.publicProfileTextarea:hover {
	cursor: pointer;
	display: block;
}

.publicProfileSaveButtonText {
	padding: 7px 9px;
	margin-bottom: 5px;
}

.publicProfileSaveButtonBg:hover {
	background: #1076BB;
}

.publicProfileSaveButtonBg {
	float: left;
	cursor: pointer;
	color: white;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 7px 2px 0 2px;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
	background-color: rgb(16, 118, 187);
	border: 1px solid #1076BB;
}

.publicProfileCancelText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(16, 118, 186);
	padding: 7px 9px;
	cursor: pointer;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	clear: both;
}

.publicProfileCancelText:hover {
	cursor: pointer;
	background: #ddd
}

.publicProfileSaveButtonContent {
	float: right;
	position: absolute;
	right: 0;
}

.mandatoryAboutUsLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: left;
	padding: 2px 0px 9px 0px;
	width: 100px;
}

.publicProfileOnButtonDeActive {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	float: left;
}

.publicProfileOnButtonDeActive:hover, .publicProfileOnTitleActive:hover,
	.publicProfileOffButtonsDeActive:hover {
	cursor: pointer;
	background: #eee;
}

.publicProfileOffButtonsDeActive {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	float: left;
}

.publicProfileOffButtonsActive:hover, .publicProfileOnButtonActive:hover
	{
	cursor: default;
}

.publicProfileOffButtonsActive, .publicProfileOffButtonsActive:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	/* background-color: #ededed; */
	background-color: #dddddd;
	width: 57px;
	height: 29px;
	cursor: pointer;
	background: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bbb), to(#eee));
	background: -webkit-linear-gradient(top, #bbb, #eee);
	background: -moz-linear-gradient(top, #bbb, #eee);
	background: -ms-linear-gradient(top, #bbb, #eee);
	background: -o-linear-gradient(top, #bbb, #eee);
	-moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	border-left: transparent;
	float: left;
}

.publicProfileOnButtonActive, .publicProfileOnButtonActive:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	font-size: 12px;
	/* background-color: #ededed; */
	background-color: #dddddd;
	width: 57px;
	height: 29px;
	cursor: pointer;
	background: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bbb), to(#eee));
	background: -webkit-linear-gradient(top, #bbb, #eee);
	background: -moz-linear-gradient(top, #bbb, #eee);
	background: -ms-linear-gradient(top, #bbb, #eee);
	background: -o-linear-gradient(top, #bbb, #eee);
	-moz-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	border-right: transparent;
	float: left;
}

.courseMaxMsg {
	display: none;
}

.gradeListCont {
	color: #999999;
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	margin: 0 auto;
	opacity: 0.6;
	text-align: center;
}

.collectionCourseLstPanel {
	float: left;
	padding-top: 6px;
}

.floatLeftCollectionInputBox {
	/*display: inline-block;
	float: left;
	width: 323px; */
	font-size: 14px;
	margin-bottom: 10px;
}

.collectionPlayerAddResourcesContainer {
	width: 100%;
	height: 120px;
	margin: 0 auto;
	background-color: #515151;
	/* 	margin-left: 42px; */
	overflow: hidden;
	/* padding-top:50px; */
/* margin-top:10px;
	margin-bottom:10px; */
}

.flagPopUpstylelabel {
	position: relative;
	top: 4px;
}

/*  FrameBreaker css */
.framebreaker-container {
	background: #515151;
	position: relative;
}

.framebreaker-wrapper {
	margin: 0 auto;
	min-height: 550px;
	text-align: center;
	/* padding: 90px; */
}

.framebreaker-resource-container {
	background: rgba(0, 0, 0, 0.7);
	width: 800px;
	height: 80px;
	float: left;
	margin-top: 230px;
}

.framebreaker-resource-wrapper {
	width: 350px;
	float: left;
	height: 80px;
}

.framebreaker-resource-thumbnail {
	width: 80px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

.framebreaker-resource-content {
	width: 200px;
	float: left;
	text-align: left;
	margin-left: 10px;
	height: 80px;
	color: white;
}

.framebreaker-resource-title {
	margin-top: 15px;
	font-size: 13px;
	height: 1.1em;
	overflow: hidden;
}

.framebreaker-resource-attribution {
	margin-top: 18px;
	font-size: 12px;
	height: 1.1em;
	overflow: hidden;
	color: #999;
}

.framebreaker-resource-url-conatiner {
	width: 400px;
	float: left;
	height: 80px;
	color: white;
	font-size: 18px;
}

.framebreaker-resource-url-content {
	font-size: 17px;
	/* margin-top: 30px; */
}

.framebreaker-resource-url {
	text-decoration: none !important;
	color: #1076BB;
}

.framebreaker-resource-url:hover {
	color: #87BADD !important;
	cursor: pointer;
}

.framebreaker-image {
	padding-left: 80px;
}

.textColorWhite {
	color: white;
}

.margin20Px {
	margin-bottom: 20px;
}

.margin40Px {
	margin-bottom: 40px;
}

.resourceCategoryImage {
	position: relative;
	right: 83px;
	display: inline-block;
}

.framebreaker-resourceImage {
	margin-top: 106px;
	display: inline-block;
	width: 80px;
	height: 60px;
	vertical-align: initial;
}

.resourceComeBack {
	font-size: 14px;
	width: 275px;
	text-align: center;
	margin: 0 auto;
	color: white;
}

.resourcesQuizzessAnswersOptionsContainer {
	float: left;
	width: 100%;
	min-height: 30px;
	height: auto;
}

.openEndedQuestionTotalContainer {
	width: 100%;
	height: auto;
	overflow-y: scroll;
	padding: 25px 25px;
}

.collection-resource-narration-container {
	width: 100%;
	margin-top: 23px;
	padding: 10px;
	background-color: rgb(77, 77, 77);
}

.userCollectionMetaAssignImage {
	float: left;
	margin-right: 5px;
	position: relative;
	top: -1px;
	opacity: 0.3;
}

.folderLevel {
	background: #f0f0f0 url('../images/folders/panel/folder-icon.png')
		no-repeat 10px 13px;
	box-sizing: content-box;
}

.unitLi {
	padding: 20px;
	border: 1px solid #ccc;
	margin-top: -1px;
	cursor: pointer;
	transition: background-color 0.5s ease;
	padding-left: 50px;
	padding-top: 16px;
}

.unitLi:hover {
	background-color: #eee;
}

.lessonTitle {
	padding: 8px 63px !important;
	margin: 7px 0px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: rgba(240, 240, 240, 0.5);
	border-width: 1px;
	/* Firefox v1.0+ */
	-moz-border-radius: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	/* Firefox v3.5+ */
	-moz-box-shadow: 0px 0px 11px rgba(221, 221, 221, 0.15);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 0px 11px rgba(221, 221, 221, 0.15);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 11px rgba(221, 221, 221, 0.15);
	cursor: pointer;
	/* Old browsers */
	background: rgb(239, 239, 239);
	/* Safari 4-5, Chrome 1-9 */
	background: url('../images/folders/panel/folder-icon.png') no-repeat
		24px 8px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(FFFFFF),
		to(FFFFFF));
	/* Safari 5.1, Chrome 10+ */
	background: url('../images/folders/panel/folder-icon.png') no-repeat
		24px 8px, -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
	/* Firefox 3.6+ */
	background: url('../images/folders/panel/folder-icon.png') no-repeat
		24px 8px, -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	/* IE 10 */
	background: url('../images/folders/panel/folder-icon.png') no-repeat
		24px 8px, -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
	/* Opera 11.10+ */
	background: url('../images/folders/panel/folder-icon.png') no-repeat
		24px 8px, -o-linear-gradient(top, #FFFFFF, #FFFFFF);
}

.marginTop5 {
	margin-top: 5px;
}

.libraryTitle {
	margin: 0px 0px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	-moz-box-shadow: 0 0 11px rgba(221, 221, 221, 0.15);
	-webkit-box-shadow: 0 0 11px rgba(221, 221, 221, 0.15);
	box-shadow: 0 0 11px rgba(221, 221, 221, 0.15);
}

.conceptTitle {
	padding: 0px 25px;
	cursor: pointer;
	margin: 3px 0px;
	padding-left: 71px;
}

.assessmentSmall {
	background: url('../images/folders/panel/assessment-type.png') 39px 0px
		no-repeat;
	background-size: 27px 19px;
}

.collectionSmall {
	background: url('../images/folders/panel/collection-icon-small.png')
		39px 0px no-repeat;
}

.assessment {
	background-image: url('../images/folders/panel/assessment-type.png')
		!important;
}

.conceptTitle:hover {
	background-color: #E1EEF6;
}

.libraryConceptTitle {
	padding: 0px 25px;
	cursor: pointer;
	margin: 3px 0px;
}

.libraryConceptTitle:hover {
	background-color: #E1EEF6;
}

.conceptActive {
	background-color: #CFE3F1 !important;
	font-weight: normal;
}

.libraryConceptActive {
	background-color: #CFE3F1 !important;
}

.libraryConceptActive:hover {
	background-color: #CFE3F1 !important;
}

.collection {
	background-image: url('../images/folders/panel/collection-icon.png')
		!important;
}

.folderOpen {
	background-image: url('../images/folders/panel/folder-icon-open.png')
		!important;
	background-repeat: no-repeat;
	background-position: 14px 10px;
}

.classCodeTxtBoxStyle {
	width: 118px;
	border: 1px #E3E3E3 solid !important;
	background-color: #FFF !important;
	font-size: 12px !important;
	outline: 0;
	display: inline-block;
	padding: 6px;
	font-family: Tahoma, sans-serif !important;
}

.remixPopupTabPnlStyle {
	display: inline-block;
	width: 49%;
	padding: 12px;
	font-weight: bold;
}

.remixPopupTabPnlStyle:hover {
	background: #4c98cc;
}

.remixPopupTabPnlStyle.selected {
	background: #4c98cc;
}

.copyLblStyle {
	padding: 10px 20px;
}

.copyLblStyle.selected {
	background: #cddeea;
}

.copyLblStyle:hover {
	background: #cddeea;
	cursor: pointer;
}

#gooruSearchMainContainer .btn-group:hover .dropdown-menu {
	display: block;
}

.myCourseContainer .myCousesTabMenu {
	background: #ffffff;
}

.myCourseContainer .myCousesTabMenu a {
	color: #999999;
	font-weight: bold;
	display: table-cell;
	width: 49%;
	overflow: hidden;
	padding: 15px 15px;
	text-align: center;
	border-right: 1px solid #dddddd;
	position: relative;
	background: white;
	box-shadow: none;
}

.myCourseContainer .myCousesTabMenu a:hover, .myCourseContainer .myCousesTabMenu a:focus
	{
	text-decoration: none;
	color: #4e9746;
	opacity: 1;
	margin: 0px;
}

.myCourseContainer .myCousesTabMenu a.mycollectionMenu:hover,
	.myCourseContainer .myCousesTabMenu a.mycollectionMenu:focus {
	text-decoration: none;
	color: #1076bb;
	opacity: 1;
}

.myCourseContainer .myCousesTabMenu a.mycourseMenu.active {
	color: #4e9746;
	border-bottom: 8px solid #4e9746;
}

.myCourseContainer .myCousesTabMenu a.mycollectionMenu.active {
	color: #1076bb;
	border-bottom: 8px solid #1076bb;
}

.totalVideoTimeStyles {
	margin-left: 16px;
	padding-bottom: 8px;
}

.marginRight {
	margin-right: 5px;
}

.spinnerContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	/* z-index: 999; */
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.spinnerDisplayPosition {
	top: 500px;
	position: relative;
}

/**************** Wait Confirmation Popup***************/
.waitPopUp .waitPopupContainer {
	border: 1px solid #CCCCCC;
	margin: -4px 4px 4px;
}

.waitPopUp .confirmMessageContainer {
	padding: 8px 0 15px 10px;
	width: 90%;
}

.waitPopUp .confirmMessage {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}

.waitPopUp .confirmMessageOk {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}


.waitPopUp .confirmMessageDelete {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	width: 95%;
	margin: 10px;
}

.waitPopUp .confirmMessages {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
	float: left;
}


.waitPopUp .actionField {
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.waitPopUp .okButtonmargin {
	margin-left: 5px;
}

.waitPopUp .removingText {

}
.text-uppercase {
	text-transform: uppercase !important;
}
.loginFailureAlert div table {
  width: 100%;
}
