@charset "utf-8";
/* CSS Document */
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9786">Text with this font applied</p> */


#find {
	background: none;
}


.focusblock h1 {
	font-family: "Arvo", serif !important;
	margin: 40px 0;
}

.focusblock section {
	background: #ffffff;
	float: left;
	margin-bottom: 25px;
	padding: 25px 25px;
	width: 100%;
}

.focusblock article {
	float: left;
	margin-bottom: 25px;
	width: 100%;
}

.focusblock h2 {
	font-family: "Arvo", serif !important;
	font-size: 28px;
}

.animation {
	height: 120px;
	overflow: hidden;
	padding-top: 16px;
	transition: all 0.5s ease-in 0s;
	/*cursor: pointer;*/
}

.animation:hover {
	height: 120px;
	padding-top: 0;
}

.footerBlock {
	margin-bottom: 50px;
}

.footerBlock h1 {
	font-family: "Arvo", serif !important;
	margin: 50px 0 10px 0;
	font-weight: bold;
}

.text-color {
	color: #FF26FF;
}

.footerBlock h2 {
	font-family: "Arvo", serif !important;
	font-size: 28px;
	font-weight: bold;
}

.footerBlock .col-xs-4 {
	padding-left: 0;
	padding-right: 0;
}

.margin {
	margin: 15px 15px 15px 0;
	background: #ffffff;
	padding: 15px 15px;
	border-radius: 4px 4px;
}

.noMargin {
	margin-right: 0;
}

.fanimation {
	height: 195px;
	overflow: hidden;
	padding-top: 16px;
	transition: all 0.5s ease-in 0s;
	/*cursor: pointer;*/
}

.fanimation:hover {
	height: 195px;
	padding-top: 0;
}

.progressmain {
	width: 100%;
	margin: 0 auto;
}

.progressmain .col-xs-6 {
	padding-left: 5px;
	padding-right: 0;
}

.progressmain .progress {
	background-color: #999999;
	border-radius: 0 0;
	height: 35px;
	margin-bottom: 0;
}

.progressmain .progress-bar {
	background-color: #1076bb;
}

.progressmain .text-info {
	color: #1076bb;
	font-size: 16px;
	line-height: 33px;
}

.progressmain .lastinfo {
	color: #1076bb;
	font-size: 16px;
	line-height: 18px;
}

.find .lead {
	color: #444444;
	font-size: 18px;
	margin-bottom: 5px;
}

.find .navbar-form {
	padding: 0 0;
}

.fbutton {
	margin-top: 9%;
	margin-bottom: 0;
}

footer {
	background: #444444;
	width: 100%;
}

.social ul {
	margin-bottom: 24px;
	margin-top: 24px;
}

.social ul li .fa {
	padding: 10px 11px !important;
	font-size: 20px;
}

.social ul li a {
	width: 40px;
	height: 40px;
	background: #acacac;
	border-radius: 50% 50%;
	display: block;
	color: #ffffff;
	transition: all 0.5s ease-in-out 0s;
}

.social ul li a:hover {
	background: #72accd;
}

footer h4, footer .h4 {
	font-family: "Arvo", serif !important;
	color: #ffffff;
	font-size: 15px;
}

footer {
	padding: 25px 0;
}

footer ul li a {
	color: #eeeeee !important;
	font-size: 12px;
	transition: all 0.5s ease-in-out 0s;
}

footer ul li a:hover {
	color: #ffffff;
}

footer .col-xs-2 {
	border-right: 1px solid #616161;
	min-height: 130px;
	padding-left: 50px;
}

footer .col-xs-2:last-child {
	border-right: none;
}

footer .col-xs-4 {
	border-right: 1px solid #616161;
	min-height: 130px;
}

.usegooru {
	width: 100%;
	margin-bottom: 50px;
}

.usegooru h1, .usegooru .h1 {
	font-family: "Arvo", serif !important;
	margin-bottom: 35px;
	font-weight: bold;
}

.usegooru section {
	float: left;
	width: 100%;
	padding: 25px 25px;
	background: #ffffff;
}

.testimonials {
	padding-bottom: 25px;
}

.testimonials img {
	float: left;
}

.testimonials p {
	font-style: italic;
}

.testimonials .text-info {
	font-style: normal;
	color: #1076bb;
}

.roundcircle {
	width: 388px;
	height: 388px;
	display: block;
	border-radius: 50% 50%;
	background: #1076bb url(../images/quote.png) no-repeat center top;
	position: relative;
	border: 5px solid #86a8cb;
}

.roundcircle .innercircle {
	padding: 17% 14%;
	width: 100%;
	display: block;
}

.roundcircle .innercircle p {
	font-family: 'rock';
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 18px;
}

.roundcircle .innercircle h4 {
	font-family: 'rock';
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}

.roundcircle .innercircle hr {
	margin: 10px 0;
}

.padd {
	padding: 75px 0 0 0;
}

.speaks p {
	padding-top: 20px;
}

.leftindex {
	padding-left: 60px;
}

.rectangle {
	background: #87badd url(../images/quote1.png) no-repeat 10px 10px;
	padding: 25px 60px;
}

.rectangle p {
	font-size: 17px;
	color: #ffffff;
	font-style: italic;
	margin-bottom: 20px;
}

.rectangle small {
	color: #ffffff;
}

.rectangle h4 {
	color: #ffffff;
}

.bannerInner {
	position: relative;
}

.bannerInner .overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
}

.bannerInner .overlay .caption {
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	text-align: right;
	width: 63%;
}

.bannerInner .overlay .caption h2 {
	font-family: "Arvo", serif !important;
	font-weight: 600;
	color: #ffffff;
}

.bannerInner .overlay .caption p {
	color: #ffffff;
}

.bannerInner .overlay .caption .btn {
	padding: 9px 40px;
}

.InnerMenuBlock .navbar {
	border-radius: 0 0;
	box-shadow: 0 0 3px #999999;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.InnerMenuBlock .nav {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.InnerMenuBlock .navbar-default {
	border-color: #cccccc;
}

.InnerMenuBlock .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.InnerMenuBlock .navbar-nav>li {
	border-right: 1px solid #cccccc;
	box-shadow: 1px 0 0 #ffffff;
	float: none;
	position: relative;
	display: table-cell;
	width: 1%;
}

.InnerMenuBlock .navbar-nav>li:last-child {
	border-right: none;
	box-shadow: none;
}

.InnerMenuBlock  .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.InnerMenuBlock .navbar-default {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#eeeeee', GradientType=0); /* IE6-8 */
	Color format:
}

.InnerMenuBlock .navbar-default .navbar-nav>li>a, .InnerMenuBlock .navbar-default .navbar-nav>li>label {
	font-size: 16px;
	text-align: center;
	color: #515151;
}

.InnerMenuBlock .navbar-default .navbar-nav>.active>a,.InnerMenuBlock .navbar-default .navbar-nav>.InnerMenuBlock .active>a:hover,.InnerMenuBlock .navbar-default .navbar-nav>.active>a:focus
	{
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee),
		color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eeeeee',
		endColorstr='#ffffff', GradientType=0); /* IE6-8 */
	color: #515151;
}

.InnerMenuBlock .navbar-default .navbar-nav>li>a:hover {
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee),
		color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eeeeee',
		endColorstr='#ffffff', GradientType=0); /* IE6-8 */
	color: #515151;
}

.InnerMenuBlock  .caret {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid;
	display: inline-block;
	height: 0;
	position: absolute;
	bottom: -13px;
	left: 44%;
	margin-left: 2px;
	vertical-align: middle;
	width: 0;
	color: #515151;
}

.focusblock .grid_1 {
	width: 38.3333%;
	margin-right: 15px;
	background: #ffffff;
	padding: 20px 20px;
	min-height: 490px;
}

.focusblock .grid_2 {
	width: 20.3333%;
	margin-right: 0;
	background: #ffffff;
	padding: 20px 20px;
	min-height: 490px;
}

.focusblock .grid_1 h2 {
	font-weight: bold;
	font-size: 28px;
	margin-top: 0;
}

.focusblock .grid_2 h2 {
	font-weight: bold;
	font-size: 26px;
	margin-top: 0;
}

.focusblock .grid_1 h3 {
	font-weight: bold;
	font-size: 20px;
	font-family: 'rock';
}

.focusblock .grid_1 .navbar-form {
	padding-left: 0;
	padding-right: 0;
}

.focusblock .grid_1 .player {
	margin-top: 50px;
	text-align: center;
}

.focusblock .grid_1 .imgBox {
	height: 110px;
	width: 172px;
	text-align: center;
	background: #444444;
	display: inline-block;
}

.focusblock .grid_2 p {
	font-size: 13px;
}

.focusblock .grid_2 .img-thumbnail {
	height: 120px;
}

.focusblock .grid_2  .logoBox {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
	padding: 10px;
	text-align: center;
	width: 48%;
	height: 72px;
	vertical-align: middle;
	margin-bottom: 5px;
}

.techboxes .teachImg {
	display: inline-block;
	float: left;
	height: 140px;
	margin-right: 9px;
	padding-top: 15px;
	transition: all 0.5s ease-in-out 0s;
	width: 112px;
}

.techboxes .teachImg:hover {
	padding-top: 5px;
	width: 112px;
	height: 140px;
}

.techboxes .teachText {
	display: inline-block;
	float: left;
	font-size: 13px;
	padding-bottom: 22px;
	transition: all 0.5s ease-in-out 0s;
	width: 56%;
	padding-top: 15px;
	line-height: 15px;
	min-height: 157px;
	color: #515151;
}

.usegooru h2 {
	font-family: "Arvo", serif !important;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 45px;
	color: #515151;
}

.usegooru h2 .btn {
	font-family: 'rock';
	font-size: 28px;
	color: #515151;
	font-weight: bold;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}

.usegooru h2 .btn:hover {
	background: #efefef;
}

.usegooru h3 {
	font-family: 'rock';
	font-size: 25px;
	font-weight: bold;
	color: #515151;
}

.techboxes h4 {
	font-family: 'rock';
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	color: #515151;
}

.additional {
	margin-bottom: 50px;
	width: 100%;
}

.additional  h1 {
	font-family: 'rock';
	font-weight: bold;
	margin-bottom: 35px;
}

.additional  section {
	background: none repeat scroll 0 0 #ffffff;
	float: left;
	padding: 25px;
	width: 100%;
}

.additional  h3 {
	font-family: 'rock';
	font-size: 20px;
	font-weight: bold;
}

.additional  h3 a:hover {
	text-decoration: none;
}

.bluemain {
	width: 100%;
}

.blueinner {
	background: #1076BB;
	padding: 25px 0;
}

.blueinner .innerText {
	background: rgba(102, 153, 255, 1);
	padding: 10px 10px;
}

.blueinner .innerText h2 {
	font-family: "Arvo", serif !important;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	margin: 15px auto 20px;
	width: 75%;
}

.blueinner .innerText p {
	font-family: 'rock';
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	margin: 15px auto 20px;
	width: 75%;
}

.mission h2 {
	margin-bottom: 30px;
}

.mission .partext {
	min-height: 90px;
	font-size: 14px;
}

.yourSupport {
	margin-bottom: 30px;
	width: 100%;
	float: left;
}
.yourSupport  p, .getContentContainer p,.yourSupport .p, .getContentContainer .p, .getInnerRight p, .getInnerRight .p, .searchContainer p, .searchContainer .p, .searchContainer .p, .communityResult p, .communityResult .p{
	margin-bottom: 15px;
	font-size: 14px;
}
.yourSupport  h1, .yourSupport  .h1 {
	font-family: "Arvo", serif !important;
	font-weight: bold;
	margin-bottom: 35px;
}

.yourSupport section {
	background: none repeat scroll 0 0 #ffffff;
	float: left;
	padding: 25px;
	width: 100%;
	border-radius: 4px 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.yourSupport h2, .yourSupport .h2 {
	font-family: "Arvo", serif !important;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}

.yourSupport h3, .yourSupport .h3 {
	font-family: 'rock';
	font-size: 20px;
	font-weight: bold;
}

.goorubadge img {
	display: inline;
}

.goorubadge h4, .goorubadge .h4 {
	font-size: 16px;
	font-weight: normal;
}

.yourSupport .imgBox {
	background: #444444;
	display: inline-block;
	height: 86px;
	text-align: center;
	width: 86px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.featuredCourses {
	margin-bottom: 50px;
}

.coursesMain {
	width: 100%;
	border-radius: 6px 6px;
	border: 1px solid #CCCCCC;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#eeeeee', GradientType=0); /* IE6-8 */
	/*box-shadow:0 15px 11px -16px rgba(0, 0, 0, 0.5);*/
}

.coursesMain div>a {
	display: block;
	transition: all 0.5s ease-in-out 0s;
}

.coursesMain div>a:hover {
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	text-decoration: none;
	transition: all 0.5s ease-in-out 0s;
}

.coursesMain>div {
	width: 1%;
	display: table-cell;
	position: relative;
	text-align: center;
	border-right: 1px solid #CCCCCC;
	box-shadow: 1px 0 0 #ffffff;
	position: relative;
}

.coursesMain  .bluehead {
	background: #D0E1EC;
	font-size: 12px;
	padding: 7px 7px;
	color: #1076BA;
}

.coursesMain  .corImageGroup {
	padding: 15px 0;
	position: relative;
	width: 105px;
	margin: 0 auto;
}

.coursesMain .author {
	position: absolute;
	bottom: 0;
	right: -33px;
}

.coursesMain .courDescription {
	padding: 15px 15px 15px 15px;
}

.coursesMain .corBigDes {
	color: #515151;
	font-size: 12px;
	font-weight: bold;
}

.coursesMain .corSmallDes {
	color: #515151;
	font-size: 12px;
	font-weight: normal;
}

.coursesMain .corImage {
	max-width: 100%;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2 {
	position: relative;
}

.effect2:before,.effect2:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.effect2:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.searchContainer {
	margin: 25px 0;
}

.searchContainer .sInner {
	background: #ffffff;
	border-radius: 4px 4px;
	padding: 10px 10px;
}

.searchContainer .col-xs-3 .animation {
	margin-right: 12px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.searchContainer .col-xs-3 h2, .searchContainer .col-xs-3 .h2 {
	display: inline-block;
	font-family: "Arvo", serif !important;
	font-size: 24px;
	vertical-align: middle;
	margin: 44px 0;
	font-weight: normal;
}

.searchContainer .col-xs-3 .btn {
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}

.searchContainer .col-xs-3 .btn:hover {
	background: #efefef;
	cursor: pointer;
}

.searchContainer .col-xs-3 .form-control {
	float: left;
	width: 67%;
	margin-right: 6px;
	height: 31px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.searchContainer .col-xs-3 .searchMAIN .BTN {
	float: left;
}

.communityblock h2, .communityblock .h2 {
	font-family: "Arvo", serif !important;
	margin: 20px 0 20px 0;
	font-size: 30px;
	font-weight: bold;
}

.communityblock h4, .communityblock .h4{
	font-size: 18px;
	font-weight: normal;
	margin-bottom : 20px;
}

.communityResult {
	margin: 7px 0 20px 0;
}

.communityResult .col-xs-9 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.blueBand {
	background: #A7DBFF;
	text-align: center;
	padding: 7px 5px;
	margin-top: -5px;
}

.blueBandElementary{
	padding-top: 12px;
}


.communityResult .InnerMenuBlock .navbar {
	margin-bottom: 0;
}

.dataTableResult {
	background: #ffffff;
	display: inline-block;
	width: 100%;
	/* padding: 10px 10px; */
	border: 1px solid #dddddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dataTableResult p {
	font-size: 12px;
	margin: 7px 0;
}

.dataTableResult .col-xs-2 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.rightBlock1 {
	background: #ffffff;
	margin-bottom: 20px;
}

.rightBlock1 .last {
	height: 108px;
	overflow-y: auto;
}

.rightBlock1 .blockHeader {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#eeeeee', GradientType=0); /* IE6-8 */
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	box-shadow: 0 0 3px #999999;
}

.rightBlock1 .blockContent {
	padding: 10px 10px;
	font-size: 12px;
	border: 1px solid #dddddd;
	height: 118px;
	overflow-y:auto;
}

.getStart {
	margin: 20px 0;
}

.getStart h2, .getStart .h2 {
	font-family: "Arvo", serif !important;
	margin: 20px 0 20px;
	font-size: 30px;
	font-weight: bold;
}

.getStart .getInner {
	background: #ffffff;
	padding: 0 0;
	border-radius: 4px 4px;
}

.getStart .getInnerRight {
	background: #ffffff;
	padding: 13px 15px;
	margin-bottom: 20px;
	border-radius: 4px 4px;
}

.getStart .col-xs-7 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.getStart .getContentContainer {
	padding: 10px 10px;
	min-height: 204px;
}

.getStart .getContentContainer h4 {
	color: #1076B9;
	font-size: 16px;
}

.getStart .getInnerRight h3, .getStart .getInnerRight .h3 {
	font-family: "Arvo", serif !important;
	margin: 7px 0 15px 0;
	font-size: 25px;
	font-weight: 300;
}

.getStart .getInnerRight .first {
	font-family: "Arvo", serif !important;
	float: left;
	width: 62%;
	font-size: 28px;
}

.getStart .getInnerRight img {
	float: right;
	margin: 15px 0;
}
.getStart .getInnerRight p, .getStart .getInnerRight .p{
	margin-bottom: 15px;
}

.getStart .getInnerRight h4, .getStart .getInnerRight .h4 {
	color: #1076B9;
	font-size: 16px;
}

.mission {
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}

.mission h2, .mission .h2 {
	font-family: "Arvo", serif !important;
	margin: 10px 0 10px;
	font-weight: 600;
	font-size: 30px;
}

.mission .col-xs-4 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mission a.btn {
	color: #ffffff !important;
}

.badgepadd {
	display: table-cell;
	height: 182px;
	vertical-align: middle;
}

.searchContainer p, .searchContainer .p{
	min-height: 39px;
	margin-bottom: 15px;
}

.rightBlock1 .blockContent p{
	margin-bottom : 12px;
}

.col-xs-1 p{
	text-align: right;
}

.yourSupport .col-xs-12{
	padding-left: 0px !important;
}

.badgepadd .form-control{
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;	
}

footer ul li{
	margin: 5px 0;
}

footer .col-xs-2:last-child{
	border-right : 0;
}


.dataTableResult .col-xs-8 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dataTableResult .col-xs-4 {
	text-align: right;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dataTableResult .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	min-height: 28px;
}
.dataTableResult .col-xs-8 p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.copyRight{
	color: white;
	text-align: center;
	width: 100%;
}

.dataTableResult .col-xs-3{
	padding: 0px 8px 0px 8px !important;
	border-right: 1px solid #CCC;
}

.dataTableResult .col-xs-3:last-child{
	border-right: none;
}


.dataTableResultHeading{


    display: inline-block;

    width: 100%;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); /* W3C */
	box-shadow: 0 0 3px #999999;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-8 */
}

.menuHeader{
	font-size:15px;
	font-family: 'Arvo', serif;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
}

.dataTableResultHeading .col-xs-3{
	border-right:1px solid #cccccc;
}


.getStartedIMG {
	position: relative;
}
.getStartedIMG .getCaption {
	bottom: 10px;
	color: #ffffff;
	font-family: 'Arvo',serif !important;
	font-size: 30px;
	left: 15px;
	position: absolute;
}

.districtLibraryContainer{
	overflow: auto;
}

.footerLastItem{
	border-right: none !important;
}

.dataTableResult .col-xs-3 p{
	width: 100%; 
}


/* Gooru Stories */
.gooruStories {
	background: #ffffff;
	padding: 15px 10px;
	margin: 20px 0;
}

.gooruStories .goorustoriesIntro {
	font-size: 16px;
	margin: 5px 0;
}

.gooruStories .goorustoriesIntro p {
	margin-bottom: 0;
}

.gooruStories .browseStoriesBtn a {
	font-size: 14px;
	margin: 9px 0;
	color: white;
}

/* Gooru Stories Responsive Css */
@media ( max-width : 767px) {
	.storiesImg {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.storiesImg img {
		display: inline-block;
	}
}


.gooruStoriesLink {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 7px 9px;
	border: 1px solid #1076BB;
	font-family: Arial, sans-serif;
	display:inline-block;
	width: 81% !important;
	
	/* Old browsers */ 
	background:#1076BB;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);

	/* IE 10 */
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.gooruStoriesLink:hover {
	color:white;
	background:#1076BB;
	cursor:pointer;
	opacity: 1.0 !important;
}



/* Landing page CSS sprite images */
.spriteLandingPage {
	background: url(${cdn.endpoint}/images/landing-page/landingpageSprite.png) no-repeat;
    background-repeat: no-repeat;
    display: block;
}

.spriteLandingPageDropdownMenuArrow {
    width: 16px;
    height: 11px;
    background-position: -2px -2px;
}

.spriteLandingPageFacebookIco {
    width: 37px;
    height: 37px;
    background-position: -22px -2px;
}

.spriteLandingPageGooglePlusIco {
    width: 37px;
    height: 37px;
    background-position: -63px -2px;
}

.spriteLandingPageGooruBadge {
    width: 162px;
    height: 162px;
    background-position: -104px -2px;
}

.spriteLandingPageMonitorIco {
    width: 93px;
    height: 57px;
    background-position: -270px -2px;
    display: inline-block;
}

.spriteLandingPageNextArrow {
    width: 19px;
    height: 45px;
    background-position: -367px -2px;
}

.spriteLandingPagePreviousArrow {
    width: 19px;
    height: 45px;
    background-position: -390px -2px;
}

.spriteLandingPageToTop {
    width: 21px;
    height: 13px;
    background-position: -413px -2px;
}

.spriteLandingPageTwitterIco {
    width: 37px;
    height: 37px;
    background-position: -438px -2px;
}

.spriteLandingPageYoutubeIco {
    width: 37px;
    height: 37px;
    background-position: -479px -2px;
}


