/* CSS Document */

#gShelfMainContainer .floderLeftContainer{
	background:#ffffff;
	margin-right:15px;
	box-shadow:0 0 6px rgba(0, 0, 0, 0.05);
	min-height:500px;
	margin-bottom:-9999px;
	padding-bottom:9999px;
}

#gShelfMainContainer .floderRightContainer{
	background:#ffffff;
	box-shadow:0 0 6px rgba(0, 0, 0, 0.05);
}
#gShelfMainContainer .equifier{
	overflow:hidden;
}
#gShelfMainContainer .folderBlock{
	background:#f0f0f0;
}
#gShelfMainContainer .folderBlock .folderBlockHeader{

	padding:12px 0;
}
#gShelfMainContainer .gradeContainer{
 background: #333333;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f5f5));
  background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(top, #ffffff, #f5f5f5);
  margin-top:54px;
  
}
#gShelfMainContainer .greyBackground{
	background:#e8e7e7;
}

#gShelfMainContainer .folderBlock  .folderMainHeading{
	padding:5px 0;

	font-size:17px;
	color:#515151;
}
#gShelfMainContainer .folderBlock  .folderMainHeading span.folderIcon{
		background:url(../images/gooru-sprite.png) no-repeat -226px -372px;
		width:40px;
		height:25px;
		display:inline-block;
		vertical-align:middle;
}



#gShelfMainContainer .floderLeftContainer .createMenu{
	display: inline-block;
	margin: 0;
	text-align: right;
	width: 100%;
	border-bottom: 1px solid #dddddd;
	vertical-align: bottom;
}

#gShelfMainContainer .floderLeftContainer .createMenu .btn{
	font-size:12px;
}

#gShelfMainContainer .floderLeftContainer .createMenu .plus {
	display: block;
	background: #4d99cd;
	font-size: 25px;
	color: #ffffff;
	text-align: center;
}

#gShelfMainContainer .floderLeftContainer .createMenu .btn, #gShelfMainContainer .floderLeftContainer .createMenu .plus
	{
	height: 40px;
}

#gShelfMainContainer .floderLeftContainer .folderLeftMainHeader {
	color: #515151;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 12px 12px;
	background: #f0f0f0;
}

#gShelfMainContainer .courseNameBlock{
	position:relative;
	padding:15px 15px;
	border-bottom:1px solid #dddddd;
}

#gShelfMainContainer .courseNameBlock p{
	margin-bottom:8px;
	color:#515151;
}

#gShelfMainContainer .courseNameBlock .form-control{
	border:1px solid #87badd;
}
#gShelfMainContainer .tagCoursePanel{
	padding:15px 15px;
}

#gShelfMainContainer .tagCoursePanel p{
	color:#515151;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelHeader{
	text-align:center;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelHeader button{
	width:75%;
	font-size:13px;
	font-weight:bold;
}

button.btn-disabled{
	background-color:#dddddd;
	color:#ffffff;
}

#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody{
	border:1px solid #dddddd;
	margin-top:15px;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody .courseGroupBlock{
	overflow:hidden;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody .courseGroupLeft{
	border-right:1px solid #dddddd;
	margin-bottom:-500px;
	padding-bottom:500px;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul{
	margin:0 0;
	padding:0 0;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul li{
	margin:0 0;
	padding:0 0;
	list-style:none;
	border-bottom:1px solid #ffffff;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul li a{
	display:block;
	margin:0 0;
	color:#515151;
	padding:8px 15px;
	font-size:12px;
	
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul li a:hover, #gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul li a:focus{
	background:#87badd;
	color:#333333;
	text-decoration:none;
	opacity:1;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody ul li.active a{
		background:#87badd;
	color:#333333;
	text-decoration:none;
}

#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter{
	margin:15px 0;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter .filterTags{
	margin: 0 0;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter .filterTags ul li a {
    color: #ffffff;
    font-size: 12px;
    padding: 0 0 0 22px;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter .filterTags ul li{
	margin:0 15px 0 0;
}

#gShelfMainContainer .tagCourseOptions a.list-group-item{
	padding:6px 15px;
}
#gShelfMainContainer .tagCourseOptions a.list-group-item:hover{
	opacity:1;
}
#gShelfMainContainer .tagCourseOptions .list-group-item.active, #gShelfMainContainer .tagCourseOptions .list-group-item.active:focus, #gShelfMainContainer .tagCourseOptions .list-group-item.active:hover {
    background-color: #87badd;
    border-color: #87badd;
    color: #515151;
	opacity:1;
    z-index: 2;
}

#gShelfMainContainer .stepsButtonGroup{
	text-align:center;
	margin:15px 15px;
}
#gShelfMainContainer .createMenu {
	margin-right:15px;
	margin-bottom:8px;
	margin-top:6px;
}
#gShelfMainContainer .createMenu .btn-left{
	width:84%;
	text-align:left;
}
#gShelfMainContainer .createMenu .btn-right{
	width:16%;
	border-left:2px solid #eeeeee !important;
}
#gShelfMainContainer .createMenu .btn-default {
    border-color: transparent;

}

#gShelfMainContainer .createMenu .btn-default.active, #gShelfMainContainer .createMenu .btn-default.focus, #gShelfMainContainer .createMenu .btn-default:active, #gShelfMainContainer .createMenu .btn-default:focus, #gShelfMainContainer .createMenu .btn-default:hover, #gShelfMainContainer .createMenu .open > .dropdown-toggle.btn-default {
    background-color:#ffffff;
    border-color:transparent;
    color: #333;
	box-shadow:none;
}
#gShelfMainContainer .createMenu .open > .dropdown-menu{
	width:100%;
}
#gShelfMainContainer .createMenu .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px dashed;
   
}
#gShelfMainContainer .folderLeftActionBtn{
	font-size:13px;
	font-weight:bold;
}

#gShelfMainContainer .folderLeftActionBtn{
	padding:10px 15px;
}


#gShelfMainContainer .folderListBlock  ul{
	margin:0 0;
	padding:0 0;
}

#gShelfMainContainer .folderListBlock  ul li{
	margin:0 0;
	padding:0 0;
	list-style:none;
	border-bottom:1px solid #ffffff;
}

#gShelfMainContainer .folderListBlock  ul li a{
	padding:15px 15px 15px 55px;
			background:#f0f0f0 url(../images/gooru-sprite.png) no-repeat -215px -360px;
			display:block;
			color:#515151;
			font-size:13px;
	
}


#gShelfMainContainer .folderListBlock ul li a:hover, #gShelfMainContainer .folderListBlock ul li a:focus{
		background:#ffffff url(../images/gooru-sprite.png) no-repeat -215px -316px;
	color:#515151;
	text-decoration:none;
	opacity:1;

}
#gShelfMainContainer .folderListBlock ul li.active a{
		background:#ffffff url(../images/gooru-sprite.png) no-repeat -215px -318px;
	color:#515151;
	text-decoration:none;
}

#gShelfMainContainer .folderBlockSitemap{
	background:#f6f6f6;
	border-top:1px solid #ffffff;
}

/*////////////////////// Folder tree styles ///////////////////*/

#gShelfMainContainer .folderLevel {
    background-color:#f0f0f0;
    border-top:1px solid white;
    border-bottom:1px solid #ddd;
    height: 50px;
    line-height: 50px;
    padding-right:15px;
    position:relative;
    box-sizing:content-box;
	/* width: 280px; */
	/* width: 176px; */
}
#gShelfMainContainer .folderLevel.active {
	background-color: white;
	border-left: 8px solid #515151;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-radius: 4px;
	margin-left: -7px;
    z-index:10;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#gShelfMainContainer .folderLevel.justAdded {
    background-color:#E1F0D1 !important;
}

#gShelfMainContainer .folderLevel .title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: transparent !important;
}

#gShelfMainContainer .folderLevel { /* grandparent level - default */
    padding-left:80px;
}

#gShelfMainContainer .folderLevel.parent {
    padding-left:108px;
}

#gShelfMainContainer .folderLevel.child {
    padding-left:136px;
}

#gShelfMainContainer .folderLevel.collectionChild {
    padding-left:164px;
}

/*////////////////////// positioning with folder icon ///////////////////*/


#gShelfMainContainer .folderLevel { /* grandparent level - default */
    background: #f0f0f0 url('../images/folders/panel/folder-icon.png') no-repeat 33px 13px;
}

#gShelfMainContainer .folderLevel.parent {
    background: #f0f0f0 url('../images/folders/panel/folder-icon.png') no-repeat 61px 13px;
}

#gShelfMainContainer .folderLevel.child {
    background: #f0f0f0 url('../images/folders/panel/folder-icon.png') no-repeat 89px 13px;
}

#gShelfMainContainer .folderLevel.collectionChild {
    background: #f0f0f0 url('../images/folders/panel/folder-icon.png') no-repeat 117px 13px;
}

/*////////////////////// other images ///////////////////*/


#gShelfMainContainer .folderLevel.open {
    background-image: url('../images/folders/panel/folder-icon-open.png');
}

#gShelfMainContainer .folderLevel.collection {
    background-image: url('../images/folders/panel/collection-icon.png');
}

#gShelfMainContainer .folderLevel.assessment {
    background-image: url('../images/folders/panel/assessment-type.png');
}

#gShelfMainContainer .folderLevel.publicIcon.collection {
    background-image: url('../images/folders/panel/collection-icon-public.png');
}

#gShelfMainContainer .folderLevel.assesstpublicIcon.assessment {
    background-image: url('../images/folders/panel/assessment-icon-public.png');
}
#gShelfMainContainer .folderLevel .arrow {
    width:25px;
    height:25px;
    border-radius:2px;
    position:absolute;
    top:12px;
    background: url('../images/folders/panel/arrow-closed.png') no-repeat center;
    display:none;
}

#gShelfMainContainer .folderLevel .arrow:hover {
    background-color:#f0f0f0;
    cursor:pointer;
}

#gShelfMainContainer .folderLevel.open .arrow {
    background-image: url('../images/folders/panel/arrow-open.png');
    display:block;
}

#gShelfMainContainer .folderLevel .arrow { /* grandparent level - default */
    left:5px;
}

#gShelfMainContainer .folderLevel.parent .arrow {
    left:33px;
}

#gShelfMainContainer .folderLevel.child .arrow {
    left:61px;
}

#gShelfMainContainer .folderLevel.collectionChild .arrow {
    left:88px;
}

#gShelfMainContainer .folderLevel .editButton {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 12px 12px 12px 75px;
    line-height: normal;
    display:none;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
}

#gShelfMainContainer .folderLevel:hover {
    background-color:white;
    cursor:pointer;
}

#gShelfMainContainer .folderLevel:hover .arrow {
    display:block;
}

#gShelfMainContainer .folderLevel:hover .editButton {
    display:none;
    height:26px;
}
#gShelfMainContainer .emptyHoverContainer {
    position: absolute;
    top: 24px;
    left: 50px;
}

#gShelfMainContainer .emptyHover {
    width: 21px;
    height: 20px;
}


#gShelfMainContainer .folderLevel.parent .emptyHoverContainer {
    left:77px;
}

#gShelfMainContainer .folderLevel.child .emptyHoverContainer {
    left:105px;
}


@media (max-width: 767px) {
	
	#gShelfMainContainer .floderLeftContainer{
		margin-right:0;
	}
	#gShelfMainContainer .tagCoursePanel .tagCoursePanelHeader button{
		margin-bottom:2px;
		width:100%;
	}
	#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter .filterTags ul li {
    margin: 0 10px 10px 0;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody .courseGroupLeft {
    border-right:none;
	background:#f5f5f5;



}
#gShelfMainContainer .createMenu {

    margin-right: 15px;
    margin-left:15px;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelBody .courseGroupRight{

		  border-top: 1px solid #dddddd;
		  background:#ffffff;
}
}



	@media (min-width: 768px) and (max-width: 991px) {
		
		#gShelfMainContainer .tagCoursePanel .tagCoursePanelHeader button {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}
#gShelfMainContainer .tagCoursePanel .tagCoursePanelFooter .filterTags ul li {
    margin: 0 10px 10px 0;
}
	}



		@media (min-width: 992px) and (max-width: 1199px) {
			
			
			
		}





@media (min-width: 1200px) {
	
	
	

	
	
}








#gShelfMainContainer .btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 10px solid #f6f6f6;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  left: 100%;
  z-index: 3;
}
#gShelfMainContainer .btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -27px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

#gShelfMainContainer .btn-breadcrumb .btn {
  padding:15px 15px 15px 24px;
}
#gShelfMainContainer .btn-breadcrumb .btn:first-child {
  padding:15px 15px 15px 15px;
}
#gShelfMainContainer .btn-breadcrumb .btn:last-child {
  padding:15px 18px 15px 24px;
}
#gShelfMainContainer .btn-breadcrumb .btn.btn-default{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0;
	font-size:13px;
}
#gShelfMainContainer .btn-breadcrumb .btn.btn-default:hover, #gShelfMainContainer .btn-breadcrumb .btn.btn-default:focus {

	box-shadow:none;
}

/** Default button **/
#gShelfMainContainer .btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 11px solid #f6f6f6;
}
#gShelfMainContainer .btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 11px solid #ffffff;
}
/*.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #b4d1b1;
}*/
#gShelfMainContainer .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 11px solid #ffffff;
}
#gShelfMainContainer .btn-breadcrumb .btn.btn-default.active {
	background-color:#b4d1b1;
	box-shadow:none;
}
#gShelfMainContainer .btn-breadcrumb .btn.btn-default.active:not(:last-child)::after {
    border-left: 11px solid #b4d1b1;
}
/* The responsive part */

#gShelfMainContainer .btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

#gShelfMainContainer .btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
   #gShelfMainContainer .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    } 
   #gShelfMainContainer .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
   #gShelfMainContainer .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    } 
    #gShelfMainContainer .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    #gShelfMainContainer .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    } 
    #gShelfMainContainer .btn-breadcrumb > * div {
        max-width: 170px;
    }
}


/* === For Course list Css start ================================== */

#gShelfCousesList{
	padding-bottom:50px;
	min-height:450px;
}
#gShelfCousesList .courseHeader{
	padding:20px 15px;
	background:#f0f0f0;
}

#gShelfCousesList .courseHeader h2{
	font-size:22px;
	font-weight:bold;
	color:#515151;
	margin:0 0;
}
#gShelfCousesList .tableDiv{
	display:table;
	width:100%;
	border-collapse:collapse;
}

#gShelfCousesList .tableRow{
	display:table-row;
	width:100%;
	border-bottom:1px solid #dddddd;
}

#gShelfCousesList .tableColumn{
	display:table-cell;
	padding:4px 10px;
	vertical-align:middle;
	
}

#gShelfCousesList .tableColumn:first-child{
		background:#f9fcfe;
		padding:10px 15px;
		width:30%;
}
#gShelfCousesList .tableColumn:last-child{
	width:6%;
}

#gShelfCousesList .tableMainHeader h3{
	margin:0 0 2px 0;
	font-size:17px;
	font-weight:bold;
	color:#515151;
}
#gShelfCousesList .tableMainHeader p{
	margin:0 0;
	color:#515151;
}
#gShelfCousesList .tableListOrder .topArrow {
	background:url("../images/gooru-sprite.png") no-repeat scroll -278px -360px;
	width:16px;
	height:10px;
	display:inline-block;
	margin-bottom:-3px;
}
#gShelfCousesList .tableListOrder{
	text-align:center;
}
#gShelfCousesList .tableListOrder .form-control{
	height:24px;
	padding:6px 2px;
	font-size:12px;
	border-radius: 4px;
}
#gShelfCousesList .tableListOrder .bottomArrow {
	background:url("../images/gooru-sprite.png") no-repeat scroll -278px -381px;
	width:16px;
	height:10px;
	display:inline-block;
}
#gShelfCousesList .tableListTags span{
	margin-left:10px;
}

#gShelfCousesList .addCourse{
	padding:15px 25px;
	font-size:18px;
	color:#515151;
	border:1px dashed #dddddd;
	margin:1px 1px;
	position:relative;
	cursor:pointer;
}

#gShelfCousesList .addCourse input{
    bottom: 0;
    height: 55px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
	cursor:pointer;
}
@media (max-width: 767px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
		
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {
	
}
/* === For Course list Css end ================================== */

/* === For Course info Css start ================================== */

#gShelfCourseInfo .courseHeader {
	background: #f0f0f0;
}
#gShelfCourseInfo .breadcrumbMain a{
	padding:20px 25px;
	display:inline-block;
	font-size:17px;
	color:#515151;
	position:relative;
	
}
#gShelfCourseInfo .breadcrumbMain a:hover,#gShelfCourseInfo .breadcrumbMain a:focus{
	opacity:1;
	text-decoration:none;
}
#gShelfCourseInfo .breadcrumbMain a.active{
	background:#cddeea;
	box-shadow: none;
}

#gShelfCourseInfo .breadcrumbMain a.active:after{
	content:"";
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 32px solid transparent;
	border-bottom: 34px solid transparent;
	
	border-left: 20px solid #cddeea;
	right:-20px;
	top:0;
	z-index:999;
}

#gShelfCourseInfo .breadcrumbMain a.active:before{
	content:"";
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 32px solid transparent;
	border-bottom: 34px solid transparent;
	
	border-left: 20px solid #f0f0f0;
	right:-22px;
	top:0;
	z-index:99;
}

#gShelfCourseInfo .equifier {
	overflow: hidden;
}

#gShelfCourseInfo .folderBlock {
	background: #f0f0f0;
}

#gShelfCourseInfo .folderBlock .folderBlockHeader {
	padding: 12px 0;
}

#gShelfCourseInfo .folderBlock  .folderMainHeading {
	padding: 5px 0;
	font-size: 17px;
	color: #515151;
}

#gShelfCourseInfo .folderBlock  .folderMainHeading span.folderIcon {
	background: url(../images/gooru-sprite.png) no-repeat -226px -372px;
	width: 40px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}

#gShelfCourseInfo .courseNameBlock {
	position: relative;
	padding: 15px 15px 20px 15px;
}

#gShelfCourseInfo .courseNameBlock p {
	margin-bottom: 8px;
	color: #515151;
}

#gShelfCourseInfo .courseNameBlock .form-control {
	border: 1px solid #87badd;
}

#gShelfCourseInfo .tagCoursePanel {
	padding: 15px 15px;
}

#gShelfCourseInfo .tagCoursePanel p {
	color: #515151;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader {
	text-align: center;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader button {
	width: 100%;
	font-size: 13px;
	font-weight: bold;
}

button.btn-disabled {
	background-color: #dddddd;
	color: #ffffff;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody {
	border: 1px solid #dddddd;
	margin-top: 0;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody .courseGroupBlock
	{
	overflow: hidden;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody .courseGroupLeft {
	border-right: 1px solid #dddddd;
	margin-bottom: -500px;
	padding-bottom: 500px;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul {
	margin: 0 0;
	padding: 0 0;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul li {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	border-bottom: 1px solid #ffffff;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul li a {
	display: block;
	margin: 0 0;
	color: #515151;
	padding: 8px 15px;
	font-size: 12px;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul li a:hover,#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul li a:focus
	{
	background: #87badd;
	color: #333333;
	text-decoration: none;
	opacity: 1;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody ul li.active a {
	background: #87badd;
	color: #333333;
	text-decoration: none;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter {
	margin: 15px 0;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter .filterTags {
	margin: 0 0;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter .filterTags ul li a
	{
	color: #ffffff;
	font-size: 12px;
	padding: 0 0 0 22px;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter .filterTags ul li
	{
	margin: 0 15px 0 0;
}

#gShelfCourseInfo .tagCourseOptions a.list-group-item {
	padding: 6px 15px;
}

#gShelfCourseInfo .tagCourseOptions a.list-group-item:hover {
	opacity: 1;
}

#gShelfCourseInfo .tagCourseOptions .list-group-item.active,#gShelfCourseInfo .tagCourseOptions .list-group-item.active:focus,#gShelfCourseInfo .tagCourseOptions .list-group-item.active:hover
	{
	background-color: #87badd;
	border-color: #87badd;
	color: #515151;
	opacity: 1;
	z-index: 2;
}

#gShelfCourseInfo .stepsButtonGroup {
	text-align: center;
	margin: 15px 15px;
}

#gShelfCourseInfo .createMenu {
	margin-right: 15px;
	margin-bottom: 8px;
	margin-top: 6px;
}

#gShelfCourseInfo .createMenu .btn-left {
	width: 84%;
	text-align: left;
}

#gShelfCourseInfo .createMenu .btn-right {
	width: 16%;
}

#gShelfCourseInfo .createMenu .btn-default {
	border-color: transparent;
}

#gShelfCourseInfo .createMenu .btn-default.active,#gShelfCourseInfo .createMenu .btn-default.focus,#gShelfCourseInfo .createMenu .btn-default:active,#gShelfCourseInfo .createMenu .btn-default:focus,#gShelfCourseInfo .createMenu .btn-default:hover,#gShelfCourseInfo .createMenu .open>.dropdown-toggle.btn-default
	{
	background-color: #ffffff;
	border-color: transparent;
	color: #333;
	box-shadow: none;
}

#gShelfCourseInfo .createMenu .open>.dropdown-menu {
	border-radius: 0;
	margin-top: -1px;
	width: 100%;
	padding: 0 0;
}

#gShelfCourseInfo .createMenu .open>.dropdown-menu a {
	padding: 10px 20px;
}

#gShelfCourseInfo .createMenu .open>.dropdown-menu a {
	font-size: 13px;
	color: #515151;
}

#gShelfCourseInfo .createMenu .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px dashed;
}

#gShelfCourseInfo .folderLeftActionBtn {
	font-size: 13px;
	font-weight: bold;
}

#gShelfCourseInfo .folderLeftActionBtn {
	padding: 10px 15px;
}

#gShelfCourseInfo .folderListBlock  ul {
	margin: 0 0;
	padding: 0 0;
}

#gShelfCourseInfo .folderListBlock  ul li {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	border-bottom: 1px solid #ffffff;
}

#gShelfCourseInfo .folderListBlock  ul li a {
	padding: 15px 15px 15px 15px;
	background: #f0f0f0;
	display: block;
	color: #515151;
	font-size: 13px;
}

#gShelfCourseInfo .folderListBlock ul li a:hover,.folderListBlock ul li a:focus
	{
	background: #ffffff;
	color: #515151;
	text-decoration: none;
	opacity: 1;
}

#gShelfCourseInfo .folderListBlock ul li.active a {
	background: #ffffff;
	color: #515151;
	text-decoration: none;
}

#gShelfCourseInfo .folderBlockSitemap {
	background: #f6f6f6;
	border-top: 0px;
}

#gShelfCourseInfo .folderBlockSitemap {
	background: #f6f6f6;
}

#gShelfCourseInfo .folderBlockSitemap a {
	padding: 16px 25px;
	display: inline-block;
	color: #515151;
	font-size: 13px;
	transition: all 0.5s ease-in-out 0s;
	-moz-trnsition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}

#gShelfCourseInfo .folderBlockSitemap a:hover,#gShelfCourseInfo .folderBlockSitemap a:focus
	{
	background: #d8d8d8;
	color: #333333;
	text-decoration: none;
}

#gShelfCourseInfo .folderBlockSitemap a.active {
	background: #d8d8d8;
	color: #333333;
	text-decoration: none;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader .btn {
	padding: 12px 12px;
	box-shadow: none;
	border-radius: 0 0;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader .btn-default {
	background-color: #efeeee;
	color: #999999;
	border: none;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader .btn-default.active
	{
	background-color: #d7e8f4;
	color: #1076bb;
}

#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader {
	border: 1px solid #dddddd;
	border-bottom-width: 0;
}

#gShelfCourseInfo .courseFolderOpenIcon {
	background: url("../images/gooru-sprite.png") no-repeat scroll -230px
		-449px;
	width: 36px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

#gShelfCourseInfo .unitFolderOpenIcon {
	background: url("../images/gooru-sprite.png") no-repeat scroll -230px
		-484px;
	width: 36px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

#gShelfCourseInfo .courseFolderCloseIcon {
	background: url("../images/gooru-sprite.png") no-repeat scroll -278px
		-449px;
	width: 36px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}

#gShelfCourseInfo .unitFolderCloseIcon {
	background: url("../images/gooru-sprite.png") no-repeat scroll -278px
		-484px;
	width: 36px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
#gShelfCourseInfo .filterTags ul li {
  background: #87badd none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  list-style: outside none none;
  margin: 0;
  padding: 8px 10px;
}

@media(max-width:767px){
	#gShelfCourseInfo .floderLeftContainer {
		margin-right: 0;
	}
	
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader button {
		margin-bottom: 2px;
		width: 100%;
	}
	
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter .filterTags ul li
		{
		margin: 0 10px 10px 0;
	}
	
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody .courseGroupLeft {
		border-right: none;
		background: #f5f5f5;
	}
	
	#gShelfCourseInfo .createMenu {
		margin-right: 15px;
		margin-left: 15px;
	}
	
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelBody .courseGroupRight
	{
		border-top: 1px solid #dddddd;
		background: #ffffff;
	}

}
@media(min-width:768px) and (max-width:991px){
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelHeader button {
		font-size: 13px;
		font-weight: bold;
		width: 100%;
	}
	#gShelfCourseInfo .tagCoursePanel .tagCoursePanelFooter .filterTags ul li
		{
		margin: 0 10px 10px 0;
	}
}
@media ( min-width : 992px) and (max-width: 1199px) {
}

@media ( min-width : 1200px) {
}

/* === For Course info Css end ================================== */