.popupContent .popupMain {
	width: 520px;
	color: #515151;
	margin: 30px auto;
	position: relative;
	font-family: arial;
	font-size: 12px;
	background: #fff;
	border-radius: 0 0;
	border: 1px solid #999;
	padding: 3px 3px;
}

.popupContent .popupInner {
	border: 1px solid #ddd;
	position: relative;
}

.popupContent .popupHeader {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7ab075), to(#4e9746));
	background: -webkit-linear-gradient(top, #7ab075, #4e9746);
	background: -moz-linear-gradient(top, #7ab075, #4e9746);
	background: -ms-linear-gradient(top, #7ab075, #4e9746);
	background: -o-linear-gradient(top, #7ab075, #4e9746);
	background: #4e9746;
	color: white;
	font-size: 16px;
	padding: 10px 15px;
}

.popupContent .popupContent {
	padding: 10px 75px;
}

.popupContent .popupBody {
	padding: 25px;
}