.resourcePanel {
	width: 485px;
	float: left;
}

.resourceHeaderPanel {
	width: 485px;
	float: left;
}

.resourceHeaderTextPanel {
	float: left;
	height: 60px;
	width: 390px;
}

.resourceTitle {
	color: #1076BB;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* width: 364px; */
	cursor: pointer;
	height: 19px;
	/* float: left; */
}
.resourceTitle:HOVER {
	color: #4C98CC;
}


.metaDataPanel {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	margin-top: 0px;
}

.standards {
	clear: both;
	float: left;
	height: 26px;
	margin-top: 9px;
}

.resourceDescription {
	width: 435px;
	margin: 3px 0;
	height: 43px;
	font-size: 12px;
	color: #515151;
	float: left;
	overflow: hidden;
	line-height: 1.2;
}

.imgHeight{
	height: 19px;
	margin-left: 5px;
	cursor: pointer;
	/* width:20px; */
}