.classPageContainerforAssignment {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	/* background-color: #eeecec; */
	min-height:400px;
}

.classPageContentDiv {
	width: 1000px;
	margin: 0 auto;
}

.classPageArrImg{
	position: absolute;
	top: 66px;
	float: left;
	left: 109px;
	
}

.classPageArrContainer {
	padding: 5px 0px 0px 0px;
	cursor:pointer;
}
.classPageNoAssignment{
	font-style: italic;
	color: #999;
	text-align: center;
	position: relative;
	top: 100px;
}
.classPageArrOuterDiv {
	float: left;
	/* padding: 5px 0px 0px 0px; */
	/* position: relative; */
}

.classPageArrIcon {
	background-position: -52px 100px;
	width: 10px;
	height: 25px;
}

.classPageArrText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(16, 118, 184);
	text-align: left;
	position: absolute;
	top: 73px;
	float: left;
	left: 122px;
}

.classPageRoundedMainHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 120%;
	color: rgba(200,200,200, 0.8);
    text-shadow: 1px 2px 2px #EEE, 0 0 0 #000, 1px 2px 2px #EEE;
	text-align: left;
	margin-top: 20px;
	padding: 15px 0px 20px 0px;
}

.classPageContentDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 120px 0px 60px 0px;
}

.classPageSearchContainer {
	overflow: hidden;
	padding: 0px 0px 10px 60px;
}

.classPageSearchDesc {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 7px 15px 0px 0px;
}

.classPageSearchInput {
	float: left;
	font-size: 12px;
	background-color: rgb(255, 255, 255);
	width: 200px;
	height: 26px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 6px;
	font-family: Tahoma, sans-serif !important;
}

.classPageButtonContainer {
	float: left;
	padding: 0px 0px 0px 0px;
}

.classPageSearchButton {
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(76, 152,
		204)), color-stop(0.99, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	width: 50px;
	height: 30px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,
		endColorstr=#ff1076bb, GradientType=0);
}

.classPageSearchButtonText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 8px 0px 0px 0px;
}

.clear {
	clear: both;
}

.classPageOrangeText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(249, 176, 57);
	text-align: left;
	padding: 0px 53px 10px 0px;
	width: 39%;
	margin: 0 auto;
	word-wrap: break-word;
}

.classPageRoundedContainer {
	float: left;
	position: relative;
	background-color: rgb(255, 255, 255);
	width: 1000px;
	border-color: rgb(234, 234, 234);
	border-width: 1px;
	/* padding: 5px 5px 0px 15px; */
	margin: 5px 0px 5px 0px;
	/* Firefox v1.0+ */
	-moz-border-radius: 5px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 5px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 5px;
	border-style: solid;
	/* Firefox v3.5+ */
	-moz-box-shadow: 0px 0px 10px rgba(204, 204, 204, 0.3);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 0px 10px rgba(204, 204, 204, 0.3);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 10px rgba(204, 204, 204, 0.3);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Glow(Color=#ffcccccc,Strength=10)";
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#ffcccccc, Strength=10);
}

.classPageRoundedHeadingContainer {
	overflow: hidden;
	padding: 10px 5px 10px 0px;
}

.classPageRoundedHeading {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	margin: 0px 0px 0px 15px;
}

.classPageRoundedDate {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #4c9645;
	text-align: left;
	margin: 3px 10px 0 0;
}

.classPageRoundedDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	margin: 0px 0px 20px 15px;
}

.classPageRoundedImgcontainer {
	float: left;
	padding: 0px 0px 20px 0px;
}

.classPageRoundedDescContent {
	overflow: hidden;
	padding: 0px 0px 0px 10px;
}

.classPageRoundedImgDiv {
	float: left;
	width: 120px;
	height: 90px;
	position: relative;
}

.classPageRoundedBlueBorder {
	background-color: rgb(16, 118, 187);
	width: 7px;
	height: 90px;
	position: absolute;
	top: 0px;
}

.classPageRoundedImgHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 0px 5px 5px;
}

.classPageRoundedImgDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 0px 0px 5px;
	width: 500px;
}

.classPageRoundedMiddleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
	position: absolute;
	top: 14px;
	float: right;
	right: 180px;
}

.classPageRoundedContainer:hover {
	cursor: pointer;
	color: rgb(153, 153, 153);
}

.collectionPanelContainer{
	margin: 0px 0 0 15px;
}
.searchResultContainer {
	/* text-align: right;
	height:39px; */
	float: right;
	
}
.paginationContainer{
	width: 1000px;
	margin: 0 auto;
}

.paginationPanel {
	clear: both;
	/* margin-left: 14px; */
	padding: 20px 0px;
	text-align: left;
}
.classpageContainer {
	width: 1000px;
	margin: 0 auto;
	background-color: rgba(239, 239, 239, 1);
}
.classpageBannerview {
	position: relative;
}
.classpageBanner {
	height: 180px;
}
.classpageContent {
	padding: 30px 0px 0px 0px;
}
.classpageAssignbtn {
	height: 50px;
}
.clear
{
	clear:both;
}
.classpageHoverbg {
	position: absolute;
	float:left;
	left:0px;
	width:100%;
	height:60px;
	top:120px;
	background-color: rgba(16,118,187,0.5);
}
.classpageHoverTitle {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	padding: 10px 0px 10px 20px;
}
.classpageHoverButton{
	/* z-index: 98; */
    color: white;
	font-weight: bold;
	display: inline-block;
	border-radius: 4px;
	padding: 8px 9px;
	border: none;
	position: absolute;
	top: 13px;
	float: right;
	right: 20px;
	background-color:rgb(16, 118, 187);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image:-ms-linear-gradient(-90deg,rgb(76,152,204) 0%,rgb(16,118,187) 100%);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
}
.classpageHoverButton:hover{
	color: white;
	cursor: pointer;
	background: #1076BB;
}
.classpageImage{
	width:1000px;
	height:180px;
}
.classpageTopLine{
	border-top: 1px solid rgba(153, 153, 153, 0.5);
	width: 100%;
	margin: 0px auto;
	text-align: center;
	float:left;
}

.classpageCodeHelp {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 20px 10px 0px 3px;
	background: url(images/Classpage/sprite-classpage-type.png) no-repeat left top;
	background-position: 0px -46px;
	left:54%;
}
.classpageCodeHelp:hover {
	cursor: pointer;
}
.classpageCodeShareInput {
	float: left;
	left: 28%;
    position: relative;
	width: 200px;
}
.classpageCodeShareInputForImage{
	float: left;
    position: relative;
	width: 218px;
	top: 29%;
}



.studentWithdrawBtn {
	float: right;
	right: 30px;
	top: 6px;
    position: relative;
	width: 80px;
}
.classpageClasscode {
	width: 910px;
	margin: 0 auto;
	background-color: #ffffff;
	padding-left: 30px;
	height: 55px;
	border: 1px solid rgba(153,153,153,0.5);
	border-top: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
}
.studentWithdrawStyle{
	padding: 9px 12px !important;
	border: 1px solid #ccc !important;
	margin-top:4px;
}
.classMemberStyle{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	float:left;
	margin-left: 10px;
margin-top: 2px;
}
.userimageStyle{
	float:left;
}
.usernameDivContianer{
	width: 47%;
float: left;
margin-left:-33px;

}
.radioButtonImg{
    display: inline-block;
    border-radius: 30px;
    -moz-border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: 3px solid #8bd;
    background: url(images/collaborators/profile.png) no-repeat;
    margin-left: 10px;
    margin-top:4px;
}
.usernameCss{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    color: #515151;
    padding-left: 8px;
    margin-top: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.usernameCssName{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    color: #515151;
    padding-left: 8px;
    margin-top: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.assignmentDotsContainer{
	margin-bottom: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 5px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
.assignementOrderHeader{
	margin: 0 auto;
	margin-top:5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.lineSeaparation{
	float: left;
	height: 29px;
	margin-left: 8px;
	font-size: 16px;
	font-weight: normal;
	margin-top: -5px;
	border-right: 2px solid #efefef;
	margin-bottom: 5px;
}
