@charset "utf-8";
/* CSS Document */

.playerflagpopupwrapper
{
	width:418px;
	float: left;
	margin:0 auto;
	background-color:#FFF;
}
.playerflagpopupinnerwrapper
{
	width:410px;
	float:left;
	background-color:#FFF;
	border:1px solid #DDDDDD;
	margin:3px;
}
.playerflagpopupheader
{
	float:left;
	width:100%;
	height:38px;
	background-color: #515151;
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}
.playerflagpopupheaderCloseBtn
{
	float:right;
	background:url(images/flag-header-close-btn.png);
	width:15px;
	height:15px;
	margin:10px 10px 0px 0px;
}
.playerflagpopupheaderCloseBtn:hover
{
	opacity:.5;
	cursor:pointer;
}
.playerflagpopupheadertitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;
	padding: 10px 5px 5px 15px;
	float: left;
}
.playerflagcontentcontainer
{
	margin: 13px 0 13px 17px;
	float:left;
	width:382px;
	/*height:291px;*/
}
.playerflagcontenttext
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	width: 280px;
}
.playerflagcontent
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 3px;
	width: 345px;
	
}
.playerflagradiobutton, radio
{
	clear: both;
	margin-left: 5px;
}
input[type="checkbox"] {
	float:left;
	
}
.playerflagtextarea
{
	width: 358px;
	height: 81px;
	max-width: 358px;
	max-height: 81px;
	color: #515151;
	margin: 7px;
	border-color: #ddd;
	font-family:Arial, Helvetica, sans-serif;
}
.playerflagbuttoncontainer
{
	width:130px;
	margin: 5px auto;
}
.playerflagbuttoncancel
{
	float:left;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-right:10px;
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	text-decoration:none;
}
.playerflagbuttoncancel:hover
{
	background: #e5e5e5;
	cursor: pointer;
}

.playerflagbuttonsubmit
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	text-decoration:none;
	cursor: pointer;
}
.playerflagbuttonsubmit:hover
{
	background: #1076BB;
	color: #FFFFFF !important;
}
.playerflagbuttoncancelGray
{
	float:left;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	text-decoration:none;
	cursor: dedfault;
}

#select
{
	width:302px;
	height:30px;
	float: left;
	border:1px solid #DDDDDD;
	margin-top: 8px;
	padding: 0px 0px 0px 6px;

}
.downarrow
{
	width:302px;
	height:30px;
	float:left;
	cursor:pointer;
	border:1px solid #DDDDDD;
	margin-top: 8px;
	padding: 0px 0px 0px 6px;
	background-color: #fff !important;
	color: #515151;
}
.leftalign
{
	float:left;
}
.flagresourcesinnerwrapper
{
	width:569px !important;
	height:439px !important;
	float:left!important;
	margin:3px !important;
	border: 1px solid #DDD;
	background-color: #fff;
}
.flagresourceleftpart
{
	float:left;
	width:169px;
	height:398px;
	border-right:1px solid #DDDDDD;
}
.flagresourcenmenutext
{
	padding:8px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#515151;
}
/*open ended question css*/
.endedquestionheader {
width: 100%;
background-color: #515151;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
height: 39px;
}

.endedquestionheaderflagtext {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
float: left;
padding: 11px 0px 0px 11px;
color: #FFF;
}

.flagresourceleftpart {
float: left;
width: 169px;
height: 398px;
border-right: 1px solid #DDDDDD;
background-color: #ddd;
}

.flagbuttonDeSelected {
background: rgb(253,253,253);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 );
width: 100%;
height: 36px;
border-bottom: 1px solid #DDD;
cursor: pointer;
}

.flagbuttonDeSelected:hover {
background: rgb(253,253,253);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 );
width: 100%;
height: 36px;
border-bottom: 1px solid #DDD;
cursor: pointer;
opacity:0.6;
}
.flagresourcenmenutext {
padding: 8px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #515151;
}

.flagButtonselected {
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 6%, rgba(240,240,240,1) 90%, rgba(221,221,221,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(6%,rgba(226,226,226,1)), color-stop(90%,rgba(240,240,240,1)), color-stop(100%,rgba(221,221,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
width: 99%;
height: 36px;
border: 1px solid #DDD;
cursor: pointer;
}
.flagButtonselected:hover{
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 6%, rgba(240,240,240,1) 90%, rgba(221,221,221,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(6%,rgba(226,226,226,1)), color-stop(90%,rgba(240,240,240,1)), color-stop(100%,rgba(221,221,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
width: 99%;
height: 36px;
border: 1px solid #DDD;
cursor: pointer;
opacity: 0.6;
}

.endedquestionrightpart {
float: right;
width: 376px;
/*height: 397px;*/
}

.playerflagcollectionresourcescontentcontainer {
margin: 36px 0px 0px -6px;
float: left;
width: 382px;
height: 291px;
}

.playerflagcontenttext {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
width: 360px;
word-wrap: break-word;
}



/*add new resource into flag styles*/
.endedquestionwrapper {
width: 575px !important;
height: 439px !important;
margin: 0 auto;
}

.endedquestionheader {
width: 100%;
background-color: #515151;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
height: 39px;
}

.endedquestionheaderflagtext {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
float: left;
padding: 11px 0px 0px 11px;
color: #FFF;
}

.flagresourceleftpart {
float: left;
width: 169px;
height: 398px;
border-right: 1px solid #DDDDDD;
}

.endedquestionmenu {
background: rgb(253,253,253);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 );
width: 100%;
height: 36px;
border-bottom: 1px solid #DDD;
cursor: pointer;
}

.flagresourcenmenutext {
padding: 8px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #515151;
}

.endedquestionmenuselected {
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 6%, rgba(240,240,240,1) 90%, rgba(221,221,221,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(6%,rgba(226,226,226,1)), color-stop(90%,rgba(240,240,240,1)), color-stop(100%,rgba(221,221,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
width: 99%;
height: 36px;
border: 1px solid #DDD;
cursor: pointer;
}

.endedquestionrightpart {
float: right;
width: 376px;
/*height: 397px;*/
}

.playerflagcollectionresourcescontentcontainer {
margin: 36px 0px 0px -6px;
float: left;
width: 382px;
/*height: 291px;*/
}

.playerflagcontenttext {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
}
/*Thank you popup*/
.thankyoupopupwrapper
{
	width:418px !important;
	height:162px !important;
	margin:0 auto;
	background-color:#FFF;
}
.thankyoupopupinnerwrapper
{
	width:410px !important;
	height:156px !important;
	float:left;
	background-color:#FFF;
	border:1px solid #DDDDDD;
	margin:3px;
}
.thankyoubuttoncontainer
{
	width:37px;
	margin:0 auto;
	height:32px;
}
.playerflagcontentthankyou
{
	clear: both;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
}
.thankyouflagbuttonsubmit
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	background: #1076BB;
	border-radius: 4px;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	text-decoration:none;
	margin-top: 20px;
}
.glassStyle{
	background-color:#000;
	opacity:0.3;
	z-index:100000;
}
.playerflagbuttonOk
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	text-decoration:none;
	width:37px;
	margin:0 auto;
	height:32px;
	cursor: pointer;
	margin-top: 18px;
	margin-left: 173px;
	
}
.playerflagbuttonOk:hover
{
background: #1076BB;
color: #FFFFFF !important;	
}
.ckeckBoxPlyerStyle
{
width: 17px;
height: 17px;
float: left;
margin-top: 10px;
}
.playerflagcontentTitle
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 7px;
	width: 345px;
}
.label{
	position:relative;
	top:4px;
}