
.classpageTextarea {
	font-family: Arial, Helvetica, sans-serif;
	width: 700px;
	outline: 0;
	height: 65px;
	margin-top: 5px;
	border: 1px solid rgb(221,221,221);
	background-color: rgb(255,255,255);
	resize:none;
	float:none !important;
}
.dateText{
	display: inline-block;
	vertical-align: top;
}
.systemMessage{
	color: #999;
	font-style: italic;
	width: 100%;
	text-align: left;
}
.dueDataIcon{
	display: inline-block;
	background: url(images/Classpage/calendar.png) no-repeat;
	padding-left: 21px;
	height: 18px;
}
.openStateCollectionHeader{
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	/* padding: 15px; */
	height:45px;
	position: relative;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EDEDED');
}
.completeStateCollectionHeader{
	background: rgba(78, 151, 70, 0.5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(78, 151, 70, 0.5)), to(rgba(78, 151, 70, 0.5)));
	background: -webkit-linear-gradient(top, rgba(78, 151, 70, 0.5), rgba(78, 151, 70, 0.5));
	background: -moz-linear-gradient(top, rgba(78, 151, 70, 0.5), rgba(78, 151, 70, 0.5));
	background: -ms-linear-gradient(top, rgba(78, 151, 70, 0.5), rgba(78, 151, 70, 0.5));
	background: -o-linear-gradient(top, rgba(78, 151, 70, 0.5), rgba(78, 151, 70, 0.5));
	/* padding: 15px; */
	height:45px;
	position: relative;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#4e9746');
}

.completedStatus{
	background: #A3CBA0;	
}
.minimumScoreTextbox{
	border: 1px #E3E3E3 solid !important;
	background-color: #FFF !important;
	font-size: 14px !important;
	width: 50px;
	font-weight: bold;
	padding: 5px 4px;
	color: #0078c0 !important;
}

.enableLabelText{
	color:#333;	
}
.disableLabelText{
	color: #eee;
}
.requiredBuble input, .optionalBuble input{
	opacity:0 !important;
	position: absolute;
}
.requiredBuble, .optionalBuble{
	height: 34px;
	display: inline-block;
	margin-top: -13px;
}
.requiredBuble label{
	width: 34px;
	height: 34px;
	background: #b9bbca;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	vertical-align: middle;
	display: inline-block;
	margin: 3px 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
}

.optionalBuble label{
	width: 34px;
	height: 34px;
	background: #b9bbca;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	vertical-align: middle;
	display: inline-block;
	margin: 3px 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
	background: #b9bbca url(../images/liners.png) no-repeat;
}
.assignmentCompleted label{
	background: #b9bbca url("../images/checkMarkWhite.png") 7px 9px no-repeat !important;
}
.assignmentCompletedWithOptional label{
	background: #b9bbca url("../images/liners.png") 7px 9px no-repeat !important;
}