.unitDetails .containerTeacher{
	background:#ffffff;
	border-top:1px solid #CCCCCC;
}

.unitDetails .containerTeacher .leftPanel{
	border-right:1px solid #EFEFEF;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:0;
	padding-right:0;
    width: 13.6667% !important;
}
.unitDetails .containerTeacher .leftPanel hr{
	margin:-1px auto -1px;
	width:70%;
	z-index:9;
	position:relative;
}
.unitDetails .containerTeacher .rightPanel{
	padding-top:30px;
	padding-bottom:30px;
    width: 86.3333% !important;
}

.uniSetup a{
	padding:20px 15px;
	display:block;
	font-size:12px;
	line-height:25px;
}
.uniSetup a:hover{
	text-decoration:none;
}
.uniSetup a img{
	vertical-align:middle;
	padding-right:12px;
}
.unitMenu li{
	z-index:99;
	position:relative;
}
.unitMenu li a{
	color:#666666;
	font-size:12px;
	padding:30px 15px;
	display:block;
	border-left:5px solid #ffffff;
}
.unitMenu li a span.number{
	color:#0073BC;
	font-weight:bold;
	padding-right:12px;
	font-size:14px;
	display:inline-block;
	vertical-align:middle;
		
}
.unitMenu li a span.name{
	display:inline-block;
	vertical-align:middle;
}
.unitMenu li a:hover{

}
.unitMenu li.active a{
	color:#666666;
	font-size:12px;
	background:#EFEFEF;
	border-left:5px solid #75AED7;
}

.unitHeading{
	font-size:16px;
	font-weight:600;
	color:#515151;
}

.uniRequired{
	font-size:10px;
	line-height:22px;
}
.uniRequired .bubble{
	width:20px;
	height:20px;
	background:#B9BBCA;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
}
.uniRequired .bubbleStyle{
	width:20px;
	height:20px;
	background:#B9BBCA url(../images/bubble-pattren1.png) repeat;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
}

.generalSet{
	margin:15px 0;
}

.generalSet .bubbleBig{
	width:34px;
	height:34px;
	background:#B9BBCA;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
	margin:3px 3px;
	text-align:center;
	line-height:34px;
	color:#ffffff;
	font-weight:bold;
	border:2px solid #ffffff;
}
.generalSet .bubbleOuter{
	width:40px;
	height:40px;
	background:#ffffff;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	vertical-align:middle;
	display:inline-block;
	margin:0 13px;
}
.generalSet .bubbleOuter:hover{
	background:#87BADD;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	opacity:1;
}

.generalSet .active{
	background:#87BADD;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
}

 .bubbleMain{
	display:inline;
}

.generalSet .leftArrow, .generalSet .rightArrow{
	display:inline;
}
		
.generalSet .genHead{
	display:inline;
	margin-right:15px;
}
.rowInner{
	padding-left:15px;
	padding-right:15px;
}
.personalBtn p{
	background:url(../images/blueLine.png) no-repeat center center;
	margin:5px 0;
}
.assignMain{
	border:5px solid #EEEEEE;
	padding:15px 15px;
}

.assignHeaderMain{
	margin-top:15px;
}

.assignHeader{
	padding:10px 20px;
	background:#EEEEEE;
	float:left;
	font-size:16px;
	font-weight:bold;
}

.onoffbtns{
	float:left;
	margin-left:15px;
}

.onoffbtns .text-muted{
	color:#EEEEEE;
}
.assignButtons{
	float:right;
}

.switchContainer {
 	 position: relative;
	display: inline-block;
	vertical-align: top;
	width: 59px;
	height: 28px;
	padding: 3px;
	vertical-align: middle;
	background-color: white;
	border-radius: 18px;
	cursor: pointer;
}



.dueDate {
    float: right;
    padding: 10px 0 0;
}

.assignDetailsHeader{
	font-size:14px;
	font-weight:bold;
	padding-top:6px;
	padding-bottom:6px;
}

.assignDetailsHeader span{
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	color:#cccccc;
}
.borderBox{
	border:1px solid #EEEEEE;
	padding:15px 15px;
	margin:15px 0;
}
.direction {
	font-weight:bold;
	font-family: arial;
	font-size:12px;
	margin-right:5px;
	display: inline-block;
}
.directionText {
	font-family: arial;
	font-size:12px;
	line-height: 1.2em;
	color: #333333;
}
.scoreText{
	display: inline-block;
	font-weight: bold;
	color: #0078C0 !important;
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}
.direction .form-control{
	width:91%;
	display:inline-block;
	font-weight:normal;
	color:#515151 !important;
	opacity:1;
	border-radius:0 0;
	box-shadow:none;
	margin-left:5px;
	font-size:12px;
}
.score{
	margin-top: 10px;
}
.score .leftScore{
	padding-left:0 !important;
}
.score .leftScore .form-control{
	width:auto;
	color:#0078C0 !important;
	font-size:14px;
	font-weight:bold;
	
}
.score .rightScore{
	text-align:right;
	font-weight:normal;
	width: 48%;
}
.score .rightScore .form-control{
	width:18%;
	text-align:center;
	color:#0078C0 !important;
	font-size:14px;
	font-weight:bold;
	
}
.assaindetailsMain{
	margin-top:20px;
}

.collections .col-xs-2{
	padding-left:0 !important;
	padding-right:0 !important;
}
.collections .col-xs-2{
	width:17.667%;
}
.collections .col-xs-9{
	width:82%;
		padding-right:0 !important;
}
.collections .col-xs-9 h3{
	margin:0 0 10px 0;
	font-size:16px;
	font-weight:bold;
	color:#1076BA;
}
.collections .collectionsNum{
	text-align:right;
}

.collections .collectionsNum .number{
	padding:5px 5px;
	background:#666666;
	color:#ffffff;
	border-radius:3px 3px;
	display:inline;
}

.collections .collectionsNum .plusNum{
	display:inline;
	color:#0078C0;
	font-weight:bold;
}


.analytics{
	background:#eeeeee;
	padding:15px 15px;
}



.analytics .anaBoxes{
	margin-top:20px;
}

.analytics .anaBoxes .boxbg{
	background:#ffffff;
	min-height:150px;
	width:100%;
	margin-right:15px;
	padding:10px 10px;
	box-sizing: border-box;
	text-align: center;
}

.inputnoBorder{
	border:none !important;
}
.dueDateText{
	display: inline-block;
	background: url(images/Classpage/calendar.png) no-repeat;
	padding-left: 21px;
	height: 18px;
	vertical-align: bottom;
	/* margin-top: 6px;
	vertical-align: top;
	display: inline-block; */
}
.dueDateIcon{
	background: url("images/date-ico.png") no-repeat;
	width: 30px;
	height: 21px;
	display: inline-block;
	vertical-align: top;
}
.dueDateIcon:hover{
	opacity:0.6;
	cursor: pointer;
}
.directionContainer{
	width:100%;
}
.classpageContentPanel {
	padding-top: 10px;
	padding-right: 10px;
}
.classpageResourceThumbnail {
	float: left;
	margin: 0 10px 10px 0;
}
.classpageResourceImage{
	height:90px;
	width:120px;
	border-left: 6px solid #1076BB;
	position:relative;
}
.resourceHeaderTextPanel {
	width: 80%;
	display: inline-block;
}
.resourceTitle {
	color: #1076BB;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 5px;
}
.classpageHeading {
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(81,81,81);
}
.classpageDesc {
	color: rgb(81,81,81);
}
.classpageHeader{
	position: relative;
}
.headerLeft{
	display: inline-block;
	vertical-align: top;
	margin-top: -6px;
	margin-left: 10px;
}
.dueDataIcon{
	display: inline-block;
	vertical-align: top;
	background: url(images/Classpage/calendar.png) no-repeat;
	padding-left: 21px;
	height: 18px;
}
.headerText{
	
}
.headerDatePicker{
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 2px;
}
.headerDatePicker > div{
	width:200px !important;
}
.headerDatePicker > div > input{
	width:164px !important;
}

.cancelButton{
	margin-left: 5px;
}
.savingText{
	margin-top: 8px;
font-style: italic;
color: #999;
display:inline-block;
}
 .classBubble{
	background: #a7c9a4 url(../images/checkMark.png) no-repeat center !important;
border-radius: 50%;
color: #fff;
display: inline-block;
font-size: 14px;
font-weight: bold;
height: 30px;
left: 27%;
line-height: 30px;
text-align: center;
top: 27px;
vertical-align: middle;
width: 30px;
}
.requiredBuble input, .optionalBuble input{
	opacity:0 !important;
}
.requiredBuble label{
	width: 34px;
	height: 34px;
	background: #b9bbca;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	vertical-align: middle;
	display: inline-block;
	margin: 3px 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
}

.optionalBuble label{
	width: 34px;
	height: 34px;
	background: #b9bbca;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	vertical-align: middle;
	display: inline-block;
	margin: 3px 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
}

.standardtext{
	float: right;
	/* margin-top: -15px; */
}

.errorstyle{
	font-style: italic;
	color: #fbb03b;
}
.hourlabel{
	margin-right:5px;
	margin-left:5px;
}
.analyticsDetailsHeader{
	font-size:14px;
	font-weight:bold;
	padding-top:6px;
	padding-bottom:6px;
	display:none;
}
.analyticstext{
	text-align: center;
font-size: 14px;
}
.analyticsData{
	text-align: center;
	padding-top: 40px;
	font-size: 14px;
}
