.classpageContainer {
	float:right;
	width: 960px;
	margin-bottom:20px;
	background-color: rgb(255,255,255);
	border-color: rgb(234,234,234);
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-style: solid;
	-moz-box-shadow: 0px 0px 10px rgba(204,204,204,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(204,204,204,0.3);
	box-shadow: 0px 0px 10px rgba(204,204,204,0.3);
}
.classpageHeader {
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	/* padding: 15px; */
	height:45px;
	position: relative;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EDEDED');
}
.headerLeft {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 10px;
}
.headerText {
	display: inline-block;
	vertical-align: top;
	padding-left: 21px;
	height: 18px;
}
.headerDueDate{
	display: inline-block;
	vertical-align: top;
}
.headerDatePicker{
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
	margin-left: 5px;
}
.headerImg {
	padding-right: 10px;
	vertical-align: top;
}
.headerRight {
	float: right;
	display: inline-block;
	vertical-align: top;
	margin-top: 6px;
	margin-right: 10px;
}
.editButton {
	color: #FFF;
	padding: 8px 65px 8px 10px;
	background: #1076BB url(../images/g.png) 55px -9px no-repeat;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4C98CC), to(#1076BB));
	background: url(../images/g.png) 55px -9px no-repeat, -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: url(../images/g.png) 55px -9px no-repeat, -ms-linear-gradient(top, #4c98cc, #1076bb);
	background: url(../images/g.png) 55px -9px no-repeat, -o-linear-gradient(top, #4c98cc, #1076bb);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #1076BB;
	margin-left: 5px;
	cursor: pointer;
}
.editButton:hover {
	color: #FFF;
	background: #1076BB;
	background: #1076BB url(../images/g.png) 55px -9px no-repeat;
	cursor: pointer;
}
.viewAnaytics {
padding: 7px 43px 7px 10px;
	color: #1076BB;
	background: #DDD url("../images/folders/panel/dropdown-button-secondary.png") right center no-repeat;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD),
		to(#DDD));
	background: url("../images/folders/panel/dropdown-button-secondary.png") right center no-repeat,
		-webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: url("./_images/dropdown-button-secondary.png") right center no-repeat,
		-ms-linear-gradient(top, #FDFDFD, #DDD);
	background: url("../images/folders/panel/dropdown-button-secondary.png") right center no-repeat,
		-o-linear-gradient(top, #FDFDFD, #DDD);
	border-radius: 4px;
	border: 1px solid #DDD;
	cursor: pointer;
}
.viewAnaytics:hover {
	background: #DDD url("../images/folders/panel/dropdown-button-secondary.png") right center no-repeat;
}
.classpageContent {
	padding: 15px;
	float: left;
	width: 96%;
}
.classpageHeading {
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(81,81,81);
}
.classpageDesc {
	color: rgb(81,81,81);
}
.classpageBorder {
	border-top: 1px solid rgb(234,234,234);
	margin-top: 22px;
}
.classpageContentPanel {
	padding-top: 10px;
	padding-right: 10px;
}
.classpageResourceThumbnail {
	float: left;
	margin: 0 10px 10px 0;
}
.classpageResourceImage{
	height:90px;
	width:120px;
	border-left: 6px solid #1076BB;
	position:relative;
}
.resourceHeaderTextPanel {
	width: 82%;
	display: inline-block;
}
.resourceTitle {
	color: #1076BB;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 5px;
}
.classpageDropdown {
	border: 1px solid #DDD;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	padding-top: 0px;
	position: absolute;
	right: 10px;
	top: 39px;
	z-index: 99;
}
.classpadeDropdownLi {
	font-size: 12px;
	color: #515151;
	cursor: pointer;
	padding: 4px 10px;
}
.classpadeDropdownLi:hover,a.classpadeDropdownAnchor:hover {
	cursor: pointer !important;
	background-color: #CFE3F1 !important;
	opacity: 1;
}
a.classpadeDropdownAnchor{
	font-size: 12px;
	color: #515151;
	cursor: pointer;
	padding: 4px 10px;
	padding-right:35px;
}
.AnalyticsDropdown {
	border: 1px solid #DDD;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #FFF;
	padding-top: 0px;
	position: absolute;
	right: 115px;
	top: 39px;
	z-index: 99;
	width: 200px;
}
.AnalyticsDropdownLi {
	font-size: 12px;
	color: #515151;
	cursor: pointer;
	padding: 4px 10px;
}
.AnalyticsDropdownLi:hover,a.AnalyticsDropdownAnchor:hover {
	cursor: pointer !important;
	background-color: #CFE3F1 !important;
	opacity: 1;
}
a.AnalyticsDropdownAnchor{
	font-size: 12px;
	color: #515151;
	cursor: pointer;
	padding: 4px 10px;
	padding-right:35px;
}
.inputControl {
	background-color: rgb(255,255,255);
	width: 200px;
	outline: 0;
	margin-left: 5px;
	border: 1px solid rgb(221,221,221);
}
.inputCalendar {
	position: relative;
	top: 6px;
	left: -38px;
}
.classpageAlign {
	display: inline-block;
	vertical-align: top;
}
.classpageTextarea {
	font-family: Arial, Helvetica, sans-serif;
	width: 785px;
	outline: 0;
	height: 65px;
	line-height: 180%;
	margin-top: 5px;
	border: 1px solid rgb(221,221,221);
	background-color: rgb(255,255,255);
	resize:none;
}
.cancelButton{
	margin-left:10px;
}
.savingText{
	margin-top:8px;
	font-style: italic;;
	color:#999;
}
.assignmentIndex{
	float: left;
	font-size: 20px;
	color: #515151;
	margin-top: 10px;
	width: 22px;
}
.assignmentContainerHt{
	min-height:260px;
}

.circle{
	width: 30px;
	height: 30px;
	cursor: pointer;
	/* margin: -8px 2px 0px 2px; */
	background: #B9BBCA;
	border-radius: 20px;
	/* display: inline-block; */
	float: left;
	position: relative;
	display: inline-block;
	float: left;
	vertical-align: top;
	margin-top: 11px;
}


.assignmentNumbers{
	text-align: center;
	font-size: 18px;
	color: white;
	margin: 5px auto;
	font-weight: bold;
	
}
.completedStatus{
	background: #A3CBA0;
}
.directionsCharLimit{
	display: inline;
	float: right;
	margin-right: 165px;
	color: #999;
}
