.collectionImageContainer {
    width: 230px;
	height: 160px;
	float: left;
	margin-right: 15px;
}
.collectionImage {
	width:220px;
    height:160px;
    border-left:10px solid #1076bb;
    float:left;
}
.assessmentImage {
	width:220px;
    height:160px;
    border-left:10px solid #feae29;
    float:left;
}
.collectionreplay {
	width: 170px;
	height: 36px;
	box-sizing: border-box;
	text-indent: -171px;
	position: relative;
	background: url('images/replay.png') center 30px no-repeat, rgba(0, 0, 0, .6);
	transition: background-color 0.5s ease;
	color: white;
	text-align: center;
	padding-top: 85px;
	cursor: pointer;
}
.collectionreplayText {
	margin-top:85px;
}
.collectionreplay:hover{
	background: url('images/replay.png') center 30px no-repeat, rgba(0, 0, 0, .8);
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.infoSection {
    margin-top:30px;
}
.endTitle{
	font-weight: normal;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, sans-serif !important;
	color:#515151;
}

 .resources {
    width:580px;
    height:60px;
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    vertical-align:middle;
}

.collectionbuttons hr {
margin: 10px 0px;
border: 0px;
height: 1px;
background-color: #DDD;
}
.collectionbuttons button{
	margin-right:5px;
	margin-top:12px;
}
.goal{
	color:#515151;
	font-size:12px;
	margin-bottom: 15px;
	font-family: Arial, sans-serif !important;
}
.infoSection h3{
	margin-bottom:12px;
	color:#515151;
}

.preview {
	width: 150px;
    font-size:24px;
    font-weight:bold;
    float: right;
    color:#FFF;
    border-radius: 4px;
    /* padding:10px 48px 10px 0px; */
    padding: 13px 70px 14px 15px;
    margin-top: -10px !important;
    /* Old browsers */
	background: #1076BB ;
	background: url("images/preview-arrow.png") 125px center no-repeat, #1076BB;
	background: url("images/preview-arrow.png") 125px center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: url("images/preview-arrow.png") 125px center no-repeat, -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/preview-arrow.png") 125px center no-repeat, -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/preview-arrow.png") 125px center no-repeat, -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/preview-arrow.png") 125px center no-repeat, -o-linear-gradient(top, #4C98CC, #1076BB);

}

.preview:hover {
    background: url("images/preview-arrow.png") 125px center no-repeat, #1076BB;
    cursor: pointer;
}
.block{
	padding: 30px 0;
}