@charset "utf-8";
/* CSS Document */
/*real style*/

.openEndedQuestionTotalContainer {
	width: 100%;
	height: auto;
	/* float: left;
	background-color: #FFFFFF;
	border-top: 1px solid #ddd; */
	overflow-y: scroll;
	padding: 25px 25px;
}
.openEndedQuestionContainer {
	float: left;
	width: 440px;
	min-height: 467px;
	height: auto;
	margin-right: 50px;
	margin-left: 40px;
	margin-top: 40px;
}
.openendedQuestionTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #1076bb;
	width: 100%;
}
.openEndedQuestionFull {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #515151;
	width: 100%;
	margin-top: 20px;
	line-height: 18px;
}
.openEndedQuestionImageContainer {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.openEndedQuestionImage{
	max-width:440px;
	max-height:331px;
}
.hintsActiveButton {
	color: #1076BB;
	border-radius: 4px;
	padding: 7px 9px;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #FDFDFD, #DDD);
	background: -ms-linear-gradient(top, #FDFDFD, #DDD);
	background: -o-linear-gradient(top, #FDFDFD, #DDD);
	border: 1px solid #DDD;
	float:left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hintsActiveButton:hover{
	cursor: pointer;
	background: #EEE;
}
.hintsInActiveButton{
	color: #999999;
	border-radius: 4px;
	padding: 7px 9px;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #FDFDFD, #DDD);
	background: -ms-linear-gradient(top, #FDFDFD, #DDD);
	background: -o-linear-gradient(top, #FDFDFD, #DDD);
	border: 1px solid #DDD;
	/* float:left; */
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hintsHoldingContainer {
	float: left;
	width: 100%;
	min-height: 20px;
	height: auto;
}
.explanationText {
	float: left;
	width: 100%;
	min-height: 20px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/* color: #525252; */
	color: #5C8B57;
	padding-top: 10px;
}
.explanationTextBorder{
	border-top: 1px solid #CCCCCC;
}
.openEndedQuestionAnswerContainer {
	float: left;
	width: 375px;
	min-height: 166px;
	height: auto;
	margin-top: 40px;
}
.openEndedQuestionAnswerTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #5c8b57;
	width:100%;
/* 	margin-bottom: 20px; */
}
.openEndedQuestionAnswer {
	float: left;
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	height: 221px;
	max-height: 221px;
	padding: 0px;
	outline:0px;
	resize:none;
	border-color: #ccc;
}
.openEndedQuestionSubmitButton {
	margin-top: 20px;
	float: left;
	background: #1076BB;
	font-family: Arial, Helvetica, sans-serif;
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	font-size: 12px;
	padding:7px 9px;
}
.openEndedQuestionSubmitButton:hover{
	background: #1076BB;
	cursor:pointer;
}

.openEndedQuestionAnswerHolder {
	width: 93%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #525252;
	margin-top: 20px;
	float: left;
}
.hintsText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #525252;
	margin-bottom:10px;
}
.openEndedQuestionAnswerText{
	margin-top: 20px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #525252;
}
.errorMessageStyle{
	font-style: italic;
	color: #FBB03B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	margin-top: 10px;
}
.resourcesQuizzessAnswersOptionsContainer{
	float: left;
	width: 100%;
	min-height: 30px;
	height: auto;
}

.questionAnswerIsCorrectPanel {
	width: 30px;
	height: 30px;
	float: left;
}
.quizAnswerChoiceOption{
	width: 30px;
	height: 30px;
	float: left;
	margin-left: -30px;
}
.quizRadioButtonContainer{
	float: left;
	width: 15px;
	height: 16px;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 1px;
}
.answerOptionContent{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	line-height: 18px;
	width:85%;
	word-wrap: break-word;
}
.answerOptionSerialNum{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	line-height: 18px;
	margin:0px 3px 0px 3px;
	word-wrap: break-word;
}
.hideButton{
	display:none;
}
.adjustCheckAnswerButton{
	margin-top:20%;
}
.systemMessageStyle{
	margin-bottom: 20px;
	width: 100%;
	font-size: 12px;
	font-style: italic;
	color: #999;
	float:left;
}

.charLimit{
	font-size: 12px;
	color: #999;
	float: right;
	margin-right:5px;
}
.addjustSubmitButton{
	margin-top:15%;
	margin-left:43%;
}
.answerTextBox{
	width: 100px;
	outline: 0;
	padding: 2px;
	display:inline;
	border: 1px #E3E3E3 solid;
	background-color: white;
	font-size: 12px;
	color: #515151;
}
.answerCorrectTextBox{
	border: #4E9646 2px solid !important;
	background-color: #D5E6D2 !important;
}

.answerWrongTextBox{
	border: #FBB03B 2px solid !important;
	background-color: #FEE8C7 !important;
}

.answerTextContainer{
	float: left;
	color: #515151;
	display:inline;
}


/* result panel style*/

.resultPanel{
	background-color: #EFEFEF;
	width: 300px;
	padding: 20px;
	float: left;
	margin-top: 20px;
}
.resultPanelConatiner{
	float:left;
	margin-bottom: 10px;
}

.resultPanelText{
	display: inline;
	margin-bottom: 10px;
	color: #515151;
	font-size: 12px;
}

.resultPanelAnswerImage{
	display: inline-block;
	float: none;
	margin-left: 5px;
	vertical-align: top;
	margin-right: 5px;
	margin-top: -3px;
}
.resultPanelAnswerImageFIB{
	display: inline-block;
	float: none;
	margin-left: 5px;
	margin-right: 5px;
	
}
.yesnotextContainer{
	margin-bottom: 10px;
	width: 100%;
	font-size: 12px;
	font-style: italic;
	color:#515151;
}
.yesText{
	color:#515151;
}
.noText{
	color:#515151;
	font-wight:bold;
}
.questionButtons{
	display: block;
	width: 100%;
	float: left;
}
.questionSubmitButton{
	width: 100%;
text-align: center;
display: inline-block;
}