* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/profilepage/gray_noise_25.png");
	font-family: Arial, sans-serif;
	color:#515151;
	font-size:12px;
}

a {
	text-decoration:none;
	color:#1076BB;
}

a:hover {
	color:#87BADD;
}

.infoSectionAuthor:nth-of-type(2n+2)
{
	margin-right:0px;
}
a:hover {
	color: #87BADD;
}
.profileConainer {
	width: 1000px;
	margin: 0 auto;
}
.profilepageFollwoingContent {
	width: 1045px;
	min-height: 130px;
	
}
.profilepageFollwoingContentlabel {
	float: left;
}
.profilepageTagContentMainDiv {
	Width: 90%;
	float: left;
}
.profilepageTagContentMainDivconent {
	float: left;
	width: 65%;
	color: green;
}
.profilepageTagContentMainDivconentcount {
	float: left;
	width: 25%;
	color: green;
}
.infoSectionAuthor {
	display: inline-block;
	vertical-align: top;
	width: 470px;
	height: 127px;
	margin-right: 50px;
	margin-bottom: 30px;
	background: #fff;
	padding: 20px 40px;
	border: 1px solid #DDD;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	webkit-box-shadow: 0px 0px 7px rgba(153,153,153,0.1);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 0px 7px rgba(153,153,153,0.1);
}

.userImageContainer {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #87BADD;
}
.userImage {
	width: 80px;
	height: 80px;
	border-radius: 70px;
	
}
.teacherTipOuterContainer {
	width: 200px;
	word-wrap: break-word;
	padding: 5px;
	overflow: hidden;
}
.username {
	display: block;
	vertical-align: middle;
	color: #1076bb;
	font-weight: bold;
	font-size: 18px;
}
.profilepageFollwoingContentText {
	font-weight: bold;
	padding: 10px 0px;
	font-size: 16px;
}
.hr {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
.profileFollowingUserNameDetails {
	display: inline-block;
	vertical-align: top;
}
.userDetails {
	font-size: 12px;
}
.bold {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0px;
	color: #515151;
}
.clear {
	clear: both;
}