@external .collectionSummaryDetailsWrapper,.left_container,.collection_teacher_img,.collection_details_teacher,.question_resource_details,.resource_in_collection_teacher_summary,.collectionLastAccessed,.question_resource_details;
.maincontainer {
	background-color: white;
	text-align: center;
}
.summary_title {
	float: left;
	text-align: center;
	/* width: 75%; */
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #515151;
	margin-top: 3%;
	/* margin-left: 14%; */
}

.htmlpanlProgress {
	overflow: hidden;
	width: 100%;
	margin: 2%;
	clear:both;
	/* border-right: 1px solid #eee;
	border-left: 1px solid #eee; */
}
.pnlSummary{
	width:98%;
}

.filterDropDown {
	border: 1px solid #ddd;
	cursor: pointer;
	background-color: white;
	color: rgb(81, 81, 81);
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	text-indent: 0.01px;
	text-overflow: '';
	margin-top: 20px;
}
.filterDropDownSessions {
	border: 1px solid #ddd;
	cursor: pointer;
	background-color: white;
	color: rgb(81, 81, 81);
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	text-indent: 0.01px;
	text-overflow: '';
}

.collectionSummaryDetailsWrapper {
	float: left;
	/* width: 91%; */
	width: 100%;
	border-top: 1px solid #DDDDDD;
	padding: 15px 0px;
	border-bottom: 1px solid #DDDDDD;
	color: #515151;
	font-size: 13px;
	margin-top: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(221, 221, 221);
}

.left_container {
	width: 100%;
	float: left;
}

.collection_teacher_img {
	float: left;
	width: 7%;
}

.collection_details_teacher {
	width: 65%;
	float: left;
	margin-left: 12px;
	text-align: left;
}

.question_resource_details {
	line-height: 30px;
	display: inline-block;
}

.resource_in_collection_teacher_summary {
	width: 25%;
	float: left;
}

.collectionLastAccessed {
	font-weight: bold;
}

.gooru_session_data_content {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	clear: both;
	color: #515151;
	float: left;
	font-size: 14px;
	width: 100%;
}

.left_session {
	height: 40px;
	line-height: 40px;
	float: left;
}

.collection_last_accessed {
	margin-top: 0px;
	width: 100%;
	/* border-top: 1px solid #DDD; */
	padding-top: 0px;
	float: left;
	clear: both;
	font-size: 13px;
	padding-left: 10px;
}

.right_session {
	float: right;
	width: 25%;
	display: block;
}

.d_filter_session_text {
	clear: both;
	float: left;
	height: 40px;
	line-height: 40px;
	/* width: 40%; */
	width: 39%;
}

.session_data {
	float: left;
	margin-top: 5px;
	width: 60%;
}
.loadingImageMainDiv {
	width: 100%;
    height: 300px;
	position: relative;
	/* background-color: #FFF; */
	/* opacity: 0.4; */
	top: 0px;
    left: 0px;
    z-index:1;
}

.loadingImageForSelfEdit {
	background: url("images/core/B-Dot.gif");
	width: 166px;
	height: 170px;
	margin: 0 auto;
	margin-top: 65px;
	position: absolute;
	z-index: 5;
	margin-left: 375px;
}
