.registrationPopupContainer {
	width: 427px;
	height: 330px;
	background-color: #fff;
	margin: 0 auto;
	padding: 3px 5px 0px 3px;
}
.registrationPopupInnerdiv {
	background-color: rgb(255,255,255);
	width: 427px;
	height: 325px;
	margin: 0 auto;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
}
.registrationPopupHeaderBg {
	width: 100%;
	height: 39px;
	background-color: rgb(81,81,81);
}
.registrationPopupHeaderTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255,255,255);
	padding: 10px 5px 5px 15px;
}
.registrationPopupCloseBtnContainer {
	float: right;
	padding: 10px 10px 0px 0px;
}
.registrationPopupBtnSprite {
	background: url(images/sprites-login.png) no-repeat;
}
.registrationPopupCloseBtn {
	background-position: -52px -116px;
	width: 18px;
	height: 19px;
}
.registrationPopupDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	padding: 20px 0px 15px 15px;
}
.registrationPopupInputContainer {
	float: left;
	padding: 0px 0px 2px 15px;
}
.registrationPopupInputText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	padding: 10px 0px 0px 0px;
	width: 70px;
}
.registrationPopupInputDropDownText
{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #999999;
	/* color: rgb(81,81,81); */
	text-align: left;
	width: 70px;
}
.registrationPopupRoleText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	margin: 10px 0px 0px 0px;
	width: 70px;
}
.registrationPopupInputOuterDiv {
	float: left;
	width: 300px;
	position: relative;
	margin-bottom: 10px;
}
.registrationPopupInputControl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	position: relative;
	float: left;
	background-color: rgb(255,255,255);
	width: 300px;
	height: 28px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	padding: 0px 0px 0px 8px;
	outline: 0;
}

.registrationPopupDropdownControl {
	float: left;
	position: relative;
	width: 310px;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
	
}
.registrationPopupDropdownDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	padding: 8px 0px 0px 5px;
}
.registrationPopupInputBorderNone {
	border: none;
}
.registrationPopupButtonCotnainer {
	float: left;
	padding: 8px 0px 0px 180px;
}

.registrationLegalMessage {
	float: left;
	padding: 20px 0 2px 15px;
	width: 400px;
}

.registrationPopupButton {
	background-image: -moz-linear-gradient(53% -12% -90deg, rgb(221,221,221) 0%, rgb(153,153,153) 99%);
	background-image: -webkit-gradient(linear, 53% -12%, 53% 103%, color-stop(0, rgb(221,221,221)), color-stop(0.99, rgb(153,153,153)));
	background-image: -o-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(153,153,153) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(153,153,153) 99%);
	width: 55px;
	height: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd,endColorstr=#ff999999,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd, endColorstr=#ff999999, GradientType=0);
}
.registrationPopupBlueButton {
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(76,152,204)), color-stop(0.99, rgb(16,118,187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76,152,204) 0%, rgb(16,118,187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(76,152,204) 0%, rgb(16,118,187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(76,152,204) 0%, rgb(16,118,187) 99%);
	width: 55px;
	height: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc, endColorstr=#ff1076bb, GradientType=0); */
background-color:#1076BB;
}
.registrationPopupButtonText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: center;
	padding: 10px 0px 0px 0px;
}
.registrationPopupDropdown {
	float: left;
	width: 300px;
	border-radius: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(221,221,221);
	position: absolute;
	top: 27px;
	left: -1px;
}
.registrationPopupDropdownList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	line-height: 120%;
	padding: 5px;
	background: white;
	margin: 0px;
}
.registrationPopupDropdownList:hover {
	background-color: #CFE3F1;
	cursor: pointer;
}
.registrationPopupDownArrContainer {
	position: absolute;
	top: 0px;
	float: right;
	right: 10px;
	padding: 8px 0px 0px 0px
}
.registrationPopupDownArrSprite {
	background: url(../images/sprites.png) no-repeat;
}
.registrationPopupDownArr {
	background-position: -44px -154px;
	width: 22px;
	height: 11px;
}
.registrationPopupInputControl:hover {
	/* cursor: pointer; */
}

.registrationPopupButton:hover {
	cursor: pointer;
}
.registrationPopupCloseBtnContainer {
	cursor: pointer;
}
.registrationPopupDownArrContainer {
	cursor: pointer;
}
.registrationPopupBlueButton:hover {
	cursor: pointer;
	background-image: -moz-linear-gradient(51% 3% -90deg, rgb(16,118,187) 0%, rgb(16,118,187) 99%);
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(16,118,187)), color-stop(0.99, rgb(16,118,187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(16,118,187) 0%, rgb(16,118,187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(16,118,187) 0%, rgb(16,118,187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(16,118,187) 0%, rgb(16,118,187) 99%);
	background-image: linear-gradient(-90deg, rgb(16,118,187) 0%, rgb(16,118,187) 99%);
	width: 55px;
	height: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color:#1076BB;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb,endColorstr=#ff1076bb,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb, endColorstr=#ff1076bb, GradientType=0);
}

.almostDoneFormInputBottomText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	margin:4px -10px 0px 0px;
	float: right;
}
.almostDoneFormInputBottomRoleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	margin:4px 0px 0px 0px;
	float: right;
}
.anchorText {
	text-decoration: none !important;
	cursor: pointer;
}
