
.popup {
	background-color:white;
	margin:50px auto;
	padding:3px;
	width: 500px;
}

.popupInner {
	border: 1px solid #DDD;
	position:relative;	
	/* height:500px; */
}

.popupHeader {
	padding:10px 15px;
	color:white;
	background-color:#4e9746;
	font-size:16px;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7AB075), to(#4e9746));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #7AB075, #4e9746);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #7AB075, #4e9746);

	/* IE 10 */
	background: -ms-linear-gradient(top, #7AB075, #4e9746);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #7AB075, #4e9746);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7AB075', EndColorStr='#4e9746');
}

.popup .closeButton {
	width:17px;
	height:17px;
	background: url(./images/signup/close-button.png) no-repeat;
	position:absolute;
	top:10px;
	right:10px;
}

.popup .closeButton:hover {
	opacity:.6;
	cursor:pointer;
}

.popupContent {
	padding:40px 75px;
}


.tooltipContainer, .usernameToolTipContainer {
	width: 150px;
	position: absolute;
	z-index:9999;
	margin-top: 0px;
	margin-left:-41px;
}

.usernameToolTipContainer{
	width: 213px;
	margin-top: -16px;
	margin-left: 29px !important;
}
.arrowBorder {
 	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #DDD transparent;
	position: relative;
	top: 0px;
	margin:auto;
	border-top: none;
}

.arrow {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent white transparent;
	position: relative;
	margin: auto;
	top: -9px;
	border-top: none;
	z-index: 100;
}
.tooltipContent {
	text-align:left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	top: -10px;
	width: 180px;
	float:left;
}

.tooltipContentTitle {
	font-weight: bold;
	padding-bottom: 10px;
}

.popup.imgBG {
	background: white url("./images/login/registration-bg.png") no-repeat;
	background-position: -50px 30px;
}

.h1 {
	font-size:20px;
	text-align:center;
	margin:0px 0px 20px 0px;
	color: #4e9746;
}

.subheader {
	text-align:center;
	margin:-10px 0px 15px 0px;
}


.userInfoContainer {
	background-color:#f0f0f0;
	border:1px solid #ddd;
	margin-top: 20px;
}

.role {
	margin:20px 0px;
	text-align:center;
}

/* #submitRegistration {
	display: block;
	margin: 0px auto 15px auto;
	width: 53px;
} */

.roleOption {
	width:69px;
	display:inline-block;
	text-align:center;
}

.roleOptionImage {
	width:100%;
	height:45px;
	margin: 10px 0px 5px 0px;
}

.roleOption input {
	margin: 5px auto !important;
	width: 12px;
	display: block;
}

.teacherRole .roleOptionImage {
	background: url("./images/signup/teacher.png") center bottom no-repeat;
}

.studentRole .roleOptionImage {
	background: url("./images/signup/student.png") center bottom no-repeat;
}

.parentRole .roleOptionImage {
	background: url("./images/signup/parent.png") center bottom no-repeat;
}

.otherRole .roleOptionImage {
	background: url("./images/signup/other.png") center bottom no-repeat;
}

.roleOption:hover .tooltipContainer, .questionHoverContainer:hover .tooltipContainer {
	display:block;
}


.ssoEmail {
	background: #e3e3e3;
	padding: 7px;
	text-align: center;
}


.chooseUsername {
	text-align:center;
}


.inputRow {
	position:relative;
}

.inputRow:hover .horizontalTooltipContainer {
	display:block;
}

.tooltipContainer {
	display: none;
}


.textUserName{
	width: 275px;
	padding: 5px;
	border: 1px solid #DDD;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}


.submitRegistration {
	display: block;
	margin: 0px auto 15px auto;
}

.roleLabel {
	opacity:.5;
}


.teacherRoleSelected .roleOptionImage{
	background: url("images/signup/teacher_selected.png") center bottom no-repeat;
}

.studentRoleSelected .roleOptionImage{
	background: url("images/signup/student_selected.png") center bottom no-repeat;
}

.parentRoleSelected .roleOptionImage{
	background: url("images/signup/parent_selected.png") center bottom no-repeat;
}

.otherRoleSelected .roleOptionImage{
	background: url("images/signup/other_selected.png") center bottom no-repeat;
}


.studentRoleDefault .roleOptionImage {
	background: url("images/signup/student_selected.png") center bottom no-repeat;
}

.userRegErrorStyle {
	margin-top: 3px;
	text-align: right;
	width: 89%;
	margin-bottom: 8px;
}

.errorLbl{
	float: right;
	width: 62%;
	margin-bottom: 10px;
}
.roleStep1{
	font-weight: bold;
margin-top: 8px;
margin-left: 19px;
position: absolute;
}
.unameStep2{
	font-weight: bold;
margin-top: 8px;
margin-left: 19px;
position: relative;
margin-bottom: 13px;
}