/*HomeView*/
@font-face {
	font-family: 'rock';
	src: url('../fonts/rock.eot');
	src: local('rock'), url('../fonts/rock.woff') format('woff'),
		url('../fonts/rock.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9786">Text with this font applied</p> */
.fontsforweb_fontid_9786 {
	font-family: 'rock' !important;
}

body {
	background: #efeded url(../images/background-image.png) repeat
		!important;
	font-family: Arial, Helvetica, sans-serif !important;
}

a {
	
}

header {
	/* background: -moz-linear-gradient(center top , #515151, #333) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	/* Old browsers */
	background: #333333;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#515151),
		to(#333333));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #515151, #333333);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #515151, #333333);
	/* IE 10 */
	background: -ms-linear-gradient(top, #515151, #333333);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #515151, #333333);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
}

button.primary {
	/* Old browsers */
	background: #1076bb;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c98cc),
		to(#1076bb));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4c98cc, #1076bb);
	/* IE 10 */
	background: -ms-linear-gradient(top, #4c98cc, #1076bb);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	border: 1px solid #1076bb;
	border-radius: 4px 4px;
	color: #ffffff;
	display: inline-block;
	font-family: Arial, sans-serif;
	padding: 7px 9px 7px 9px;
}

button.primary:hover {
	background: none repeat scroll 0 0 #1076bb;
	color: #ffffff;
	cursor: pointer;
}

.homeSearchInputBoxColor {
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-khtml-border-radius: 0px;
	-o-border-radius: 0px;
	color: #000000;
	font-size: 14px;
	height: 32px;
	width: 500px;
	padding-left: 8px;
}

.homeSearchInputBox {
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-khtml-border-radius: 0px;
	-o-border-radius: 0px;
	color: #999999;
	font-size: 14px;
	height: 32px;
	width: 500px;
	padding-left: 8px;
}

#homeWrapper {
	margin: auto;
	width: 1100px
}

.homeSearchHeader {
	color: rgba(200, 200, 200, 0.8);
	text-shadow: 1px 2px 2px #EEE, 0 0 0 #000, 1px 2px 2px #EEE;
	font-size: 39px;
	/*left: 185px;*/
	margin-top: 59px;
	margin: 0 auto;
	width: 940px;
	text-align: center;
}

.searchBarBanner {
	width: 943px;
	height: 230px;
}

.searchBarMainContainer {
	margin-top: 50px;
}

.searchHeaderSubText {
	color: #999999;
	font-size: 16px;
	/* left: 152px; */
	width: 940px;
	text-align: center;
	margin: 0 auto;
}

.searchInputBoxDiv {
	margin-top: 22px;
	text-align: center;
	width: 100%;
}

.searchInputBox {
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-khtml-border-radius: 0px;
	-o-border-radius: 0px;
	font-size: 14px;
	height: 32px;
	width: 497px;
	padding-left: 8px;
}

.homePageSearchButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 10px;
	padding: 8px 9px;
}

.homePageSearchButton:hover {
	background: #1076BB;
	cursor: pointer;
}

.advanceSearchLink {
	float: left;
	height: 18px;
	margin-bottom: 5px;
	margin-left: 590px;
	margin-top: 4px;
	text-decoration: none !important;
	cursor: pointer;
}

.searchInfoContainer {
	background-color: #fff;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: block;
	margin-top: 20px;
	min-height: 100px;
}

.searchInfoInnerContent {
	padding: 20px;
	font-size: 16px;
	height: 347px;
	margin-left: 16px;
}

.searchInfoHeader {
	color: #999;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 21px;
	text-align: center;
}

.searchInfoHeaderForSuppoters {
	color: #999;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 21px;
	text-align: center;
}

.howDoesItHeader {
	color: #999999;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

.supporterHeader {
	color: #999999;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 10px 10px 35px;
	text-align: left;
}
/**/
.discoverContent {
	margin-left: 28px !important;
}

.discoverContent, .organizeContent, .customizeContent, .shareContent {
	float: left;
	height: 212px;
	margin: 10px 24px 20px 20px;
	width: 187px;
}

.discoverNumber, .organizeNumber, .customizeNumber, .shareNumber {
	background: url("images/GooruGuide.png") no-repeat scroll 0 0
		transparent;
	display: block;
	margin-left: 18px;
	height: 35px;
	width: 35px;
}

.discoverNumber {
	background-position: -7px -9px;
}

.organizeNumber {
	background-position: -6px -55px;
}

.customizeNumber {
	background-position: -6px -96px;
}

.shareNumber {
	background-position: -6px -140px;
}

.shareImg {
	background: url("images/STUDY_graphic.png") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 139px;
	margin: 10px auto 0;
	width: 160px;
}

.discoverImg, .organizeImg, .customizeImg {
	background: url("images/GooruGuide.png") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 139px;
	margin: 10px auto 0;
	width: 160px;
}

.discoverImg {
	background-position: -76px -2px;
}

.organizeImg {
	background-position: -290px -3px;
}

.customizeImg {
	background-position: -81px -175px;
}

.shareImg {
	/* background-position: -285px -175px; */
	
}

.discoverText {
	color: #515151;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.discoverTxt, .organizeTxt, .customizeTxt, .shareTxt {
	color: #4C98CC;
	font-family: "arial";
	font-size: 27px;
	font-weight: bold;
	padding-left: 46px;
	top: 2px;
}

.howDoesItWork {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px 0px;
	margin-top: 20px;
	border-radius: 4px;
}
/**/
.searchInfoIcon {
	background: url("images/landing-page-sprite.png");
	background-position: -8px -103px;
	left: 320px;
	position: relative;
	top: 3px;
	width: 20px;
	height: 23px;
	float: left;
}

.searchInfoSubHeader {
	color: #999999;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
}

.searchInfoColumnDivider {
	float: left;
	width: 412px;
}

.searchInfoSubContent {
	color: #999999;
	margin-bottom: 20px;
}

.searchSaveShare {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 100%;
	color: rgb(153, 153, 153);
	text-align: center;
	margin-top: -23px;
	padding-bottom: 22px;
}

.searchInfoLinks {
	float: left;
	font-size: 12px;
	height: 28px;
	margin-top: 14px;
	text-align: left;
}

.searchInfoLeftColumn {
	margin-left: 35px;
}

.searchInfoLink {
	color: #1076BB !important;
}

.searchInfoLink:hover {
	color: #579ECF !important;
}

.homeInfoFeaturedContent {
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: block;
	margin-top: 40px;
	min-height: 100px;
}

.logoutText {
	font-size: 13px !important;
	color: #515151 ;
	cursor: pointer !important;
	float: left;
	text-decoration: none !important;
	padding: 4px 0;
	padding-left: 11px;
	width: 100%;
	box-sizing: border-box;
	
}

.logoutTextForLandingPageHelp {
	width: 88px !important;
	height: 16px !important;
	font-size: 13px !important;
	color: #515151 !important;
	float: left;
	text-decoration: none !important;
}

.logoutText:hover {
	background-color: #CFE3F1;
	border-radius: 2px 2px 2px 2px;
	opacity: 1.0;
	cursor: pointer;
}

.logPanel {
	width: 106px !important;
	height: 120px;
	cursor: pointer !important;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	/* position: fixed; */
}

.goorulandingHeaderContainer {
	background-color: #333333;
	border-bottom: 5px solid #666666;
	height: 50px;
	margin-bottom: 20px;
	position: relative;
	z-index: 50;
}

.gooruLearningIcon {
	background: url("images/landing-page-sprite.png") no-repeat scroll -10px
		-14px transparent;
	float: left;
	height: 30px;
	margin: 10px 10px 10px 0;
	width: 122px;
}

/*SearchHomeFilterVc*/
.filterSubHeader {
	display: block;
	font-weight: bold;
}

.filterArrow {
	background: url("images/landing-page-sprite.png") no-repeat scroll -10px
		-179px transparent;
	float: right;
	height: 20px;
	position: relative;
	right: 31%;
	top: -12px;
	width: 26px;
	right: 303px;
}

.filterContainer {
	background-color: #ffffff;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-raduis: 4px 4px 4px 4px;
	-o-border-raduis: 4px 4px 4px 4px;
	-khtml-border-raduis: 4px 4px 4px 4px;
	-ms-border-raduis: 4px 4px 4px 4px;
	-moz-border-raduis: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	margin-top: 0px;
	margin-left: 0px;
	min-height: 100px;
	height: 175px;
}

.filterInnerContent {
	padding: 20px;
}

.filterHeader {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.filterSection {
	float: left;
	width: 145px;
}

.filterLabel {
	font-size: 12px;
	font-weight: bold;
	color: #404040;
}

.filterSectionTextbox {
	float: left;
	width: 170px;
}

.filterSectionTypes {
	float: left;
	width: 120px;
}

.filterSuggestBox {
	border: 1px solid #CCCCCC;
	border-radius: 0 0 0 0 !important;
	-webkit-border-raduis: 0 0 0 0 !important;
	-o-border-raduis: 0 0 0 0 !important;
	-khtml-border-raduis: 0 0 0 0 !important;
	-ms-border-raduis: 0 0 0 0 !important;
	-moz-border-raduis: 0 0 0 0 !important;
	height: 18px;
	width: 145px;
}

.filterSubHeader {
	display: block;
	font-weight: bold;
}

.filterSelectionBox {
	float: left;
	clear: both;
}

.filterLeftSection {
	margin-top: 15px;
}
/*AboutViewVc*/
.aboutInfoInnerContent {
	float: left;
	padding: 20px 0px;
}

.aboutInfoContainer {
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-raduis: 4px 4px 4px 4px;
	-o-border-raduis: 4px 4px 4px 4px;
	-khtml-border-raduis: 4px 4px 4px 4px;
	-ms-border-raduis: 4px 4px 4px 4px;
	-moz-border-raduis: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-khtml-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: block;
	margin-top: 20px;
	margin-right: 10px;
	min-height: 100px;
	float: left;
}

.aboutInfoColumnDivider {
	float: left;
	width: 440px;
}

.aboutInfoColumnDividerLeft {
	margin-left: 20px;
}

.aboutInfoAlignCenter {
	text-align: center;
}

.aboutInfoColumnDivider h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	margin: 0px;
}

.aboutInfoColumnDivider p {
	margin-bottom: 20px;
}

.alpha {
	width: 940px;
	float: left;
}

.alpha h4 {
	margin: 0px;
	padding: 0px;
}

.supporters {
	float: left;
	margin-top: 0;
	padding: 10px 10px 10px 34px;
	width: 917px;
}

.supporters a {
	background-image: url("images/GooruGuide.png");
	display: block;
	margin-right: 39px;
}

.supporters a:hover {
	opacity: 0.6;
}

.supporters li {
	float: left;
	margin: 0 2px;
	list-style: none outside none;
}

.hewlett {
	background-position: 227px -1px;
	height: 50px;
	width: 110px;
}

.cisco {
	background-position: 227px -68px;
	height: 50px;
	width: 90px;
}

/* .pd {
    background-position: 227px -4px;
    height: 50px;
    width: 110px;
} */
.onr {
	background-position: 227px -137px;
	height: 50px;
	width: 109px;
}

.ramShriram {
	background-image: url("images/GooruGuide.png");
	background-position: 224px -203px;
	margin-right: 43px;
	height: 50px;
	width: 130px;
}

.ramShriram:hover {
	opacity: 1;
}

.google {
	background-position: 227px -377px;
	height: 50px;
	width: 120px;
}

.pearson {
	background-position: 229px -437px;
	height: 50px;
	width: 139px;
}

.sce {
	background-position: 227px -267px;
	height: 50px;
	width: 72px;
}

.gates {
	background-position: 229px -497px;
	height: 50px;
	width: 184px;
}

.nextGeneration {
	background-position: 230px -553px;
	height: 50px;
	width: 187px;
}

.fenwick {
	background-position: 227px -326px;
	height: 50px;
	width: 130px;
}

.google, .cisco, .pearson, .ramShriram, .fenwick {
	margin-top: 18px;
	margin-right: 55px !important;
}
/*FeaturedContentVc*/
.featuredContentContainer  a {
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	width: 285px;
	float: left;
	background-color: #999999;
	margin-bottom: 5px;
}

.featuredContentContainer  a div {
	display: table-cell;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	width: 285px;
}

.featuredContentContainer  a:hover {
	color: #FFFFFF;
	background-color: #515151 !important;
}

.featuredLeftContainer {
	width: 290px;
	float: left;
}

.featuredCollectionTitle {
	color: #999999;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 21px;
	text-align: center
}

.featuredBaseContainer {
	overflow: hidden;
	margin-left: 15px;
}

.featuredWrapperContainer {
	padding: 20px;
}

.featuredSlide {
	width: 577px;
	height: 220px;
	overflow: hidden;
}

/*FeaturedSlideVc*/
.featuredRightContainer {
	width: 600px;
}

.featuredContainer {
	float: left;
}

.featuredRightContainerContent {
	cursor: pointer;
	width: 300px;
	height: 215px;
	overflow: hidden;
}

.featuredLeftContainerContent {
	width: 280px;
	height: 220px;
	margin-left: 20px;
}

.featuredThemeContentContainer {
	text-align: center;
	height: 220px;
}

.featuredContentImageContainer {
	border-left: 17px solid #1076BB;
	height: 215px;
}

.featuredThemeContent h2 {
	color: #515151;
	text-align: left;
}

.featuredThemeContent p {
	font-size: 16px;
	color: #999;
	text-align: left;
	word-wrap: break-word;
	width: 252px;
}

.featuredContentImageContainer {
	font-size: 17px;
	text-align: left;
	word-wrap: break-word;
	color: #999;
}

/*LoginPopupUc*/
.loginBorderPanel {
	border: 1px solid #ccc;
	height: 286px;
	width: 297px;
	z-index: 50;
	padding: 10px;
}

.loginTop {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background: -moz-linear-gradient(top, #666, #515151);
	background: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	padding: 10px 15px;
	font-size: 17px;
	color: #ffffff;
}

.loginGooruLogoContainer {
	float: left;
	width: 99%;
	margin-bottom: 8px;
}

.loginGooruLabel {
	background: url("images/landing-page-sprite.png") no-repeat scroll 0
		-192px transparent;
	float: left;
	height: 50px;
	width: 108px;
	left: 70px;
	position: relative;
}

.loginGooruLabelSubText {
	color: #666666;
	float: left;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 70px;
}

.loginBlackText {
	font-family: Arial, Sans-serif;
	font-size: 12px;
	margin-bottom: 18px;
	text-align: left;
	margin-left: 4px;
}

.loginCkbox {
	margin-left: -8px;
	padding: 3px 0;
	width: 131px;
}

.loginHyplink {
	text-align: left;
	width: 36%;
	font-size: 13px;
	color: #0066CC;
	cursor: pointer;
}

.loginHyplink:hover {
	color: #87BADD !important;
	cursor: pointer;
}

.loginBtn:hover {
	background: #1076BB;
	cursor: pointer;
}

.loginBtn {
	background: -moz-linear-gradient(center top, #4c98cc, #1076bb) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c98cc),
		to(#1076bb));
	background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
	background: -moz-linear-gradient(top, #4c98cc, #1076bb);
	background-image: -ms-linear-gradient(top, #4c98cc, #1076bb);
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background-color: #1076bb;
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-raduis: 4px 4px 4px 4px;
	-o-border-raduis: 4px 4px 4px 4px;
	-khtml-border-raduis: 4px 4px 4px 4px;
	-ms-border-raduis: 4px 4px 4px 4px;
	-moz-border-raduis: 4px 4px 4px 4px;
	color: #fff;
	padding: 8px 9px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.cancelBtn {
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-raduis: 4px 4px 4px 4px;
	-o-border-raduis: 4px 4px 4px 4px;
	-khtml-border-raduis: 4px 4px 4px 4px;
	-ms-border-raduis: 4px 4px 4px 4px;
	-moz-border-raduis: 4px 4px 4px 4px;
	cursor: pointer;
	font-size: 12px;
	padding: 6px 12px;
}

.cancelBtn:HOVER {
	text-decoration: none;
	color: #4C98CC !important;
}

.loginCancelButton {
	margin: 10px auto;
	padding: 5px;
	width: 129px;
}

.register {
	float: left;
	padding: 5px 0 5px 0px;
	width: 94%;
	margin-left: 4px;
	/* display: none; */
}

.registerLinkQ {
	float: left;
	margin-right: 2px;
	font-size: 12px;
}

.registerLink {
	font-size: 12px;
	margin-right: 39px;
	color: #0066CC;
	cursor: pointer;
}

.registerLink:hover {
	color: #87BADD;
	cursor: pointer;
}

/*********** forgot Password ************/
.forgotEmailId, .resetPwdText {
	border: 1px solid #CCCCCC;
	float: left;
	margin-top: -5px;
	padding: 7px;
	width: 250px;
}

.resetPwdTextError {
	background-color: #FFFFCC;
	border: 1px solid #CCCCCC;
	float: left;
	margin-top: -5px;
	margin-bottom: 3px;
	padding: 7px;
	width: 250px;
}

.forgotPwdFormContainer, .resetPwdTextContainer {
	clear: both;
	float: left;
	margin: 15px 5px 8px 15px;
	width: 95%;
}

.forgotEmailDiv {
	clear: both;
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	padding: 16px;
	width: 100%;
}

.forgotEmailIdLabel, .resetPwdLabel {
	float: left;
	width: 25%;
}

.forgotPwdFormButtonDiv {
	text-align: center;
	width: 100%;
}

.forgotPwdFormCancelButton {
	clear: both;
	cursor: pointer;
	left: 20px;
	position: relative;
	text-decoration: none;
}

.forgotPwdContentDiv, .resetPwdContentDiv {
	margin: -4px 4px 4px;
	border:none;
}

/*********** successForgotPassword **************/
.forgotPwdSuccess {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 500px;
}

.successPopupContainer {
	border: 1px solid #CCCCCC;
	height: 120px !important;
	margin: -4px 4px 4px;
	width: 490px;
}

.okSuccessBtn {
	width: 100%;
	text-align: center;
}

.successText {
	padding: 10px;
	width: 90%;
}

.successMsgText {
	height: 25px;
	width: 490px;
}

.mailSupport {
	cursor: pointer;
}

/*Learn more button in home page*/
.studyInfoButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: #ffffff !important;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 12px 18px;
	float: right;
	text-decoration: none !important;
}

.studyInfoButton:hover {
	background: #1076BB;
}

/************ Reset Password [styles reused from forgot password CSS]*******************/
.resetPwdPanel {
	clear: both;
	float: left;
	margin-left: 30px;
	padding: 11px;
	width: 85%;
}

.resetPwdContentDiv {
	border: none;
	margin: -4px 4px 4px;
}

.resetPwdTextContainer {
	margin: 15px 5px 8px 22px;
	height: 22px;
}

/************* Reset password Success**************/
.resetPwdSuccessContainer {
	border: 1px solid #CCCCCC;
	height: 100px !important;
	margin: -4px 4px 4px;
}

.okBlueBtn {
	width: 100%;
	text-align: center;
	float: left;
}

.resetSuccessText {
	padding: 15px;
	width: 90%;
}

.resetPwdSuccessText {
	text-align: center;
}

/************************ Reset Timeout ***********************/
.resetTimeoutHeader {
	height: 25px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: left;
}

.resetTimeoutText {
	color: #5090D0 !important;
	font-size: 15px;
	font-weight: bold;
	height: 35px;
	margin-left: 15px;
	text-align: left;
}

.resetFooterText {
	margin-left: 15px;
}

.forgotPwdLink {
	color: #5090D0 !important;
	float: left;
	margin-left: 3px;
	width: 25px;
	cursor: pointer;
}

.forgotPwdLink:hover {
	border-bottom: 1px solid #5090DD;
	cursor: pointer;
}

.linkTxt {
	float: left;
}

.ourMissionImage {
	width: 420px;
	height: 235px;
}

/**************** Password Error Label ***************************/
.passwordErrorLabel {
	background-color: #FFFFCC;
	border: 1px solid #CC0000;
	clear: both;
	font: 12px arial;
	padding: 3px;
	width: 50%;
	margin: 0 auto;
}

/******************** log out popup ****************************/
.removePopupContainer {
	border: 1px solid #CCCCCC;
	height: 100px !important;
	margin: -4px 4px 4px;
}

.actionField {
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.okButtonmargin {
	margin-left: 5px;
}

.actionFieldOne {
	text-align: center;
	width: 100%;
	margin-top: 14px;
}

.removeText {
	padding: 15px;
	width: 90%;
}

/****************  Search info ************************/
.landingSearchIconCont {
	height: 25px;
	margin: 0 auto;
	width: 37%;
}

.landingSearchIcon {
	background: url("images/landing-page-sprite.png");
	background-position: -8px -103px;
	width: 20px;
	height: 23px;
	float: left;
}

/******** Study Featured collection *******/
.homePageFeaturedStartStudy {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border-radius: 4px;
	cursor: pointer;
	float: left;
	font-size: 20px;
	height: 43px;
	margin-left: -150px;
	margin-top: 34px;
	width: 120px;
}

.homePageFeaturedStartStudy:Hover {
	background: #1076BB;
	cursor: pointer;
}

.studyFeaturedCollectionButton {
	color: #FFFFFF;
	float: left;
	margin-left: 12px;
	margin-top: 9px;
	font-weight: bold;
}

.studyFeaturedCollectionArrow {
	background: url("images/all-arrow-icon.png") no-repeat scroll -13px
		-109px transparent;
	height: 37px;
	/* left: 90px; 
	position: relative;*/
	width: 30px;
	float: right;
}
/********************  Try it out   *******************/
.landingPageOuterDiv {
	float: left;
	width: 66%;
}

.landingPageLearn {
	color: #1076BB !important;
	clear: both;
	cursor: pointer;
	text-decoration: none !important;
}

.landingPageLearn:HOVER {
	color: #87BADD !important;
	text-decoration: none !important;
}

.landingPageCelebration {
	background: url("images/Collection-Search/icon-sprite.png") no-repeat
		scroll -290px -396px transparent;
	height: 100px;
	width: 142px
}

.tryItOut {
	float: left;
	font-size: 14px;
	width: 50%;
}

.backToClassic {
	float: left;
	width: 50%;
	font-size: 14px;
}

.tryItoutContainer {
	border: 1px solid #ccc;
}

.classicGooru {
	clear: both;
	padding: 10px;
	text-align: center;
	width: 168px;
}

.tryItOutGooru {
	float: right;
	padding-top: 10px;
	text-align: center;
	width: 188px;
}

.innerContainer {
	height: 110px;
	padding: 10px;
	width: 95%;
}

.celebrations {
	float: left;
}

.classicContainer {
	height: 110px;
	padding: 10px;
	width: 95%;
}

.classicInnercontainer {
	background: none repeat scroll 0 0 #E9E9E9;
	border-radius: 3px 3px 3px 3px;
	color: #1D7DBE;
	cursor: pointer;
	float: left;
	font-weight: normal;
	height: 60px;
	position: relative;
	width: 190px;
}

.classictryItOut {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	bckground-color: #1076BB;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-weight: normal;
	height: 60px;
	position: relative;
	width: 190px;
}

.classictryItOut:HOVER {
	background: #1076BB;
}

.fadeblueButtonText {
	color: #1d7dbe !important;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 35px;
	margin-top: 20px;
}

.fadeblueArrow {
	background: url("images/all-arrow-icon.png") no-repeat scroll -8px
		-221px transparent;
	display: block;
	height: 39px;
	position: relative;
	top: 8px;
	width: 49px;
}

.blueButtonText {
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 20px;
	color: #FFFFFF !important;
}

.blueArrow {String landingPageDiscoverIconDetails();
	background: url("images/all-arrow-icon.png") no-repeat scroll 6px -108px
		transparent;
	display: block;
	height: 39px;
	left: 135px;
	position: relative;
	top: 8px;
	width: 49px;
}

.headerPopUpTitle {
	background: none repeat scroll 0 0 #515151;
	clear: both;
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	padding-bottom: 7px;
	padding-left: 11px;
	padding-top: 8px;
	width: auto;
}

.closePopUp {String landingPageDiscoverIconDetails();
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -12px -431px transparent;
	clear: both;
	color: #FFFFFF;
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 11px;
	width: 20px;
}

.closePopUp:HOVER {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -49px -432px transparent;
}

.popUpTitleContext {
	text-align: left;
}

.landingPageCelebrationText {
	float: left;
	font-size: 15px;
	position: relative;
	width: 320px;
}

.textBoxesField {
	margin-left: 5px;
}

.textBoxPlaceHolderWidth {
	width: 261px;
}

.landingPagesliderArrow {
	left: 267px;
	margin-top: -61px;
	position: relative;
	float: left;
	height: 55px;
}

.landingPageSliderArrowBackground {
	background: none repeat scroll 0 0 #515151;
	display: block;
	float: left;
	height: 50px;
	margin-top: 6px;
	width: 38px;
}

.landingPageSliderArrowSpan {
	background: url("images/side-arrow.1.png") no-repeat; String
	landingPageDiscoverIconDetails();
	display: block;
	height: 50px;
	position: relative;
	width: 27px;
	float: left;
	margin-top: 6px;
}

.searchImageIcon {
	float: left;
	width: 20px;
	height: 20px;
	text-align: center;
	position: relative;
	left: 321px;
	top: 2px;
}

.landingPageHelpOrganizeImageContainer {
	float: left;
	width: 100%;
	height: 114px;
}

.landingHelpPopupContainer {
	/* float:left; */
	position: absolute;
	top: -20px;
	width: 1286px;
	height: 334px;
	background-color: #FFF;
	/* margin-top:-47px; */
}

.landingHelpPopupTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #1076BB;
	margin: 20px 0px 30px 23px;
}

.landingPageHelpDotsContainer {
	float: left;
	width: 279px;
	height: 190px;
}

.landingPageHelpTeachLessoinText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	margin: 3px 0px 0px 10px;
}

.landingPageHelpOrganizeBigIconHolder {
	float: left;
	position: relative;
}

.landingPageLessionTitleSmall {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	width: 88px;
	color: #FFF;
	text-align: center;
	background-color: #999999;
}

.landingPageHelpOrganizePlusIcon {
	right: -8px;
	top: -7px;
	position: absolute;
	z-index: 5;
}

.landingPageHelpTeachLessoinContainer {
	float: left;
	width: 194px;
	height: 24px;
	margin-top: 10px;
	margin-left: 5px;
}

.landingPageHelpOrganizeTopArrow {
	position: absolute; /* top:-95px; left:-8px;  */
	z-index: 5;
	top: -26px;
	left: -10px;
}

.featuredSlide1 {
	margin-top: -39px;
	width: 1275px;
	height: 200px;
	overflow: hidden;
}

.landingPageHelpDotsTotalContainer {
	width: 1118px;
	min-height: 221px;
	margin: 0 auto;
	clear: both;
}

.landingPageHelpTeachLessoinNumber {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #999999;
	width: 20px;
}

.landingPageHelpTeachLessoinHintActive {
	background: url(../images/hint-icon-blue-color.png);
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 3px;
}

.landingPageHelpTeachLessoinHint {
	background: url(../images/hint-icon.png);
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 3px;
}

.landingDiscoverIconContainer {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.landingDiscoverIcon {
	float: left;
	width: 24px;
	height: 20px;
}

.landingPageDiscoverIconDetails {
	float: left;
	margin-left: 3px;
	margin-top: 5px;
	width: 65px;
	height: 8px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.landingPageLessionTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	width: 76%;
	color: #FFF;
	text-align: center;
	background-color: #999999;
}

.landingPageHelpOrganizeBigIconTotalContainer {
	width: 58px;
	height: 100%;
	float: left;
	margin-top: 7px;
}

.askMoreQuestionForHelp {
	float: right;
	color: #1076bb;
	margin-top: 25px;
	margin-right: 65px;
	cursor: pointer;
}

.landingPageHelpTeachLessoinTextActive {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin: 3px 0px 0px 10px;
}

.landingPageHelpOrganizeBigIconContainerTwo {
	width: 58px;
	height: 50px;
	float: left;
	margin-top: 11px;
}

.landingPageHelpOrganizeLessionTotlatContainer {
	height: 110px;
	float: left;
	position: relative;
	right: 0px;
}

.landingPageHelpDiscoverSearchBoxContainer {
	float: left;
	width: 89px;
	height: 21px;
}

.landingPageHelpDiscoverSearchBox {
	float: left;
	width: 89px;
	height: 21px;
	border: 1px solid #999999;
}

.landingPageHelpDottedBoxContainer {
	float: right;
	position: relative;
	z-index: 4;
	width: 88px;
	height: 68px;
	border: 2px #999999 dashed;
	right: 104px;
	top: 21px;
}

.landingPageHelpDotsText {
	float: left;
	width: 226px;
	height: 56px;
	font-size: 12px;
	color: #515151;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.landingPageHelpTeachLessoinNumberActive {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #1076BB;
	width: 20px;
}

.landingPageHelpOrganizeDownArrow {
	position: absolute; /* top:0px; top:12px; left:-8px; */
	z-index: 5;
	top: 8px;
	left: -10px;
}

.ladningPageHelpSearchButton {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 5px 9px;
	border: none;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	font-size: 12px;
}

.landingPageHelpOrganizeBigIconContainer {
	width: 58px;
	height: 50px;
	float: left;
	margin-top: 4px;
}

.featuredBaseContainer1 {
	background-color: #fff;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: block;
	margin-top: 40px;
	min-height: 300px;
}

.landingPageDotsTitle {
	float: left;
	font-size: 16px;
	color: #1076BB;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-weight: bold;
}

.helpPagePosition {
	position: absolute;
}

/**************** Wait Confirmation Popup***************/
.waitPopupContainer {
	border: 1px solid #CCCCCC;
	margin: -4px 4px 4px;
}

.confirmMessageContainer {
	padding: 8px 0 15px 10px;
	width: 90%;
}

.confirmMessage {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}

.confirmMessageOk {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}

.confirmMessageDelete {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	width: 95%;
	margin: 10px;
}

.confirmMessages {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
	float: left;
}

.loginPopupGlassStyle {
	z-index: 99999;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.playerAddToolTipGlassStyle {
	z-index: 999999;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.userMenuBottomLine {
	background-color: #CCC;
	width: 100%;
	height: 1px;
	float: left;
}

/* Classpage List Vc CSS*/
.classpageListContainer {
	background-color: white;
	width: 204px !important;
	height: auto;
	max-height: 265px !important;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 99999;
}

.htmlPanelNoClasspageContainer {
	height: auto;
	padding: 10px;
	text-align: left;
}

.htmlPanelContentContainer {
	max-height: 194px;
	height: auto;
	/* overflow-y: auto; */
	padding: 10px;
	text-align: center;
	clear: both;
}

.newClasspageLink {
	text-align: left;
	float: left;
	text-decoration: none !important;
	padding: 9px 5px 8px 36px;
	color: #515151;
	font-size: 12px;
	cursor: pointer;
	width: 80%;
	background: url(images/Classpage/plus.png) no-repeat;
	background-position-x: 20px;
	background-position-y: 10px;
}

.newClasspageLink:hover {
	background-color: rgba(136, 187, 221, 0.5) !important;
	color: rgb(81, 81, 81);
}

.classpageListTitle {
	float: left;
	text-decoration: none;
	padding: 10px 10px 10px 16px;
	color: rgb(81, 81, 81);
	font-size: 12px;
}

.classpageBottomLine {
	margin-left: 17px;
	background-color: #CCC;
	width: 80%;
	height: 1px;
	float: left;
}

.loadingText {
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: center;
}

.htmlPanelClasspageList {
	text-align: left;
}

.plus {
	font-weight: bold;
	font-size: 18px !important;
	vertical-align: middle;
	padding-right: 3px;
}

.plusImg {
	background: url('images/Classpage/plus.png') no-repeat;
}

.gooruGuide {
	text-decoration: none;
	color: #1076bb;
	cursor: pointer;
}

.gooruGuide:hover {
	text-decoration: none;
	color: #87BADD;
	cursor: pointer;
}

.setAsCenterPopup {
	left: 0 !important;
	right: 0 !important;
	top: 160px !important;
	margin: auto;
	z-index: 999;
}

.noClasspageYet {
	margin-bottom: 20px;
}

.classpageTitleHeader {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81, 81, 81);
	padding: 7px 0 6px 6px;
	font-size: 12px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 97%;
}

.classpageTitleHeader:hover {
	background-color: #CFE3F1;
	cursor: pointer;
}

.gwtSuggestBoxPopup {
	width: 318px;
}

.removingText {
	
}

/* New landing page */
.headerPanel {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	background: url('images/banner2.png') bottom no-repeat;
	background-size: contain;
	height: 100%;
	min-height: 167px;
}

.signUpButton {
	width: 160px;
	height: 39px;
	margin-bottom: 3px;
	margin-top: 15px;
	font-size: 16px;
}

.header {
	color: white;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding-top: 23px;
	font-family: "Arvo", serif !important;
	text-shadow: 0px 2px 4px #666;
}

.subheader {
	color: white;
	font-size: 16px;
	text-align: center;
	text-shadow: 0px 2px 4px #666;
}

.description {
	color: white;
	text-align: center;
	text-shadow: 0px 1px 4px #999;
}

.btnBlock {
	width: 100%;
	font-size: 14px;
}

a.secondary {
	color: #1076BB;
	padding: 15px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #cacaca;
	font-size: 14px;
}

a.secondary:hover {
	opacity: 1.0;
	cursor: pointer;
}

.learnMoreContainer {
	margin: 32px auto;
	text-align: center;
	border-bottom: 1px solid #cacaca;
	height: 10px;
	margin-bottom: 25px;
	/* 	width: 1000px; */
}

/* For report */
.summaryPopupContainer {
	height: 564px !important;
	margin: 3px 4px 4px;
}

.imageFieldContainer {
	width: 85%;
	margin: 0px auto;
}

.lblCollectionProgressDetails {
	text-align: center;
	margin-top: 7px;
}

.lblCollectionProgress {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	margin-top: 7px;
}

.summaryText {
	margin-top: 10px;
	margin-left: 10px;
}

.popupInner {
	border: 1px solid #ddd;
	position: relative;
}

.reportPopupHeader {
	padding: 10px 15px;
	color: white;
	background: -webkit-linear-gradient(top, #666, #515151);
	background: -moz-linear-gradient(top, #666, #515151);
	background: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	font-size: 16px;
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7AB075',
		EndColorStr='#4e9746');
}

.closeButton {
	width: 17px;
	height: 17px;
	background: url("images/login/close-button.png") no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
}

.closeButton:hover {
	opacity: .6;
	cursor: pointer;
}

.rightImageContainer {
	position: absolute;
	right: 0;
	top: 60%;
	right: 2%;
	cursor: pointer;
}

.leftImageContainer {
	left: 2%;
	position: absolute;
	top: 60%;
	cursor: pointer;
}
/* end report */
/* #txtEmbedLink {
	width: 190px;
	font-size: 12px;
}
 */
.setMarketingPopUpCenter {
	position: absolute;
	overflow: visible;
	left: 0 !important;
	right: 193px !important;
	top: 0 !important;
	bottom: 297px !important;
	margin: auto;
	width: 550px;
	height: 148px;
	z-index: 1002;
}

.errorMessageStyle{
	text-align: center;
	color: #fab03a;
	font-size: 12px;
	font-style: italic;
}
.errorMessageContainer{
	display: inline-block;
	width: 100%;
}

.banner {
	margin-top:35px;
	
}

.banner .navbar-default {
	background-color: transparent;
	border: none;
}
/*.banner .navbar-default .navbar-nav > li {
		background:url(../images/devider.png) repeat-y right top;
}*/
.banner .navbar-default .navbar-nav>li:last-child {
	background: none;
}

.banner .navbar-default .navbar-nav>li>a {
	color: #515151;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 47px;
	padding-right: 47px;
}

.banner .navbar-default .navbar-nav>li>a:hover {
	background: #cccccc;
}

.banner .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.banner .navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.banner .navbar-default {
	margin-bottom: 0;
}

.banner .shadow {
	/*-webkit-box-shadow: 0px 0px 7px 3px rgba(204,202,202,1);
-moz-box-shadow: 0px 0px 7px 3px rgba(204,202,202,1);
box-shadow: 0px 0px 7px 3px rgba(204,202,202,1);*/
	
}

.bannerInner .caption {
	left: 12%;
	right: 12%;
	position: absolute;
	text-align: center;
}

.bannerInner .caption h2 {
	font-family: 'Arvo', serif !important;
	font-weight: 600;
	color: #ffffff;
	font-size: 36px;
	text-shadow: 0 2px 4px #666;
	margin-bottom: 5px;
}

.bannerInner .caption p {
	color: #ffffff;
	font-size: 16px;
	text-shadow: 0 2px 4px #666;
	margin-bottom: 5px;
}

.bannerInner .caption p.small {
	font-size: 12px;
}

.bannerInner .caption p.small a {
	color: #ffffff;
	text-decoration: underline !important;
}

.bannerInner .caption .btn {
	padding: 9px 40px;
}

.communityblock h2 {
	font-family: 'Arvo', serif !important;
	margin: 20px 0 20px 0;
	font-weight: bold;
}

.getStart {
	margin: 20px 0;
}

.getStart h2 {
	font-family: 'Arvo', serif !important;
	margin: 20px 0 20px;
	font-weight: bold;
}

.getStart .getInner {
	background: #ffffff;
	padding: 0 0;
	margin-bottom: 20px;
	border-radius: 4px 4px;
}

.getStart .getInnerRight {
	background: #ffffff;
	padding: 15px 15px;
	margin-bottom: 20px;
	border-radius: 4px 4px;
}

.getStart .getContentContainer {
	padding: 10px 10px;
}

.getContentContainer p {
	font-size: 14px;
	margin-bottom: 15px;
}

.getStart .getContentContainer h4 {
	color: #1076B9;
	font-size: 16px;
}

.getStart .getInnerRight h3 {
	font-family: 'Arvo', serif !important;
	margin: 8px 0 20px 0;
}

.getStart .getInnerRight .first {
	font-family: 'Arvo', serif;
	float: left;
	width: 62%;
}

.getStart .getInnerRight img {
	float: right;
	margin: 15px 0;
}

.getStart .getInnerRight h4 {
	color: #1076B9;
	font-size: 16px;
}

.getInnerRight p {
	font-size: 14px;
}

.getStartedIMG {
	position: relative;
}

.getStartedIMG .getCaption {
	bottom: 10px;
	color: #ffffff;
	font-family: 'Arvo', serif !important;
	font-size: 30px;
	left: 15px;
	position: absolute;
}

.mission h2 {
	margin-bottom: 30px;
}

.mission .partext {
	/*	min-height: 115px;*/
	
}

.mission {
	margin: 20px 0;
}

.mission h2 {
	font-family: 'Arvo', serif !important;
	margin: 10px 0 10px;
	font-weight: 600;
}

.mission p {
	font-size: 14px;
}

.mission .col-md-4 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mission a {
	color: #ffffff !important;
}



.yourSupport {
	margin-bottom: 50px;
	width: 100%;
}

.yourSupport h1 {
	font-family: 'Arvo', serif;
	font-weight: bold;
	margin-bottom: 35px;
}

.yourSupport section {
	background: none repeat scroll 0 0 #ffffff;
	float: left;
	padding: 25px;
	width: 100%;
	border-radius: 4px 4px;
}

.yourSupport h2 {
	font-family: 'Arvo', serif !important;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
}

.yourSupport p {
	font-size: 14px;
}

.yourSupport h3 {
	font-family: 'Arvo', serif;
	font-size: 20px;
	font-weight: bold;
}

.yourSupport .imgBox {
	background: #444444;
	display: inline-block;
	height: 86px;
	text-align: center;
	width: 86px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.margin {
	margin: 15px 15px 15px 0;
	background: #ffffff;
	padding: 15px 15px;
	border-radius: 4px 4px;
}

.gooruBadge {
	text-align: right;
}

.goorubadge img {
	display: inline;
}

.goorubadge h4 {
	font-size: 16px;
	font-weight: normal;
}

.badgepadd {
	display: table-cell;
	height: 182px;
	vertical-align: middle;
}

.social {
	text-align: center;
}

.social ul {
	margin-bottom: 24px;
}

.social ul li .fa {
	padding: 10px 11px !important;
	font-size: 20px;
}

.social ul li a {
	width: 40px;
	height: 40px;
	background: #acacac;
	border-radius: 50% 50%;
	display: block;
	color: #ffffff;
	transition: all 0.5s ease-in-out 0s;
}

.social ul li a:hover {
	background: #72accd;
}

footer h4 {
	font-family: 'Arvo', serif !important;
	color: #ffffff;
	font-size: 15px;
}

footer {
	padding: 25px 0;
}

footer ul li a {
	color: #eeeeee !important;
	font-size: 12px;
	transition: all 0.5s ease-in-out 0s;
}

footer ul li a:hover {
	color: #ffffff;
}

footer p {
	color: #eeeeee;
}

footer .col-md-2 {
	border-right: 1px solid #616161;
	min-height: 132px;
	padding-left: 50px;
}

footer .col-md-2:last-child {
	border-right: none;
}

footer .col-md-4 {
	border-right: 1px solid #616161;
	min-height: 130px;
}

.noMargin {
	margin-right: 0;
}

.logo {
/* 	padding-top: 6px;
 */
 z-index: 99999;
 }

.searchbox {
	padding-left: 0 ;
	padding-right: 0 ;
	width: 28% ;
	z-index:9999;
}

.searchbox .form-group {
	width: 152px;
}

.searchbox .navbar-form .form-control {
	width: 100% !important;
	padding-right: 20px;
}

.searchbox .form-control {
	font-size: 13px;
	color: #999999;
}

.mainmenu {
	width: 55% !important;
}

.mainmenu .navbar-default {
	background-color: transparent;
	border: none;
}

.mainmenu .navbar {
	margin-bottom: 0;
}

.mainmenu .nav {
	float: right;
}

.mainmenu .navbar-default .navbar-nav>li>a {
	color: #ffffff;
	padding-bottom: 17px;
	padding-top: 17px;
	font-size: 12px;
}

.mainmenu .nav>li {
	border-right: 1px solid #616161;
}

.mainmenu .nav>li:last-child {
	border-right: none;
}

.mainmenu .navbar-default .navbar-nav>.open>a, .mainmenu .navbar-default .navbar-nav>.open>a:hover,
	.mainmenu .navbar-default .navbar-nav>.open>a:focus {
	background-color: #393939;
	color: #ffffff;
}

.mainmenu .navbar-default .navbar-nav>li>a:hover, .mainmenu .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffffff;
}

.mainmenu .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	background-color: #393939;
	color: #ffffff;
	opacity: 1;
}

.mainmenu .nav>li.noborder {
	border-right: none;
}

.searchContainer {
	margin: 25px 0;
}

.searchContainer .sInner {
	background: #ffffff;
	border-radius: 4px 4px;
	padding: 10px 10px;
	margin-bottom: 15px;
}

.searchContainer .sInner p {
	font-size: 13px;
	text-align: left;
}

.searchContainer .sInner p.searchFind {
	text-align: center;
}

.searchContainer .col-md-3 .animation {
	margin-right: 12px;
	float: left;
}

.searchContainer .col-md-3 h2 {
	display: inline-block;
	font-family: 'Arvo', serif !important;
	font-size: 21px;
	vertical-align: middle;
	margin: 44px 0;
}

.searchContainer .col-md-3 .btn {
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}

.searchContainer .col-md-3 .btn:hover {
	background: #efefef;
	cursor: pointer;
}

.searchContainer .col-md-3 .form-control {
	/*	float: left;*/
	display: inline-block;
	width: 64%;
}

.searchContainer .col-md-3 .searchMAIN .BTN {
	float: left;
}

footer {
	padding: 25px 0;
}

footer {
	background: #444444;
	width: 100%;
}

.mainmenu .navbar {
	margin-bottom: 0;
}

.mainmenu .navbar-default {
	background-color: transparent;
	border: none;
}

.signup {
	margin-top: 9px;
	width: 68px;
}

.dropdowDisplay {
	display: block;
	margin-top: 0;
	font-size:12px;
	left: auto;
	border-radius : 0 0 4px 4px;
}
.displayRight{
	right: 0;
}


.districDropDown {
	position: absolute;
	top: 64%;
	left: 100%;
}

.partnersDropdown {
	position: absolute;
	top: 38%;
	left: 100%;
}

.rightArrow {
	float: right;
	margin-top: -16px;
	margin-right: 10px;
}

.dropdowDisplay>li>a:hover {
	background-color: #cfe3f1;
}

.resourceRightsPopupContainer {
	margin: 0 auto;
	width: 479px;
	position: absolute;
	left: 31%;
}

.collectionToolTipLabel {
	padding: 6px !important;
	cursor: pointer;
	padding-left: 40px !important;
	background: url(images/folders/panel/collection-smaller-icon.png) 10px
		no-repeat;
}

.assessmentToolTipLabel {
	padding: 6px !important;
	cursor: pointer;
	padding-left: 40px !important;
	background: url(images/folders/panel/assessment-smal.png) 10px
		no-repeat;
	background-size: 21px 15px;
}

.folderToolTipLabel {
	padding: 6px !important;
	cursor: pointer;
	padding-left: 40px !important;
	background: url(images/folders/panel/folder-smaller-icon.png) 10px
		no-repeat;
}

.tooltipContainer {
	position: absolute;
}

.communityResult {
	margin: 7px 0 20px 0;
}

.communityResult .col-xs-9 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mainmenu .navbar-header {
	float: right;
}

.menuActive {
	background-color: #393939;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#292929),
		to(#414141));
	background: -webkit-linear-gradient(top, #292929, #414141);
	background: -moz-linear-gradient(top, #292929, #414141);
	background: -ms-linear-gradient(top, #292929, #414141);
	background: -o-linear-gradient(top, #292929, #414141);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
	padding: 15px;
	/* 	float: left;
 */
	color: white;
	font-family: arial;
	font-size: 12px;
	cursor: pointer;
	padding: 18px 16px;
	/* 	height: 18px;
 */
}

.menuActive a {
	color: #ffffff !important;
	font-size: 12px;
}

.menu {
	color: white;
	/* float: left; */
	cursor: pointer;
	padding: 18px 16px;
	cursor: pointer;
	/* 	height: 18px;
 */
}

.menu:hover {
	background-color: #393939;
	color: white;
	/* float: left; */
	cursor: pointer;
	padding: 18px 16px;
	cursor: pointer;
}

.menu a {
	color: #ffffff !important;
	font-size: 12px;
}

.logoutPanel {
	z-index: 99;
	background: white;
}

.logoutPanel .dropdown-menu {
	right: 0;
	left: auto;
}

.loggedInfo {
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	padding: 18px 16px;
}

.loggedInfo:HOVER {
	background-color: #393939;
}

.login {
	color: #FFFFFF;
}

.login:hover {
	background-color: #393939;
}
.logoutDownArrow {
	width: 34px;
	height: 34px;
	background: url(images/Collection-Search/SettingsIcon.png) no-repeat;
	float: left;
	margin: 9px 16px;
	cursor:pointer;
}
.searchButton{
	margin-left:5px;
}
.dataTableResultHeading{


    display: inline-block;

    width: 100%;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); /* W3C */
	box-shadow: 0 0 3px #999999;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-8 */
}
.dataTableResultHeading .col-xs-3{
	border-right:1px solid #cccccc;
}
.menuHeader{
	font-size:15px;
	font-family: 'Arvo', serif;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
}
.blueBand {
	background: #A7DBFF;
	text-align: center;
	padding: 7px 5px;
	margin-top: -5px;
}
.dataTableResult {
	background: #ffffff;
	display: inline-block;
	width: 100%;
	/* padding: 10px 10px; */
	border: 1px solid #dddddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dataTableResult p {
	font-size: 12px;
	margin: 7px 0;
}

.dataTableResult .col-xs-2 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.dataTableResult .col-xs-8 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dataTableResult .col-xs-4 {
	text-align: right;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dataTableResult .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	min-height: 28px;
}
.dataTableResult .col-xs-8 p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.copyRight{
	color: white;
	text-align: center;
	width: 100%;
}

.dataTableResult .col-xs-3{
	padding: 0px 8px 0px 8px !important;
	border-right: 1px solid #CCC;
}

.dataTableResult .col-xs-3:last-child{
	border-right: none;
}
.dataTableResult .col-xs-3 p{
	width: 100%; 
}

.rightBlock1 {
	background: #ffffff;
	margin-bottom: 20px;
}

.rightBlock1 .last {
	height: 108px;
	overflow-y: auto;
}

.rightBlock1 .blockHeader {
	padding: 12px 0;
	font-size: 16px;
	text-align: center;
	box-shadow: 0 0 3px #999999;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',endColorstr='#eeeeee', GradientType=0); /* IE6-8 */
}


.rightBlock1 .blockContent {
	padding: 10px 10px;
	font-size: 12px;
	border: 1px solid #dddddd;
	height: 140px;
	overflow-y:auto;
}
.rightBlock1 .blockContent p{
	margin-bottom : 12px;
}
.districtLibraryContainer{
	overflow: auto;
}
.mission a.btn {
color: #ffffff !important;
}

.searchbox .form-group{
	position:relative;
}
.arrowLable{
	background: url(images/ratings/down-arrow.png) 0 12px no-repeat;
	position: absolute;
	top: 3px;
	right: 6px;
	z-index: 9999999;
	width: 10px;
	height: 17px;
	cursor: pointer;
}


.caption p div#htmlDescription{
	font-size: 12px;
}

.caption p button#btnHomeSignUp {
	font-size: 18px;
	margin-top: 10px;
}

/* Home Page CSS Sprite */

.sprite {
    background-image: url(images/landing-page/fmos.png);
    background-repeat: no-repeat;
    display: block;
}

.spriteFind {
    width: 90px;
    height: 90px;
    background-position: -2px -2px;
}

.spriteMonitor {
    width: 90px;
    height: 89px;
    background-position: -96px -2px;
}

.spriteRemix {
    width: 90px;
    height: 90px;
    background-position: -190px -2px;
}

.spriteShare {
    width: 90px;
    height: 90px;
    background-position: -284px -2px;
}
