
.searchbox{
		display:block !important;
}
	
.searchbox .form-control{
		height:33px;
 }
	
.arrowLable{
	
}
.bannerInner img {
}

.bodyWrapper {
}

.bannerInner .caption {
}

.banner {
}

.landingPageHelpDottedBoxContainer {
	
}

.getStart .getContentContainer h4 {

}

.getContentContainer p {
}

.getStart .getInnerRight h3 {

}

.getInnerRight p {

}

.getStart .getInnerRight h4 {
}

.communityblock {

}

.communityblock a {

}

.communityblock a {

}

.bannerInner .caption {
}

.bannerInner .caption h2 {
}

.bannerInner .caption p {

}

.banner #bs-example-navbar-collapse-2 {

}

.banner #bs-example-navbar-collapse-3 {

}

.banner .navbar-nav {

}

.banner .navbar-header {

}

.searchContainer .col-md-3 h2 {

}

.searchContainer .sInner p {

}

.searchContainer .sInner .form-control {

}
.mission p, .yourSupport p{

	}
	.yourSupport{

}
.badgepadd {

}
.social {

}
.social{

}
.margin {

}
.mainmenu{

}
.mainmenu .navbar-collapse{

}
.mainmenu .container > .navbar-header, .mainmenu .container-fluid > .navbar-header, .mainmenu .container > .navbar-collapse, .mainmenu .container-fluid > .navbar-collapse{

}
.mainmenu .navbar-default .navbar-collapse, .mainmenu .navbar-default .navbar-form{

}

.mainmenu  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .mainmenu .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{

}
.mainmenu .nav{

}

.mainmenu .navbar-collapse{

}
.searchContainer .col-md-3 h2{

}

.searchContainer .sInner p{

}

.searchContainer .sInner .form-control{

}

.login a:focus {

}
.dropdowDisplay{

}
.dropdowDisplay >li >a{

}
.mainmenu .navbar-collapse {

}
.mainmenu .navbar-collapse {

}

.districDropDown{

}
.mainmenu .navbar-header{

}
.mainmenu .nav>li {

}
.loggedInfo{
}
.logoutDownArrow{

}
.logoutDownArrow:hover{

}
.logoutPanel{

}
.userMenuBottomLine{
}
.logoutPanel .dropdowDisplay {

}
.menuActive{}
.menu{}
.signup{}
.noMargin{}
.imgBox{}
.margin{}
 .partext{}
 .gooruBadge{}
 .goorubadge{}
 .badgepadd{}
.logo{}	
.resourceRightsPopupContainer{}
.collectionToolTipLabel{}
.assessmentToolTipLabel{}
.folderToolTipLabel{}
.partnersDropdown{
	
}
.tooltipContainer{

}
.rightArrow{}

.classpageListContainer {
	
}

.loginBtn {
	
}

.howDoesItHeader {
	
}

.landingSearchIcon {
	
}

.loginCancelButton {
	
}

.filterSectionTextbox {
	
}

.loginCancelButton {
	
}

.hewlett {
	
}

.studyFeaturedCollectionButton {
	
}

.okSuccessBtn {
	
}

.passwordErrorLabel {
	
}

.cancelBtn {
	
}

.textBoxesField {
	
}

.container-fluid {
	
}

.forgotPwdSuccess {
	
}

.summaryPopupContainer {
	
}

.landingPageHelpOrganizeDownArrow {
	
}

.searchInfoLinks {
	
}

.discoverText {
	
}

.customizeNumber {
	
}

.landingPageHelpDiscoverSearchBoxContainer {
	
}

.forgotPwdContentDiv {
	
}

.ramShriram {
	
}

.resetTimeoutHeader {
	
}

.resetSuccessText {
	
}

.okButtonmargin {
	
}

.featuredRightContainer {
	
}

.studyInfoButton {
	
}

.landingPageHelpDiscoverSearchBox {
	
}

.signUpButton {
	
}

.discoverContent {
	
}

.customizeTxt {
	
}

.tryItOutGooru {
	
}

.aboutInfoContainer {
	
}

.searchInfoSubHeader {
	
}

.logoutTextForLandingPageHelp {
	
}

.landingPageHelpTeachLessoinHintActive {
	
}

.plusImg {
	
}

.resetPwdSuccessContainer {
	
}

.forgotEmailIdLabel {
	
}

.advanceSearchLink {
	
}

.organizeTxt {
	
}

.removingText {
	
}

.htmlPanelClasspageList {
	
}

.cisco {
	
}

.navbar-collapse {
	
}

.confirmMessageOk {
	
}

.registerLink {
	
}

.filterSubHeader {
	
}

.okBlueBtn {
	
}

.celebrations {
	
}

.filterLeftSection {
	
}

.landingPageHelpOrganizeBigIconHolder {
	
}

.navbar-nav {
	
}

.classicInnercontainer {
	
}

.registerLinkQ {
	
}

.searchInputBoxDiv {
	
}

.actionFieldOne {
	
}

.forgotEmailDiv {
	
}

.askMoreQuestionForHelp {
	
}

.nextGeneration {
	
}

.confirmMessageDelete {
	
}

.logoutText {
	
}

.landingPageHelpOrganizeBigIconContainer {
	
}

.plus {
	
}

.searchSaveShare {
	
}

.loginTop {
	
}

.userMenuBottomLine {
	
}

.filterSectionTypes {
	
}

.filterSectionTypes {
	
}

.resetPwdPanel {
	
}

.landingHelpPopupTitle {
	
}

.popupInner {
	
}

.confirmMessage {
	
}

.landingHelpPopupContainer {
	
}

.landingPageHelpOrganizeLessionTotlatContainer {
	
}

.classpageBottomLine {
	
}

.searchInfoHeaderForSuppoters {
	
}

.organizeImg {
	
}

.featuredContentContainer {
	
}

.featuredContentImageContainer {
	
}

.description {
	
}

.searchHeaderSubText {
	
}

.newClasspageLink {
	
}

.discoverImg {
	
}

.organizeNumber {
	
}

.innerContainer {
	
}

.fadeblueButtonText {
	
}

.linkTxt {
	
}

.featuredWrapperContainer {
	
}

.loadingText {
	
}

.aboutInfoAlignCenter {
	
}

.backToClassic {
	
}

.landingPageDotsTitle {
	
}

.resetPwdSuccessText {
	
}

.headerPanel {
	
}

.supporterHeader {
	
}

.filterInnerContent {
	
}

.leftImageContainer {
	
}

.btn {
	
}

.searchInfoLink {
	
}

.loginGooruLabelSubText {
	
}

.forgotEmailId {
	
}

.landingPageHelpOrganizeBigIconTotalContainer {
	
}

.classicGooru {
	
}

.learnMoreContainer {
	
}

.featuredRightContainerContent {
	
}

.shadow {
	
}

.gooruGuide {
	
}

.featuredCollectionTitle {
	
}

.featuredSlide1 {
	
}

.howDoesItWork {
	
}

.alpha {
	
}

.landingDiscoverIcon {
	
}

.landingPageLessionTitleSmall {
	
}

.landingPageLessionTitle {
	
}

.landingPageHelpTeachLessoinText {
	
}

.register {
	
}

.classpageTitleHeader {
	
}

.studyFeaturedCollectionArrow {
	
}

.filterContainer {
	
}

.homeSearchHeader {
	
}

.resetPwdTextError {
	
}

.setAsCenterPopup {
	
}

.aboutInfoInnerContent {
	
}

.aboutInfoColumnDivider {
	
}

.lblCollectionProgressDetails {
	
}

.forgotPwdLink {
	
}

.successText {
	
}

.secondary {
	
}

.landingPageHelpOrganizePlusIcon {
	
}

.homeSearchInputBoxColor {
	
}

.customizeContent {
	
}

.landingPageCelebrationText {
	
}

.aboutInfoColumnDividerLeft {
	
}

.removePopupContainer {
	
}

.featuredThemeContentContainer {
	
}

.reportPopupHeader {
	
}

.landingPageHelpTeachLessoinContainer {
	
}

.homeInfoFeaturedContent {
	
}

.pearson {
	
}

.landingPageLearn {
	
}

.homePageFeaturedStartStudy {
	
}

.organizeContent {
	
}

.filterSelectionBox {
	
}

.gates {
	
}

.resetPwdText {
	
}

.searchInfoContainer {
	
}

.featuredLeftContainer {
	
}

.searchInfoHeader {
	
}

.homeSearchInputBo.navbar-default {
	
}

x {
	
}

.searchInputBox {
	
}

.classicContainer {
	
}

.tryItOut {
	
}

.navbar-default {
	
}

.loginBlackText {
	
}

.shareNumber {
	
}

.featuredSlide {
	
}

.textBoxPlaceHolderWidth {
	
}

.successMsgText {
	
}

.subheader {
	
}

.goorulandingHeaderContainer {
	
}

.noClasspageYet {
	
}

.actionField {
	
}

.htmlPanelContentContainer {
	
}

.headerPopUpTitle {
	
}

.featuredContainer {
	
}

.loginHyplink {
	
}

.loginPopupGlassStyle {
	
}

.resetPwdLabel {
	
}

.searchInfoLeftColumn {
	
}

.homePageSearchButton {
	
}

.landingPageDiscoverIconDetails {
	
}

.searchInfoInnerContent {
	
}

.landingPageHelpTeachLessoinNumberActive {
	
}

.landingDiscoverIconContainer {
	
}

.landingPageHelpDotsTotalContainer {
	
}

.discoverNumber {
	
}

.searchInfoColumnDivider {
	
}

.helpPagePosition {
	
}

.landingPageHelpTeachLessoinTextActive {
	
}

.closeButton {
	
}

.classictryItOut {
	
}

.popUpTitleContext {
	
}

.lblCollectionProgress {
	
}

.featuredBaseContainer1 {
	
}

.resetPwdContentDiv {
	
}

.loginGooruLogoContainer {
	
}

.shareImg {
	
}

.filterHeader {
	
}

.filterArrow {
	
}

.btnBlock {
	
}

.featuredLeftContainerContent {
	
}

.landingPageHelpOrganizeBigIconContainerTwo {
	
}

.featuredThemeContent {
	
}

.searchBarMainContainer {
	
}

.forgotPwdFormButtonDiv {
	
}

.customizeImg {
	
}

.mailSupport {
	
}

.landingPageHelpTeachLessoinNumber {
	
}

.searchInfoIcon {
	
}

.landingPagesliderArrow {
	
}

.landingPageSliderArrowBackground {
	
}

.resetFooterText {
	
}

.searchInfoSubContent {
	
}

.landingPageHelpDotsContainer {
	
}

.removeText {
	
}

.forgotPwdFormCancelButton {
	
}

.resetTimeoutText {
	
}

.onr {
	
}

.confirmMessageContainer {
	
}

.sce {
	
}

.discoverTxt {
	
}

.tryItoutContainer {
	
}

.fadeblueArrow {
	
}

.logPanel {
	
}

.landingPageHelpOrganizeTopArrow {
	
}

.blueButtonText {
	
}

.ourMissionImage {
	
}

.gwtSuggestBoxPopup {
	
}

.closePopUp {
	
}

.loginGooruLabel {
	
}

.imageFieldContainer {
	
}

.classpageListTitle {
	
}

.landingPageHelpOrganizeImageContainer {
	
}

.landingPageSliderArrowSpan {
	
}

.shareTxt {
	
}

.landingPageHelpDotsText {
	
}

.searchImageIcon {
	
}

.searchBarBanner {
	
}

.supporters {
	
}

.summaryText {
	
}

.fenwick {
	
}

.landingPageOuterDiv {
	
}

.successPopupContainer {
	
}

.forgotPwdFormContainer {
	
}

.filterSuggestBox {
	
}

.landingPageHelpTeachLessoinHint {
	
}

.confirmMessages {
	
}

.landingSearchIconCont {
	
}

.gooruLearningIcon {
	
}

.waitPopupContainer {
	
}

.filterLabel {
	
}

.ladningPageHelpSearchButton {
	
}

.resetPwdTextContainer {
	
}

.landingPageCelebration {
	
}

.header {
	
}

.loginCkbox {
	
}

.blueArrow {
	
}

.htmlPanelNoClasspageContainer {
	
}

.shareContent {
	
}

.small {
	
}

.filterSection {
	
}

.google {
	
}

.playerAddToolTipGlassStyle {
	
}

.featuredBaseContainer {
	
}

.homeSearchInputBox {
	
}

.loginBorderPanel {
	
}

.setMarketingPopUpCenter {
	
}

.rightImageContainer {
	
}

.caption {
	
}

.bannerInner {
	
}

.communityblock {
	
}

.getCaption{}
.getStartedIMG{}
.getInner{}
.dropdowDisplay{}
.communityResult{}
.searchButton{}
.menuHeader{}
.blueBand{}
.dataTableResult{}
.rightBlock1{}
.blockContent{}
.districtLibraryContainer{}
.blockHeader{}
.last{}
.dataTableResultHeading{}

.errorMessageStyle{}
.errorMessageContainer{}
.displayRight{
	right: 0;
}