
.LoginpopupMain{
	width:100%;
}	
	
.LoginpopupContent {
    padding: 6px 6px;
}

.gConnectButton{
	padding:16px 16px 15px 45px;
}

.signInContainer{
	padding:25px 15px;
}
	
.subheader{
	text-align:center;
}
.LoginPopUpgreensmall{}
 .LoginPopUpgreensmall{}
  .LoginPopUpgreensmall{}
  .LoginpopupInner{}
   .dividerText{}
    .haveAccount{}
    .logInput{}
.closeContainer{}
.whyGoogle{}
.divider{}
.loginPopupbtnContainer{}
.form-control{}
.closeButton{}
.processing{}
 .lblDontHaveGoogleAccount{}
 .haveAccountContainer{}
.lnkSignUpWithEmail{}
 .loginPopupGlassStyle{}
.LoginPopUpgreen{}
.questionHover{}   
 .LoginpopupHeader{}
 .forgotPasswordLink{}       



