header{
	position:relative !important;
}
.bannerInner img {
	min-height: 130px;
}

.bodyWrapper {
	margin-top: 0;
}

.bannerInner .caption {
	left: 5%;
	position: absolute;
	right: 6%;
	text-align: center;
	top: 3%;
}

.banner {
	margin-top: 0px;
}

.landingPageHelpDottedBoxContainer {
	
}

.getStart .getContentContainer h4 {
	font-size: 20px;
}

.getContentContainer p {
	font-size: 16px;
}

.getStart .getInnerRight h3 {
	font-size: 30px;
}

.getInnerRight p {
	font-size: 16px;
}

.getStart .getInnerRight h4 {
	font-size: 20px;
}

.communityblock {
	text-align: center;
}

.communityblock a {
	display: block;
	margin: 10px 0 0 0;
}

.communityblock a {
	font-size: 16px;
}

.bannerInner .caption {
	left: 5%;
	position: absolute;
	right: 6%;
	text-align: center;
	top: 3%;
}

.bannerInner .caption h2 {
	color: #ffffff;
	font-family: "Arvo", serif !important;
	font-size: 18px;
	font-weight: 600;
	margin: 2px 5px;
	text-shadow: 0 2px 4px #666;
}

.bannerInner .caption p {
	font-size: 12px;
}

.banner #bs-example-navbar-collapse-2 {
	margin: 0 0;
}

.banner #bs-example-navbar-collapse-3 {
	margin: 0 0;
}

.banner .navbar-nav {
	margin: 0 0;
}

.banner .navbar-header {
	margin: 0 0 !important;
}

.searchContainer .col-md-3 h2 {
	font-size: 30px;
}

.searchContainer .sInner p {
	font-size: 18px;
}

.searchContainer .sInner .form-control {
	height: 42px;
	font-size: 18px;
}
.mission p, .yourSupport p{
		font-size:16px;
	}
	.yourSupport{
	text-align:center;
}
.badgepadd {
	display: block;
	height: auto;
	margin: 25px 0;
}
.social {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}
.social{
	text-align:center !important;
	margin-top:25px;
}
.margin {
	margin: 15px 0;
}
.searchbox .form-control{
	height:37px;
}

.searchbox{
	display:none;
}
.mainmenu{
	width:100% !important;
}
.mainmenu .navbar-collapse{
	width:100%;
	float:left;
	margin-top:10px;
}
.mainmenu .container > .navbar-header, .mainmenu .container-fluid > .navbar-header, .mainmenu .container > .navbar-collapse, .mainmenu .container-fluid > .navbar-collapse{
	margin-left:0 !important;
	margin-right:0 !important;
}
.mainmenu .navbar-default .navbar-collapse, .mainmenu .navbar-default .navbar-form{
	border-color:#333333;
}

.mainmenu  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .mainmenu .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color:#ffffff;
	opacity:0.7;
}
.mainmenu .nav{
	float:left;
	width:100%;
	margin:7.5px 0;
}

.mainmenu .navbar-collapse{
	padding-left:0 !important;
	padding-right:0 !important;
}
.searchContainer .col-md-3 h2{
	font-size:30px;
}

.searchContainer .sInner p{
	font-size:18px;
}

.searchContainer .sInner .form-control{
	height:42px;
	font-size:18px;
}

.login a:focus {
background-color: #393939;
color: #ffffff;
opacity: 1;
}
.dropdowDisplay{
position: static;
float: none;
width: auto;
margin-top: 0;
background-color: transparent;
border: 0;
box-shadow: none;
 color: white;
}
.dropdowDisplay >li >a{
	color: #ffffff;
font-size: 13px;
}
.mainmenu .navbar-collapse {
	padding-left: 0 !important;
padding-right: 0 !important;
}
.mainmenu .navbar-collapse {
	width: 100%;
	float: left;
margin-top: 10px;
}

.districDropDown{
	margin-left:3%;
}
.mainmenu .navbar-header{
	float:none;
}
.mainmenu .nav>li {
	border-right:0;
}
.loggedInfo{
	padding:18px 0px;
	float:none;
}
.logoutDownArrow{
	float:none;
	display:block;
}
.logoutDownArrow:hover{
	background-color: #393939;
}
.logoutPanel{
	background:none;
}
.userMenuBottomLine{
	height:0px;
}
.logoutPanel .dropdowDisplay {
	margin-left:3%;
}
.menuActive{}
.menu{}
.signup{}
.noMargin{}
.imgBox{}
.margin{}
 .partext{}
 .gooruBadge{}
 .goorubadge{}
 .badgepadd{}
.logo{}	
.resourceRightsPopupContainer{}
.collectionToolTipLabel{}
.folderToolTipLabel{}
.partnersDropdown{
	margin-left:3%;
}
.tooltipContainer{
	position:static;
	margin-left:3%;
}
.rightArrow{}

.classpageListContainer {
	margin-left:3%;
}

.loginBtn {
	
}

.howDoesItHeader {
	
}

.landingSearchIcon {
	
}

.loginCancelButton {
	
}

.filterSectionTextbox {
	
}

.loginCancelButton {
	
}

.hewlett {
	
}

.studyFeaturedCollectionButton {
	
}

.okSuccessBtn {
	
}

.passwordErrorLabel {
	
}

.cancelBtn {
	
}

.textBoxesField {
	
}

.container-fluid {
	
}

.forgotPwdSuccess {
	
}

.summaryPopupContainer {
	
}

.landingPageHelpOrganizeDownArrow {
	
}

.searchInfoLinks {
	
}

.discoverText {
	
}

.customizeNumber {
	
}

.landingPageHelpDiscoverSearchBoxContainer {
	
}

.forgotPwdContentDiv {
	
}

.ramShriram {
	
}

.resetTimeoutHeader {
	
}

.resetSuccessText {
	
}

.okButtonmargin {
	
}

.featuredRightContainer {
	
}

.studyInfoButton {
	
}

.landingPageHelpDiscoverSearchBox {
	
}

.signUpButton {
	
}

.discoverContent {
	
}

.customizeTxt {
	
}

.tryItOutGooru {
	
}

.aboutInfoContainer {
	
}

.searchInfoSubHeader {
	
}

.logoutTextForLandingPageHelp {
	
}

.landingPageHelpTeachLessoinHintActive {
	
}

.plusImg {
	
}

.resetPwdSuccessContainer {
	
}

.forgotEmailIdLabel {
	
}

.advanceSearchLink {
	
}

.organizeTxt {
	
}

.removingText {
	
}

.htmlPanelClasspageList {
	
}

.cisco {
	
}

.navbar-collapse {
	
}

.confirmMessageOk {
	
}

.registerLink {
	
}

.filterSubHeader {
	
}

.okBlueBtn {
	
}

.celebrations {
	
}

.filterLeftSection {
	
}

.landingPageHelpOrganizeBigIconHolder {
	
}

.navbar-nav {
	
}

.classicInnercontainer {
	
}

.registerLinkQ {
	
}

.searchInputBoxDiv {
	
}

.actionFieldOne {
	
}

.forgotEmailDiv {
	
}

.askMoreQuestionForHelp {
	
}

.nextGeneration {
	
}

.confirmMessageDelete {
	
}

.logoutText {
	
}

.landingPageHelpOrganizeBigIconContainer {
	
}

.plus {
	
}

.searchSaveShare {
	
}

.loginTop {
	
}

.userMenuBottomLine {
	
}

.filterSectionTypes {
	
}

.filterSectionTypes {
	
}

.resetPwdPanel {
	
}

.landingHelpPopupTitle {
	
}

.popupInner {
	
}

.confirmMessage {
	
}

.landingHelpPopupContainer {
	
}

.landingPageHelpOrganizeLessionTotlatContainer {
	
}

.classpageBottomLine {
	
}

.searchInfoHeaderForSuppoters {
	
}

.organizeImg {
	
}

.featuredContentContainer {
	
}

.featuredContentImageContainer {
	
}

.description {
	
}

.searchHeaderSubText {
	
}

.newClasspageLink {
	
}

.discoverImg {
	
}

.organizeNumber {
	
}

.innerContainer {
	
}

.fadeblueButtonText {
	
}

.linkTxt {
	
}

.featuredWrapperContainer {
	
}

.loadingText {
	
}

.aboutInfoAlignCenter {
	
}

.backToClassic {
	
}

.landingPageDotsTitle {
	
}

.resetPwdSuccessText {
	
}

.headerPanel {
	
}

.supporterHeader {
	
}

.filterInnerContent {
	
}

.leftImageContainer {
	
}

.btn {
	
}

.searchInfoLink {
	
}

.loginGooruLabelSubText {
	
}

.forgotEmailId {
	
}

.landingPageHelpOrganizeBigIconTotalContainer {
	
}

.classicGooru {
	
}

.learnMoreContainer {
	
}

.featuredRightContainerContent {
	
}

.shadow {
	
}

.gooruGuide {
	
}

.featuredCollectionTitle {
	
}

.featuredSlide1 {
	
}

.howDoesItWork {
	
}

.alpha {
	
}

.landingDiscoverIcon {
	
}

.landingPageLessionTitleSmall {
	
}

.landingPageLessionTitle {
	
}

.landingPageHelpTeachLessoinText {
	
}

.register {
	
}

.classpageTitleHeader {
	
}

.studyFeaturedCollectionArrow {
	
}

.filterContainer {
	
}

.homeSearchHeader {
	
}

.resetPwdTextError {
	
}

.setAsCenterPopup {
	
}

.aboutInfoInnerContent {
	
}

.aboutInfoColumnDivider {
	
}

.lblCollectionProgressDetails {
	
}

.forgotPwdLink {
	
}

.successText {
	
}

.secondary {
	
}

.landingPageHelpOrganizePlusIcon {
	
}

.homeSearchInputBoxColor {
	
}

.customizeContent {
	
}

.landingPageCelebrationText {
	
}

.aboutInfoColumnDividerLeft {
	
}

.removePopupContainer {
	
}

.featuredThemeContentContainer {
	
}

.reportPopupHeader {
	
}

.landingPageHelpTeachLessoinContainer {
	
}

.homeInfoFeaturedContent {
	
}

.pearson {
	
}

.landingPageLearn {
	
}

.homePageFeaturedStartStudy {
	
}

.organizeContent {
	
}

.filterSelectionBox {
	
}

.gates {
	
}

.resetPwdText {
	
}

.searchInfoContainer {
	
}

.featuredLeftContainer {
	
}

.searchInfoHeader {
	
}

.homeSearchInputBo.navbar-default {
	
}

x {
	
}

.searchInputBox {
	
}

.classicContainer {
	
}

.tryItOut {
	
}

.navbar-default {
	
}

.loginBlackText {
	
}

.shareNumber {
	
}

.featuredSlide {
	
}

.textBoxPlaceHolderWidth {
	
}

.successMsgText {
	
}

.subheader {
	
}

.goorulandingHeaderContainer {
	
}

.noClasspageYet {
	
}

.actionField {
	
}

.htmlPanelContentContainer {
	
}

.headerPopUpTitle {
	
}

.featuredContainer {
	
}

.loginHyplink {
	
}

.loginPopupGlassStyle {
	
}

.resetPwdLabel {
	
}

.searchInfoLeftColumn {
	
}

.homePageSearchButton {
	
}

.landingPageDiscoverIconDetails {
	
}

.searchInfoInnerContent {
	
}

.landingPageHelpTeachLessoinNumberActive {
	
}

.landingDiscoverIconContainer {
	
}

.landingPageHelpDotsTotalContainer {
	
}

.discoverNumber {
	
}

.searchInfoColumnDivider {
	
}

.helpPagePosition {
	
}

.landingPageHelpTeachLessoinTextActive {
	
}

.closeButton {
	
}

.classictryItOut {
	
}

.popUpTitleContext {
	
}

.lblCollectionProgress {
	
}

.featuredBaseContainer1 {
	
}

.resetPwdContentDiv {
	
}

.loginGooruLogoContainer {
	
}

.shareImg {
	
}

.filterHeader {
	
}

.filterArrow {
	
}

.btnBlock {
	
}

.featuredLeftContainerContent {
	
}

.landingPageHelpOrganizeBigIconContainerTwo {
	
}

.featuredThemeContent {
	
}

.searchBarMainContainer {
	
}

.forgotPwdFormButtonDiv {
	
}

.customizeImg {
	
}

.mailSupport {
	
}

.landingPageHelpTeachLessoinNumber {
	
}

.searchInfoIcon {
	
}

.landingPagesliderArrow {
	
}

.landingPageSliderArrowBackground {
	
}

.resetFooterText {
	
}

.searchInfoSubContent {
	
}

.landingPageHelpDotsContainer {
	
}

.removeText {
	
}

.forgotPwdFormCancelButton {
	
}

.resetTimeoutText {
	
}

.onr {
	
}

.confirmMessageContainer {
	
}

.sce {
	
}

.discoverTxt {
	
}

.tryItoutContainer {
	
}

.fadeblueArrow {
	
}

.logPanel {
	
}

.landingPageHelpOrganizeTopArrow {
	
}

.blueButtonText {
	
}

.ourMissionImage {
	
}

.gwtSuggestBoxPopup {
	
}

.closePopUp {
	
}

.loginGooruLabel {
	
}

.imageFieldContainer {
	
}

.classpageListTitle {
	
}

.landingPageHelpOrganizeImageContainer {
	
}

.landingPageSliderArrowSpan {
	
}

.shareTxt {
	
}

.landingPageHelpDotsText {
	
}

.searchImageIcon {
	
}

.searchBarBanner {
	
}

.supporters {
	
}

.summaryText {
	
}

.fenwick {
	
}

.landingPageOuterDiv {
	
}

.successPopupContainer {
	
}

.forgotPwdFormContainer {
	
}

.filterSuggestBox {
	
}

.landingPageHelpTeachLessoinHint {
	
}

.confirmMessages {
	
}

.landingSearchIconCont {
	
}

.gooruLearningIcon {
	
}

.waitPopupContainer {
	
}

.filterLabel {
	
}

.ladningPageHelpSearchButton {
	
}

.resetPwdTextContainer {
	
}

.landingPageCelebration {
	
}

.header {
	
}

.loginCkbox {
	
}

.blueArrow {
	
}

.htmlPanelNoClasspageContainer {
	
}

.shareContent {
	
}

.small {
	
}

.filterSection {
	
}

.google {
	
}

.playerAddToolTipGlassStyle {
	
}

.featuredBaseContainer {
	
}

.homeSearchInputBox {
	
}

.loginBorderPanel {
	
}

.setMarketingPopUpCenter {
	
}

.rightImageContainer {
	
}

.caption {
	
}

.bannerInner {
	
}

.communityblock {
	
}

.getCaption{}
.getStartedIMG{}
.getInner{}
.dropdowDisplay{}
.communityResult{}
.searchButton{}
.menuHeader{}
.blueBand{}
.dataTableResult{}
.rightBlock1{}
.blockContent{}
.districtLibraryContainer{}
.blockHeader{}
.last{}
.dataTableResultHeading{}