.subj {
		display: block !important;
}
.standeredList {

display: block !important;
}
.normalText{}
 .flagbuttonDeSelected{}
 .rightFlagPanel{}
 .leftFlagMenu{}
 .leftFlagPanel{}
.PopupMainV1Small{
}
.labels{}
.firstInputGroup{}
.childUserInfoContainer{}
.childInputGroup{}
.parentsAccount{}
.contentDescr{}
.orContainerDown{}

.ratingStars{}
.reviewsContent{}
.bar{}
 .count{}
 .panelRatingLabels{}
 .reviewContainer{}
 .reviewContainerHeader{}
  .date{}
  .review{}
  .ratingLabel{}
   .panelRatingValues{}  
 .rHeader{}
.listGroup{}
.scrollBar{}
.standarBodyContainer{}
.overRideBlueButton{}
.collectionFormCancelButton{}
.actionField{}
.sharenEmbedContainer{}
.addButtonContainer{}
.PopupMainVVSmall{}
.forgotPasswordErrorMessage{}
.paragraph{}
 .lnkSignUpWithEmail{}
 .signInContainer{}
  .subheader{}
  .sampleReportSliderHolder{}
 .popupFooter{}
 .policyTextHeade{}
 .popupContentGrey{}
 .lblDontHaveGoogleAccount{}
 .logInput{}
 .termsOfUserMessageText{}
 .selectGrades{}
 .questionHover{}
 .LoginPopUpgreensmall{}
  .title{}
 .teacherRole{}
 .courseOption{}
 .closeButton{}
 .LoginpopupInner{}
.haveAccount{}
.privacyCloseButton{}
.popupContentLeaveRegistration{}
 .popupContentScroll{}
.Grades{}
.PopupMainSmall{}
.termsSubTitle{}
.roleOptionImage{}
.PopupMainLarge{}
.contactUs{}
.lblCollectionProgress{}
.courseContainer{}
.primary{}
.userInfoContainer{}
 .gConnectButton{}
.disabled{}
.secondary{}
.whyGoogle{}
.processing{}
.popupInnerLeaveReg{}
.LoginpopupHeader{}
.popupInnerGrey{}
.SignUp-h2{}
.GreenHeader{}
.greyBGContainer{}
.dividerText{}
.forgotPasswordButtonContainer{}
.leaveRegistrationButtonContainer{}
.SliderHolderPrev{}
.PopupInner{}
.popupgreyHeader{}
.leaveRegistarionFooterText{}
.policyTextLine{}
.lblCollectionProgressDetails{}
.lastUpdated{}
.loginPopupbtnContainer{}
.LoginPopUpgreen{}
.forgotPasswordDescription{}
.PopupContent{}
.termsTextLine{}
.textContentDiv{}
.closeContainer{}
.roleLabel{}
 .inputGroup{}
.haveAccountContainer{}
.popupgreenHeader{}
 .SliderHolderNext{}
.roleOption{}
 .form-control{}
 .forgotPasswordTextBoxContainer{}
.privacyLinkText{}
.popupContentforgotPassword{}
 .popupgreyFooter{}
 .noOverflow{}
.studentRole{}
.popupInnerforgotPassword{}
.LoginpopupMain{}
.loginPopupGlassStyle{}
.selectCourses{}
.otherRole{}
.LoginpopupContent{}
.divider{}
.forgotPasswordText{}
.forgotPasswordLink{}
.PopupMainMedium{}
.parentRole{}
.SignUp-green-h1{}
 .leaveRegistrationBottomContainer{}
.subjectOptionMath{}
.subjectOptionScience{}
 .subjectOptionSS{}
.subjectOptionELA{}
.active{}
.subjectOption{} 
.subjectOptionMath{}
.subjectOptionScience{}
 .subjectOptionSS{}
 .subjectOptionELA{}
.active{}
.subjectOption{}
.teacherRoleSelected{}
.studentRoleSelected{}
.parentRoleSelected{}
.otherRoleSelected{} 
.sceinceActive{}
.mathActive{}
.ssActive{}
.elaActive{} 
.menu-icon{}
.activeGrade{}
.collectionSelected{}
.PopupMainVSmall{}
.shareSelection{}
.contentDesc{}
.dontWorrkText{}
.popupcornerBg{}
.whatNew{}
.whatLeft{}
.whatRight{}
.borderLeft{}
.improveGooruDescriptionx{}
.improveGooruLinkDesc{}
.improveGooruSubHeading{}
.improveGooruBlueText{}
.improveGooruBlueTextDesc{}
.improveGooruDesc{}
.loginShareContainer{}
 .collectionSel{}
  .addSelection{}
  .emailSelection{}
   .lables{}
   .assignContainer{}
    .formViewButtonContainer{}
    .addTagsContent{}
 .AddTagesPopup-levelType{}
 .AddTagesPopup-selected{}
 .AddTagesPopup-li{}
  .AddTagesPopup-levelnumbers{}
  .standardsCont{}
 .AddTagesPopup-okcancel{}
 .addQuestionStandard{}
  .AddTagesPopup-h5{}
  .emailContainer{}
  .lblNoteTxt{}
  .classPageEmailButtonCancel{}
   .PopupMainExtraLarge{}
   .remixContainer{} 
   
   .h1{}
   .forgotPasswordBottomContainer{}
   .forgotPasswordSuccessText{}
   .popupInner{}
   
   .popupHeader{}
   .forgotPasswordSuccessPopupContent{}
   .forgotPasswordSuceessButtonContainer{}
   .footerText{}
   .btnSubmit{}
   .popup{}