.PopupMainMedium{
	width:100%;

}
.PopupMainLarge{
	width:100%;
}

.PopupMainExtraLarge{
	width:100%;
}
.PopupCenturyLarge{
	width:100%;
}
.menu-icon{
	display:none;
}
.PopupMainV1Small{
}
.PopupMainV2Small{
}
.PopupMainMediumReport{
	width:90%;
}
 .normalText{}
 .flagbuttonDeSelected{}
 .rightFlagPanel{}
 .leftFlagMenu{}
 .leftFlagPanel{
  height:86px !important;
 }
 
.firstInputGroup{}
.childUserInfoContainer{}
.childInputGroup{}
.parentsAccount{}
.contentDescr{}
.orContainerDown{}

.reviewsContent{}
.bar{}
 .count{}
 .panelRatingLabels{}
 .reviewContainer{}
 .reviewContainerHeader{}
  .date{}
  .review{}
  .ratingLabel{}
   .panelRatingValues{}  
 .rHeader{}
.ratingStars{}
.listGroup{}
.scrollBar{}
.standarBodyContainer{}
.overRideBlueButton{}
.collectionFormCancelButton{}
.actionField{}
.sharenEmbedContainer{}
.addButtonContainer{}
 .LoginpopupInner{}
 .popupContentGrey{}
 .contactUs{}
.whyGoogle{}
.parentRole{}
.selectGrades{}
.noOverflow{}
.popupContentScroll{}
.GreenHeader{}
.LoginpopupHeader{}
.popupgreyHeader{}
.policyTextHeade{}
.leaveRegistrationBottomContainer{}
.inputGroup{}
.sampleReportSliderHolder{}
 .popupContentLeaveRegistration{}
 .privacyCloseButton{}
 .paragraph{}
 .otherRole{}
.subheader{}
.processing{}
.Grades{}
.active{}
.courseContainer{}
.subjectOptionMath{}
.policyTextLine{}
.closeButton{}
.loginPopupGlassStyle{}
.PopupMainSmall{}
.forgotPasswordText{}
.popupInnerLeaveReg{}
.LoginpopupContent{}
.userInfoContainer{}
.PopupContent{}
.termsTextLine{}
.primary{}
.leaveRegistarionFooterText{}
.SignUp-green-h1{}
.loginPopupbtnContainer{}
.SliderHolderNext{}
.popupgreenHeader{}
.form-control{}
.termsSubTitle{}
.subjectOptionSS{}
.subjectOption{}
 .title{}
 .popupgreyFooter{}
 .popupContentforgotPassword{}
 .questionHover{}
 .secondary{}
 .logInput{}
 .closeContainer{}
 .lastUpdated{}
 .greyBGContainer{}
 .textContentDiv{}
 .LoginPopUpgreen{}
 .forgotPasswordButtonContainer{}
 .SignUp-h2{}
.lblCollectionProgressDetails{}
 .roleOption{}
 .leaveRegistrationButtonContainer{}
  .subjectOptionELA{}
  .dividerText{}
  .disabled{}
 .teacherRole{}
  .forgotPasswordDescription{}
 .popupFooter{}
  .popupInnerforgotPassword{}
  .lblCollectionProgress{}
   .privacyLinkText{}
 .LoginpopupMain{}
  .forgotPasswordTextBoxContainer{}
  .selectCourses{}
 .popupInnerGrey{}
.lnkSignUpWithEmail{}
 .PopupInner{}
.termsOfUserMessageText{}
.LoginPopUpgreensmall{}
.signInContainer{}
.divider{}
.studentRole{}
 .gConnectButton{}
 .haveAccountContainer{}
  .SliderHolderPrev{}
  .roleLabel{}
  .lblDontHaveGoogleAccount{}
  .courseOption{} 
  .roleOptionImage{}
  .forgotPasswordLink{}
 .subjectOptionScience{}
 .haveAccount{}  
.teacherRoleSelected{}
.studentRoleSelected{}
.parentRoleSelected{}
.otherRoleSelected{}  
.forgotPasswordErrorMessage{}   
.sceinceActive{}
.mathActive{}
.ssActive{}
.elaActive{}
 .subj{}   
.activeGrade{}
.collectionSelected{}  
.PopupMainVVSmall{}
 .PopupMainVSmall{}
 .shareSelection{}
.contentDesc{}
.dontWorrkText{}
.popupcornerBg{} 
.whatNew{}
.whatLeft{}
.whatRight{}
.borderLeft{}
.improveGooruDescriptionx{}
.improveGooruLinkDesc{}
.improveGooruSubHeading{}
.improveGooruBlueText{}
.improveGooruBlueTextDesc{}
.improveGooruDesc{}
.loginShareContainer{}
 .collectionSel{}
.addSelection{}
.emailSelection{}
.lables{}
.assignContainer{}
 .formViewButtonContainer{} 
 .addTagsContent{}
 .AddTagesPopup-levelType{}
 .AddTagesPopup-selected{}
 .AddTagesPopup-li{}
  .AddTagesPopup-levelnumbers{}
  .standardsCont{}
 .AddTagesPopup-okcancel{}
 .addQuestionStandard{}
 .AddTagesPopup-h5{} 
 .emailContainer{}
 .lblNoteTxt{}
.classPageEmailButtonCancel{}         
.remixContainer{} 
.labels{}  
 
      .h1{}
   .forgotPasswordBottomContainer{}
   .forgotPasswordSuccessText{}
   .popupInner{}
   
   .popupHeader{}
   .forgotPasswordSuccessPopupContent{}
   .forgotPasswordSuceessButtonContainer{}
   .footerText{}
   .btnSubmit{}
   .popup{}
   .forgetImgBG{}
  .loginWithGooru{}
 .errorLabel{}
 .emailSignIn{}
 .forgotPwdMargin{}
 .form_control{}
 .PopupMainResetSucessStyle{}
 
 
 
 



 

 










 


 

 


 






   
 
  	