.menu-icon{
	display:none;
}
.normalText{}
 .flagbuttonDeSelected{}
 .rightFlagPanel{}
 .leftFlagMenu{}
 .leftFlagPanel{}
.PopupMainV1Small{
}
.firstInputGroup{}
.childUserInfoContainer{}
.childInputGroup{}
.parentsAccount{}
.contentDescr{}
.orContainerDown{}

.reviewsContent{}
.bar{}
 .count{}
 .panelRatingLabels{}
 .reviewContainer{}
 .reviewContainerHeader{}
  .date{}
  .review{}
  .ratingLabel{}
   .panelRatingValues{}  
 .rHeader{}

.ratingStars{}
.scrollBar{}
.listGroup{}
.standarBodyContainer{}
.overRideBlueButton{}
.collectionFormCancelButton{}
.overRideBlueButton{}
.collectionFormCancelButton{}
.actionField{}
.sharenEmbedContainer{}
.addButtonContainer{}
.forgotPasswordErrorMessage{}
 .SignUp-h2{}
.PopupMainLarge{}
.parentRole{}
.paragraph{}
.roleLabel{}
.form-control{}
.popupgreyFooter{}
.primary{}
.privacyCloseButton{}
.popupInnerGrey{}
.leaveRegistrationBottomContainer{}
.termsSubTitle{}
.forgotPasswordButtonContainer{}
.policyTextLine{}
.closeButton{}
.termsTextLine{}
 .secondary{}
 .haveAccountContainer{}
 .LoginpopupMain{}
.forgotPasswordDescription{}
.userInfoContainer{}
.PopupInner{}
.subjectOptionMath{}
.closeContainer{}
.GreenHeader{}
.lnkSignUpWithEmail{}
.lastUpdated{}
.popupContentLeaveRegistration{}
.forgotPasswordLink{}
 .subjectOptionSS{}
  .selectCourses{}
 .termsOfUserMessageText{}
 .SliderHolderNext{}
 .subjectOptionELA{}
.divider{}
 .gConnectButton{}
.active{}
.LoginpopupContent{}
.processing{}
.questionHover{}
.forgotPasswordTextBoxContainer{}
.otherRole{}
.courseContainer{}
.LoginPopUpgreensmall{}
 .signInContainer{}
 .subheader{}
 .PopupMainMedium{}
  .Grades{}
  .popupContentGrey{}
 .SliderHolderPrev{}
.greyBGContainer{}
 .lblCollectionProgressDetails{}
 .LoginpopupHeader{}
 .noOverflow{}
 .studentRole{}
 .popupFooter{}
 .leaveRegistarionFooterText{}
 .whyGoogle{}
 .policyTextHeade{}
 .roleOption{}
 .disabled{}
.PopupContent{}
.loginPopupbtnContainer{}
.roleOptionImage{}
.loginPopupGlassStyle{}
 .textContentDiv{}
.forgotPasswordText{}
.logInput{}
.haveAccount{}
.lblCollectionProgress{}
.sampleReportSliderHolder{}
.selectGrades{}
 .popupInnerLeaveReg{}
 .privacyLinkText{}
.popupContentScroll{}
.popupgreenHeader{}
.teacherRole{}
.courseOption{}
.dividerText{}
.LoginpopupInner{}
.PopupMainSmall{}
.popupContentforgotPassword{}
.title{}
.contactUs{}
.subjectOptionScience{}
.popupgreyHeader{}
.popupInnerforgotPassword{}
 .lblDontHaveGoogleAccount{}
 .inputGroup{}
.LoginPopUpgreen{}
 .SignUp-green-h1{}
.leaveRegistrationButtonContainer{}
.subjectOption{}
.teacherRoleSelected{}
.studentRoleSelected{}
.parentRoleSelected{}
.otherRoleSelected{} 
.sceinceActive{}
.mathActive{}
.ssActive{}
.elaActive{}   
 .subj{}
.activeGrade{}
.collectionSelected{}
.PopupMainVVSmall{}
.PopupMainVSmall{}
.shareSelection{}
.contentDesc{}
.dontWorrkText{}
.popupcornerBg{}
.whatNew{}
.whatLeft{}
.whatRight{}
.borderLeft{}
.improveGooruDescriptionx{}
.improveGooruLinkDesc{}
.improveGooruSubHeading{}
.improveGooruBlueText{}
.improveGooruBlueTextDesc{} 
.improveGooruDesc{}
.loginShareContainer{}
 .collectionSel{}
.addSelection{}
.emailSelection{}
.lables{}
.assignContainer{}
 .formViewButtonContainer{}
 .addTagsContent{}
 .AddTagesPopup-levelType{}
 .AddTagesPopup-selected{}
 .AddTagesPopup-li{}
  .AddTagesPopup-levelnumbers{}
  .standardsCont{}
 .AddTagesPopup-okcancel{}
 .addQuestionStandard{}
  .AddTagesPopup-h5{} 
.emailContainer{}
.lblNoteTxt{}
.classPageEmailButtonCancel{} 
 .PopupMainExtraLarge{}
.remixContainer{}
.labels{}  
   .h1{}
   .forgotPasswordBottomContainer{}
   .forgotPasswordSuccessText{}
   .popupInner{}
   
   .popupHeader{}
   .forgotPasswordSuccessPopupContent{}
   .forgotPasswordSuceessButtonContainer{}
   .footerText{}
   .btnSubmit{}
   .popup{}
   .forgetImgBG{}
 .loginWithGooru{}
 .errorLabel{}
    .emailSignIn{}
    .forgotPwdMargin{}
 
   
   
  
 
  
 







 
 
 
 
  
  
  
 
 
   

 
  
 