
.LoginpopupMain{
	width:100%;
}	
	
.LoginpopupContent {
    padding: 10px 15px;
}

.gConnectButton{
	padding:16px 16px 15px 45px;
}
.subheader{
	text-align:center;
}
.signInContainer{
	padding:25px 25px;
}
 .lblDontHaveGoogleAccount{}
.loginPopupGlassStyle{}
.LoginPopUpgreensmall{}
.LoginpopupInner{}
.haveAccountContainer{}
.LoginPopUpgreen{}
.logInput{}
.loginPopupbtnContainer{}
.haveAccount{}
.closeContainer{}
.divider{}
.processing{}
.questionHover{}
.form-control{}
.LoginpopupHeader{}
 .lnkSignUpWithEmail{}
.dividerText{}
.whyGoogle{}
.forgotPasswordLink{}
 .closeButton{} 
	

