.PopupMainMedium{
	width:100%;

}
.PopupMainSmall{
	width:100%;

}
.PopupMainLarge{
	width:100%;
}
.PopupMainMedium .text{
	text-align:center;
}

.lblCollectionProgress{
	text-align:center;
}
.lblCollectionProgressDetails{
	text-align:center;
}

.SliderHolderNext{
	right:-25px;
	
}
.SliderHolderPrev{
	left:-25px;
	
}
.courseContainer {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}	
.primary{}
.LoginpopupMain{}
.gConnectButton{}
.LoginpopupContent{}
.SignUp-green-h1{}
.signInContainer{}
 .subheader{}
 .SignUp-h2{}
  .popupInnerforgotPassword{}
 .policyTextLine{}
 .subjectOptionScience{}
 .subjectOptionMath{}
 .popupgreenHeader{}
 .subjectOption{}
 .PopupInner{}
 .leaveRegistrationButtonContainer{}
 .dividerText{}
 .popupInnerGrey{}
 .popupContentforgotPassword{}
  .subjectOptionELA{}
 .haveAccount{}
 .popupContentGrey{}
 .popupgreyFooter{}
  .haveAccountContainer{}
  .active{}
   .inputGroup{}
  .popupgreyHeader{}
 .greyBGContainer{}
 .lblDontHaveGoogleAccount{}
 .privacyLinkText{}
.subjectOptionSS{}
 .otherRole{}
.roleOption{}
.sampleReportSliderHolder{}
 .loginPopupbtnContainer{}
 .lastUpdated{}
 .forgotPasswordDescription{}
 .forgotPasswordText{}
.courseOption{}
.questionHover{}
.processing{}
.studentRole{}
.paragraph{}
.selectGrades{}
.leaveRegistrationBottomContainer{}
.whyGoogle{}
.PopupContent{}
.parentRole{}
.title{}
.forgotPasswordButtonContainer{}
.textContentDiv{}
.roleOptionImage{}
.popupFooter{}
.forgotPasswordTextBoxContainer{}
.contactUs{}
.lnkSignUpWithEmail{}
.form-control{}
.closeButton{}
.divider{}
.noOverflow{}
.closeContainer{}
.termsSubTitle{}
.selectCourses{}
.termsTextLine{}
.userInfoContainer{}
.popupContentScroll{}
.logInput{}
.LoginPopUpgreen{}
.popupContentLeaveRegistration{}
 .loginPopupGlassStyle{}
  .policyTextHeade{}
 .termsOfUserMessageText{}
 .secondary{}
.LoginPopUpgreensmall{}
.forgotPasswordLink{}
.LoginpopupHeader{}
.popupInnerLeaveReg{}
.Grades{}
.GreenHeader{}
.disabled{}
.LoginpopupInner{}
.leaveRegistarionFooterText{}
 .teacherRole{}
.roleLabel{}
.privacyCloseButton{}
.teacherRoleSelected{}
.studentRoleSelected{}
.parentRoleSelected{}
.otherRoleSelected{}
.forgotPasswordErrorMessage{} 



  
 

 
  
   
  
 











 









 



 

 
  
 
 
 
 
 
 
 
 
  
  
   
    
  
 
 
 
 
 
 






