.buttonsPanel {
	width: auto;
	margin: 0 10px;
}

.addButonStyle {
	padding: 10px 20px;
	width: 100%;
}

.collectionsGroupBtns {
	text-align: center;
}

.collectionsGroupBtns div button.addButonStyle {
	width: 100%;
}

.collectionsGroupBtns div .buttonsPanel {
	margin-bottom: 15px;
	margin-top:10px;
}

.tabs_teacher_Summary {
	
}

.printSaveContainer {
	
}

.addButonStyle {
	
}

.mail_icon_image {
	
}

.addButonStyleActive {
	
}

.collectionsGroupBtns {
	
}

.print_icon_image {
	
}

.save_icon_image {
	
}
.no-gutter >[class*='col-md-']{
	padding-left:0;
	padding-right:0;
}


.completeBtn button {
	font-size: 10.5px;
	padding: 7px;
}