.collection_teacher_tab_container {
	Width: 100%;
	float: left;
	position: relative;
	top: -3px;
	padding-left: 5px;
}

.tabs_teacher_Summary {
	font-size: 13px;
	float: left;
	/* width: 93%; */
	border-radius: 5px;
	margin-top: 25px;
	margin-left: 20px;
}
.buttonsPanel{
	border: 1px solid #CCCCCC;
	border-bottom: 40px solid #CCCCCC;
}
.viewSummaryText {
	float: left;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}
.addButonStyle{
	height: 39px;
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED) !important;
	color: #515151 !important;
	border: none !important;
	border-radius: 0px !important;
	padding: 12px 35px !important;
}
.addButonStyle:hover{
	background: #4C98CC !important;
	cursor: pointer;
	color: #FFFFFF !important;
}

.list_inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list_inline div {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	width: 30%;
	text-align: center;
}
.defaultUserImage{
	
}
.q_oer_user_header{
	font-size: 13px !important;
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	color: #515151;
	float: left;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 2px;
	padding: 2px 0;
	width: 100%;
}
.q_oer_question_response{
	clear: both;
	color: #515151;
	float: left;
	font-size: 12px;
	margin: 6px 0 8px 2%;
	width: 98%;
}
.q_oer_content{
	float: left;
	padding: 1%;
	width: 96.9%;
	background-color: #fff;
	padding: 14px;
}
.totalResponselbl{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 17px;
	width: 96.3%;
}
.profile_input_box_teacher_feedback{
	float: left;
	width: 98.3%;
	padding: 11px 0 9px 15px;
	background: #e8e7e7;
	height: 5%;
	background-color: #fff;
}
.assignee_profile_image{
	float: left;
	margin-left: 2%;
	margin-top: 3px;
}
.input_teacher_feedback_content{
	width: 79%;
	margin-left: 1%;
	padding-left: 1%;
	font-size: 13px;
	padding: 7px;
	background-color: #fff;
	border: 1px solid rgb(221, 221, 221);
}
.viewResponsepnl{
	min-height: 95px;
	overflow-y: auto;
	overflow-x: hidden;
}
.dashboard_view_teacher_feedback {
	float: left;
	width: 98.3%;
	padding: 11px 0 9px 15px;
	background: #e8e7e7;
	height: 5%;
	background-color: #fff;
}
.teacher_feedback_content {
	padding: 0px 8% 0px 8%;
	color: #515151;
}
.feedback_bottom_content_details {
	width: 100%;
	float: left;
}
.feedback_date_and_time_details {
	margin-top: 2%;
	color: #999999;
	font-style: italic;
	width: 81.5%;
	float: left;
	margin-left: 8%;
}
.feedback_content_edit_handler {
	margin-top: 2%;
}
.dashboard_view_teacher_feedback span {
	color: #1076BB;
	cursor: pointer;
	padding: 4px;
}
.profileImage{
	border-radius: 50px;
	box-shadow: 0 0 0 2px #87badd;
	width: 30px;
	height: 30px;
	float: left;
}
.printSaveContainer{
	padding-left: 157px;
}
.print_icon_image {
	background-image: url(/images/analytics/print-icon.png);
	width: 50px;
	height: 50px;
	float: left;
	background-position: -10px -18px;
	cursor: pointer;
	background-color: inherit;
}
.mail_icon_image {
	background-image: url(/images/analytics/email-icon.png);
	width: 40px;
	height: 50px;
	float: left;
	background-position: -17px -18px;
	cursor: pointer;
	background-color: inherit;
}
.save_icon_image {
	background-image: url(/images/analytics/save-icon.png);
	width: 40px;
	height: 50px;
	float: left;
	background-position: -13px -18px;
	cursor: pointer;
	background-color: inherit;
}
.questionCountlbl{
	padding-bottom: 12px;
}