.myAssigntmentSharePageTextGray {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin:9px 0 0px 0px;
	width: 12%;
}

.myAssigntmentSharePageInputContainerTextGray {
	background-color:rgb(255,255,255);
	width:200px;
	height:26px;
	border-color:rgb(221,221,221);
	border-width:1px;
	/* Firefox v1.0+ */
	-moz-border-radius:1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:1px;
	border-style:solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 10px;
	color:rgb(81,81,81);
	float: left;
	padding-left: 5px;
}


.container{
	width: 100%;
	margin: 10px 0 0 25px;
}
.mainContainer{
	width: 100%;
}

.shareDesc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:120%;
	color:rgb(81,81,81);
	text-align:left;
	float: left;
	width: 23%;
	padding-left: 35px;
}

.textContainer{
	float: left;
}

.clear{
	clear: both;
	padding-bottom: 18px;
}

