/* Folder Res Item */
.myFolderPageNewAddedWrapper {
	width: 98%;
	height: 100px;
	float: left;
	margin-top: 20px;
	background-color: #FFF;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 4px;
	position: relative;
}

.myFolderPageNewAddedTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #515151;
	margin: 20px 0px 0px 6px;
	width: 660px;
}

.myCollectionPageGoals {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin: 0 0 0 54px;
	width: 670px;
}

.myFolderPageGoals {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin: 0 0 0 5px;
	width: 670px;
}

/* Folder Res Item Hover Action*/
.myFolderPageNewAddedLeftButtonContainer {
	right: 0;
	position: absolute;
	width: 101px;
	height: 100%;
	padding-right: 20px;
}

.blueButtonOpen {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 8px 9px;
	border: none;
	font-weight: bold;
	text-align: center;
	margin: 10px 23px;
	font-family: Arial, sans-serif;
	display: inline-block;
	margin: 17px 23px 2px 0px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB) );
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	cursor: pointer;
	float: right;
	font-size: 12px;
}

.blueButtonOpen:hover {
	background:#1076BB;
}

.moveButton {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	cursor: pointer;
	margin: 7px 19px 0 19px;
	font-style: italic;
}

.deleteButton {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	cursor: pointer;
	margin: 3px 0px 0 6px;
	width: 100px;
	text-align: center;
}

.deleteButton:hover {
	color:#87BADD
}

.myFoldersIcon {
	float: left;
	background: url(images/folders/folder-icon.png) no-repeat;
	width: 20px;
	height: 20px;
	margin: 20px 0 0 22px;
}

.shelfBlueLbl {
	background: -webkit-gradient(linear, left top, left bottom, from(#87BADD), to(#1076BB)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(center top , #87BADD, #1076BB) repeat scroll 0 0 transparent !important; /* for firefox 3.6+ */
	background-color:#1076BB;
	height: 17px !important;
	width: 3px !important;
	display: inline-block !important;
	float: left !important;
	margin-top: 22px !important;
	margin-left: 20px !important;
}

.shelfBlueLbl:hover {
	background: none repeat scroll 0 0 #4C98CC !important;
}

.shelfGreyLbl {
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#dddddd)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(center top , #dddddd, #dddddd) repeat scroll 0 0 transparent !important; /* for firefox 3.6+ */
	background-color:#dddddd;
	height: 17px !important;
	width: 16px !important;
	margin-right: 8px !important;
	display: inline-block !important;
	float: left !important;
	margin-top: 22px !important;
}

.shelfGreyLbl:hover {
	background: none repeat scroll 0 0 #dddddd !important;
}

.actionPanel {
	float: left;
	height: 65px;
	position: absolute;
	right: 18px;
	text-align: center;
	top: 8px;
	/* width: 65px; */
}

.myFolderDragdropPositioner {
	float: left;
	margin-bottom: 2px;
	margin-top	: 11px;
	padding: 1px 0;
	position: relative;
	width: 100%;
	background-color: #dbeaf5;
	height: 89px;
	border-radius: 7px 7px 7px 7px;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}
