	/*ShelfView*/
.userShelfViewMainContainer {
	min-height: 440px;
	min-width: 1200px;
	float: left;
	width: 1260px;
	margin: 0 auto;
}
.assignCloseMarker {
	float: right;
	margin-top: -18px;
}

.assignCloseMark {
	background-position: -52px -116px !important;
	width: 18px;
	height: 19px;
	cursor: pointer;
}
.assignSprite {
	background: url(images/Classpage/assign-sprite.png) no-repeat;
}
.userShelfViewMainCenterContainer {
	min-height: 440px; 
	/*height:100%;*/
	width: 1000px;
	margin: 0 auto;
	margin-top:-50px;
}

.userShelfViewList {
	position: relative;
}

.userCollectionInShelfContainer {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 5px 2px #DDDDDD;
	float: left;
	/* margin-left: 76px; */
	width: 731px;
	/* position: relative; */
	/* Removed this because to show on top */
	margin-top: 50px;
}

.userShelfViewContainer {
	float: left;
}

.userCollectionInShelf {
	/* height: 180px; */
	margin-top:54px;
}

.userCollectionInfo {
	float: left;
	margin: 20px 0;
	width: 380px; /* reduce again */
	height: 120px;
}

.userCollectionInfoForFolders {
	float: left;
	margin: 10px 12px 10px 0;
	width: 538px;
}

.collectionTitle {
	float: left;
	font-size: 16px !important;
	font-weight: bold;
	width: auto;
	cursor:pointer;
}

.collectionOwner {
	color: #999999;
	float: left;
	font-size: 12px;
	margin-bottom: 10px;
	font-style: italic;
}

.titleAlertMessage {
	display: none;
	color: #fbb03b;
	float: right;
	font-size: 12px;
	font-style: italic;
	position: relative;
	/* top: 3px;
	right: 120px; DO-3502*/
	right: 83px;
}

.descriptionAlertMessage {
	color: #fbb03b;
	float: right;
	font-size: 12px;
	font-style: italic;
	position: relative;
	right: 0px;
	top: -6px;
	display: none;
}

.titleAlertContainer {
	float: left;
	width: 96%;
	position: relative;
}

.collectionDescriptionTitle {
	color: #515151;
	clear: both;
	float: left;
	font-size: 12px;
	cursor: pointer;
}

.collectionDescription {
	border: none !important;
	clear: both;
	float: left;
	height: 60px;
	/* width: 550px; */
	font-style: italic;
}

.collectionDescriptionTxtArea,.collectionDescriptionHtml {
	/* border: 1px solid #DDDDDD; */
	float: left;
	height: 53px !important;
	/* width: 550px !important; */
	font-size: 12px !important;
	padding: 1px;
	overflow: hidden;
	word-wrap: break-word;
	font-style: normal !important;
	overflow-y: auto;
}

.collectionDescriptionTxtAreaForFolders,.collectionDescriptionHtmlForFolders
	{
	float: left;
	height: 70px !important;
	width: 600px !important;
	font-size: 12px !important;
	padding: 1px;
	overflow: hidden;
	word-wrap: break-word;
	font-style: normal !important;
}

.collectionDescriptionHtml {
	color: #515151;
}

.collectionEditImage {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -71px -169px transparent;
	float: left;
	height: 18px;
	margin-left: 2px;
	width: 14px;
	cursor: pointer;
	/* margin-top:12px; */
}

.userCollectionMetaDataInfoContainer {
	clear: both;
	float: left;
	height: 32px;
	position: relative;
	width: 100%;
	margin: 0px !important;
	color: #515151 !important;
	border-bottom: 1px solid #ddd !important;
	border-top: 1px solid #eee !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD),
		to(#EDEDED)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(center top, #FDFDFD, #EDEDED) repeat
		scroll 0 0 transparent !important; /* for firefox 3.6+ */
	background-color: #EDEDED;
	padding: 0px !important;
}

.userCollectionMetaInfo {
	float: left;
	text-align: center;
	padding: 9px 5.4%;
}

.collectionMetaDataTabTitle {
	float: left;
	padding: 9px 3.2%;
	text-align: center;
	cursor: pointer !important;
}

.collectionMetaDataTabTitle:hover {
	background: none repeat scroll 0 0 #EFEFEF !important;
	box-shadow: none !important;
}

.collectionMetaDataTabTitleActive, .collectionMetaDataTabTitleActive:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f5f5f5)) !important;
	background: -moz-linear-gradient(top, #ddd, #f5f5f5) !important;
	box-shadow: inset 0 0 10px rgba(0,0,0,.1) !important;
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#f5f5f5') !important;
	float: left;
	padding: 9px 5.5%;
	text-align: center;
}

.collectionMetaDataTabTitleDisabled {
	color: #999;
	background-color: transparent;
	cursor: default !important;
	float: left;
	padding: 9px 3.4%;
	text-align: center;
}

.userCollectionMetaInfoImage,.userCollectionMetaCollaboratorImage,.userCollectionMetaResourceImage,.userCollectionMetaAssignImage,.userCollectionMetaShareImage,.userCollectionMetaStatisticsImage
	{
	/*background: url("images/Collection-Search/icon-sprite.png") no-repeat*/
	transparent;
	float: left;
	margin-right: 5px;
	position: relative;
	top: -1px;
}

.userCollectionMetaInfoImage {
	background-position: -39px -2px;
	width: 14px;
	height: 15px;
}

.userCollectionMetaResourceImage {
	background-position: -39px -21px;
	width: 24px;
	height: 15px;
}

.userCollectionMetaCollaboratorImage {
	background-position: -43px -40px;
	height: 16px;
	width: 20px;
	opacity: 0.3;
}

.userCollectionMetaAssignImage {
	/*background-position: -43px -62px;
	height: 19px;
	width: 19px;*/
	opacity: 0.3;
}

.userCollectionMetaShareImage {
	background-position: -43px -87px;
	height: 18px;
	width: 19px;
}

.userCollectionMetaStatisticsImage {
	background-position: -43px -109px;
	height: 17px;
	width: 18px;
	opacity: 0.3;
}

.userCollectionMetaShelfFtLft {
	/* float: left; */
}

.metaInfo {
	clear: both;
	min-height: 450px;
	padding: 20px;
}

.folderMetaInfo {
	clear: both;
	min-height: 300px;
}

.noCollectionMessage {
	min-height: 700px;
	float: left;
	margin: 0px auto;
}

/*AddShelfResource*/

.resourceDragCursorPosition{
	float: left;
	width: 242px;
	height: 45px; 
	margin-top: -35px;
	margin-left: -107px;
	box-sizing:content-box;
}

.resourceDrag {
	position: absolute;
	z-index: 90;
	top: 10px;
	left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	float: left;
	width: 220px;
	padding: 4px;
	height: 20px;
	border: 1px solid #DDDDDD;
	box-sizing: content-box;
}

.resourceDragWithImg {
	position: absolute;
	z-index: 90;
	top: 10px;
	left: 10px;
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	float: left;
	width: 220px;
	padding: 4px;
	height: 20px;
	border: 1px solid #DDDDDD;
	box-sizing:content-box;
}

.resourceDragTitle {
	display: block;
	float: left;
	font-size: 12px;
	height: 15px;
	margin-left: 5px;
	width: 175px;
	/* margin-top: 5px; */
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 3px;
}

.resourceDragImage {
	float: left;
	height: 23px;
	width: 33px;
	margin-left: 3px;
	background: url("images/myresource-sprite.png") no-repeat scroll;
	background-position: -8px -449px;
}

.plusImage {
	height: 27px;
	width: 27px;
	z-index: 91;
	background: url("images/SearchDragImages/plus.png") no-repeat;
}

.minusImage {
	height: 27px;
	width: 27px;
	z-index: 91;
	background: url("images/SearchDragImages/orangeminus.png") no-repeat;
}

.floatShelfTabLeft {
	float: left;
	clear: both;
	min-height: 759px;
	position: relative;
	width: 280px;
}

/****************/
.videoSmall,.interactiveSmall,.websiteSmall,.examSmall,.textbookSmall,.handoutSmall,.lessonSmall,.slideSmall,.questionSmall,.challengeSmall,.webpageSmall,.imageSmall,.otherSmall,.audioSmall
	{
/* 	background: url("images/Collection-Search/icon-sprite.png") no-repeat
		scroll; */
	background: url("../images/resource-type-icons.png") no-repeat
		scroll;
	float: left;
	height: 20px;
	margin-right: 6px;
	width: 27px;
}

.videoSmall {
	background-position: 0px 0px;
}

.interactiveSmall {
	background-position: 0px -28px;
}

.websiteSmall {
	background-position: 0px -224px;
}
.webpageSmall {
	background-position: 0px -224px;
}
.examSmall {
	background-position: 0px -84px;
}

.challengeSmall {
	background-position: 0px -84px;
}

.textbookSmall {
	background-position: 0px -55px;
}

.handoutSmall {
	background-position: 0px -56px;
}

.lessonSmall {
	background-position: 0px -112px;
}

.slideSmall {
	background-position: 0px -168px;
}

.questionSmall {
	background-position: 0px -140px;
}
.imageSmall {
	background-position: 0px -251px;
}
.audioSmall{
	background-position: 0px -279px;
}
.otherSmall{
	background-position: 0px -307px;
}
.collectionSmall {
	border-color: #388ECB;
	float: left;
	border-style: solid;
	border-width: 0 0 0 6px;
	height: 20px;
	width: 0px;
}

}
.backToSearchPanel {
	/* color: #4C90BF;
	font-family: arial;
	font-size: 15px;
	font-weight: bolder;
	padding-left: 10px;
	height: 42px;
	position: relative;
	top: 20px;
	width: 750px; */
	color: #4C90BF;
	font-family: arial;
	font-size: 15px;
	font-weight: bolder;
	height: 42px;
	/* margin-left: 66px; */
	width: 276px;
	position: fixed;
	margin-top: 23px;
	display: none;
}

.preBackToSearch {
	float: left;
	cursor: pointer;
	background: url(images/back-to-search.png) no-repeat;
	height: 15px;
	width: 6px;
	margin-top: 14px;
}

.backToSearch {
	margin-top: 14px;
	font-size: 12px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 265px;
}

.howToDo {
	clear: both;
	float: left;
	position: relative;
	right: 150px;
	left: 1060px;
}

.howToDo a {
	cursor: pointer;
	text-decoration: none;
	color: #1076BB !important;
}

.howToDo a:hover {
	color: #87BADD !important;
}

.howToDoSeperator {
	float: left;
	left: 50px;
	position: relative;
}

.userCopyCollection {
	color: #1076BB;
	cursor: pointer;
	margin: 10px 24px;
	text-align: center;
	/* margin-left: 16px; */
}

.deleteDiv {
	margin: 10px 24px;
	text-align: center;
	color: #999;
}

.userCopyCollection:hover {
	color: #87BADD !important;
}

.showShareInnerDiv {
	float: left;
	width: 195px;
	margin-left: 14px;
	margin-bottom: 30px;
	margin-top: 30px;
	cursor: pointer;
}

.showShareCointainer {
	margin: 0 auto;
}

.shareLinkContainer {
	float: left;
	width: 100%;
	margin-left: 2%;
	margin-top: -20px;
}

.shareLink {
	padding: 20px;
	width: 197px;
	float: left;
	/* padding-left: 10px;
	margin-right: 25px; */
	box-sizing:content-box;
}

.shareLink2 {
	padding: 20px;
	width: 603px;
}

.shareLinkFlowPanel {
	margin-top: 20px;
    margin-left: 71px;
}

.shareLinkBoxContainer {
	height: 59px;
	/* padding: 5px 10px;
	background: #f0f0f0;
	width: 82%; */
	margin-top: 8px;
	width: 386px;
	float: right;
}

.shareLinkBox {
	border: 1px solid #ccc;
	color: #414141;
	font-size: 12px;
	height: 46px;
	resize: none;
	width: 100%;
	padding: 5px;
}

.shareLinkBoxDisabled {
	-webkit-user-select: none;
	/* 	-moz-user-select: none; */
	user-select: none;
}

.publicImage {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -61px -261px transparent;
	cursor: pointer;
	display: block;
	height: 21px;
	width: 27px;
	margin: 0 auto;
}

.privateImage {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -61px -216px transparent;
	cursor: pointer;
	display: block;
	height: 21px;
	width: 27px;
	margin: 0 auto;
}

.linkImage {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -61px -306px transparent;
	cursor: pointer;
	display: block;
	height: 21px;
	width: 38px;
	margin: 0 auto;
}

.linkImageShare {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -61px -306px transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	width: 38px;
	clear: both;
}

.showShareSubTitles {
	/* clear: both;
	left: 10px;
	position: relative;
	width: 144px;
	margin: 0 auto;
	text-align: center; */
}

/*StatisticsItemUc*/
.itemTextStyle {
	font-size: 12px;
	color: #838B8B;
}

.itemValueStyle {
	color: #539DC2;
	font-size: 17px;
}

.imagePanel {
	float: left;
}

.itemPanel {
	float: left;
}

.outerPanel {
	float: left;
	height: 76px;
	margin-left: 72px;
}

.headerLabel {
	color: #474747;
	padding: 8px;
}

.addsImageStyle {
	background: url("/images/Collection-Search/icon-sprite.png") repeat
		scroll -41px -131px transparent;
	float: left;
	height: 24px;
	position: relative;
	top: 4px;
	width: 30px;
}

.viewsImageStyle {
	background: url("/images/Collection-Search/icon-sprite.png") repeat
		scroll -35px -156px transparent;
	float: left;
	height: 24px;
	position: relative;
	top: 4px;
	width: 30px;
}

.likesImageStyle {
	background: url("/images/Collection-Search/icon-sprite.png") repeat
		scroll -37px -176px transparent;
	float: left;
	height: 24px;
	position: relative;
	top: 4px;
	width: 30px;
}

.sharesImageStyle {
	background: url("/images/Collection-Search/icon-sprite.png") repeat
		scroll -40px -81px transparent;
	float: left;
	height: 24px;
	position: relative;
	top: 4px;
	width: 30px;
}

.avgTimeImageStyle {
	background: url("/images/Collection-Search/icon-sprite.png") repeat
		scroll -35px -202px transparent;
	float: left;
	height: 24px;
	position: relative;
	top: 4px;
	width: 30px;
}

.inActiveClass {
	opacity: 0.6;
}

.userDeleteCollection {
	clear: both;
	color: #0F76BB;
	cursor: pointer;
	position: relative;
	float: right;
	padding: 20px;
}

.userDeleteCollection:HOVER {
	color: #87BADD;
}

.shelfItemPopUp {
	background: none repeat scroll 0 0 #FFFFFF;
	clip: inherit !important;
	overflow: visible !important;
	position: absolute !important;
	width: 547px;
	z-index: 998;
}

.shelfItemSucessPopUp{
	background: none repeat scroll 0 0 #FFFFFF;
	clip: inherit !important;
	overflow: visible !important;
	position: absolute !important;
	width: 486px;
	z-index: 999999!important;
}
.shelfItemPopUpOuterDiv {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background: -moz-linear-gradient(top, #666, #515151);
	background: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	color: #FFFFFF;
	margin: 4px;
	padding: 10px 15px;
}

.shelfItemHeaderText {
	font-size: 16px;
	color: #fff;
}

.logoutPopup {
	z-index: 99;
	border: 1px solid #E7E7E7 !important;
	padding: 3px;
	background: white;
}

/**************** Delete Confirmation Popup***************/
.deletePopupContainer {
	border: 1px solid #CCCCCC;
	margin: -4px 4px 4px;
}

.confirmMessageContainer {
	padding: 8px 0 15px 10px;
	width: 90%;
}

.confirmMessage {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}

.confirmMessageOk {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
}

.confirmMessageDelete {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
	clear: both;
}

.confirmMessages {
	color: #515151;
	font-size: 14px;
	line-height: 31px;
	/* float: left; */
	display: inline;
}

.resourceIndex {
	font-size: 15px;
	line-height: 22px;
	padding-top: 5px;
	word-wrap: break-word;
	display: inline;
}

.confirmMessageTitle {
	
}
.inlineText {
	font-size: 12px;
	border: 1px solid #ccc;
	padding: 3px;
}

.actionField {
	text-align: center;
	width: 100%;
	clear: both;
	margin-bottom: 4px;
}

.shareContentText {
	float: left;
	font-weight: bold;
}

.sharePublicOrLinked {
	float: left;
	margin-left: 3px;
}

.shareContentTextContainer {
	width: 100%;
	float: left;
	margin-top: 5px;
}

.collectionShareTooltip {
	cursor: pointer;
	width: 100px;
	font-size: 20px;
	margin: 0 auto;
	box-sizing:content-box;
}

.simplePencil {
	height: 16px;
	min-width: 50px;
}

.previewButton {
	margin: 10px 10px 10px 0px;
	float: right;
}

.panelAlignRight {
	float: right;
	margin-top:20px;
	text-align: center;
	width: 100px;
}

.deleteIcon {
	background: url('../images/folders/exclamation-mark.png') no-repeat center;
    width:55px;
    height:55px;
    margin:10px auto 20px auto;
}

.inputText
{
	width: 300px;
    height: 17px;
    padding: 5px;
    border: 1px solid #DDD;
    font-family: arial, sans-serif;
    font-size: 12px;
    margin:10px 3px 0px 3px;
    background-color:#f9f9f9;
}

/* Comming soon Popup */
.hoverPopupContainer {
	display: block;
	min-width: 75px;
	max-width: 143px;
	margin: 0 auto;
}

.hoverPopupArrow {
	background: url(../images/standards-arrow-two.png);
	display: block;
	width: 25px;
	height: 9px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
}

.hoverPopupTextContainer {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -1px;
	color: #fab03a;
	text-align: center;
}

.share {
	text-align: center;
	cursor: pointer !important;
}

.shareActive {
	float: left;
	padding: 7px 5.4% !important;
	text-align: center;
	cursor: pointer !important;
	box-shadow: inset 0 5px 16px 0 rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0,
		rgba(247, 247, 247, 1) 32%, rgba(239, 239, 239, 1) 100%);
}

.share:HOVER {
	background: none repeat scroll 0 0 #EFEFEF !important;
	box-shadow: none !important;
	padding: 7px 5.4% !important;
}

.objPosition {
	position: absolute;
}

.loadingImageForSelfEdit {
	background: url("images/core/B-Dot.gif");
	width: 200px;
	height: 175px;
	margin: 0 auto;
	margin-top: 173px;;
	position: absolute;
	z-index: 5;
	/* margin-left: 324px; */
	margin-left: 700px;
}

.loadingImageMainDiv {
	width: 100%;
    height: 100%;
	position: absolute;
	/* background-color: #FFF; */
	/* opacity: 0.4; */
	top: 0px;
    left: 0px;
    z-index:1;
}

.loadingImageMainDivShare {
	position: absolute;
	background-color: #FFF;
	top: 0px;
    left: 0px;
    z-index:1;
}

.loadingImageForShare {
	background: url("images/core/B-Dot.gif");
	width: 200px;
	height: 175px;
	margin: 0 auto;
	margin-top: 280px;
	position: absolute;
	z-index: 5;
	margin-left: 269px;
}

.mySelfCollectionEditTitlePreviewCancelButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 120%;
	color: rgb(16, 118, 185);
	margin: 5px 0px 10px 7px;
	float: right;
	background: #fff;
   cursor: pointer;
	/*margin-top:32px;*/
}

.mySelfCollectionEditTitlePreviewCancelButton:hover {
	color:#87BADD;
}

.mySelfCollectionEditDescPreviewCancelButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 120%;
	color: rgb(16, 118, 185);
	margin: 5px 0px 10px 7px;
	float: right;
}

.mySelfCollectionEditDescPreviewCancelButton:hover {
	color:#87BADD;
}

.cursor {
	cursor: pointer;
}

.mySelfCollectionEditDescSaveButton {
	width: 50px;
	height: 23px;
	margin: 3px 0px 5px 50px;
	float: right;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border-radius: 4px;
	background-color:#1076BB;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1076bb', endColorstr='#87badd',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.mySelfCollectionEditDescSaveButton:hover {
	background-color:#1076BB;
}

.mySelfCollectionEditTitleSaveButton {
	width: 50px;
	height: 23px;
	margin: 0px 0px 5px 50px;
	float: right;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border-radius: 4px;
	background-color:#1076BB;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1076bb', endColorstr='#87badd',GradientType=0 ); /* IE6-9 */
}

.mySelfCollectionEditTitleSaveButton:hover {
	background-color:#1076BB;
}

.mySelfCollectionrEditTitle {
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 4px 2px 4px 2px;
	margin-top:-4px;
	float:right;
}

.collectionDescriptionTitleContainer {
	width: 390px;
	height: 20px;
	/* padding-top: 15px; */
	float: left;
}

.collectionTitleContainer {
/* 	width: 445px; */
	height: 20px;
	/* float: left; */
}

.buttonContainer {
	position: absolute;
	top: 97px;
	float: right;
	/* right: 116px; DO-3502*/
	right: 102px;
}

.buttonContainerDesc {
	/* margin-right: 2px;
	margin-top:73px; DO-3502*/
	margin-right: -3px;
	margin-top: 74px;
	
}
/*collection share new correction*/
.collectionShareLineSeparator {
	float: left;
	width: 89%;
	height: 1px;
	background-color: #DDD;
	margin: 55px 0px 7px 25px;
}

.smallLine {
	width: 1px;
	height: 41px;
	background-color: #ccc;
	float: left;
	margin-right: 19px;
	margin-top: 25px;
}

.CollectionshareThisLinkVia {
	float: left;
	font-size: 12px;
	font-family: arial;
	color: #515151;
}

.myFoldersIcon {
	background: url(images/folders/folder-icon.png) no-repeat;
	float: left;
	height: 20px;
	margin-right: 6px;
	width: 27px;
}
.myScollectionsIcon{
	background: url(images/folders/scollection-icon.png) no-repeat;
	float: left;
	height: 20px;
	margin-right: 6px;
	width: 27px;
}

.folderDragdropSpacer {
	float: left;
	margin-bottom: 11px;
	position: relative;
	width: 790px;
	height: 30px;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}

.embedContainer{
	float:left;
	margin-top: 17px;
	margin-left: 6px;
	display:none;
}

.tabsLi {
	display:inline-block;
	padding:10px 20px;
	cursor: pointer;
	color: #515151;
	background: rgb(239,239,239); /* Old browsers */
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EDEDED');
}

.tabsLi:hover {
	color: #515151;
	text-decoration: none;
}

.tabsLiActive {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	color: #515151;
	-moz-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#F5F5F5));
	background: -webkit-linear-gradient(top, #DDD, #F5F5F5);
	background: -moz-linear-gradient(top, #DDD, #F5F5F5);
	background: -ms-linear-gradient(top, #DDD, #F5F5F5);
	background: -o-linear-gradient(top, #DDD, #F5F5F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#F5F5F5');
}

.tabsLiActive:hover {
	color: #515151;
	text-decoration: none;
	cursor:default;
}

.tabsLiDeactivated {
	display:inline-block;
	padding:10px 20px;
	cursor: pointer;
	color: #999;
	background: rgb(239,239,239); /* Old browsers */
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EDEDED');
}

.tabsLi:hover {
	background:#efefef;
	cursor: pointer;
	color: #515151;
	text-decoration: none;
}

.tabsLiDeactivated:hover {
	cursor: default;
	color: #999;
	text-decoration: none;
}

.noCollectionMessageRight {	
	padding-top: 80px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(153, 153, 153);
	text-align: center;
}

.shelfItemShortenUrlPopUp {
	background: none repeat scroll 0 0 #FFFFFF;
	clip: inherit !important;
	overflow: visible !important;
	position: absolute !important;
	width: 521px;
	z-index: 998;
}

.embedTextAreaForCollectionSearch{
	font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			line-height: 150% !important;
			color: #515151 !important;
			text-align:left;
			background-color:rgb(255,255,255);
			width:490px;
			max-width:490px;
			height:41px;
			max-height:41px;
			border-color:rgb(221,221,221);
			border-width:1px;
			/* Firefox v1.0+ */
			-moz-border-radius:1px;
			/* Safari v3.0+ and by Chrome v0.2+ */
			-webkit-border-radius:1px;
			/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
			border-radius:1px;
			border-style:solid;
			resize: none;
}
.embedTextAreaForShelf{
	font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			line-height: 150% !important;
			color: #515151 !important;
			text-align:left;
			background-color:rgb(255,255,255);
			width:710px;
			max-width:710px;
			height:41px;
			max-height:41px;
			border-color:rgb(221,221,221);
			border-width:1px;
			/* Firefox v1.0+ */
			-moz-border-radius:1px;
			/* Safari v3.0+ and by Chrome v0.2+ */
			-webkit-border-radius:1px;
			/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
			border-radius:1px;
			border-style:solid;
			resize: none;
}


.directLinkTextArea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 150% !important;
	color: #515151 !important;
	text-align:left;
	background-color:rgb(255,255,255);
	width:710px;
	max-width:710px;
/* 	height:41px;
	max-height:41px; */
	border-color:rgb(221,221,221);
	border-width:1px;
	/* Firefox v1.0+ */
	-moz-border-radius:1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:1px;
	border-style:solid;
	resize: none;
}

.directLinkContainer{
	float: left;
	margin-top: 17px;
	margin-left: 22px;
	margin-bottom: 25px;
}
.collectionVisibilityMain{
	float: left;
	/* width: 816px; */
	font-size: 16px;
	color: #515151;
}
.collectionVisibility{
	float: left;
	width: 575px;
	margin-bottom: 20px;
}
.collectionVisibleShareLineSeparator {
	float: left;
	width: 100%;
	height: 1px;
	background-color: #DDD;
	margin: 5px 0px 3px 0px;
}
.collectionVisibilityMainDiv{
	margin-left:25px;
	margin-top: 20px;
	float: left;
}
.shareLinkSwitchUrl{
	float: left;
    margin-top: 5px;
    color: #1076bb;
    cursor:pointer;
}
.shareLinkSwitchEmbed{
	float: left;
    margin-top: 5px;
    margin-left: 20px;
    color: #1076bb;
    cursor:pointer;
}
.editButtonContainer{
width: 106px !important;
height: 85px;
cursor: pointer !important;
border: 1px solid #ddd;
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
float: right;
margin-right: 8px;
}
.editButtonText {
width: 95px !important;
height: 16px !important;
font-size: 13px !important;
color: #515151 !important;
cursor: pointer !important;
float: left;
text-decoration: none !important;
padding: 4px 0;
padding-left: 11px;
}

.shareVisibilityRadioBtnStyle {
	margin: 0 auto;
	width: 200px;
	text-align: center;
	padding-top: 10px;
}

.visibilityRadioButton{
	background: url(images/settings/radio.png) no-repeat;
	width: 19px;
	height: 17px;
	display: inline-block;
	margin-bottom: -5px;
	cursor:pointer;
}

.visibilityRadioButton:hover{
	background-position: 0px -17px;
}

.visibilityRadioButtonSelected{
	background: url(images/settings/radio.png) no-repeat;
	width: 19px;
	height: 17px;
	display: inline-block;
	margin-bottom: -5px;
	background-position: 0px -34px;
	cursor:pointer;
}

.visibilityRadioButtonSelected:hover{
	background: url(images/settings/radio.png) no-repeat;
	width: 19px;
	height: 17px;
	display: inline-block;
	margin-bottom: -5px;
	background-position: 0px -51px;
}
.publicVisibleIcon {
	background: url("images/Collection-Search/privacy_icons1.png") no-repeat -1px -67px transparent;
	cursor: pointer;
	display: block;
	height: 34px;
	width: 33px;
	margin: 0 auto;
}

.privateVisibleIcon {
	background: url("images/Collection-Search/privacy_icons1.png") no-repeat -33px -28px transparent;
	cursor: pointer;
	display: block;
	height: 36px;
	width: 31px;
	margin: 0 auto;
}

.linkVisibleIcon {
	background: url("images/Collection-Search/privacy_icons1.png") no-repeat 0px -30px transparent;
	cursor: pointer;
	display: block;
	height: 35px;
	width: 33px;
	margin: 0 auto;
}

.publicVisibleIconBottom {
	margin-bottom: 10px;
}

.shareableVisibleIconBottom {
	margin-bottom: 10px;
	margin-top: 0px;
}

.privateVisibleIconBottom {
	margin-top: -1px;
	margin-bottom: 11px;
}
.objectFloat{
	float: left;
}
.friendlyDiv{
	width: 411px;
	margin-bottom: 15px;
	/* margin-top: -35px; */
	margin-left: 19px;
}

.objectFontType{
	font-style: italic;
	margin-top: 2px;
}

.analyticsStyle {
	 float: left; 
	padding: 9px 2.6%;
	text-align: center;
	cursor: pointer !important;
}
.analyticsStyle:hover {
	background: none repeat scroll 0 0 #efefef !important;
	box-shadow: none !important;
}
.folderBorderColor{
	float:left;
	border-color:#fbb03b !important;
}

.lastEditedBy{
	text-align: right;
	margin: 7px 26px 0px 0px;
}
.deleteOkayButton{
	margin-right:10px;
}
.aleartDescText {
	width: 69%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	text-align: center;
	padding: 15px 0px 0px 86px;
	word-wrap: break-word;
}
.collectionEditImageTeacherTip {
	background: url(images/Collection-Search/icon-sprite.png) repeat scroll -71px -169px transparent;
	float: right;
	height: 18px;
	width: 14px;
	cursor: pointer;
	margin-top: -50px;
}
.publishPanel{
	float: left;
	margin-left: 74px;
	margin-top: -26px;
}
.publishButton{
	padding-right: 26px !important;
    padding-left: 20px !important;
}
.shelfPublishTab{
	float: left;
	margin-left: 40px;
	/* margin-top:5px; DO-5452 */
}
.shelfPublishTabText{
	float: left;
	margin-left: 40px;
	margin-top:5px; 
}
.userprofilecount {
	font-weight: bold;
	color: #1076bb;
	font-size: 13px;
}
.profileMetaDataTabTitle {
	padding: 3px;
	text-align: center;
	cursor: pointer !important;
	display: inline-block;
	box-sizing: border-box;
	height: 45px;
	width: 150px;
	margin-right: -3px;
	padding: 9px 3.4%;
}

.profileMetaDataTabTitle:hover {
	background: none repeat scroll 0 0 #EFEFEF !important;
	box-shadow: none !important;
}
.profileMetaDataTabTitleActive, .profileMetaDataTabTitleActive:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#f5f5f5)) !important;
	background: -moz-linear-gradient(top, #ddd, #f5f5f5) !important;
	box-shadow: inset 0 0 10px rgba(0,0,0,.1) !important;
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#f5f5f5') !important;
	float: left;
	padding: 3px 5.5%;
	text-align: center;
}
.profileMetaDataTabTitleDisabled {
	color: #999;
	background-color: transparent;
	cursor: default !important;
	float: left;
	padding: 9px 3.4%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	height: 45px;
	width: 150px;
	margin-right: -3px;
}
.publishPending{
	font-style: italic;
	color: #515151;
	}
.published{
	color:green;
	display: inline-block;
}	
.standardsBrowsePopup{
	background: none repeat scroll 0 0 #FFFFFF;
	clip: inherit !important;
	overflow: visible !important;
	position: absolute !important;
	width: 1000px;
	z-index: 998;
}

.charLimit{
	float : right;
	color: #999;
	margin-right: 7px;
}