@charset "utf-8";
/* CSS Document */

.container{
	width:960px;
 	margin-left: auto;
    margin-right: auto;
   /*  padding-left: 15px;
    padding-right: 15px; */

}
.summaryContainer{
	width:960px;
	margin-left: auto;
  	margin-right: auto;
   /* 	padding-left: 15px;
   	padding-right: 15px; */
}
.collectionPlayerContainer{
	width: 960px;
	margin: 0 auto;
	height: 95%;
}
.blocksmall{
	float: left;
	padding: 5px 10px;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.whitebg{
	padding-top: 0px;
}
.navigationWrapper{}
.animationWrapper{}

.loginStatus{
	
}
.collectionItem {
    margin: 5px;
}



.ojectimg{
	width:150px;
}

.avatarblock .commentsSection {
    width: 68%;
}

.description{
	margin-bottom:15px;
}

.collectionSlider{
	text-align:center;
}
.rightWrapper{}
.animationWrapper{}
.tabButtonsContainer{}



.header-inner{
	width:100%;
}
.nav-toc-wrapperContainerMain{
	width:100%;
} 
.nav-toc-wrapper{
	width:100%;
}
.headerbar{
	min-width:100%;
}
.studyplayer-container{
	min-width:100%;
	min-height:100%;
}
.scrollStudyContainer{
	min-width:100%;
	min-height:100%;
}

.rightPanel{
	
}
.leftPanel{
	
}
.playerBodyContainer{
	width:100%;
}



.player-resource-title{
	
}
.resourceCountStyle{
	
}
.fixedContainer{
	position:relative;
}
.bodyContent{
	padding-top:0px;
}
.greybackground{
	
}
.collectionImageContainer{
	margin-bottom:25px;
}

.collectionImage{
	
}
.buttonsContainer{
	
}
.collectionbuttons{
	
}
.logStatus{
	display: inline-block;
}
.closeButton{
	/* right:50px; */
}
.loginStatus {
	display: inline-block;
    background-color: #46873f;
	border: 1px solid #386d32;
	border-radius: 20px;
	box-shadow: 0 0 6px #3c7335 inset;
	float: right;
	line-height: 12px;
	margin-right: 35px;
	position: relative;
	padding: 7px 15px;
	color: #ffffff;
	right: 10%;
	}
.bodysection{
	
}
.narrationPopup {
	width:90%;
}
.narrationPopupContainer{
	right:0px;
}
.resource-info-metadata-wrapper{

}
.resource-info-metadata-innerwrapper{
	
}
.resource-info-collections-wrapper{
	
}
.playerResourcesRightSection {

}
.collection-thumbnail{
}
.timespend{
	margin-bottom:0;
	display:block;
}
.collectionEndImageContainer{
	display: block;
    float: none;
    height: 160px;
    margin: 0 auto 25px;
    position: relative;
    width: 220px;
}
.playRight{
	 display: block;
    float: none;
}
.playBlockTop{
	text-align:center;
}
.endButtonsContainer{
	text-align:center;
}
.endButtonsContainer buttons{
	float:none;
}
.whatsnext .smallTxt{
	text-align:left;
}
.whatsnext{
}

.whatsnext .bigTxt{
}

.whatsnext .smallerTxt{
}
.endPageIframe{
}
.metatDataContainer{
	padding-top:0px;
}