@charset "utf-8";
/* CSS Document */


.container{
	width:960px;
 	margin-left: auto;
    margin-right: auto;
   /*  padding-left: 15px;
    padding-right: 15px; */

}
.summaryContainer{
	width:960px;
	margin-left: auto;
  	margin-right: auto;
   /* 	padding-left: 15px;
   	padding-right: 15px; */
}
.collectionPlayerContainer{
	width: 960px;
	margin: 0 auto;
	height: 95%;
}
.blocksmall{
	width: 960px;
	box-sizing: border-box;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.whitebg{}
.navigationWrapper{}
.animationWrapper{}

.loginStatus{
	
}
.collectionItem {
    margin: 5px;
}

.leftPanel{
	width:75%;
}

.rightPanel{
	width:25%;
}
.ojectimg{
	width:150px;
}

.avatarblock .commentsSection {
    width: 68%;
}

.description{
	margin-bottom:15px;
}

.collectionSlider{
	text-align:center;
}
.rightWrapper{}
.animationWrapper{}
.tabButtonsContainer{}



.header-inner{
	width:100%;
}
.nav-toc-wrapperContainerMain{
	width:100%;
} 
.nav-toc-wrapper{
	width:100%;
}
.headerbar{
	min-width:100%;
}
.studyplayer-container{
	min-width:100%;
	min-height:100%;
}
.rightPanel{
	width:25%;
}
.leftPanel{
	width:75%;
}
.playerBodyContainer{
	width:100%;
}



.player-resource-title{
	
}
.resourceCountStyle{
	
}
.fixedContainer{
	position:relative;
}
.bodyContent{
	padding-top:0px;
}
.greybackground{
	
}
.collectionImageContainer{
	margin-bottom:25px;
}

.collectionImage{
	
}
.buttonsContainer{
	
}
.collectionbuttons{
	
}
.logStatus{}
