@charset "utf-8";
/* CSS Document */
.playBoxTime{
	 display: block !important;
    margin: 0 auto ;
    text-align: center !important;
    vertical-align: top !important;
    width: 145px;
}
.endButtonsContainer{
	 display: block !important;
    margin-top: 25px !important;
    text-align: center !important;
	float:none;
}
.endButtonsContainer button{
	float:none !important;
}

.container{
	  padding-top: 0px;
	}