.active {

}
.generalSettingTxt{
	float:left;
	padding-top: 13px;
	width: 9%;
	white-space: nowrap;
	padding-right: 4px;
}
.pnlPersonalizecontainer{
	border-top: 2px solid #efefef;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 5px;
	margin-right: 5px;
}