@CHARSET "UTF-8";

.myFolderCollectionMainWrapper {
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 12px;
	width: 1100px;
	margin-top: 35px;
	margin: 0 auto;
	position: relative;
}

.myClassPageImage {
	width: 271px;
	height: 36px;
	margin: 0 auto;
	margin-bottom: 36px;
}

.myClassPageImageTitle {
	margin-top: 64px;
}

.myClassPageInnerWrapper {
	width: 779px;
	height: 450px;
	margin: 0 auto;
	margin-top: 99px;
}

.myClassPageContentContainer {
	width: 779px;
	height: 239px;
	float: left;
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: -3px 3px 25px #CCC;
}

.myClassPageInnerContentContainer {
	width: 737px;
	height: 203px;
	margin-top: 16px;
	float: left;
	margin-left: 15px;
}

.myClassPageWelcomeText {
	float: left;
	margin-bottom: 17px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
}

.myClassPageWelcomeDescribtion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.myClassPageGetStarted {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #515151;
	margin: 20px 0px 10px 0px;
	width: 100%;
}

.myClassPageClickingTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-bottom: 10px;
}

.myClassPageClickingArrowImage {
	float: left;
	background: url(../images/pointing-arrow.png);
	width: 45px;
	height: 67px;
	clear: both;
	margin-left: 66px;
}

.myClassPageCreateClasspageContainer {
	float: left;
	width: 160px;
	height: 190px;
	background-color: #FFF;
	border-radius: 4px;
	margin-top: 36px;
	box-shadow: -3px 3px 25px #CCC;
	cursor: pointer;
}

.myClassPageCreatePlusIcon {
	float: left;
	margin: 43px 0px 20px 56px;
	width: 49px;
	height: 49px;
	background: url(../images/create-a-classpage-icon.png);
}

.myClassPageCreateClasspageText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #515151;
	float: left;
	margin-left: 32px;
	width: 94px;
	text-align: center;
}

textarea {
	width: 65%;
	height: 56px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: rgb(153, 153, 153);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(221, 221, 221);
}

.myFolderRightContentTextareaDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
	padding: 10px 0px 0px 0px;
}

.myFolderRightContentWrapperTwo {
	float: left;
	position: relative;
	width: 100%;
	background-color: #FFF;
	border-radius: 4px;
	moz-box-shadow: 2px 2px 4px #d1d0d0;
	-webkit-box-shadow: 2px 2px 4px #d1d0d0;
	box-shadow: 2px 2px 4px #d1d0d0;
	margin: 0px 0px 10px 0px;
}

.myFolderRightContentWrapperFull {
	float: left;
	position: relative;
	width: 72%;
	border-left: 1px solid #DDD;
	padding: 0px 0px 0px 14px;
	min-height: 600px;
}

.myFolderRightContentWrapperFullHeading {
	font-size: 20px;
	color: rgb(81, 81, 81);
	font-weight: bold;
	padding: 25px 0px 0px 20px;
}

.myCollectionDayReviewContent {
	font-size: 12px;
	color: rgb(81, 81, 81);
	padding: 0px 0px 0px 20px;
}

.myFolderCollectionWrapperChapterText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: rgb(221, 221, 221);
	padding: 10px 0px 10px 0px;
}

.myClassPageInnerContentContainer {
	width: 737px;
	height: 203px;
	margin-top: 16px;
	float: left;
	margin-left: 15px;
}

.myClassPageWelcomeText {
	float: left;
	margin-bottom: 17px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	width: 80%;
}

.myClassPageWelcomeDescribtion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.myClassPageGetStarted {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #515151;
	margin: 20px 0px 10px 0px;
	width: 100%;
}

.myClassPageGetStartedContainer {
	float: left;
}

.myClassPageCollectionInfo {
	width: 240px;
	min-height: 90px;
	height: auto;
	float: left;
}

.myClassPageCollectionInfoImage {
	float: left;
	background: url(../images/one.png);
	width: 15px;
	height: 33px;
}

.myClassPageCollectionInfoText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-left: 10px;
}

.myCollectionInsightLessionContainer {
	float: left;
	width: 734px;
	height: 116px;
	border-bottom: #dddddd 1px solid;
	margin: 20px 0px 0px 20px;
}

.myCollectionInsightLessionContainerTwo {
	float: left;
	width: 734px;
	height: 380px;
	border-bottom: #dddddd 1px solid;
	margin: 20px 0px 0px 20px;
}

.myCollectionInsightLessionImageContainer {
	float: left;
	width: 80px;
	height: 62px;
	margin-right: 15px;
}

.myCollectionInsightLessionImageHolder {
	float: left;
	width: 80px;
	height: 90px;
}

.myCollectionInsightLessionTitleContainer {
	float: left;
	width: 470px;
	height: 60px;
}

.myCollectionInsightLessionTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #515151;
	font-weight: bold;
}

.myCollectionInsightLessionSubTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076B9;
	clear: both;
	cursor: pointer;
	margin-top: 8px;
}

.myCollectionInsightRightIconsContainer {
	float: right;
	width: 127px;
	height: 100px;
}

.myCollectionInsightRightSignleIconsContainer {
	float: left;
	width: 100%;
	height: 20px;
	margin-bottom: 6px;
}

.myCollectionInsightRightSignleIcon {
	float: left;
	margin-right: 8px;
}

.myCollectionInsightRightSignleIconText {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
}

.myCollectionInsightChapterContainer {
	float: left;
	width: 734px;
	height: 116px;
	border-bottom: #dddddd 1px solid;
	margin: 20px 0px 0px 20px;
}

.myCollectionInsightChapterBigImageContainer {
	float: left;
	width: 120px;
	height: 116px;
	margin-right: 15px;
}

.myCollectionInsightChapterBigImage {
	float: left;
	width: 120px;
	height: 90px;
}

.myCollectionInsightChapterTitleContainer {
	float: left;
	width: 470px;
	height: 100px;
}

.myCollectionInsightChapterTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #515151;
	font-weight: bold;
}

.myCollectionInsightChapterSubTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076B9;
	clear: both;
	cursor: pointer;
	margin-top: 8px;
}

.myCollectionInsightQuestionResultSubTitleContainer {
	float: left;
	margin-top: 25px;
	width: 70%;
}

.myCollectionInsightQuestionResultSubTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
}

.myCollectionInsightQuestionResultSubTitleSeparator {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
	margin-left: 5px;
}

.myCollectionInsightQuestionResultSubTitleTwo {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
	margin-left: 5px;
}

.myCollectionInsightQuestionContainer {
	width: 757px;
	height: 253px;
	float: left;
	clear: both;
	margin-top: 0px;
}

.myCollectionInsightQuestion {
	float: left;
	font-size: 12px;
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
}

.myCollectionInsightAnswerContainer {
	float: left;
	width: 100%;
	min-height: 20px;
	height: auto;
	margin-top: 20px;
}

.myCollectionInsightAnswerOptionsNumbers {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
}

.myCollectionInsightAnswerOptions {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	margin-left: 10px;
	width: 337px;
	min-height: 20px;
	height: auto;
}

.myCollectionInsightAnswerViewerContainer {
	width: 158px;
	float: right;
	height: 16px;
	margin-right: 30px;
}

.myCollectionInsightAnswerPercentageViewerContainer {
	float: left;
	width: 117px;
	height: 100%;
}

.myCollectionInsightAnswerPercentageViewer {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #4d9645;
}

.myCollectionInsightAnswerPercentageViewerTwo {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #999999;
}

.myCollectionInsightAnswerNumbers {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.myCollectionInsightResponse {
	float: right;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 20px 0px 0px;
}

.myFolderRightContentContainer {
	float: left;
	margin: 0px 0px 0px 5px;
}

.myFolderRightContentContainerNumbers {
	float: left;
	font-weight: bold;
	width: 15%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	line-height: 120%;
	color: rgb(134, 185, 221);
	text-align: left;
	padding: 0px 0px 0px 10px;
}

.myFolderRightContentContainerDesc {
	font-size: 12px;
	color: rgb(81, 81, 81);
	padding: 10px 0px 0px 0px;
}

.myFolderRightContentContainerLink {
	float: right;
	color: rgb(16, 118, 186);
	padding: 40px 30px 10px 0px;
}

.clear {
	clear: both;
}

.myFolderRightContentPlusDesc {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	color: rgb(135, 186, 221);
	text-align: left;
	padding: 0px 10px 10px 0px;
}

.myFolderRightContentStartedOuterContainer {
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
}

.myFolderRightContentStartedContainer {
	float: left;
	width: 100%;
	position: relative;
	background-color: #FFF;
	border-radius: 4px;
	moz-box-shadow: 2px 2px 4px #d1d0d0;
	-webkit-box-shadow: 2px 2px 4px #d1d0d0;
	box-shadow: 2px 2px 4px #d1d0d0;
	padding: 0px 0px 3px 0px;
	margin: 0px 0px 10px 0px;
}

.myFolderRightContentStartedContainer:hover {
	cursor: pointer;
}

.myFolderRightContentStartedInnerContainer {
	float: left;
	width: 60%;
	padding: 10px 0px 15px 5px;
}

.myFolderRightContentStartedThumbImg {
	float: left;
	padding: 10px 7px 0px 20px;
}

.myFolderRightContentStartedThumbImgTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 10px 0px 0px 0px;
}

.myFolderRightContentStartedThumbImgHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	font-weight: bold;
	padding: 9px 10px 0px 5px;
}

.myFolderRightContentStartedThumbImgDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
}

.myFolderRightContentStartedInnerAlign {
	padding: 0px 0px 0px 15px;
}

.myFolderRightContentStartedHeading {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 16px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	font-weight: bold;
	padding: 9px 10px 0px 5px;
}

.myFolderRightContentStartedAlign {
	margin: -5px 0px 0px 0px;
}

.myFolderRightContentUnitnavOuter {
	padding: 0px 0px 0px 10px;
}

.myFolderRightContentCollectionnavOuter {
	padding: 0px 0px 0px 10px;
}

.myFolderRightContentUnitOuterContainer {
	padding: 0px 0px 0px 20px;
}

.myFolderRightContentStartedInnerControl {
	background-color: rgb(255, 255, 255);
	width: 354px;
	height: 26px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	border-style: solid;
	padding: 3px 0px 0px 5px;
}

.myFolderRightContentStartedText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(78, 151, 70);
	text-align: left;
	padding: 2px 10px 10px 0px;
}

.myFolderRightContentStartedDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 10px 10px 5px;
}

.myFoldersIcon {
	float: left;
	background: url(images/folders/folder-icon.png) no-repeat;
	width: 20px;
	height: auto;
}

.myFolderRightSpriteCloseContainer {
	float: right;
	right: 0px;
	top: 0px;
	position: absolute;
}

.myFolderRightContentSpriteClose {
	background-position: 0px -1576px;
	width: 26px;
	height: 25px;
}

.myFolderRightContentSettings {
	background-position: 0px 0px;
	width: 143px;
	height: auto;
}

.myFolderRightdownArrContainer {
	float: right;
	right: 0px;
	top: 0px;
	position: absolute;
}

.myFolderHeaderSettingContainer {
	padding: 5px 0px 0px 0px;
}

.myFolderHeaderSetting {
	background-position: 0px -1620px;
	width: 26px;
	height: 42px;
}

.myFolderRightImageConent {
	float: left;
	padding: 0px 120px 0px 40px;
}

.myFolderRightContentArrowContainer {
	float: left;
	padding: 0px 0px 0px 5px;
}

.myFolderRightContentdownArr {
	background-position: 0px -1506px;
	width: 18px;
	height: 22px;
}

.myFolderRightFolderOuterContainer {
	padding: 0px 0px 0px 0px;
}

.myFolderLeftnavOuterFolderContainer {
	padding: 0px 0px 0px 10px;
}

.myFolderRightFolderContainer {
	padding: 6px 0px 0px 0px;
}

.myFolderRightFolderMainContainer {
	float: left;
}

.myFolderRightFolderMainOuterContainer {
	padding: 0px 0px 0px 10px;
}

.myFolderContentFolder {
	background-position: 0px -1536px;
	width: 20px;
	height: 20px;
}

.myFolderContentFolderCollection {
	background-position: -2px -1667px;
	width: 27px;
	height: 20px;
}

.myFolderContentFolderCollectionOuterdiv {
	padding: 0px 0px 0px 15px;
}

.myFolderContentFolderCollectionAlign {
	padding: 8px 0px 0px 0px;
}

.myFolderCollectionEditOuter {
	position: absolute;
	top: 5px;
	float: right;
	right: 14px;
}

.myFolderCollectionEditContainer {
	float: left;
	padding: 15px 0px 0px 100px;
}

.myFolderCollectionEditContainerDateText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 0px 10px 0px;
}

.myFolderCollectionEdit {
	width: 84px;
	height: 23px;
	margin: 0px 0px 10px 30px;
	/* Firefox v3.6+ */
	background-image: -moz-linear-gradient(50% 0% -90deg, rgb(76, 152, 204)
		0%, rgb(16, 118, 187) 99% );
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(76, 152,
		204) ), color-stop(0.99, rgb(16, 118, 187) ) );
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99% );
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99% );
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99% );
	background-image: linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99% );
	/* Firefox v1.0+ */
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,
		endColorstr=#ff1076bb, GradientType=0 );
}

.myFoldeCollectionrEditTitle {
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 4px 2px 2px 2px;
}

.myFolderCollectionEditDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 120%;
	color: rgb(16, 118, 185);
	padding: 0px 0px 0px 20px;
}

.myFolderCollectionEditBottomDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	padding: 8px 0px 0px 0px;
}

.myFolderLeftArrOuterContainer {
	float: left;
	width: 15px;
	height: 20px;
}

.myFolderLeftArrContainer {
	float: left;
	width: 14px;
	height: 25px;
	padding: 11px 0px 0px 0px;
}

.myFolderLeftArr {
	background-position: 0px -1439px;
	width: 14px;
	height: 25px;
}

.myFolderFolderContainer {
	float: left;
	position: absolute;
	top: 5px;
	left: 40px;
	padding: 8px 0px 0px 0px;
}

.myFolderRightFolders {
	background-position: 0px -1522px;
	width: 26px;
	height: 38px;
}

.myFolderCollectionContainer {
	padding: 8px 0px 0px 0px;
}

.myFolderCollectionIcon {
	background-position: -4px -1653px;
	width: 28px;
	height: 38px;
}

.myFolderHeaderDesc {
	float: right;
	right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(16, 118, 186);
	text-align: left;
	padding: 8px 10px 0px 0px;
}

.myFolderHeaderAlign {
	padding: 0px 0px 10px 0px;
}
/*.................Popup..................*/
.myFolderCollectionPopupOuterContainer {
	width: 35%;
	margin: 0 auto;
}

.myFolderCollectionPopupContainer {
	float: left;
	padding: 3px;
	background-color: #fff;
}

.myFolderCollectionPopup {
	float: left;
	background-color: #FFF;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	border-style: solid;
}

.myFolderCollectionBlackBg {
	float: left;
	width: 100%;
	height: 45px;
	margin-bottom: 15px;
	background-color: rgb(81, 81, 81);
}

.myFolderCollectionTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: left;
	padding: 12px;
}

.myFolderCollectionDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 250%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 0px 0px 15px;
}

input[type="text"] {
	outline: 0;
}

.myFolderCollectionAligntext {
	width: 118px;
	height: 27px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	margin: 0px 0px 0px 15px;
}

.myFolderCollectionBottomDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 250%;
	font-style: italic;
	color: rgb(153, 153, 153);
	padding: 15px 0px 0px 15px;
}

.myFolderCollectionButtonContainer {
	float: left;
	cursor: pointer;
	Padding: 10px 40px 15px 140px;
}

.myFolderCollectionOk {
	background-image: -moz-linear-gradient(-90deg, rgb(219, 219, 219) 0%,
		rgb(129, 134, 138) 99% );
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(219, 219, 219) 0%,
		rgb(129, 134, 138) 99% );
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(219, 219, 219) 0%,
		rgb(129, 134, 138) 99% );
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(219, 219, 219) 0%,
		rgb(129, 134, 138) 99% );
	width: 40px;
	float: left;
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,
		endColorstr=#ff1076bb, GradientType=0 );
}

.myFolderCollectionOkTitle {
	color: #fff;
	font-size: 14px;
	font-style: normal;
	text-align: center;
}

.myFolderCollectionCancel {
	float: left;
	color: #1076BB;
	font-style: normal;
	padding: 0px 0px 0px 5px;
}

.myFolderCollectionFolderleftdesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
}

.myFolderCollectionCurves {
	padding: 0px 0px 0px 30px;
}

.myFolderCollectionCurvesDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
}

.myFolderCollectionPlusContainer {
	float: left;
}

.myFolderCollectionFormContainer {
	float: left;
	padding: 0px 0px 10px 20px;
}

.myFolderCollectionFormTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 5px 0px 10px 0px;
}

.myFolderCollectionFormInputControl {
	width: 380px;
	height: 27px;
	background-color: transparent;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	/* Firefox v1.0+ */
	-moz-border-radius: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	margin: 0px 15px 0px 0px;
}

.myFolderCollectionInputDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 5px 0px 0px 5px;
}

.myFolderCollectionFormInputText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #000;
	padding: 7px 0px 3px 5px;
}

.myFolderCollectionFormDesc {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: left;
	padding: 10px 0px 10px 0px;
}

.myFolderCollectionBlueButtonContainer {
	width: 25%;
	margin: 0 auto;
	padding: 7px 0px 0px 0px;
}

.myFolderCollectionBlue_Ok {
	width: 40px;
	float: left;
	background-color: #1076bb;
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	padding: 5px 0px 5px 0px;
	margin-bottom: 15px;
}

.myFolderCollectionBlue_OkTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	text-align: center;
}

.myFolderCollectionBlue_Cancel {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	color: #1076BB;
	font-style: normal;
	padding: 5px 0px 0px 5px;
}

.myFolderCollectionGridbg {
	float: left;
	position: relative;
	background-color: #ccc;
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	padding: 0px 10px 0px 6px;
	margin: 4px 8px 10px 5px;
}

.myFolderCollectionGridbgTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 3px 0px 3px 0px;
}

.myFolderCollectionGridbgCloseContainer {
	float: left;
	padding: 7px 0px 0px 0px;
}

.myFolderCollectionGridbgClose {
	background-position: -66px -450px;
	width: 12px;
	height: 8px;
}

.myFolderCollectionDropdownContainer {
	position: relative
}

.myFolderCollectionDropdown {
	width: 380px;
	background-color: #fff;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	border-style: solid;
	overflow-y: scroll;
	border-top: none;
	position: absolute;
	top: 0px;
}

.myFolderCollectionDropdownList {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 160%;
	text-align: left;
	padding: 3px 5px 3px 5px;
}

.myFolderCollectionDropdownList:hover {
	background-color: rgba(135, 186, 221, 0.5);
}

.myfolderCollectionBreadcumb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: left;
	padding: 0px 0px 10px 0px;
}

.myfolderCollectionAlgebraTextAlign {
	width: 220px;
}

.myfolderCollectionAlgebraBottomContainer {
	width: 100%;
	padding: 3px 5px 3px 5px;
}

.myfolderCollectionAlgebraBottomContent {
	float: left;
	width: 200px;
}

.myfolderCollectionAlgebraBottomText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	color: rgb(134, 185, 221);
	text-align: center;
	padding: 5px 0px 0px 0px;
}

.myfolderCollectionAlgebraIconDesc {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 120%;
	color: rgb(153, 153, 153);
	text-align: center;
	padding: 5px 0px 0px 0px;
}

.myfolderCollectionAlgebraBalloonAlign {
	float: left;
	padding: 5px 0px 0px 68px;
}

.myfolderCollectionAlgebraBalloonIcon {
	width: 20px;
	height: 20px;
	background-position: -114px -1400px;
}

.myfolderCollectionShareBold {
	color: #000;
}

.myfolderCollectionAlgebraShareAlign {
	float: left;
	padding: 5px 0px 0px 100px;
}

.myfolderCollectionAlgebraAShareIcon {
	width: 30px;
	height: 20px;
	background-position: -55px -1400px;
}

.myFolderCollectionNavContainer {
	float: left;
	width: 25%;
	padding: 0px 5px 0px 0px;
}

.myFolderCollectionNormalContainer {
	position: relative;
	float: left;
}

.myFolderCollectionNavContainerHeading {
	width: 298px;
	float: left;
	height: 38px;
	margin-top: 33px; 
	color:  #515151 !important;
	border-bottom: 1px solid #ddd !important;
	border-top: 1px solid #eee !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ededed) ) !important;
	background: -moz-linear-gradient(center top, #fdfdfd, #ededed) repeat scroll 0 0 transparent !important;
	background-color: #ededed;
	padding: 0;
}

.myFolderCollectionNavContainerHeadingText
{
	float: left;
	padding: 12px 0px 0px 12px;
	font-size: 16px;
}

.myFolderNavigationContainerfolder-li-title {
	height: 18px;
	padding: 10px;
	padding-top: 12px;
}

.myFolderNavigationContainerselectedFolderContainer {
	float: left;
	width: 200px;
}

.myFolderCollectionItalictext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(153, 153, 153);
	font-style: italic;
}

.myFolderCollectionRightItalictext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(153, 153, 153);
	font-style: italic;
}

.myFolderCollectionRightImg {
	padding: 0px 0px 0px 25px;
}

.myFolderCollectionNavContainerliText {
	float: left;
	font-size: 16px;
	color: rgb(81, 81, 81);
	padding: 10px 0px 10px 5px;
}

.myFolderCollectionNavlibg {
	width: 260px;
	height: 37px;
	/* Firefox v3.6+ */
	background-image: -moz-linear-gradient(101% 3% -90deg, rgb(255, 255, 255)
		0%, rgb(221, 221, 221) 99% );
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 101% 3%, 101% 159%, color-stop(0, rgb(255, 255,
		255) ), color-stop(0.99, rgb(221, 221, 221) ) );
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 99% );
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 99% );
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 99% );
	/* Firefox v3.5+ */
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffdddddd, GradientType=0)  progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color=#33000000, Positive=true)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,
		endColorstr=#ffdddddd, GradientType=0 ) progid:DXImageTransform.Microsoft.dropshadow(OffX=1,
		OffY=1, Color=#33000000, Positive=true );
}

.myFolderCollectionNavlibg:hover {
	color: #000;
	background-image: -moz-linear-gradient(101% 3% -90deg, rgba(81, 81, 81, 0.2)
		0%, rgba(81, 81, 81, 0.2) 99% );
	/* safari v4.0+ and by Chrome v3.0+ */
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgba(81, 81, 81, 0.2)
		0%, rgba(81, 81, 81, 0.2) 99% );
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgba(81, 81, 81, 0.2) 0%,
		rgba(81, 81, 81, 0.2) 99% );
	background-image: -ms-linear-gradient(-90deg, rgba(81, 81, 81, 0.2) 0%,
		rgba(81, 81, 81, 0.2) 99% );
	background-image: linear-gradient(-90deg, rgba(81, 81, 81, 0.2) 0%,
		rgba(81, 81, 81, 0.2) 99% );
}
/***************** my folder *************************/
.folders-li {
	margin: 0px;
	color: #515151;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #eee;
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',
		endColorstr='#EDEDED' );
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#EDEDED));
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);*/
	background: url(../images/top-nav-bg.png) repeat-x;
	width: 202px;
	height: 34px;
}

.folders-liNormal {
	margin: 0px;
	color: #515151;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #eee;
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',
		endColorstr='#EDEDED' );
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#EDEDED));
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);*/
	background: url(../images/top-nav-bg-normal.png) repeat-x;
	width: 187px;
	height: 39px;
}

.folders-liNormal:hover {
	margin: 0px;
	color: #515151;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #eee;
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',
		endColorstr='#EDEDED' );
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#EDEDED));
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);*/
	/*background:url(../images/top-nav-bg-normal.png) repeat-x; */
	background-color: #efefef;
	width: 187px;
	height: 39px;
}

.folders-liSelected {
	margin: 0px;
	color: #515151;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #eee;
	background: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD',
		endColorstr='#EDEDED' );
	/*background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#EDEDED));
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);*/
	background: url(../images/top-nav-selected-bg.png) repeat-x;
	width: 202px;
	height: 39px;
}

.downArrow {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -671px;
	width: 11px;
	height: 6px;
}

.folder-li-marker {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666',
		endColorstr='#333' );
	background: -webkit-gradient(linear, left top, left bottom, from(#666),
		to(#333) );
	background: -moz-linear-gradient(top, #666, #333);
	height: 42px;
	width: 10px;
	margin-right: 8px;
	display: inline-block;
	float: left;
	margin-top: -1px;
}

.folder-li-title {
	height: 18px;
	padding: 10px;
	padding-top: 12px;
}

.myFolderNavigationContainerWidth {
	width: 20%;
	margin: 0px;
}

.myFolderOptionContainer {
	float: left;
	width: 215px;
}

.selectedFolderContainer {
	float: left;
	width: 200px;
}

.myFolderNormalContainer {
	float: left;
	width: 187px;
	clear: both;
	cursor: pointer;
}

.myFolderContentWrapper {
	width: 760px;
	min-height: 915px;
	height: auto;
	background-color: #FFF;
	float: left;
	border-radius: 4px;
	margin: 23px 0px 0px 23px;
	moz-box-shadow: 2px 2px 4px #d1d0d0;
	-webkit-box-shadow: 2px 2px 4px #d1d0d0;
	box-shadow: 2px 2px 4px #d1d0d0;
}

.myFolderNavigationContainer {
	width: 100%;
	float: left;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.myFolderNavigationTitle {
	float: left;
	margin: 16px 0px 0px 24px;
	font-size: 16px;
	color: #515151;
}

.myFolderMenuContainer {
	width: 337px;
	height: 40px;
	float: right;
}

.myFolderMenuOptionOne {
	float: left;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
	padding: 15px 40px 0px 0px;
}

.myFolderMenuOptionTwo {
	float: left;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
	padding: 15px 30px 0px 0px;
}

.myFolderMenuOptionThree {
	float: left;
	font-size: 12px;
	color: #4e9746;
	cursor: pointer;
	padding: 15px 10px 0px 0px;
}

.myFolderContentInnerWrapper {
	width: 704px;
	float: left;
	margin-left: 23px;
}

.myFolderInnerContentTitle {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.myFolderInnerContentTitleInputBox {
	float: left;
	width: 100%;
	border: 1px solid #9e9e9e;
	height: 30px;
	margin-top: 8px;
}

.myFolderInnerInputContent {
	width: 706px;
	height: 262px;
	float: left;
	border-bottom: 1px solid #9f9f9f;
}

.myFolderInnerContentLeftPortion {
	width: 363px;
	float: left;
	height: auto;
}

.myFolderInnerContentInputBoxTitle {
	width: 100%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-top: 10px;
}

.myFolderInnerContentTextArea {
	float: left;
	width: 340px;
	border: 1px solid #9e9e9e;
	height: 30px;
	margin-top: 8px;
}

.myFolderInnerContentInputBox {
	float: left;
	width: 340px;
	border: 1px solid #9e9e9e;
	height: 30px;
	margin-top: 8px;
}

.myFolderInnerContentDescribtionTextArea {
	float: left;
	width: 340px;
	height: 144px;
	margin-top: 2px;
	border: 1px solid #9e9e9e;
}

.myFolderInnerContentRightPortion {
	width: 343px;
	height: auto;
	float: left;
}

.myFolderVacabularyTextArea {
	width: 340px;
	height: 81px;
	float: left;
	border: 1px solid #9e9e9e;
}

.myFolderContentWrapperTwo {
	width: 292px;
	height: 467px;
	float: left;
	margin-top: 20px;
	margin-left: 24px;
}

.myFolderContentWrapperTwoTitle {
	float: left;
	margin: 16px 0px 0px 0px;
	font-size: 16px;
	color: #515151;
	margin-bottom: 20px;
}

.myFolderAddToFolderTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	width: 100%;
	cursor: pointer;
	margin-bottom: 15px;
}

.myFolderAddToCollection {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	width: 100%;
	cursor: pointer;
	margin-top: 6px;
}

.myFolderAddToCollection:hover {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e9746;
	width: 100%;
	cursor: pointer;
	margin-top: 6px;
	opacity: 0.7;
}

.myFolderAddToCollectionTitle {
	font-size: 12px;
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	margin-top: 4px;
}

.myFolderAllCollectionImageContainer {
	float: left;
	width: 100%;
}

.myFolderCollectionImageContainer {
	width: 130px;
	float: left;
	height: 136px;
}

.myFolderCollectionExambleImageContainer {
	width: 130px;
	float: right;
	height: 136px;
}

.myFolderCollectionExambleImage {
	margin-top: 10px;
}

/***************************************************** sprite images **********************************************************/
/*.sprite-Extended, .sprite-Intended, .sprite-Supplementary, .sprite-calend-mont, .sprite-calender-left-arrow, .sprite-calender-right-arrow, .sprite-down-arrow, .sprite-gooru-beta, .sprite-gooru-logo-small, .sprite-gray_noise_25, .sprite-rates, .sprite-ratio-two, .sprite-ratio, .sprite-teacher-image, .sprite-toggle-arrow, .sprite-top-nav-bg-normal, .sprite-top-nav-bg, .sprite-top-nav-selected-bg
{
	background: url(../images/teach-and-study-sprite.png) no-repeat;
}*/
.sprite-Extended {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 0;
	width: 130px;
	height: 97px;
}

.sprite-Intended {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -147px;
	width: 130px;
	height: 97px;
}

.sprite-Supplementary {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -294px;
	width: 130px;
	height: 97px;
}

.sprite-calend-mont {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -441px;
	width: 36px;
	height: 30px;
}

.sprite-calender-left-arrow {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -521px;
	width: 26px;
	height: 25px;
}

.sprite-calender-right-arrow {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -596px;
	width: 26px;
	height: 25px;
}

.sprite-down-arrow {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -671px;
	width: 11px;
	height: 6px;
}

.sprite-gooru-beta {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -727px;
	width: 143px;
	height: 35px;
}

.sprite-gooru-logo-small {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -812px;
	width: 99px;
	height: 30px;
}

.sprite-gray_noise_25 {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -892px;
	width: 25px;
	height: 25px;
}

.sprite-rates {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -967px;
	width: 123px;
	height: 92px;
	margin-top: 10px;
}

.sprite-ratio-two {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1109px;
	width: 123px;
	height: 92px;
	margin-top: 10px;
}

.sprite-ratio {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1251px;
	width: 123px;
	height: 92px;
	margin-top: 10px;
}

.sprite-teacher-image {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1393px;
	width: 30px;
	height: 30px;
}

.sprite-toggle-arrow {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1473px;
	width: 15px;
	height: 12px;
}

.sprite-top-nav-bg-normal {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1535px;
	width: 2px;
	height: 39px;
}

.sprite-top-nav-bg {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1624px;
	width: 2px;
	height: 34px;
}

.sprite-top-nav-selected-bg {
	background: url(../images/teach-and-study-sprite.png) no-repeat;
	background-position: 0 -1708px;
	width: 2px;
	height: 39px;
}