.wrapper {
	width: 1280px;
	margin: 0 auto;
	margin-top: 78px;
}
.content {
	width: 870px;
	margin: 0 auto;
}
.spriteType {
	background: url(../images/sprites.png);
}
.title {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 8px;
}
.btnStyle {
	display: inline-block;
color: #515151;
font-weight: bold;
font-size: 16px;
background:none;
cursor: pointer;
}
.class-code {
	display: inline-block;
	float: right;
	color: #515151;
	font-weight: bold;
	font-size: 16px;
	height: 45px;
	margin-right:2px;
}
.ext {
	height: 35px;
	margin-bottom:10px;
}
.content-inner {
	margin-bottom: 11px;
}
.content-box {
	display: inline-block;
	vertical-align: top;
	width: 422px;
	background: #fff;
	min-height: 100px;
	margin-right: 27px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 10px rgba(81,81,81,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(81,81,81,0.3);
	box-shadow: 0px 0px 10px rgba(81,81,81,0.3);
	cursor: pointer;
}
.content-box .h4 {
	font-size: 12px;
	font-weight: bold;
	color: rgb(81,81,81);
	float: left;
	margin: 12px 10px;
}
.ownerClasses{
	min-height:200px;
	width:900px;
}
.joinedClasses{
	min-height:200px;
}
.clear {
	clear: both;
}
.content-box:last-child {
	margin-right: 0px;
}
.inputype {
	width: 140px;
	height: 30px;
	text-align: center;
	margin-right: 5px;
	border: 1px solid #dddddd;
	background-color: #fff;
	font-size: 12px;
}
.btn {
	color: #FFF;
	border-radius: 4px;
	padding: 7px 14px;
	border: 1px solid #1076BB;
	background: #1076BB;
	background-color: #1076BB;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
}
.btn:hover {
	color: #FFF;
	background: #1076BB;
	cursor: pointer;
}
.plus {
	display: inline;
	font-weight: bold;
	font-size: 20px;
}
.hover-section {
	position: relative;
}
.overlayBg 
{
	color: white;
	font-weight: bold;
	width: 100%;
	bottom: 0px;
	height: 26px;
	padding-top: 30px;
	padding-left: 10px;
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	background:rgba(0,0,0,0.5);
	width: 422px;
	height: 77px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profileImage
{
	border-radius: 50px;
	box-shadow: 0 0 0 2px #87badd;
	width: 30px;
	height: 30px;
	margin-left: 19%;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}
.profileImageText
{
	float: left;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #515151;
	margin-top:12px;
}
.centerAlignBtn{
	text-align:center;
}
.marginRightDisplay{
	margin-left:31%;
}
