@CHARSET "UTF-8";

/* recommended to choose a value that is divisible by 2 */
@def handleSize 30px;

.base {
	background-color: #000;
	position: relative;
}

.imageCanvas {
	opacity: 0.4;
	background-color: #FFF;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	right: 0px;
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 300px;
}

.selection {
	border: 2px dashed white;
	z-index: 1;
	display:inline-block;
}
.selection IMG{
	background-color: #FFF;
	position: absolute;
	top: 0px;
	width:auto;
	height: auto;
	text-align: center;
	right: 0px;
	margin: 0 auto;
	max-width: 400px;
	max-height: 300px;
}
.selectionDraggableBackground{
	background: rgba(255, 255, 255, 0);
	-ms-touch-action: none;
}

.handlesContainer {
	overflow: visible;
	z-index: 2;
}

.handle {
	width: handleSize;
	height: handleSize;
	
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-ms-touch-action: none;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}