@CHARSET "UTF-8";

/* recommended to choose a value that is divisible by 2 */
@def handleSize 10px;

.base {
	background-color: #000;
	position: relative;
}
.imageCanvas {
	opacity: 0.4;
	background-color: #FFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	right: 0px;
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 300px;
}
.selection {
	border: 1px dashed white;
	background: #FFFFFF;
	display:inline-block;
}
.selection IMG{
	background-color: #FFF;
	position: absolute;
	top: 0px;
	width:auto;
	height: auto;
	text-align: center;
	right: 0px;
	margin: 0 auto;
	max-width: 400px;
	max-height: 300px;
}
.selectionDraggableBackground {
	/* we need this 'hack', because without this magic IE didn't see the draggable area */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: #FFF;
}
.handlesContainer {
	overflow: visible;
}
.handle {
	width: handleSize;
	height: handleSize;
	border: 1px solid white;
	background: #000000;
	position: absolute;
	
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=6)";
    filter: alpha(opacity=25);
    opacity: 0.6;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}