@CHARSET "UTF-8";

/* recommended to choose a value that is divisible by 2 */
@def handleSize 10px;

.base {
	background-color: #000;
	position: relative;
}
.imageCanvas {
	opacity: 0.4;
	background: #FFF;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	right: 0px;
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 300px;
}
.selection {
	border: 1px dashed white;
	display:inline-block;
}
.selection IMG{
	background-color: #FFF;
	position: absolute;
	top: 0px;
	width:auto;
	height: auto;
	text-align: center;
	right: 0px;
	margin: 0 auto;
	max-width: 400px;
	max-height: 300px;
}
.selectionDraggableBackground {
    background: rgba(255, 255, 255, 0);
}
.handlesContainer {
	overflow: visible;
}
.handle {
	width: handleSize;
	height: handleSize;
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
}

.base DIV {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}