.container {
    background:#f0f0f0;
    min-height:100%;
    width:940px;
    margin:auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
     margin-top:50px;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.leftPanel {
    width:700px;
    min-height:100%;
    float:left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding:30px;
    background:white;
    border-right:1px solid #ddd;
}
.rightPanel {
    width:240px;
    height:100%;
    float:right;
    padding: 30px 20px 20px 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.hrShadow {
    width:700px;
    height:34px;
    background:url('images/hrShadow.png') no-repeat;
    margin-left:-30px;
    margin-top:50px
}

.commentField {
	max-width: 490px;
	max-height: 80px;
    float:left;
    font-size: 12px;
    margin-right:10px;
    min-height: 80px;
	min-width: 490px;
	border: 1px solid #dddddd;
	padding: 5px;
}

.infoSection{
    margin-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #ddd;
}
.infoSectionAuthor{
    margin-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #ddd;

}
.infoSection:last-child {
    border-bottom:none;
}
.infoSection:first-child {
    margin-top:0px;
}
.rightPanel .infoSection h3{
	margin-bottom:10px;
}
.rightPanel  .userImageContainer {
    margin-right:10px;
    width:40px;
    height:40px;
    border-radius:40px;
    display:inline-block;
    vertical-align:middle;
    border:3px solid #87BADD;
}
.rightPanel .userImage{
    width:40px;
    height:40px;
     border-radius:40px;
    display:inline-block;
    vertical-align:middle;
}
.rightPanel  .username {
    display:inline-block;
    vertical-align:middle;
}
.standard {
    background-color:#515151;
    color:white;
    display:inline-block;
    padding:3px 5px;
    border-radius:4px;
    margin-bottom:5px;
    font-size:10px;
    font-weight:bold
}
.rightPanel .relatedConcepts a {
    display:block;
    margin:1px 0px;
}
.rightPanel a.flagCollection {
    color: #515151;
    padding-left:30px;
    background:url('images/flag.png') no-repeat;
}

.flagCollection {
    color: #515151;
    padding-left:30px;
    background:url('images/flag.png') no-repeat;
}
.rightPanel a.flaggedCollection {
    color: #999;
    padding-left:30px;
    background:url('images/flagged.png') no-repeat;
}
.flaggedCollection {
    color: #999;
    padding-left:30px;
    background:url('images/flagged.png') no-repeat;
}
.rightPanel a.flaggedCollection:hover {
    opacity:1;
    cursor:default;
}
.flaggedCollection:hover {
    opacity:1;
    cursor:default;
}
.courseTitle{
	
}
.views{
	font-size: 1.17em;
	font-weight: bold;
}
.nextSteps{
	background-color: white;
	border: 1px solid #DDD;
	text-align: center;
	padding: 15px;
	margin: 10px 0px 10px 0px;
}
.nextSteps .h2{
	background: url('images/whatnext_banner.png') no-repeat;
	height: 35px;
	margin-top: -30px;
	color: #FFF;
	font-size: 14px;
	padding-top: 7px;
	margin-bottom:10px;
}
.nextSteps h3{
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 10px;
	font-family: Arial, sans-serif !important;
}
.nextSteps a{
	display: block;
	margin: 10px 0px;
}

.commentsSection .userPhoto {
    margin-right:10px;
    width:40px;
    height:40px;
    border-radius:40px;
    float:left;
    border:3px solid #87BADD;
    background-color:#f0f0f0;
}

.commentsSection .username {
    font-weight:bold;
    display:inline-block;
    margin-right:10px;
    float:left;
}

.commentsSection .addComment,
.commentsSection .editComment {
    margin-top:30px
}

.commentsSection .addComment .loginMessaging {
    width:570px;
    height:100px;
    background:#f0f0f0;
    border:1px solid #ddd;
    color:#999;
    line-height:100px;
    vertical-align:middle;
    text-align:center;
    float:left;
    margin-right:15px;
}

.commentsSection .addComment button#post,
.commentsSection .editComment button#post,
.commentsSection .editComment button#cancel {
    float:left;
}

.marginTop10 {
	margin-top: 10px;
}

.successPostMsg {
	text-align: center;
	height: 60px;
	width: 505px;
	margin-right: 20px;
	float: left;
	padding-top: 40px;
	border: 1px solid #dddddd;
}

.deleteMsg {
	border-bottom: 1px solid #ddd;
	padding: 30px 0px;
	transition: height 1s ease;
	position: relative;
	background: #f0f0f0;
	text-align: center;
}

.commentsH2 {
	margin-bottom: 10px;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}
.standard_section{
	display:inline-block;
}

.seeMore {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	transition: height 1s ease;
	position: relative;
	text-align: center;
	width: 626px;
	color: #1076BB;
	cursor: pointer;
}

.seeMore:hover {
	opacity: 0.5;
}

.errorMessage {
	float: right;
	margin-right: 80px;
	margin-top: 10px;
}

.conceptTitle {
	color: #1076bb;
	cursor: pointer;
	padding: 1px 0px;
}

.conceptTitle:hover {
	opacity: 0.7;
}

.marginBotton10Px{
	margin-bottom: 10px;
}
.clearBoth{
	clear: both;
}
.mutedText{
	color:#EEEEEE;
}
.depthofKnow{
	background: -moz-linear-gradient(center top, #666, #515151) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background-image: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: white;
	font-size: 10px;
	font-weight: normal;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px;
	cursor: default !important;
}
.depthOfKnowledgePanel{
	width: 176px;
	min-height: 80px;
	height: auto;
}
.teacherTipOuterContainer{
	width:200px;
	word-wrap:break-word;
	padding:5px;
	overflow:hidden;
}

