/*.................Popup..................*/
.answerDeselected,.answerSelected, .addResourcePopupSprite,.addResourceFormAnswerDelete {
	width: 640px;
	height: 480px;
	background: url(images/sprites.png) no-repeat;
}

.answerDeselected {
	background-position: 0px -50px;
	width: 20px;
	height: 18px;
	cursor:pointer;
}
.answerDeselected:hover {
    background-position: -20px -50px;
    width: 20px;
    height: 18px;
}
.answerSelected{
	background-position: -20px -50px;
    width: 20px;
    height: 18px;
    cursor:pointer;
}


.addResourceEditResource {
	padding: 0px 0px 0px 20px;
}
.addResourcePopupSprite {
	width: 640px;
	height: 480px;
	background: url(images/sprites.png) no-repeat;
}
.addResourceFormRightInnerMainDiv {
	padding: 0px 0px 0px 10px;
}
.addResourceArrowleftContainer {
	float: right;
	right: 10px;
	margin: -9px 7px 0px 0px;
}
.addResourceArrowleft {
	background-position: -44px 0;
	width: 15px;
	height: 10px;
}
.clear {
	clear: both;
}
.addResourcePopupOuterdiv {
	width: 40.8%;
	margin: 0 auto;
	position: relative;
	padding: 3px 3px 3px 3px;
	background: #fff;
	border-color: rgb(221,221,221);
}
user agent stylesheetdiv {
	display: block;
}
.addResourcePopup {
	float: left;
	width: 100%;
	background-color: #FFF;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
}
.addResourceEditPopup {
	float: left;
	width: 76%;
	background-color: #FFF;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
}
.addResourceBlackBg {
	width: 100%;
	height: 39px;
	background-color: rgb(81,81,81);
}
.addResourceTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 120%;
	color: rgb(255,255,255);
	padding: 8px 5px 5px 10px;
}
.addResourceUrlContent {
	float: left;
	width: 125px;
	background-color: #FFF;
}
.addResourceUrlbg {
	/* Firefox v3.6+ */
	background-image: -moz-linear-gradient(194% 3% -90deg, rgb(221,221,221) 0%, rgb(255,255,255) 99%);
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 194% 3%, 194% 159%, color-stop(0, rgb(221,221,221)), color-stop(0.99, rgb(255,255,255)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(255,255,255) 99%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(255,255,255) 99%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(255,255,255) 99%);
	width: 125px;
	height: 37px;
	/* Firefox v3.5+ */
	-moz-box-shadow: inset -2px 1px 4px rgba(0,0,0,0.2);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: inset -2px 1px 4px rgba(0,0,0,0.2);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd,endColorstr=#ffffffff,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd, endColorstr=#ffffffff, GradientType=0);
}
.addResourceUrlbg:hover {
	/* Firefox v3.6+ */
	background-image: -moz-linear-gradient(194% 3% -90deg, rgb(221,221,221) 0%, rgb(255,255,255) 99%);
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 194% 3%, 194% 159%, color-stop(0, rgb(221,221,221)), color-stop(0.99, rgb(255,255,255)));
	/* Chrome v10.0+ and by safari nightly build*/

	width: 125px;
	height: 37px;
	cursor: pointer;
	/* Firefox v3.5+ */
	-moz-box-shadow: inset -2px 1px 4px rgba(0,0,0,0.2);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: inset -2px 1px 4px rgba(0,0,0,0.2);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: inset -2px 1px 4px rgba(0,0,0,0.2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd,endColorstr=#ffffffff,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd, endColorstr=#ffffffff, GradientType=0);
}
.addResourceUrlbgTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: #000;
	text-align: left;
	padding: 8px 0px 5px 10px;
}
.addResourceFormRightOuterDiv {
	float: left;
	width: 72.5%;
	padding: 0px 0px 0px 10px;
	border-left: 1px solid rgb(221,221,221);
	background-color:white;
	overflow-y: auto !important;
    overflow-x: hidden !important;
	max-height: 567px;
	min-height:300px;
}
.addResourceEditFormOuterDiv {
	float: left;
	padding: 0px 0px 0px 30px;
}
.addResourceFormContainer {

}
.addResourceFormContent {
	padding: 10px 0px 0px 0px;
}
.addResourceFormTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
	padding: 0px 0px 2px 0px;
}
.addResourceDepthOfKnoweldgeFormTitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
	padding: 0px 0px 2px 0px;
	display: inline-block;
}
.addResourceFormTitleChoiceOuterdiv {
	margin: -10px 0px 20px 0px;
}
.addResourceFormTitleOuterdiv {
	padding: 20px 0px 0px 0px;
}
.addResourceFormTitleChoiceContainer {
margin: 20px 0px 0px 0px;
float: left;
width: 100%;
}
.addResourceFormTitleChoice {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
}
.addResourceFormTitleChoiceAlign {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
	position: static;
	float: right;
	margin-right: 22px;
}
.addResourceFormAnswerContainerOuter {
	clear: both;
}
.addResourceFormAnswerAlignNone {
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.addResourceFormAnswerContainer {
	float: left;
	width:100%;
	margin: 20px 0px 0px 0px;
}
.addResourceFormAnswerContainerAlign {
	margin: 0px 0px 0px 0px;
}
.addResourceFormAlphaText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	font-weight: bold;
	text-align: left;
	padding: 8px 8px 0px 3px;
}
.addResourceFormAlphaTextNone {
	padding: 8px 10px 0px 10px;
}
.addResourceFormAlphaTextNormal {
	font-style: normal;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: left;
}
.addResourceFormAnswerInputControl {
	float: left;
	width: 75%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
}
.addResourceMultipleAnswerInputControl {
	float: left;
	width: 60%;
	height: 30px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: relative;
}
.addResourceFormAnswerTextAlign {
	font-size: 12px;
	color: rgb(81,81,81);
	padding: 0px 0px 0px 8px;
	font-family: Arial, Helvetica, sans-serif;
}
.addResourceFormAnswerInputText {
	width: 99%;
	height: 28px;
	border: none;
	outline: 0;
	display:none;
}
.addResourceFormAnswerMarkbg {
	float: right;
	margin-right: 28px;
	padding: 3px 0px 0px 3px;
}
.addResourceFormAnswerMarker {
	background-position: 0px -50px;
	width: 20px;
	height: 18px;
	cursor:pointer;
}
.addResourceFormAnswerMarker:hover {
	background-position: -20px -50px;
	width: 20px;
	height: 18px;
}
.addResourceFormAnswerDeletebg {
	position: absolute;
	top: 0px;
	float: right;
	right: 10px;
}
.addResourceFormAnswerDelete {
	background-position: 11px -67px;
	width: 30px;
	height: 30px;
	cursor:pointer;
}
.addResourceFormInputControl {
	background-color: transparent;
	border-color: rgb(221,221,221);
	border-width: 1px;
	/* Firefox v1.0+ */
	-moz-border-radius: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	height: 85px!important;
	min-height: 85px!important;
	width:302px !important;

}
.addResourceFormInputTextField {
	width: 352px;
	height: 28px;
	outline: 0;
	border: 0px;
	color: rgb(81,81,81);
	padding: 0px 0px 0px 5px;
}
.addResourceFormInputTextarea {
	width: 352px;
	height: 30px;
	outline: 0;
	border: 0px;
	color: rgb(81,81,81);
	padding: 0px 0px 0px 5px;
	background: transparent;
}
.addResourceFormInputNoneborder {
	border: none;
}
.addResourceCategoryDiv {
	position: relative;
}
.addResourceCategoryInputDiv {
	width: 80%;
	height: 28px;
	outline: 0;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
}
.addResourceCategoryDivText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding: 6px 0px 0px 7px;
}
.addResourceFormInputBottomText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	padding: 10px 0px 0px 0px;
	/* margin-right: 72px;
	float: right;
	width:230px; */
	margin-right: 70px;
	float: right;
}
.addResourceFormInputBottomTextAnswerChoice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	/* margin-right: 72px;
	float: right;
	width:230px; */
	margin-right: 61px;
}
.addResourceThumbImageContainer {
	position: relative;
	padding: 20px 0px 0px 0px;
}
.addResourceThumbImageDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	padding: 0px 0px 8px 0px;
}
.addResourceThumbRectContainer {
	padding: 0px;
	width: 100%;
	height: 65px;
	position: relative;
}
.addResourceThumbRect {
	position: relative;
	background-color: rgb(240,240,240);
	width: 80px;
	height: 60px;
	border-color: rgb(221,221,221);
	border-style: solid;
	border-width: 1px;
	float: left;
	margin-left: 16px;
	padding: 2px;
}
.addResourceThumbArrLContainer {
	position: absolute;
	top: 20px;
	left: 0px;
}
.addResourceThumbArrLeftIcon {
	background-position: 0px 0px;
	width: 12px;
	height: 20px;
}
.addResourceThumbArrRContainer {
	position: absolute;
	top: 18px;
	right: 235px;
}
.addResourceThumbArrRightIcon {
	background-position: 0px -20px;
	width: 15px;
	height: 28px;
}
.addResourceThumbRectDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 155%;
	color: rgb(153,153,153);
	text-align: left;
}
.addResourceThumbOrtext {
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 0px 0px 30px;
	font-size: 13px;
	line-height: 155%;
	color: rgb(153,153,153);
	text-align: left;
	float: left;
}
.addResourceThumbUploadImagetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(16,118,186);
	text-align: center;
	padding: 25px 0px 0px 12px;
	float: left;
	cursor: pointer;
}
.addResourceRefreshMainContainer {
	padding: 0px 0px 0px 9px;
}
.addResourceRefreshContainer {
	padding: 0px 0px 0px 15px;
}
.addResourceRefreshInnerContainer {
	float: left;
	padding: 2px 0px 0px 0px;
}
.addResourceRefreshIcon {
	background-position: -25px 0px;
	width: 19px;
	height: 14px;
}
.addResourceRefresh {
	float: left;
	padding: 2px;
}
.addResourceRefreshText {
	font-size: 12px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(153,153,153);
	padding: 2px 0px 0px 5px;
}
.addResourceFormTextarea {
	width: 98%;
	height: 80px;
	outline: 0;
	border: none;
	resize: none;
	display:none;
}
.addResourceFormDesc {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153,153,153);
	text-align: left;
	padding: 10px 0px 10px 0px;
}
.addResourceBlueButtonContainer {
	width: 25%;
	margin: 0 auto;
}
.addResourceBlue_Ok {
	width: 40px;
	float: left;
	background-color: #1076bb;
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	padding: 5px 0px 5px 0px;
	margin-bottom: 15px;
}
.addResourceBlue_OkTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	text-align: center;
}
.addResourceBlue_Cancel {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	color: #1076BB;
	font-style: normal;
	padding: 5px 0px 0px 5px;
}
.addResourceGridbg {
	float: left;
	position: relative;
	background-color: #ccc;
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	width: 80px;
	height: 20px;
	margin: 4px 2px 2px 4px;
}
.addResourceButtonContainer {
	float:left;
	margin: 27px 0px 15px 105px;
}
.addResourceOk {
	float: left;
}
.addResourceAddTitle {

}
.addResourceCancel {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	color: #1076BB;
	font-style: normal;
	margin: 9px 20px;
	cursor:pointer;
}

.addResourceFolderleftdesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(153,153,153);
	text-align: left;
}
.addResourceFolderspriteNew {
	width: 640px;
	height: 480px;
	background: url(images/spritenew.png) no-repeat;
}
.addResourceFolderVideoOuterContainer {
	float: left;
	width: 100%;
	padding: 0px 0px 2px 0px;
}
.addResourceFolderVideoOuterContainer:hover {
	cursor: pointer;
	background-color: rgb(221,221,221);
}
.addResourceFolderVideoContainer {
	padding: 0px 0px 0px 0px;
}
.addResourceFolderVideoInnerdiv {
	float: left;
	width: 37px;
	height: 25px;
	margin: 0px 0px 0px 7px;
}
.addResourceFolderVideoContent {
	padding: 3px 0px 0px 0px;
}
.addResourceFolderspriteVideo {
	background-position: 0px -20px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteInteractive {
	background-position: -60px 0px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteWebsite {
	background-position: 0px 0px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteSlide {
	background-position: -30px 0px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteHandout {
	background-position: -60px -20px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteTextbook {
	background-position: 0px -44px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteLesson {
	background-position: -30px -43px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteQuestion {
	background-position: -30px -20px;
	width: 28px;
	height: 22px;
}
.addResourceFolderspriteExam {
	background-position: -60px -43px;
	width: 28px;
	height: 22px;
}
.addResourceFolderVideoTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(153,153,153);
	text-align: left;
	padding: 8px 0px 0px 0px;
}
.addResourceFolderDropdown {
	height: 250px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	border-style: solid;
	position: absolute;
	top: 29px;
	background-color: rgb(255,255,255);
	z-index: 1;
}
.addResourceFormInputBottomTextOuterdiv {
	clear: both;
}
.addResourceBottmTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	cursor: pointer;
	color: rgb(16,118,186);
	text-align: right;
	padding: 0px 0px 0px 0px;
	margin:11px 73px 0px 0px;
}
.addResourceBottmTitleAlign {
}
.addResourceThumbimgContainer {
	width: 100%;
}
.addResourceThumbimgHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	padding: 15px 0px 5px 0px;
}
.addResourceThumbimg {
	float: left;
	padding: 0px 0px 0px 0px;
}
.addResourceThumbimgLeftContainer {
	padding: 15px 0px 0px 0px;
}

.addResourceEditThumbimgLeft {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(16,118,187);
	padding: 5px 0px 0px 5px;
}

.addResourceGrayButtonContainer {
	float: left;
	padding: 20px 0px 10px 130px;
}
.addResourceGrayOk {
	/* Firefox v3.6+ */
	background-image: -moz-linear-gradient(99% 0% -90deg, rgb(221,221,221) 0%, rgb(153,153,153) 100%);
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 99% 0%, 99% 100%, color-stop(0, rgb(221,221,221)), color-stop(1, rgb(153,153,153)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(153,153,153) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(153,153,153) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(221,221,221) 0%, rgb(153,153,153) 100%);
	float: left;
	font-weight: bold;
	width: 67px;
	height: 30px;
	/* Firefox v1.0+ */
	-moz-border-radius: 4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd,endColorstr=#ff999999,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffdddddd, endColorstr=#ff999999, GradientType=0);
}

/*image css*/

.addResourceThumbimgContainer {
width: 100%;
}
.addResourceThumbimgHeading {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 120%;
color: rgb(81,81,81);
text-align: left;
padding: 15px 0px 5px 0px;
}
.addResourceThumbimg {
float: left;
padding: 0px 0px 0px 0px;
}
.addResourceThumbimgLeftContent {
float: left;
margin-top: 20px;
width: 114px;
}
.addResourceThumbimgLeft {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(16,118,187);
	text-align: right;
	margin: 0px 0px 0px 5px;
	float: left;
	margin-bottom: 5px;
	cursor:pointer;
}
.addResourceThumbimgLeft:hover,.addResourceBottmTitleAlign:hover,.addResourceBottmTitle:hover,.addResourceBottmTitle:hover,.addResourceCancel:hover{
	color:#87BADD;
	text-decoration: none;
}

.questionimage
{
	float:left;
	height:60px;
	width:80px;
}

/** Search Popup CSS **/
.addResourceFormOuterDiv {
	background-color: white;
	width: 378px;
	float: left;
	padding: 15px 10px;
	border-left: 1px solid rgb(221,221,221);
	overflow-y: auto !important;
	overflow-x: hidden !important;
	max-height: 567px;
	min-height: 300px;
}

.addSearchResourceFormContainer {
	width:373px;
	text-align:center;
}


.addResourceFormHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: rgb(81,81,81);
	text-align: center;
}
.addResourceForm {
	width: 330px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: rgb(81,81,81);
	text-align: center;
	padding-top: 0px;
}
.addResourceSearchContent {
	padding: 25px 0px 50px 0px;
}
.addResourceFormInputText {
	float: left;
	padding: 0px 9px 0px 0px;
}
.addResourceFormInputTextBox {
	background-color: transparent;
	padding-left: 3px;
	color: #999999;
	width: 263px;
	height: 26px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	outline: 0;
}
.addResourceForm {
	background-color: transparent;
	width: 263px;
	height: 26px;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	outline: 0;
}
.addResourceButton {
	height: 30px;
	background: -moz-linear-gradient(center top, #4c98cc, #1076bb) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c98cc), to(#1076bb));
	background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
	background: -moz-linear-gradient(top, #4c98cc, #1076bb);
	background-image: -ms-linear-gradient(top, #4c98cc, #1076bb);
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background-color: #1076bb;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 7px 9px;
}
.addResourceButton:hover {
	color: white;
	background: #1076bb;
	cursor: pointer;
}
.addResourceThumbnail {
	width: 100%;
	padding: 10px 0px;
}
.addResourceThumbnailContent {
	float: left;
	padding: 6px;
}

.addResourceSprite {
	background: url(../images/sprite-icon.png) no-repeat;
}
.addResourcewebsiteIcon {
	background-position: 0px 0px;
}

.addResourcewebsiteIcon, .addResourceInteractiveIcon, .addResourceBooksIcon {
	width: 30px;
	height: 20px;
	position: relative;
	margin-top: -20px;
}
.addResourceInteractiveIcon {
	background-position: -30px 0px;
}
.addResourceBooksIcon {
	background-position: 0px -45px;
}
.addResourceSprite:hover {
	cursor: pointer;
}
.addResourceImgDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	max-width:80px;
	word-wrap:break-word;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: left;
	padding-left: 1px;
	padding-top: 2px;
	height: 35px !important;
}
.addResourceViewBtnBg {
	display:block;
	width: 108px;
	height: 27px;
	background: -moz-linear-gradient(center top, #4c98cc, #1076bb) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c98cc), to(#1076bb));
	background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
	background: -moz-linear-gradient(top, #4c98cc, #1076bb);
	background-image: -ms-linear-gradient(top, #4c98cc, #1076bb);
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background-color: #1076bb;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
	margin: 20px 0px 50px 120px;
}
.addResourceViewBtnTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	-webkit-box-align: center;
	text-align: center;
	cursor: pointer;
	color: white;
	padding: 5px 0px 0px 6px;
	border: none;
	border-image: initial;
	background-color: transparent;
	box-sizing: border-box;
}
.addResourceViewBtnBg:hover {
	color: white;
	background: #1076bb;
	cursor: pointer;
}

.suggestedResources {
	margin: 25px 0px;
	overflow: hidden;
	/* width: 390px; */
	float: left;
	border-bottom: none;
	border-left: none;
	border-style: solid;
	border-color: #ddd;
	border-left: none;
	border-bottom: none;
	/*background: url(../images/core/background-image.png) !important; */
	padding-bottom: 10px;
	padding-right: 8px;
}

.addResourceButtonGray{
	height: 30px;
	background: -webkit-linear-gradient(top, #bbb, #999);
	background-color: #ccc;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 7px 9px;
	margin-left:115px;

}
.questionTypeHeaderStyle{
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #515151;
}
.questionTypeTextStyle{
	margin-top: 5px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #999;
	width: 362px;
}
.tinyMceToolBarButton{
	color: #1076BB;
	border-radius: 4px 4px 0px 0px;
	padding: 3px 9px;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #FDFDFD, #DDD);
	background: -ms-linear-gradient(top, #FDFDFD, #DDD);
	background: -o-linear-gradient(top, #FDFDFD, #DDD);
	border: 1px solid #DDD;
	float: right;
	margin-top: -23px;
	font-weight: bold;
	font-style: italic;
}
.tinyMceToolBarButton:hover{
	cursor: pointer;
	background: #EEE;
}
.questionTextContainerStyle{
	display: inline-block;
	/* width:80%; */
}

.addSearchTitleText {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	color: #515151;
	text-align: center;
}

.addSearchContentText {
	font-size: 12px;
	width: 273px;
	margin: 0 auto;
}
.addQuestionImageButtonContainer{
	float:left;
	width:100%;
}



.markAsBlankLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	cursor: pointer;
	color: rgb(16,118,186);
	text-align: right;
	padding: 0px 0px 0px 0px;
	margin: -16px 28px 0 0;
}
.resourceRightsCheckBox
{
	float: left;
	margin-left: -3px;
	margin-top: 30px;	
}
.resourceRightsContainer {
	margin-left: 45px;
	width: 100%;
	margin-top:17px;
	display: inline-block;
}
.ownResourceFormDeclarationText {
	float: left;
	margin-top: 29px;
	font-size: 13px;
}

.yesNoTextStyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	text-align: center;
	position: static;
	float: left;
	margin-left: 41px;
}
.charLimitStyle{
	float: right;
	margin-left: 108px;
	margin-top:-17px;
	color: #999;
}
.charLimitExplanationStyle{
	display: inline-flex;	
	float: right;
	color: #999;
	margin-right: 87px;
}
.hintsErrorValidation{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	margin-right: 70px;
	float: right;
}