.resourcePanel {
	width: 330px;
	float: left;
}

.resourceHeaderPanel {
	height: 66px;
}

.resourceHeaderTextPanel {
	float: left;
	height: 60px;
	width: 210px;
}

.resourceTitle {
	color: #1076BB;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 155px;
	/* width: 364px; */
	cursor: pointer;
	/* float: left; */
}
.resourceTitle:HOVER {
	color: #4C98CC;
}


.metaDataPanel {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	margin-top: 0px;
	/* display: inline-block; */
}

.standards {
	clear: both;
	float: left;
	height: 26px;
	margin-top: 9px;
}

.resourceDescription {
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	width: 330px;
	margin: 3px 0;
	height: 27px;
	font-size: 12px;
	color: #515151;
	float: left;
	overflow: hidden;
	line-height: 1.2;
}

.imgHeight{
	height: 16px;
	margin-left: 5px;
	cursor: pointer;
}
.contentPanel {
	padding: 45px 10px 0 10px;
}
.searchPanel {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	cursor: pointer;
	margin-top: 9px;
	margin-left: 9px;
	display: inline-block;
	width: 48%;
}
.ratingWidgetPanel{
	float: right;
	padding-top: 10px;
	padding-right: 8px;
	position: relative;
}
.suggestedResourceButtonContainer{
	float: right;
	margin: -9px 0 9px 0px;
}
.addSuggestedResourceOk {
	float: left;
	position: relative;
	top: 5px;
	left: 3%;
}
.blueLink,.blueLinkPad {
	color: #0F76BB;
	cursor: pointer;
	float: left;
	font-size: 10px;
	margin-top: 5px;
	padding-left: 4px;
	display: inline-block;
}

.blueLinkPad {
	color: #0F76BB;
	cursor: pointer;
	float: left;
	font-size: 10px;
	margin-top: 1px;
	padding-left: 4px;
	display: inline-block;
}

.moreMetaLbl {
	color: #999999;
}