.popupDisplay {
	
}
.popup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: rgb(240, 240, 240);
	width: 550px;
	border-color: rgb(153, 153, 153);
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	min-height: 308px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0 auto;
}

.popupInner {
	text-align: center;
	padding: 20px;
}

.popupHeader {
	padding: 10px 0px;
	color: #FFF;
	margin: 0px 10px;
	border-bottom: 1px solid rgb(221, 221, 221);
	display: inline-block;
	vertical-align: top;
	width: 98%;
}

.popupHeaderTitle {
	color: rgb(81, 81, 81);
	display: inline-block;
	float: left;
	margin-top: 3px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popupContent {
	text-align: center;
	padding: 15px;
}

.circleBlock {
	color: rgb(153, 153, 153);
}

.circleBg {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 5px;
	border-radius: 65px;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	background-color: rgb(81, 81, 81);
}

.contentTitle {
	font-size: 20px;
	line-height: 300%;
	color: rgb(81, 81, 81);
	margin-bottom: 32px;
}

.visibilityHidden{
	visibility: hidden;
}
.contentDesc {
	font-size: 16px;
	line-height: 120%;
	text-align: left;
	color: rgb(81, 81, 81);
	white-space: pre-line;
    overflow-y: auto;
    height: 120px;
}

.btn {
	width: 115px;
	margin: auto;
	margin-bottom: 15px;
}

.close-button {
	display: inline-block;
	vertical-align: top;
	float: right;
	right: 0PX;
	width: 16px;
	height: 17px;
	background: url(images/closebutton.png) no-repeat;
}

.close-button:hover {
	cursor: pointer;
}

.popupDesc {
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	padding: 0px 130px;
}

.buttonBlock {
	padding: 10px 20px;
	font-size: 12px;
	color: #fff;
	outline: 0;
	border: none;
	font-weight: normal;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: -moz-linear-gradient(43% -2% -90deg, rgb(76, 152, 204)
		0%, rgb(16, 118, 187) 100%);
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 43% -2%, 43% 113%, color-stop(0, rgb(76, 152,
		204)), color-stop(1, rgb(16, 118, 187)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.buttonBlock:hover {
	background: #1076BB;
	cursor: pointer;
}