@CHARSET "UTF-8";

.framebreaker-container{
	background: #515151;
	position:relative;
}

.framebreaker-wrapper{
	margin: 0 auto;
	min-height:550px;
	text-align: center;
	/* padding: 90px; */
}

.framebreaker-resource-container{
	background: rgba(0, 0, 0, 0.7);
	width: 800px;
	height: 80px;
	float: left;
	margin-top: 230px;
}

.framebreaker-resource-wrapper{
	width: 350px;
	float: left;
	height: 80px;
}

.framebreaker-resource-thumbnail{
	width: 80px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

.framebreaker-resource-content{
	width: 200px;
	float: left;
	text-align: left;
	margin-left: 10px;
	height: 80px;
	color: white;
}

.framebreaker-resource-title{
	margin-top: 15px;
	font-size: 13px;
	height: 1.1em;
	overflow: hidden;
}
.framebreaker-resource-attribution{
	margin-top: 18px;
	font-size: 12px;
	height: 1.1em;
	overflow: hidden;
	color: #999;
}
.framebreaker-resource-url-conatiner{
	width: 400px;
	float: left;
	height: 80px;
	color: white;
	font-size: 18px;
}

.framebreaker-resource-url-content{
	font-size: 17px;
	/* margin-top: 30px; */
}
.framebreaker-resource-url{
	text-decoration: none !important;
	color: #1076BB;
}
.framebreaker-resource-url:hover{
	color: #87BADD !important;
	cursor: pointer;
}


.framebreaker-image{
	padding-left: 80px;
}

.textColorWhite{
	color: white;
}

.margin20Px{
	margin-bottom: 20px;
}


.margin40Px{
	margin-bottom: 40px;
}
.supportTip{
	background: #515151;
	width: 100%;
	text-align: right;
}
.resourceCategoryImage{
	position: relative;
	right: 83px;
	display: inline-block;
}
.resourceImage{
	margin-top: 106px;
	display: inline-block;
	width: 80px;
	height: 60px;
	vertical-align: initial;
}
.resourceComeBack{
	font-size: 14px;
	width: 275px;
	text-align: center;
	margin: 0 auto;
	color: white;
}
.learnMoreLbl{
	color: #1076BB;
	display: inline;
	cursor: pointer;
}