@charset "utf-8";
/* CSS Document */
.hoverPopupContainer {
	display: block;
	min-width: 75px;
	max-width: 143px;
	margin: 0 auto;
	position: relative;
}

.hoverPopupArrow {
	background: url(images/core/bubble-arrow.png);
	display: block;
	width: 25px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	z-index: 999999;
	/* top: 9px; */
}

.hoverPopupArrowNewResource {
	background: url(images/core/bubble-arrow.png);
	display: block;
	width: 25px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	z-index: 999999;
	margin-left: 53px;
}

.gooruGuidePopupArrow {
	background: url(images/core/bubble-arrow.png);
	display: block;
	width: 25px;
	height: 10px;
	position: relative;
	margin-left: 215px;
	z-index: 999;
}

.hoverPopupTextContainer {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -1px;
	color: #fab03a;
	text-align: center;
}

/***********************************  organise popup *********************************/
.organizeContainer {
	display: block;
	width: 240px;
	margin: 0 auto;
}

.searchorganizeContainer {
	display: block;
	width: 109px;
	margin: 0 auto;
}

.organizePopupTextContainer {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -1px;
	color: #515151;
	float: left;
	line-height: 18px;
	z-index: 99999;
}

.searchorganizePopupTextContainer {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	/*padding: 3px 116px 0px 154px;*/
	position: relative;
	top: -1px;
	color: #515151;
	float: left;
	line-height: 18px;
	z-index: 99999;
	width: 409px;
	min-height: 128px;
	height: auto;
}

.organizeTextContainer {
	float: left;
	width: 206px;
	margin: 15px 15px 5px 15px;
}

.searchOrganizeTextContainer {
	float: left; /*width:206px;  margin:15px 15px 5px 15px;*/
}

.organizeText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-right: 5px;
}

.organizeRemainigText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.EditPageRemainigText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.searchOrganizeRemainigText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 400px;
	float: left;
	margin: 14px;
}

.gooruguideText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.organizePopupQuestionText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-top: 13px;
}

.organizePopupEmailSupport {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.studyTextContainer {
	float: left;
}

.messageTextContainer {
	float: left;
	width: 229px;
}

.comingSoonText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-right: 5px;
	color: #FBB03B;
}

/**/
.searchOrganizeExampleText {
	float: left;
	clear: both;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #87BADD;
	margin-left: 14px;
}

.searchOrganizeExample {
	float: left;
	margin-left: 14px;;
}

.searchOrganizeLinkText {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1076BB;
	cursor: pointer;
}

.searchOrganizeLinkText:hover {
	color: #87BADD;
	text-decoration: none;
}

/*GlobalToolTip css */
.resourceRightsPopupContainer {
	width: 174px;
	position: absolute;
	top: 28px;
	left: -64px;
	z-index: 999;
}
.arrowShadow {
	background-color: transparent;
	width: 6px;
	height: 17px;
	position: absolute;
	top: -7px;
	left: 193px;
	z-index: -10;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.arrowBorder {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #DDD transparent;
	position: absolute;
	top: -10px;
	left: 244px;
	border-top: none;
}

.arrow {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent white transparent;
	/* position: absolute; */
	left: 103px;
	top: -9px;
	border-top: none;
}

.resourceRightsInnerPopup {
	clear: both;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.resourceRightsInnerAddPopup {
	clear: both;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width:188px;
}

.resourceRightsPopupTitle {
	font-weight: bold;
	padding-bottom: 10px;
}

/* ToolTip css*/
.tooltipContainer {
	position: absolute;
}

.arrowBorder {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #DDD transparent;
	position: relative;
	top: 0px;
	margin: auto;
	border-top: none;
}

.arrow {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent white transparent;
	position: relative;
	margin: auto;
	top: -9px;
	border-top: none;
	z-index: 100;
	left:0;
	right:0;
}

.tooltipContent {
	text-align: left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	top: -10px;
	width: 195px;
	float: left;
}

.tooltipContentTitle {
	padding-bottom: 10px;
}

.classCodeTxtBox {
	width: 103px;
	border: 1px #E3E3E3 solid !important;
	background-color: #FFF !important;
	font-size: 12px !important;
	outline: 0;
	display: inline-block;
	padding: 6px;
	font-family: Tahoma, sans-serif !important;
	text-transform: uppercase;
	height: 17px;
}
.discoverTooltipLabel{
	padding: 6px;
    cursor: pointer;
    padding-left: 12px;
}
.discoverTooltipLabel:HOVER{
	background-color: #cfe3f1;
}
.discoverTooltipContent{
	/* text-align: center; */
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	position: fixed;
	top: 50px;
	width: 139px;
	z-index: 10;
}

.myCollectoinTooltipContent{
	/* text-align: center; */
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	position: fixed;
	top: 50px;
	width: 170px;
}


.globalTooltipButtonMargin{
	margin: 10px 0px 0px 63px;
}


/* Search Drag ToolTip */

.searchDragPopupContainer {
	width: 174px;
	position: absolute;
	top: 28px;
	left: -64px;
	z-index: 999;
}

.searchDragInnerPopup {
	clear: both;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	/* padding: 10px; */
	background-color: white;
}

.searchDragDescContainer{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 23px;
	vertical-align: top;
	margin-top: -28px;
	margin-left: 3%;
}

.searchDragDesc{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 24px;
}

.studyTooltipContent {
	text-align: left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	position: relative;
	top: -10px;
	width: 204px;
	float: left;
}
.inputContainer{
	padding: 8px;
}

.districtLibraryContainer{
	background: white;
	margin-left: 141px;
	font-weight: normal;
	border: 1px solid #ddd;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	position: relative;
	width: 75%;
	min-height: 200px;
	cursor: pointer;
	margin-top: 73px;
	color: #515151;
}

.partnerLibraryContainer {
	background: white;
	margin-left: 141px;
	margin-top: 99px;
	font-weight: normal;
	border: 1px solid #ddd;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-moz-border-radius: 4px;
	position: relative;
	width: 260px;
	height: 425px;
	cursor: pointer;
	color: #515151;
}
.headerStyle{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

.studtPlayerLogOutContainer {
	width: 174px;
	position: absolute;
	top: 28px;
	left: -64px;
	z-index: 999;
}

.partnerDropDownArrow {
	width: 4px;
	height: 8px;
	background: url(images/library/partners/partner_library_icon.png) no-repeat;
	float: right;
	margin-top: -16px;
	margin-right: 10px;
}

.collectionIcon{
	
	background: url(images/folders/panel/collection-smaller-icon.png) no-repeat;
}

.folderIcon{
	
	background: url(images/folders/panel/folder-smaller-icon.png) no-repeat;
}

.textPadding{
	
}

.collectionToolTipLabel{
	padding: 6px;
    cursor: pointer;
    padding-left: 40px;
    background: url(images/folders/panel/collection-smaller-icon.png) 10px no-repeat;
}
.folderToolTipLabel{
	padding: 6px;
    cursor: pointer;
    padding-left: 40px;
    background: url(images/folders/panel/folder-smaller-icon.png) 10px no-repeat;
}
.mycollectionsToolTipLabel{
	padding: 6px;
    cursor: pointer;
    padding-left: 40px;
    background: url(images/folders/panel/edit-smaller-icon.png) 14px no-repeat;
}

.collectionToolTipLabel:hover,.folderToolTipLabel:hover, .mycollectionsToolTipLabel:hover, .dashBoardToolTipLabel:hover {
	background-color: #cfe3f1;
}
.partnerLibraryDivInfo{
	/* position: fixed !important;width:22% !important; */
	z-index: 0;
}
.districtLibrayCOntainerInfo{
	/* position: fixed !important; */
	z-index: 0;
}
.dashBoardToolTipLabel{
	padding: 6px;
    cursor: pointer;
    padding-left: 40px;
}