	.resourcePlayer header{
		height:auto;
	}
	.rPlayerMenu{
		background:#222;
		text-align:center;
	}
	
	.bodyresourcePlayer{
		padding-top:0 !important;
	}
	
	
	.resourcePlayerInfoBlock{
		padding:40px 0;
	}
	
	.ResourceLeftBlock{
		margin-bottom:25px;
	}
	
	.head strong{
		overflow:hidden;
		 text-overflow: ellipsis;
		 white-space:nowrap;
	}
	
	.collectionsblock{
		text-align:center;
	}
	
	.collectionImg{
		margin:0 auto;
	}
	
	.collectionTxt{
		width:100%;
	}
	.collectionTxt .headBlue{
		width:100%;
	}
	.ResourceRightBlock .head{
		text-align:center;
	}
	
	.mainRightDisc{
		text-align:center;
	}
	.ratingValue{
		text-align:center;
	}
	
	.resourcePlayer .iframeBlock iframe {
    height: auto !important;
    width: 100% !important;
}
.fixedDivMain{
	
}
.playerResourceTitle{
	
}
.add-button-normal{
	
}
.info-button-normal{
	
}
.close-button{}
.flagButtonOrange{
	
}
.flagButtonNormal{
	
}
.resourcePlayer{}
.tabs{}