.collectionPlayerRightContainer{
	width: 960px;
	height: 525px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}
.collectionPlayerBackgroundImages {
	width: 700px;
	height: 525px;
	float: left;
	position: relative;
	z-index: 1;
	background-color: white;
}
.collectionPlayLeftBarAssess {
	width: 35px;
	height: 525px;
	background: #1076BB;
	float: left;
	position: absolute;
	z-index: 2;
	left: 0;
}

.collectionPlayerCoverSocialContainer {
	float: left;
	width: 260px;
	height: 525px;
	background-color: #222;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#222));
	background: -webkit-linear-gradient(top, #222, #222);
	background: -moz-linear-gradient(top, #222, #222);
	background: -ms-linear-gradient(top, #222, #222);
	background: -o-linear-gradient(top, #222, #222);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.playeraArrowButton {
	
}
.arrowButton {
	color: white;
	background-color: #1076BB;
	border-radius: 4px;
	padding: 15px 75px 15px 15px;
	font-size: 24px;
	border: none;
	font-weight: bold;
	font-family: Arial, sans-serif;
	display: inline-block;
	margin: 20px 10px 10px 20px;
	background: url("images/button-arrow.png") right center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: url("images/button-arrow.png") right center no-repeat, -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/button-arrow.png") right center no-repeat, -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/button-arrow.png") right center no-repeat, -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/button-arrow.png") right center no-repeat, -o-linear-gradient(top, #4C98CC, #1076BB);
}

.arrowButton:hover {
	color: white;
	background: #1076BB url("images/button-arrow.png") right center no-repeat;
	cursor: pointer;
}

.collectionPlayerCoverSocialViewsImageContainer{
	margin:10px 0px 10px 20px;
}
.collectionDescriptionContainer{
	margin:20px 0px 10px 20px;
}

.coverButtonLikes, .coverButtonViews{
	background-image: url("images/player_images.png");
}


.coverButtonLikes {
	background-position: -283px -34px;
	width: 17px;
	height: 18px;
	float: left;
	margin-right: 10px;
	margin-top:-3px;
}
.coverButtonViews {
	background-position: -283px -76px;
	width: 17px;
	height: 13px;
	float: left;
	margin-right: 10px;
}
.collectionCoverBottomContainerDiv {
	width: 960px;
	margin: 0 auto;
	height: 50px;
	background: #171717;
}

.resource-container{
	background: #333333;
}

