.classPageShareContainer {
	float: left;
	margin-top: 6px;
	padding: 0px 20px 10px 0px;
}

.classPageShareButtonsContainer {
	float: left;
	padding: 0px 0px 0px 0px;
	/* height: 125px; */
}

.classPageShareButtonsOuterDiv {
	float: left;
	/* padding: 0px 0px 0px 10px; */
	padding: 4px 6px 0 0px;
}

.classPageShareButtonsBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(76, 152,
		204)), color-stop(1, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	width: 105px;
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #1076bb;
	cursor:pointer;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	/* -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.classPageShareButtonsFTEBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(76, 152,
		204)), color-stop(1, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	/* 	width: 105px; */
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-color: #1076bb;
	cursor:pointer;
	/* 	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb, GradientType=0)";
}

.classPageShareButtonsBg:hover {
	background: #1076bb;
	/* cursor:pointer;   */
  }

.classPageShareButtonsFTEBg:hover {
	background: #1076bb;
	cursor: pointer;
}

.classPageShareButtonsBgDisable {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(76, 152,204)), color-stop(1, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	width: 105px;
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #1076bb;
	cursor: default;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}
.classPageShareButtonsFTEBgDisable {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(76, 152,204)), color-stop(1, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,rgb(16, 118, 187) 100%);
	background-color: #1076bb;
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb, GradientType=0)";
}
		

.classPageShareButtonsSprite {
	background: url(images/FTE.png) no-repeat;
}

.classPageShareButtonSpriteOuterDiv {
	float: left;
	width: 30px;
	/* height: 30px; */
}

.classPageShareButtonSpriteAlign {
	padding-top: 5px;
}

.classPageShareButtonSpriteFacebook {
	background-position: -25px -23px;
	width: 30px;
	height: 20px;
}

.classPageShareButtonSpriteTwitter {
	background-position: -26px -43px;
	width: 30px;
	height: 30px;
}

.classPageShareButtonSpriteEmail {
	background-position: -24px -69px;
	width: 30px;
	height: 30px;
}

.classPageShareButtonsBgDesc {
	float: left;
	padding: 0px 10px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 8px 0px 0px 8px;
}

.classPageEmailPopupContainer {
	float: left;
	background-color: rgb(255, 255, 255);
	padding: 3px;
	overflow-x: hidden !important;
	overflow-y: visible !important;
	min-height: 193px;
	max-height: 305px;
}

.classPageEmailHeaderContainer {
	float: left;
	padding-bottom: 15px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	padding: 0px 45px 15px 0px;
}

.classPageEmailHeaderContent {
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(102, 102,
		102)), color-stop(1, rgb(81, 81, 81)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	height: 38px;
	background-color: #515151;
	background-image: -moz-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff666666,endColorstr=#ff515151,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff666666, endColorstr=#ff515151, GradientType=0)";
}

.classPageEmailHeaderDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: left;
	padding: 10px 0px 0px 15px;
}

.classPageEmaiInputContainer {
	margin-top: 10px;
}

.classPageEmaiInputText {
	float: left;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: right;
	padding: 8px 10px 0px 10px;
}

.classPageEmailInputControl {
	width: 300px;
	height: 30px;
	font-size: 12px;
	color: rgb(153, 153, 153);
	padding: 3px 0px 0px 5px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	outline: 0;
}

.classPageEmailInputControlInnerDiv {
	float: left;
}

.classPageEmailCheckBoxContainer {
	padding: 2px 0px 27px 0px;
}

.classPageEmailCheckBoxBg {
	display: inline-block;
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(255, 255,
		255)), color-stop(1, rgb(240, 240, 240)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	float: right;
	width: 16px;
	height: 16px;
	border-color: rgb(204, 204, 204);
	border-width: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 5%/5%;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 5%/5%;
	border-style: solid;
	margin: 3px 0px 0px 0px;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-color: #1076bb;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff0f0f0,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#fff0f0f0, GradientType=0)";
}

.classPageEmailCheckBoxBg:hover {
	cursor: pointer;
}

.classPageEmailNormalText {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: right;
	padding: 5px 6px 0px 0px;
}

.classPageEmailAlign {
	padding-top: 10px;
	padding-bottom: 110px;
}

.classPageEmailButtonContainer {
	float: right;
	padding: 25px 0px 0px 0px;
}

.classPageEmailButtonBg {
	float: left;
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(76, 152,
		204)), color-stop(0.99, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	cursor: pointer;
	-moz-border-radius: 4px;
	padding: 7px 5px 7px 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-color: #1076bb;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc, endColorstr=#ff1076bb, GradientType=0)";
}

.classPageEmailButtonBg:hover {
	cursor: pointer;
	background-image: -moz-linear-gradient(51% 3% -90deg, rgb(16, 118, 187)
		0%, rgb(16, 118, 187) 99%);
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(16, 118,
		187)), color-stop(0.99, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-image: -moz-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 100%);
	background-color: #1076bb;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb,endColorstr=#ff1076bb,GradientType=0)"; */
	filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb, endColorstr=#ff1076bb, GradientType=0)";
}

.classPageEmailButtonTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 1px 5px 1px 5px;
}

.classPageEmailButtonCancel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	line-height: 120%;
	color: rgb(16, 118, 186);
	text-align: left;
	padding: 8px 0px 0px 7px;
}

.classPageEmailButtonCancel:hover {
	cursor: pointer;
}

.clear {
	clear: both;
}

.classPageEmailMainContainer {
	background-color: rgb(255, 255, 255);
	width: 448px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	padding: 0px 30px 15px 0px;
	float: left;
}

.classPageEmailBlueText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(16, 118, 185);
	text-align: center;
	padding: 20px 0px 0px 10px;
}

.classPageEmailDescText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	text-align: center;
	padding: 15px 0px 0px 10px;
	word-wrap: break-word;
}

.classPageEmailButtonOuterDiv {
	float: left;
	width: 58%;
	margin-top: 15px;
}

.classPageEmailOktext {
	text-align: center;
	padding: 0px 5px 0px 5px;
}

.classPageShareButtonSpriteTAlign {
}

.classPageShareButtonSpriteEAlign {
}

.displayNone {
	display:none;
	width:1px;
	height:1px;
}

.fbPageShareButtonsBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(59, 89,150)), color-stop(1, rgb(59, 89,150)));
	background-image: -webkit-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	width: 105px;
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #3b5996;
	cursor:pointer;
	background-image: -moz-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.fbPageShareButtonsBg:hover {
	background: #3b5996;
	width: 105px;
	height: 30px;
}

.twitterPageShareButtonsBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(0, 172,240)), color-stop(1, rgb(0, 172,240)));
	background-image: -webkit-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	width: 105px;
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #00acf0;
	cursor:pointer;
	background-image: -moz-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.twitterPageShareButtonsBg:hover {
	background: #00acf0;
	width: 105px;
	height: 30px;
}

.fbPageShareIconButtonsBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(59, 89,150)), color-stop(1, rgb(59, 89,150)));
	background-image: -webkit-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #3b5996;
	cursor:pointer;
	background-image: -moz-linear-gradient(-90deg, rgb(59, 89,150) 0%,rgb(59, 89,150) 100%);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.fbPageShareIconButtonsBg:hover {
	background: #3b5996;
	height: 30px;
}

.twitterPageShareIconButtonsBg {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(0, 172,240)), color-stop(1, rgb(0, 172,240)));
	background-image: -webkit-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	height: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #00acf0;
	cursor:pointer;
	background-image: -moz-linear-gradient(-90deg, rgb(0, 172,240) 0%,rgb(0, 172,240) 100%);
	filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
}

.twitterPageShareIconButtonsBg:hover {
	background: #00acf0;
	height: 30px;
}
