@charset "utf-8";
/* CSS Document */

body {
    background-image: url("../images/profileimages/background-image.png");
    color: #515151;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 50px;
    padding: 0;
}




.clearfix:before, .clearfix:after, .container:before, .container:after,{
  content: " ";
    display: table;
	 clear: both;
}
.clearfix{
	clear:both;
}

.container{
	width:1000px;
	margin:0 auto;
}



.profileHeader{
	font-size:23px;
	font-weight:bold;
	text-align:center;
	margin:10px 0 20px 0;
}
.rowContainer {
  margin-right: -8px;
  margin-left: -8px;
}

 .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .colLeft, .colRight {
    float: left;
	  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
      box-sizing: border-box;
  }
  .colLeft {
    width: 66%;
  }
   .colRight {
    width: 34%;
  }
  .col12 {
    width: 100%;
  }
  .col11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col9 {
    width: 75%;
  }
  .col8 {
    width: 66.66666667%;
  }
  .col7 {
    width: 58.33333333%;
  }
  .col6 {
    width: 50%;
  }
  .col5 {
    width: 41.66666667%;
  }
  .col4 {
    width: 33.33333333%;
  }
  .col3 {
    width: 25%;
  }
  .col2 {
    width: 16.66666667%;
  }
  .col1 {
    width: 8.33333333%;
  }


.whiteBg{
	background:#ffffff;
	padding:10px 10px;
	margin-bottom:16px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
}


.greenBig{
	font-size:60px;
	color:#499d43;
	font-weight:normal;
	line-height:60px;
}

.greySmall{
		font-size:20px;
	color:#515151;
	font-weight:bold;
	margin:6px 0;
}

.smallHeader{
		font-size:20px;
	color:#515151;
	font-weight:bold;
	margin:0 0 12px 0;
	padding-bottom:5px;
	border-bottom:1px solid #dddddd;
}

.collectionBlock{
	background:url(../images/profileimages/folder.png) no-repeat 1px 1px;
	padding-left:55px;
	min-height:43px;
}

 .collectionBlock .collHead{
	font-size:17px;
	font-weight:bold;
	line-height:19px;
}

.collectionBlock .collSmallHead{
		font-size:16px;
	font-weight:normal;
	line-height:16px;
}

 .collectionBlock .collSmallHead span{
	color:#499d43;
	font-weight:bold;
}



 .resourceBlock .collHead{
	font-size:17px;
	font-weight:bold;
	line-height:19px;
	margin-bottom:10px;
}
.smallHeader img{
	vertical-align:middle;
	display:inline-block;
}
.smallHeaderIcn{
	display:inline-block;
	vertical-align:middle;
}
 .resourceBlock .collHead img{
	 vertical-align:middle;
	 display:inline-block;
 }

.resourceBlock .collSmallHead{
		font-size:16px;
	font-weight:normal;
	line-height:16px;
}

 .resourceBlock .collSmallHead span{
	color:#499d43;
	font-weight:bold;
}


.moreLink{
	text-align:right;
}

.moreLink a{
	color:#42a0d3;
	font-size:11px;
	text-decoration:none;
}
.moreLink a:hover{
	color:#42a0d3;
	font-size:11px;
	opacity:0.7;
	text-decoration:none;
}

.rating{
	display:block;
	margin:2px 0;
}


.collectionsResources .whiteBg{
	min-height:185px;
}


.colleGrade{
	margin-bottom:10px;
}
.colleGrade .collHead {
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 3px;
}

.colleGrade .collSmallHead {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}
.colleGrade .collSmallHead span {
    color: #499d43;
    font-weight: bold;
}
.treeView{
	margin-bottom:25px;
}

.treeView ul{
	margin:0 0;
	padding:0 0;
}

.treeView ul li{
	margin:0 0;
	padding:0 0;
	list-style:none;
}

.treeView ul li label{
		display:block;
	font-size:16px;
	color:#515151;
	padding:3px 15px 3px 25px;
	background:url(../images/profileimages/arrow.png)no-repeat 14px 7px;
	text-decoration:none;
	
}
.treeView ul li label:hover{
background:#81c5e5 url(../images/profileimages/arrow.png) no-repeat 14px 7px;
}
.treeView ul li label span{
	color:#499d43;
	font-weight:bold;
	display:inline-block;
	float:right;
}
.treeView ul li label.active{
background:#81c5e5 url(../images/profileimages/arrow1.png) no-repeat 14px 7px !important;
}

.treeView ul li ul li a{
	padding:3px 31px 3px 38px !important;
	background:url(../images/profileimages/arrow.png)no-repeat 27px 7px !important;
}
.treeView ul li ul  li a:hover{
	background:#81c5e5 url(../images/profileimages/arrow.png) no-repeat 27px 7px !important;
}

.tree{
	display:none;
	width:100% !important;
}

.collectionPublished{
	height:521px;
	overflow-y:auto;
}


.treeView ul li ul li ul li a{
	padding:3px 31px 3px 45px !important;
	background:none !important;
	font-size:16px;
	font-weight:bold;
}
.treeView ul li ul  li ul li a:hover{
	background:#81c5e5 url(../images/profileimages/arrow1.png) no-repeat 56px 7px !important;
}
.treeView ul li ul li ul li a img{
	display:inline-block;
	vertical-align:middle;
}





.treeView ul li ul li label{
		display:block;
	font-size:16px;
	color:#515151;
	padding:3px 30px 3px 40px;
	background:url(../images/profileimages/arrow.png)no-repeat 28px 7px;
	text-decoration:none;
	
}
.treeView ul li ul li label:hover{
background:#81c5e5 url(../images/profileimages/arrow.png) no-repeat 28px 7px;
}
.treeView ul li ul li label span{
	color:#499d43;
	font-weight:bold;
	display:inline-block;
	float:right;
}

.treeView ul li ul li label.active{
	background:#81c5e5 url(../images/profileimages/arrow1.png) no-repeat 28px 7px !important;
}

	

.treeView ul li a{
	display:block;
	font-size:16px;
	color:#515151;
	padding:3px 15px 3px 25px;
	background:url(../images/profileimages/arrow.png) no-repeat 14px 7px;
	text-decoration:none;

}
.treeView ul li a:hover{
	background:#81c5e5 url(../images/profileimages/arrow.png) no-repeat 14px 7px;
}
.treeView ul li a span{
	color:#499d43;
	font-weight:bold;
	display:inline-block;
	float:right;
}


.gradeContainer .whiteBg{
	min-height:500px;
	padding:0 0;
}

.collectionPublished .smallHeader, .collectionPublished .colleGrade{
	padding:10px 10px;
	margin-bottom:0;
}


.graphContainer img{
	width:100%;
}

.graphStatistics .panelBox{
	border-bottom:1px solid #dddddd;
	padding-bottom:10px;
}

.graphStatistics .greenBig{
	padding-left:0;
}



.statisticsBlock{
	display:inline-block;
	width:100%;
	margin-top:15px;
}


.statisticsBlock .collHead {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
}

.statisticsBlock .collSmallHead {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
	margin-bottom:10px;
}

.statisticsBlock .collSmallHead span {
    color: #499d43;
    font-weight: bold;
}

.commentsContainer .greenBig{
	text-align:center;
}

.panelRatingLabels{
	width:185px;
	display:inline-block;
	vertical-align:top;
}

.panelRatingValues{
	display:inline-block;
	width:220px;
	vertical-align:top;
	border-left:1px solid #cccccc;
}
	
.panelRatingLabels .ratingLabel {
    font-size: 16px;
    margin: 2px 0;
    padding-right: 8px;
	display:inline-block;
	text-align:right;
	width:85px;
}


.ratingStars{
	display:inline-block;
	text-align:left;
}

.prgressBar{
	height:24px;
}

.bar {
    background-color: #8cc63e;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}


.count {
 display: inline-block;
    font-size: 15px;
    line-height: 11px;
    margin-left: 2px;
}

.data-two {
    background-color: #57b53b;
      display: inline-block;
}

.data-four {
    background-color: #45843e;
      display: inline-block;
}


.data-three {
    background-color: #57b53b;
    display: inline-block;
}

.data-one {
    background-color: #45843e;
      display: inline-block;
}

.ratingOutBlock, .reactionOutBlock{
	width:100%;
	margin:30px auto 20px;
}

.reactionOutBlock .panelRatingLabels{
	width:175px;
}
.reactionOutBlock .ratingLabel{
	width:136px;
}

.graphSmall img{
	width:100%;
}

.resource-image{
	float:left;
}





/* Popups New CSS */



.popupWrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    outline: 0 none;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}


.PopupMainSmall {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #999;
    border-radius: 0;
    color: #515151;
    font-family: arial;
    font-size: 12px;
    margin: 30px auto;
    padding:10px 10px;
    position: relative;
    width: 550px;
}


.popupInnerGrey {
    border: 1px solid #ddd;
    position: relative;
}


.popupgreyHeader {
padding: 10px 15px;
color: white;
background: -webkit-linear-gradient(top, #666, #515151);
background: -moz-linear-gradient(top, #666, #515151);
background: -ms-linear-gradient(top, #666, #515151);
background: -o-linear-gradient(top, #666, #515151);
background-color: #515151;
font-size: 16px;
filter: progid;
}


.profilePopContent{
	padding:15px 10px;
}

.profilePopHeader{
	text-align:center;
}

.btnGroup{

	padding:5px 5px;
	display:inline-block;
	color:#515151;
	margin-left:-4px;
	cursor:pointer;
	background:#ffffff;
	border:none;
	width:95px;
	
			border:1px solid #e3e7e6;

}
.btnGroup:hover{
	background:#409fd2;
	color:#ffffff;
}
.active{
	background:#409fd2 !important;
	color:#ffffff !important;
}

.btnGroup:last-child{
	border-radius:0 3px 3px 0;
}
.btnGroup:first-child{
	border-radius:3px 0 0 3px;
}

.collectionsEndo{
	margin:0px 0 0 0;
	height:320px;
	overflow-y:auto;
}

.colHeadBlock{
		margin:25px 0 0 0;
		}

.colHeadBlock .smallHeader{
	border-bottom:none;
	margin-bottom:0;
}

.collListBlock{
	border-bottom:1px solid #dddddd;
	padding:13px 0;
}
.collListBlock .collHead {
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
}
.collListBlock img{
	display:inline-block;
	vertical-align:middle;
}
.collListBlock .collSmallHead {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
	margin:9px 0;
}

.collListBlock .collSmallHead span {
    color: #499d43;
    font-weight: bold;
}






.ratingListBlock{
	border-bottom:1px solid #dddddd;
	padding:13px 0;
}
.ratingListBlock .collHead {
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
}
.ratingListBlock img{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.ratingListBlock .collSmallHead {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
	margin:2px 0;
}

.ratingListBlock .collSmallHead span {
    color: #499d43;
    font-weight: bold;
}
.oneLevel{
	}
.tree-toggler{
	
}
.nav-header{
	
}
.nav, .nav-list{
	
}