.popup {
	background-color: #FFF;
	width: 590px;
	padding: 3px;
	height:580px;
}
.popupInner {
	border: 1px solid #DDD;
	height:583px;
}
.popupHeader {
	padding: 10px 15px;
	color: #FFF;
	font-size: 16px;
	background-color: #515151;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background: -moz-linear-gradient(top, #666, #515151);
	background: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#515151');
}
.popupContent {
	padding: 15px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	height: 504px;
}
.okcancel {
	margin: auto;
	text-align: center;
	padding-top: 20px;
}
.tag {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 21px;
	cursor: pointer;
	background: url(../images/tag.png) left no-repeat;
}
.h5 {
	font-size: 12px !important;
	font-weight: bold;
	padding: 5px 0px;
}
.h5FloatLeft {
	font-size: 12px !important;
	font-weight: bold;
	padding: 5px 0px;
	float:left;
}
.li {
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	padding: 0px 10px 8px 0px;
}
.selected {
	padding: 5px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #a6cba2;
}
.clearfix {
	clear: both;
}
.qmark {
	cursor: pointer;
	background: url(../images/question.png) 65px 5px no-repeat;
}
.select {
	position: relative;
	padding: 5px 10px;
	padding-left: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #f0f0f0;
}
.inputtype {
	width: 170px;
	height: 30px;
	margin-top: 7px;
	border: 1px solid #ddd;
}
.dropdown {
	width: 230px;
	height: 30px;
	margin-top: 7px;
	border: 1px solid #ddd;
}
.sliderBg {
	height: 5px;
	margin-left: 7px;
	margin-top: 5px;
	background: #ddd;
}
.sliderLeft {
	position: relative;
	top: -8px;
	height: 20px;
	border-left: 7px solid #a6cba2;
}
.sliderRight {
	float: right;
	position: relative;
	top: -28px;
	height: 20px;
	border-left: 7px solid #a6cba2;
}
.sliderCircle {
	width: 20px;
	height: 20px;
	background: #a6cba2;
	border-radius: 20px;
	position: relative;
	top: -28px;
	left: 150px;
}
.levels {
	padding: 3px 0px;
}
.levelnumbers {
	display: inline-block;
	vertical-align: top;
	padding: 7px 12px;
	color: #515151;
	cursor: pointer;
}
.levelType{
	
}
.selectsection {
	display: inline-block;
	vertical-align: top;
	width: 150px;
}
.fRight {
	float: right;
	margin-top: -65px;
}
.OnButtonDeActive {
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	text-align: center;
	margin-top: 5px;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #DDD;
	margin-left:-4px;
}
.OnButtonDeActive:hover, .OffButtonsDeActive:hover {
	cursor: pointer;
	background: #EEE;
}
.OffButtonsActive {
	font-size: 12px;
	width: 57px;
	height: 29px;
	cursor: pointer;
	border: none;
	margin-left: -4px;
	background: #a6cba2;
}
.OnButtonActive:hover, .OffButtonsActive:hover {
	cursor: pointer;
	background: #EEE;
}
#btn {
	font-size: 12px;
	margin-right: 10px;
}
.gwtSliderBarshell {
border: 2px solid #faf9f7;
border-right: 2px solid #848280;
border-bottom: 2px solid #848280;
background-color: #efebe7;
height: 34pt;
width: 50%;
}
.scrollPanelContainerInstructional{
	background-color:rgb(255,255,255);
	width:245px;
	height:80px;
	border-color:rgb(221,221,221);
	border-width:1px;
	/* Firefox v1.0+ */
	-moz-border-radius:1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:1px;
	border-style:solid;
	top: 33px;
	left: -1px;
	z-index: 99999;
	overflow-x:hidden !important;
	position:absolute !important;
}
.secondaryInfoContainer {
	float: left;
	margin-right: 45px;
	margin-bottom: 50px;
	width: 42%;
	margin-top:-8px;
}
.gradeInfoTitleContainer {
	border-bottom: 1px solid #ccc;
}
.shelfGradeInfoTitle {
	color: #cccccc;
	font-size: 16px;
}
.shelfGradeInfoBottom {
	color: rgb(112, 109, 109);
	margin: 10px 0px 10px 0px;
	width: 100%;
}
.shelfGradeInfogardenContainer {
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 300px;
	opacity: 0.6;
}
.dropdownContainerInstructional{
	background-color:rgb(255,255,255);
	width:270px;
	height:28px;
	border-color:rgb(221,221,221);
	border-width:1px;
	/* Firefox v1.0+ */
	-moz-border-radius:1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:1px;
	border-style:solid;
	position: relative;
}
.placeHolderText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:120%;
	color:rgb(153,153,153);
	text-align:left;
	padding-top: 8px;
	padding-left: 5px;
	float: left;
	cursor: pointer;
	width: 90%;
}
.arrowInstructional {
    width: 0;
	height: 0;
	border: 8px solid;
	border-color: rgb(153,153,153) transparent transparent transparent;
	left: 130px;
	top: -9px;
	float: right;
	margin-top: -12px;
	margin-right: 7px;
	border-bottom: none;
	cursor: pointer;
}

.addQuestionStandard {
	color: rgb(112, 109, 109);
	margin: 10px 0px 10px 0px;
	width: 100%;
	float:left;
	font-size: 12px;
	color: #515151;
	font-weight: bold;
}
.shelfCourseSubject {
	width: 100%;
	/*Mobile purpose added */
	max-width: 332px;
}
.addResourceSuggestedBoxForQuestion {
	color: #CCCCCC;
	float: right;
	font-size: 16px;
    margin-right: 50px; 
}
.standardsCont {
	float: left;
	position: relative;
}
.standardMaxHide {
	display: none;
}
.collectionStandardsMargin {
	margin-top: 10px;
}
.tagsStyleSearch{
	 position:absolute;
	 left:0px; 
	 top:0px;
}
.tagsStylePlayer{
	position:absolute;
	left:0px; 
	top:0px;
	background-color: black;
	opacity: 0.3; 
}
