.viewResponseInCollectionProgress {
	padding: 0px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EDEDED));
	background: -webkit-linear-gradient(top, #FFF, #EDEDED);
	background: -moz-linear-gradient(top, #FFF, #EDEDED);
	background: -ms-linear-gradient(top, #FFF, #EDEDED);
	background: -o-linear-gradient(top, #FFF, #EDEDED);
	/* line-height: 27px; */
	line-height: 21px;
	/* width: 86%; */
	width: 88%;
	margin-left: 7%;
	background-color: inherit;
	font-size:11px;
}
.mainDataVpnl{
	margin: 0 auto;
	vertical-align: baseline;
	text-align: center;
}
.alignCenterAndBackground{
	background-color: inherit !important;
	text-align: center;
}
.reaction_explain1 {
	background: url(/images/analyticsReactions.png) no-repeat scroll 0px 0px transparent;
	height: 35px;
	width: 35px
}
.reaction_understand1 {
	background: url(/images/analyticsReactions.png) no-repeat scroll -78px 1px transparent;
	height: 35px;
	width: 35px
}
.reaction_mean1 {
	background: url(/images/analyticsReactions.png) no-repeat scroll -148px 1px transparent;
	height: 35px;
	width: 35px
}
.reaction_dontunderstand1 {
	background: url(/images/analyticsReactions.png) no-repeat scroll -217px 2px transparent;
	height: 35px;
	width: 35px
}
.reaction_needhelp1 {
	background: url(/images/analyticsReactions.png) no-repeat scroll -285px 0px transparent;
	height: 35px;
	width: 35px
}
.reaction_redneedhelp {
	background: url(/images/analyticsReactions.png) no-repeat scroll -81px -45px transparent;
	height: 35px;
	width: 35px
}
.reaction_reddontunderstand {
	background:url(/images/analyticsReactions.png) no-repeat scroll -1px -45px transparent;
	height: 35px;
	width: 35px
}
.htmlpanlProgress{
	overflow-x: scroll;
	width: 784px;
	margin: 2%;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
.maincontainer{
	background-color: white;
	text-align: center;
}
.summary_title {
	float: left;
	text-align: center;
	/* width: 75%; */
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #515151;
	margin-top: 3%;
	/* margin-left: 14%; */
}
.narrowreportText{
	float: left;
	height: 30px;
	line-height: 30px;
	padding-right: 12px;
	color: #515151;
	font-size: 14px;
	padding-left: 24px;
	padding-bottom: 13px;
}
.filterDropDown{
	float: left;
	border: 1px solid #ddd;
	cursor: pointer;
	display: block;
	background-color: white;
	color: rgb(81, 81, 81);
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	display: block;
	text-indent: 0.01px;
	text-overflow: '';
}
.correct_legend_one {
	float: left;
	width: 15px;
	height: 15px;
	background: #BCD1B9;
	margin: 3px;
}
.correct_legend_other {
	float: left;
	width: 15px;
	height: 15px;
	background: #FFE7C2;
	margin: 3px;
}
.incorrect_legend {
	float: left;
	width: 15px;
	height: 15px;
	background: #EAB4B3;
	margin: 3px;
}
.floatLeft{
	float: left;
}
.resource_monitor_header_title{
float: left;
width: 100%;
/* width: 77%; */
color: #515151;
/* font-size: 16px; */
/* font-weight: bold; */
/* margin: 1%; */
padding-top: 25px;
padding-left: 23px;
padding-bottom: 10px;
}
#scrollForCollectionProgress::-webkit-scrollbar {
	width: 8px;
	height: 4px;
	background: #6f6d6d;
}
#scrollForCollectionProgress::-webkit-scrollbar-thumb {
	background-color: #bdbebd;
	-webkit-border-radius: 1ex;
}