.collectionPlayerWrapper{
	width: 960px;
	height: 525px;
	margin: 0 auto;
}
.collectionPlayerWrapperPadding{
	width: 960px;
	/* height: 525px; This is remove to se the content height to 100%*/
	margin: 0 auto;
	margin-top:50px;
}
.resourcePlayerLeftArrowContainer{
	margin-top: 100px;
	float: left;
	width: 60px;
	height: 60px;
	margin-left: -75px;
	position: absolute;
}
.leftArrowButtonNormal, .rightArrowButtonNormal{
	background-image: url(images/player_images.png);
	width: 60px;
	height: 60px;
}
.leftArrowButtonNormal{
	background-position: -63px -33px;
	width: 60px;
	height: 60px;
	background-color: #262626;
	outline: none;
	border: 0;
}
.leftArrowButtonNormal:hover{
	background-position: 0 -33px;
	cursor:pointer;
}
.collectionPlayerContainer{
	width: 1000px;
	margin: 0 auto;
	height: 95%;
	float:left;
	/* margin-top: 141px; */
}
.resourcePlayerRightArrowContainer{
	margin-top: 100px;
	float: right;
	margin-left: 975px;
	width: 60px;
	height: 60px;
	position: absolute;
}
.rightArrowButtonNormal{
	background-position: -191px -33px;
	width: 60px;
	height: 60px;
	background-color: #262626;
	outline: none;
	border: 0;
}
.rightArrowButtonNormal:hover{
	background-position: -127px -33px;
	cursor:pointer;
}

/* Emotics css */

.collectionContainer {
	width: 952px;
	margin: 0 auto;
	padding-bottom: 13px;
	/* position: fixed;	
    top: 42px; */
}

.collectionHeader {
	background-color: rgb(238,238,238);
	width: 952px;
	padding: 15px 0px;
	text-align: center;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 32px;
	margin-top: 10px;
}
.collectionHeaderTitle {
	font-size: 16px;
	color: rgb(81,81,81);
	display: inline-block;
	vertical-align: top;
}
.collectionNormalTxt {
	font-size: 12px;
	color: rgb(81,81,81);
	display: inline-block;
	margin-left: 5px;
	padding-left: 5px;
	padding-top: 2px;
}
.icon {
	position: absolute;
	bottom: 0px;
	width: 23px;
	height: 21px;
	background-position: -54px -19px;
}
.spriteType {
	background: url(/images/emotics.png) no-repeat;
}
.iconOuter {
	display: inline-block;
	vertical-align: top;
	/* float: left; */
	padding-left: 10px;
	position: relative;
}

.icons {
	background-position: -3px -1px;
	width: 35px;
	height: 35px;
}

.emoticon_i {
	background-position: -7px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_ii {
	background-position: -53px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_iii {

	background-position: -141px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
}
.emoticon_iv {
	background-position: -184px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_v {
	background-position: -232px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_vi {
	background-position: -267px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_vii {
	background-position: -184px -51px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_viii {
	
	background-position: -95px -4px;
	width: 35px;
	height: 35px;
	cursor: pointer;

}
.emoticon_ix {
	background-position:-143px -52px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.emoticon_x {
	background-position:-223px -52px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}




.arrowOuter {
	display: inline-block;
	vertical-align: top;
	float: right;
	right: 0px;
	position: relative;
	top: -4px;
	padding-right: 10px;
}
.arrowOuter:hover {
	cursor: pointer;
}
.prev {
	background-position: -56px -44px;
	width: 45px;
	height: 43px;
	cursor: pointer;
}
.next {
	background-position: -4px -44px;
	width: 45px;
	height: 43px;
	cursor: pointer;
}
.next:hover, .prev:hover{
	opacity:.6;
}
.emoticonPopup {
	display: none;
	position: absolute;
	left: -45px;
	top: -55px;
	z-index: 99999;
	width: 150px;
}
.emoticonArrow {
	width: 25px;
	height: 11px;
	position: relative;
	left: 60px;
	z-index: 1000;
	top: 44px;
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg);
	background-position: -110px -63px;
}
.emoticonPopupInner {
	color: #515151;
	background-color: #FFF;
	border: 1px solid #DDD;
	font-size: 12px;
	padding: 10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.emoticsContainer{
	text-align: center;
	position: relative;
	width:75%;
}

#resourcePlayerContainer{
	min-height: 85%;
}
.truncate {
	width: 250px;
  white-space: nowrap;
  max-height:23px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate:after{
content:â€�â€¦â€�;
}

/*//////////////////// ratings and reviews ////////*/
.ratingVisualizations {
	overflow: hidden;
}

.rating {
	margin: 3px 10px 3px 0px;
	font-size: 12px; //
	width: 95px; /* used in search */ //
	float: right; /* used in search */ //
	text-align: right; /* used in search */
	vertical-align: middle;
	line-height: 1.4em;
}

.rating .star,.userRating .star {
	font-size: 14px;
	color: #999;
}

.rating .star.filled {
	color: #4e9746;
}

//
.rating .star:before,.userRating .star:before {
	content: '\2606';
}

//
.rating .star.filled:before,.userRating .star.filled:before {
	content: '\2605';
}

.star:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f006';
}

.star.filled:before {
	content: "\f005";
}

.userRating .star.filled {
	color: #1076BB;
}

/*//////////////////////////////////////////////////// popups ////////////////*/
body.popupBG {
	background-color: rgba(0, 0, 0, .6);
}

.popup {
	background-color: white;
	width: 450px;
	margin: 50px auto;
	padding: 3px;
}

.popupInner {
	border: 1px solid #DDD;
}

.popupHeader {
	position: relative;
	padding: 10px 15px;
	color: white;
	background-color: #515151;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #666, #515151);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #666, #515151);
	/* IE 10 */
	background: -ms-linear-gradient(top, #666, #515151);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #666, #515151);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666',
		EndColorStr='#515151');
}

.popupHeader h1 {
	font-size: 16px;
	font-weight: normal;
}

.popupContent {
	padding: 12px;
	height: 400px;
	overflow: auto;
}

.closeButton {
	width: 17px;
	height: 17px;
	background: url("../_images/close-button.png") no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
}

.closeButton:hover {
	opacity: .6;
}

/*//////////////////////////////// distribution graph////////////*/
.distribution {
	float: left;
	width: 120px;
	white-space: nowrap;
	vertical-align: middle;
	margin-right: 120px;
}

.average {
	float: left;
	width: 150px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

.barGraph .label {
	display: inline-block;
	width: 60px;
	line-height: 12px;
	text-align: right;
	margin-right: 5px;
	vertical-align: middle;
}

.barGraph .bar {
	display: inline-block;
	width: 100px; /* this is the max width for the bars */
}

.bar {
	height: 10px;
	background-color: #8CC63E; //
	float: left;
	display: inline-block;
	vertical-align: middle;
}

.barGraph .bar:nth-child(7) {
	background-color: #57B53B;
}

.barGraph .bar:nth-child(11) {
	background-color: #4E9746;
}

.barGraph .bar:nth-child(15) {
	background-color: #45843E;
}

.barGraph .bar:nth-child(19) {
	background-color: #0F7A42;
}

.count {
	display: inline-block;
	font-size: 11px;
}

/*//////////////////// ratings and reviews ////////*/
.userRating {
	clear: both;
	background: #f0f0f0;
	padding: 10px 15px;
	margin: 15px 0px;
	line-height: 29px;
}

.userRating.reviewContainer {
	line-height: 1.2em;
	padding: 15px;
	position: relative;
}

.userRating.editContainer {
	line-height: 1.2em;
	padding: 15px;
}

.userRating button {
	float: right;
}

.reviewContainer button {
	float: none;
	display: block;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
	-o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

.reviewContainer:hover button {
	visibility: visible;
	opacity: 1;
}

.userRating.reviewContainer .username,.userRating.reviewContainer .timestamp,.userRating.reviewContainer .rating,.userRating.reviewContainer .review
	{
	opacity: 1;
	transition: opacity .2s;
}

.userRating.reviewContainer:hover .username,.userRating.reviewContainer:hover .timestamp,.userRating.reviewContainer:hover .rating,.userRating.reviewContainer:hover .review
	{
	opacity: .4;
}

.userRating.reviewContainer {
	background: #f0f0f0;
	transition: background .2s;
}

.userRating.reviewContainer:hover {
	background: #f6f6f6;
	cursor: default;
}

.reviewContainer {
	margin-bottom: 25px;
	position: relative;
}

.reviewContainer .username,.editContainer .username {
	width: 200px;
	float: left;
}

.reviewContainer .timestamp,.editContainer .timestamp {
	float: right;
}

.reviewContainer hr,.editContainer hr {
	clear: both;
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 3px 0px;
}

.rating:not (:checked ) >input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not (:checked ) >label {
	float: right;
	width: 16px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	line-height: 1.2;
	color: #999;
	font-size: 16px;
	transition: color .2s;
}

.rating:not (:checked ) >label:before {
	line-height: 1;
	display: inline-block;
	text-decoration: inherit;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f006';
}

.rating>input:checked  ~ label:before,.rating:not (:checked ) >label:hover:before,.rating:not
	(:checked ) >label:hover  ~ label:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f005';;
}

.rating>input:checked  ~ label {
	color: #579ECF;
}

.rating:not (:checked ) >label:hover,.rating:not (:checked ) >label:hover 
	~ label {
	color: #1076BB;
}

.rating>input:checked+label:hover,.rating>input:checked+label:hover  ~
	label,.rating>input:checked  ~ label:hover,.rating>input:checked  ~
	label:hover  ~ label,.rating>label:hover  ~ input:checked  ~ label {
	color: #1076BB;
}

fieldset {
	border: none;
	display: inline-block;
}

.ratingContainer {
	height: 60px;
	white-space: nowrap; //
	overflow: hidden; //
	text-align: center;
	-webkit-font-smoothing: antialiased !important;
	margin: 10px;
	position: relative;
}

.editRatingContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.userRating .editRatingContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.editRatingContainer {
	background: none;
	transition: background .2s;
}

.editRatingContainer:hover {
	background: rgba(255, 255, 255, .6);
}

.userRating .editRatingContainer {
	background: none;
}

.userRating:hover .editRatingContainer {
	background: none;
}

.editRating {
	margin: 44px auto 0px auto;
}

.editContainer textarea {
	width: 100%;
	height: 72px;
	display: block;
	display: block;
	resize: none;
	padding: 5px;
	border: 1px solid #DDD;
	box-sizing: border-box;
	font-size: 12px;
}

.saveCancelContainer {
	text-align: center;
	float:right;
}

.saveCancelContainer button {
	float: none;
	margin: 10px 2px 0px 2px;
}

.timestamp .edited {
	color: #999;
}

.editRatingContainer {
	text-align: center;
}

.editRatingContainer button {
	text-align: center;
	margin-top: 10px;
	display: inline-block;
}

.userRating .editRatingContainer button {
	margin-top: 25px;
}

.editRatingContainer .dropdownButtonContainer {
	margin: 25px auto;
	display: block;
	width: 150px;
	position: relative;
}

.userRating .editRatingContainer .dropdownButtonContainer {
	margin: 0px auto;
}

.editRatingContainer .dropdownButtonContainer .dropdown {
	width: 150px;
	position: absolute;
	right: 0px;
	text-align: left;
}

.userRating.deleting {
	text-align: center;
	color: #999;
	padding: 30px;
}

.ratingConfirmationContainer {
	padding: 20px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	/*width: 300px;*/
	text-align: center;
	border-radius: 4px;
	position: absolute;
	/* top: 425px;
	left: 295px; */
	white-space: normal;
	background-color: white;
}

.ratingConfirmationContainer h1 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}

.ratingConfirmationContainer .rating {
	margin-bottom: 6px;
}

.ratingConfirmationContainer label {
	display: block;
	font-weight: bold;
	text-align: left;
	margin: 5px 0px;
}

.ratingConfirmationContainer textarea {
	width: 100%;
	height: 150px;
	display: block;
	display: block;
	resize: none;
	padding: 5px;
	border: 1px solid #DDD;
	box-sizing: border-box;
}

.arrowBorder {
	top: -13px;
	width: 0;
	height: 0;
	z-index: 100;
	position: absolute;
	left: 70px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ddd;
}

.arrow {
	top: -11px;
	width: 0;
	height: 0;
	z-index: 100;
	position: absolute;
	left: 70px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
}

.confirmationIcon {
	width: 55px;
	height: 55px;
	margin: 0px auto 20px auto;
	background: url('../_images/checkmark.png') center no-repeat;
}

.calltoAction {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif !important;
}

.ratingValue{
	text-align: left;
	margin-left: 15px;
	margin-bottom: 2px;
	font-style: italic;
}
.ratingConfirmationContainer .icon {
    width:55px;
    height:55px;
    margin:10px auto 20px auto;
}

.ratingConfirmationContainer .icon.delete {
    background: url('images/popup/exclamation-mark.png') no-repeat center;
    position: relative;
}
.ratingConfirmationContainer .icon.complete {
    background: url('images/popup/checkmark.png') no-repeat center;
    position: relative;
}
.okContainer{
	text-align: center;
	margin-top: 8px;
}

.errorLblBottomText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgb(250,176,58);
	text-align: right;
	padding: 10px 0px 0px 0px;
	/* margin-right: 72px;
	float: right;
	width:230px; */
}

.thankYouLbl{
	font-style: normal;
	font-size: 16px;
	margin-bottom: 11px;
}
.alignTextleft{
	text-align:left;
}
.ratingText{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}


.ratingPoorConfirmationContainer {
	padding: 20px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
/*	width: 300px;*/
	border-radius: 4px;
	position: absolute;
	/* top: 425px;
	left: 295px; */
	white-space: normal;
	background-color: white;
}

.ratingPoorHeader{
	text-align: center;
	font-size: 16px;
}
/*==============New Player css==================*/

.blocksmall{
	float: left;
    padding: 5px 10px;
    width: 1000px;
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.blocksmall:before, .blocksmall:after {
	box-sizing: border-box;
}
.mainDisc{
	display:inline-block;
	vertical-align:top;
	width:80%;
}
.resourceTitleStyle{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: -2px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 50%;
	max-width: 100%;
	max-height: 18px;
	overflow: hidden;
	
}
.tagsWrapperStyle{
	position: relative;
}
.selectedTags{
	padding: 4px 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: #a6cba2;
	display: inline-block;
	margin-right: 5px;
}
.plusAddButton{
	padding:3px 3px !important;
}
.collectionPlayerImage{
	text-align: center;
	height: 448px;
	display: table-cell;
	vertical-align: middle;
	width: 960px;
}


.ratingPoorSaveCancelContainer {
	text-align: center;
	margin-top:8px;
}

.savePostLbl{
	font-style: italic;
	text-align: center;
}

.btnSpace{
	margin-left: 10px;
}

.eductaionalUseDesign{
	padding: 4px 4px;
border-radius: 4px;
-moz-border-radius: 4px;
background: #a6cba2;
float:left;
margin:2px 2px;
}
.educationalUseMoretags{
color: #0f76bb;
cursor: pointer;
float:left;
margin-top: 5px;
margin-right: 5px;

}
.reactiontext{
	font-size: 12px;
	color: #333;
	/* line-height: 1.3; */
	margin-bottom: 2px;
}
.reviewPopup{
	left: 63%;
	top: 287px;
	z-index: 999999;
	padding: 0px;
	position: absolute;
	overflow: visible;
}
.green{
	color: white;
	background-color: rgb(78, 151, 70);
	border-radius: 4px;
	padding: 7px 9px;
	border: 1px solid rgb(78, 151, 70);
	font-family: Arial, sans-serif;
	display:inline-block;
	
	/* Old browsers */ 
	background:rgb(78, 151, 70);
	
}
	.green:hover{
	color:white;
	background:rgb(78, 151, 70);
	cursor:pointer;
}
