
.popupContent{
	border: 1px solid #DDD;
	height: 320px;
	width: 450px;
	background: white;
}
.successPopupContainer{
	padding: 3px;
	height: 323px;
	background: white;
	z-index: 999;
}
.popupHeader{
	padding:10px 15px;
	color:white;
	background-color:#515151;
	font-size:16px;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#515151));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #666, #515151);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #666, #515151);

	/* IE 10 */
	background: -ms-linear-gradient(top, #666, #515151);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #666, #515151);
	
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#515151');
}
.popupHeaderText{
	color:white;
	font-size:16px;
}
.assignmentSuccessMainContainer {
float: left;
width: 100%;
}

.successImage{
	background: url(images/Classpage/assignment.png);
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 50PX;
	margin-bottom: 40px;
}

.successText{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	word-wrap: break-word;
	font-size: 12px;
	color:#999;
}
.assignmentButtonsContainer {
	text-align: center;
	margin-top: 40px;
}
.assignmentContentContainer{
	
}