html, body{
	background:#FFF;
	min-width: 0;
	background-image: none !important;
	height: 100% !important;;
}

.topContainer{
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -650px;
}
.deviceHeader {
	background-color: #515151;
	border-bottom:5px solid #4e9746;
	padding: 5px;
}
.gooruLogo {
	background: url("images/DeviceSupport/gooru-logo-small.png") no-repeat;
	width:99px;
	height:30px;
	margin: auto;
}
.imageContainer {
	width:640px;
	height:650px;
	margin: auto;
}
.mainImg {
	margin-left:-68px;
}
.push {
	height:650px;
}