.noResultsBox {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	margin-top: 10px;
	padding: 10px;
	float: left;
	width:100%;
	moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
	width: 100%;
	padding: 30px;
}

.header {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.dot {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
}

.lightBlue {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
	background-color: #4C98CC;
}

.blue {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
	background-color: #1076BB;
}

.green {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
	background-color: #4E9746;
}

.orange {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
	margin-right: 10px;
	background-color: #FBB03B;
}

.liPosition {
	clear: both;
	/* overflow: hidden; */
	margin: 15px 0px;
}

.liContent {
	width:100%;
	line-height: 1.4em;
	display: block;
	/* float: left; */
}

.noResults {
	overflow: hidden;
}

.leftColumn {
	width: 200px;
	float: left;
}

.rightColumn {
	background-image: url("images/no-results.png");
	width: 277px;
	height: 165px;
	float: right;
}

.suggestedResources {
	clear: both;
	margin-top: 50px;
}

.resourceContainer {
	width: 80px;
	display: inline-block;
	margin-right: 15px;
}

.resourceContainer:hover {
	cursor: pointer;
	opacity: .6;
}

.resourceThumbnail {
	width: 80px;
	height: 60px;
	/* background-image: url("images/resource-default-images.png"); */
	margin-bottom: 5px;
	position: relative;
}

.resourceTypeIcon {
	width: 27px;
	height: 20px;
	background-image: url("images/resource-type-icons.png");
	position: absolute;
	bottom: 0px;
}
/*....*/
.pageTitle {
	color: rgba(200, 200, 200, 0.8);
	text-shadow: 1px 2px 2px #EEE, 0 0 0 #000, 1px 2px 2px #EEE;
	filter: alpha(opacity = 100);
}

.systemMessage {
	font-style: italic;
	color: #999;
}

.errorMessage {
	font-style: italic;
	color: #FBB03B;
}

.button {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 8px 9px;
	border: none;
	font-weight: bold;
	margin: 10px 0px;
	font-family: Arial, sans-serif;
	display: inline-block;
	margin: 10px;
	/* Old browsers */
	background: #1076BB;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	/* IE 10 */
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
}

.button:hover {
	color: white;
	background: #1076BB;
	cursor: pointer;
}

.button.disabled,.button.disabled:hover {
	/* Old browsers */
	background: #1076BB;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb),
		to(#999));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #bbb, #999);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #bbb, #999);
	/* IE 10 */
	background: -ms-linear-gradient(top, #bbb, #999);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #bbb, #999);
	cursor: default;
	opacity: 1;
}

.arrowButton {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 15px 75px 15px 15px;
	font-size: 24px;
	border: none;
	font-weight: bold;
	margin: 10px 0px;
	font-family: Arial, sans-serif;
	display: inline-block;
	margin: 10px;
	/* Safari 4-5, Chrome 1-9 */
	background: url("images/button-arrow.png") right center no-repeat,
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	/* Safari 5.1, Chrome 10+ */
	background: url("images/button-arrow.png") right center no-repeat,
		-webkit-linear-gradient(top, #4C98CC, #1076BB);
	/* Firefox 3.6+ */
	background: url("images/button-arrow.png") right center no-repeat,
		-moz-linear-gradient(top, #4C98CC, #1076BB);
	/* IE 10 */
	background: url("images/button-arrow.png") right center no-repeat,
		-ms-linear-gradient(top, #4C98CC, #1076BB);
	/* Opera 11.10+ */
	background: url("images/button-arrow.png") right center no-repeat,
		-o-linear-gradient(top, #4C98CC, #1076BB);
}

.arrowButton:hover {
	color: white;
	background: #1076BB url("images/button-arrow.png") right center
		no-repeat;
	cursor: pointer;
}

.tabs {
	border: 1px solid #ddd;
	/* Old browsers */
	background: rgb(239, 239, 239);
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD),
		to(#EDEDED));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);
	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD',
		EndColorStr='#EDEDED');
}

.tabsLi {
	display: inline-block;
	padding: 10px 20px;
	margin: 0px -2px;
}

.tabsLi:hover.active {
	cursor: default;
}

.tabsLi:hover.deactivated {
	background-color: transparent;
	cursor: default;
}

.tabsLi:hover {
	background-color: #e5e5e5;
	cursor: pointer;
}

.tabsLi.deactivated {
	color: #999;
}

.tabsLi.active {
	-moz-box-shadow: inset 0 5px 16px 0px rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 5px 16px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0 5px 16px 0px rgba(0, 0, 0, .1);
	/* Old browsers */
	background: #dddddd;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc),
		to(#efefef));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #cccccc, #efefef);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #cccccc, #efefef);
	/* IE 10 */
	background: -ms-linear-gradient(top, #cccccc, #efefef);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #cccccc, #efefef);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#cccccc',
		endColorstr='#efefef', GradientType=0); /* IE6-9 */
}

.resourceTypeIcon {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
}

.interactive {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: 0px -29px;
	top: 41px;
}

.textbook {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -197px;
	top: 41px;
	top: 41px;
}

.question {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -140px;
	top: 41px;
}

.handout {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -56px;
	top: 41px;
}

.lesson {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -112px;
	top: 41px;
}

.exam {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -54px -20px;
	top: 41px;
}

.slide {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -167px;
	top: 41px;
}

.video {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -2px;
	top: 41px;
}

.website {
	background: url('images/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	background-position: -0px -225px;
	top: 41px;
}

.resourceTitle {
	font-family: Arial, sans-serif;
	color: #515151;
	font-size: 12px;
	width: 85px;
	word-wrap: break-word;
	position: absolute;
}

.collectionTitle {
	font-family: Arial, sans-serif;
	color: #515151;
	font-size: 12px;
	width: 115px;
	word-wrap: break-word;
	position: absolute;
	padding-top: 5px;
}

.collectionThambnailBlueBar {
	width: 120px;
	height: 80px;
	border-left: 7px solid #1076bb;
}

.collectionContainer {
	width: 109px;
	display: inline-block;
	margin-right: 15px;
}

.collectionContainer:hover {
	cursor: pointer;
	opacity: .6;
}

.collectionThumbnail {
	width: 105px;
	height: 80px;
	/* background-image: url("images/no-results.png"); */
	margin-bottom: 5px;
	position: relative;
}

.suggestedCollectionCount {
	font-size: 12px;
	margin-bottom: 15px;
}