.searchInner{
	clear:both;
	height:10px !important;	
}
.thumbBlock {
	text-align: left;
	width: 100% !important;
}

.resourceHeaderTextPanel h4 {
	text-align: left;
}

.resourceHeaderTextPanel small {
	text-align: left;
	display: block;
}

.standardsBtn {
	text-align: left;
}

.ratingWidgetPanel {
	width: 100% !important;
}

.resourceThumbnail {
	
}

.ratingWidgetPanel {
	text-align: center;
	padding: 10px 0;
}

.resourceDescription {
	text-align: center;
	padding: 10px 0;
}

.shareLink {
	width: 100% !important;
}

.shareRight {
	width: 100% !important;
}

.panel-footer-main .panelFooterMenuInfo .shareLink {
	padding-right: 0;
}

.PageNotify {
	text-align: center;
}

#SearchPush .searchFilters {
	width: 100% !important;
	box-shadow: none !important;
}

.menu-visible1 {
	overflow-x: hidden;
	overflow-y: auto;
}

#menuRight .searchFilters {
	background: #ffffff;
}

body, html {
	overflow-x: hidden;
	overflow-y: auto;
}

.searchStandardHint {
	float: none;
	display: inline-block;
}

.add {
	
}

.questions {
	
}

.scrollBar {
	
}

.audio {
	
}

.searchResultScroll {
	
}

.categoryFilterContainer {
	
}

.searchInner {
	
}

.clearall {
	
}

.playerHeader {
	
}

.form-control {
	
}

.dropbox {
	
}

.images {
	
}

.innerResult {
	
}

.share {
	
}

.mobilefriendlyContainer {
	
}

.webpage {
	
}

.facebookbtn {
	
}

.secondaryIC1active {
	
}

.searchMainContainer {
	
}

.modal-dialog {
	
}

.filterCheckBox {
	
}
.searchResultMain{}
.info{}
.active{}
.navbar-form{}
 .searchResult{}
.folderLinks{} 
.emailbtn{}
.filterStandardContainer{}
 .panel-body{}
 .standarBodyContainer{}
.playerBodyContainer{}
 .mainHeadContainer{}
.form-control1{}
.infoBtnContainer{}
.oerContainer{}
.filtersInner{}
.twitterbtn{}
.filteraggContainer{}
.btn{}
.dragHere{}
.standerdHeader{}
 .secondaryIC1{}
 .resourceUpArrow{}
  .secondaryICactive{}
.interactives{} 
.searchbox{} 
.flag{}
.closeBtn{}
.rightPanel{}
.standerdTxt{}
.secondaryIC{}
.listGroup{}
.rateThis{}
.panel-footer{}
.texts{}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
 .bodyWrapper{}
.searchResult1{}  
 .filtersContainer{}
 .filtersButton{}   
.shareRight{} 
.addResource{} 
 
