.searchResult1 {
color: #515151;
margin: 32px 0 0 261px;
display: inline-block;
padding-bottom: 10px;
}

.searchbox {
}

.searchbox .form-control {
}

.filtersButton {
}

.rateThis {
	
}

.filterCheckBox {
	
}

.folderLinks {
	
}

.searchFilters {
	
}

.PageNotify {
	
}

.dragHere {
	
}

.audio {
	
}

.form-control1 {
	
}

.searchResult {
	
}

.navbar-form {
	
}

.filterStandardContainer {
	
}

.modal-dialog {
	
}

.resourceUpArrow {
	
}

.categoryFilterContainer {
	
}

.rightPanel {
	
}

.info {
	
}

.searchStandardHint {
	
}

.searchMainContainer {
	
}

.flag {
	
}

.facebookbtn {
	
}

.interactives {
	
}

.listGroup {
	
}

.dropbox {
	
}

.resourceHeaderTextPanel {
	
}

.resourceThumbnail {
	
}

.mobilefriendlyContainer {
	
}

.texts {
	
}

.secondaryIC {
	
}

.secondaryICactive {
	
}

.closeBtn {
	
}

.emailbtn {
	
}

.panel-body {
	
}

.panel-footer {
	
}

.questions {
	
}

.active {
	
}

.filteraggContainer {
	
}

.mainHeadContainer {
	
}

.scrollBar {
	
}

.shareLink {
	
}

.standerdHeader {
	
}

.clearall {
	
}

.standarBodyContainer {
	
}

.playerBodyContainer {
	
}

.add {
	
}

.standerdTxt {
	
}

.webpage {
	
}

.share {
	
}

.playerHeader {
	
}

.oerContainer {
	
}

.twitterbtn {
	
}

.btn {
	
}

.innerResult {
	
}

.searchResultMain {
	
}

.images {
	
}

.ratingWidgetPanel {
	
}

.searchResultScroll {
	
}

.searchInner {
	
}

.infoBtnContainer {
	
}

.secondaryIC1 {
	
}

.filtersInner {
	
}

.panel-footer-main {
	
}

.secondaryIC1active {
	
}

.panelFooterMenuInfo {
	
}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
. .bodyWrapper{}
.bodyWrapper{}
.searchResult1{}
 .filtersContainer{}
 .shareRight{}   