.searchResult1 {
color: #515151;
margin: 32px;
}
.searchResultScroll {
	height: auto;
	overflow: hidden;
	width: 100% !important;
}

.panel-footer-main .panelFooterMenuInfo .shareLink {
	border-right: 0px solid #cccccc;
}

.mainmenu .navbar-toggle {
	margin-right: 0;
	margin-top: 13px;
}

.panel-footer-main .panel-footer a {
	box-sizing: border-box;
	color: #333333;
	display: block;
	padding: 6px 0;
	text-align: center;
	width: 100%;
	font-size: 11px;
	float: none;
	position: relative;
	vertical-align: middle;
}
.bodyWrapper{
	margin-top:0;
}
.searchInner .thumbBlock {
	
}

.audio {
	
}

.questions {
	
}

.standarBodyContainer {
	
}

.searchStandardHint {
	
}

.folderLinks {
	
}

.images {
	
}

.playerBodyContainer {
	
}

.secondaryIC1active {
	
}

.rightPanel {
	
}

.dropbox {
	
}

.infoBtnContainer {
	
}

.facebookbtn {
	
}

.closeBtn {
	
}

.filteraggContainer {
	
}

.secondaryIC1 {
	
}

.searchFilters {
	
}

.resourceThumbnail {
	
}

.mobilefriendlyContainer {
	
}

.filterStandardContainer {
	
}

.resourceUpArrow {
	
}

.add {
	
}

.flag {
	
}

.oerContainer {
	
}

.panel-body {
	
}

.categoryFilterContainer {
	
}

.PageNotify {
	
}

.share {
	
}

.mainHeadContainer {
	
}

.searchResult {
	
}

.scrollBar {
	
}

.navbar-form {
	
}

.ratingWidgetPanel {
	
}

.secondaryIC {
	
}

.active {
	
}

.filtersInner {
	
}

.modal-dialog {
	
}

.searchbox {
	
}

.btn {
	
}

.texts {
	
}

.standerdHeader {
	
}

.info {
	
}

.emailbtn {
	
}

.interactives {
	
}

.filterCheckBox {
	
}

.clearall {
	
}

.twitterbtn {
	
}

.webpage {
	
}

.listGroup {
	
}

.standerdTxt {
	
}

.searchMainContainer {
	
}

.resourceHeaderTextPanel {
	
}

.innerResult {
	
}

.secondaryICactive {
	
}

.form-control1 {
	
}

.playerHeader {
	
}

.dragHere {
	
}

.rateThis {
	
}

.form-control {
	
}
.searchResultMain{}
 .panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
 .searchResult1{}
 .filtersContainer{}
 .filtersButton{}
 .shareRight{}  