.searchInner{
	clear:both;
	height:10px !important;	
}

.thumbBlock {
	padding-right: 0 !important;
}

.standardsBtn {
	text-align: left;
}

.searchStandardHint {
	float: left;
}

.ratingWidgetPanel {
	padding: 10px 0;
}

.panel-footer-main .panelFooterMenuInfo .shareLink {
	padding-right: 0;
}

.resourceDescription {
	text-align: left;
	padding: 10px 0;
}

#SearchPush #menu {
	left: 0 !important;
}

#SearchPush .searchFilters {
	width: 100% !important;
}

.menu-visible1 {
	overflow-x: hidden;
	overflow-y: auto;
}

#menuRight .searchFilters {
	background: #ffffff;
}

html {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.searchResultMain {
	
}

.info {
	
}

.active {
	
}

.navbar-form {
	
}

.searchResult {
	
}

.folderLinks {
	
}

.emailbtn {
	
}

.filterStandardContainer {
	
}

.panel-body {
	
}

.standarBodyContainer {
	
}

.playerBodyContainer {
	
}

.mainHeadContainer {
	
}

.form-control1 {
	
}

.infoBtnContainer {
	
}

.oerContainer {
	
}

.filtersInner {
	
}

.twitterbtn {
	
}

.filteraggContainer {
	
}

.btn {
	
}

.dragHere {
	
}

.standerdHeader {
	
}

.secondaryIC1 {
	
}

.resourceUpArrow {
	
}

.secondaryICactive {
	
}

.interactives {
	
}

.searchbox {
	
}

.flag {
	
}

.closeBtn {
	
}
.webpage{}
.playerHeader{}

.rightPanel {
	
}

.standerdTxt {
	
}

.secondaryIC {
	
}

.listGroup {
	
}

.rateThis {
	
}

.panel-footer {
	
}

.texts {
	
}

.share {
	
}

.secondaryIC1active {
	
}

.resourceThumbnail {
	
}

.innerResult {
	
}

.questions {
	
}

.resourceHeaderTextPanel {
	
}

.scrollBar {
	
}

.images {
	
}

.searchResultScroll {
	
}

.facebookbtn {
	
}

.modal-dialog {
	
}

.searchInner {
	
}

.audio {
	
}

.clearall {
	
}

.add {
	
}

.searchMainContainer {
	
}

.categoryFilterContainer {
	
}

.mobilefriendlyContainer {
	
}

.form-control {
	
}

.dropbox {
	
}

.PageNotify {
	
}

.filterCheckBox {
	
}

.filterCheckBox {
	
}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
  .bodyWrapper{}
.searchResult1{}  
 .filtersContainer{}
  .filtersButton{}
 .shareRight{}
.addResource{}