.searchResult1 {
color: #515151;
margin: 32px 0 0 215px;
display: inline-block;
padding-bottom: 10px;
}
.rightPanel {
	display: block;
}

.searchFilters {
	/* width: 22.5% !important; */
}

.searchResultScroll {
	height: 623px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 83.5% !important;
}

.flag {
	
}

.secondaryIC1 {
	
}

.playerHeader {
	
}

.info {
	
}

.filteraggContainer {
	
}

.shareLink {
	
}

.texts {
	
}

.innerResult {
	
}

.panel-footer-main {
	
}

.dragHere {
	
}

.active {
	
}

.images {
	
}

.closeBtn {
	
}

.searchResult {
	
}

.searchResultMain {
	
}

.searchStandardHint {
	
}

.share {
	
}

.filterStandardContainer {
	
}

.PageNotify {
	
}

.categoryFilterContainer {
	
}

.secondaryICactive {
	
}

.emailbtn {
	
}

.searchMainContainer {
	
}

.twitterbtn {
	
}

.secondaryIC {
	
}

.modal-dialog {
	
}

.resourceHeaderTextPanel {
	
}

.oerContainer {
	
}

.filterCheckBox {
	
}

.playerBodyContainer {
	
}

.form-control {
	
}

.btn {
	
}

.infoBtnContainer {
	
}

.rateThis {
	
}

.panelFooterMenuInfo {
	
}

.folderLinks {
	
}

.questions {
	
}

.facebookbtn {
	
}

.searchbox {
	
}

.navbar-form {
	
}

.resourceThumbnail {
	
}

.ratingWidgetPanel {
	
}

.audio {
	
}

.panel-footer {
	
}

.mobilefriendlyContainer {
	
}

.interactives {
	
}

.panel-body {
	
}

.standarBodyContainer {
	
}

.standerdTxt {
	
}

.add {
	
}

.secondaryIC1active {
	
}

.searchInner {
	
}

.dropbox {
	
}

.listGroup {
	
}

.standerdHeader {
	
}

.mainHeadContainer {
	
}

.clearall {
	
}

.webpage {
	
}

.scrollBar {
	
}

.form-control1 {
	
}

.resourceUpArrow {
	
}

.filtersInner {
	
}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
 .bodyWrapper{}
 .searchResult1{}
  .filtersContainer{}  
   .filtersButton{}
   .shareRight{}
   .addResource{}  