.searchResult1 {
color: #515151;
margin: 32px 0 0 261px;
display: inline-block;
padding-bottom: 10px;
}
.thumbBlock {
	
}

.searchbox .navbar-form {
	margin: 6px 0;
}

.ratingWidgetPanel {
	
}

.searchResultScroll {
	width: 100% !important;
}

.rightPanel {
	display: none;
}

.searchFilters {
	/* width: 25% !important; */
}

.rateThis {
	
}

.audio {
	
}

.add {
	
}

.info {
	
}

.mainHeadContainer {
	
}

.PageNotify {
	
}

.active {
	
}

.secondaryIC1active {
	
}

.share {
	
}

.infoBtnContainer {
	
}

.folderLinks {
	
}

.panel-footer-main {
	
}

.panel-body {
	
}

.playerBodyContainer {
	
}

.oerContainer {
	
}

.panelFooterMenuInfo {
	
}

.standerdHeader {
	
}

.btn {
	
}

.clearall {
	
}

.categoryFilterContainer {
	
}

.panel-footer {
	
}

.emailbtn {
	
}

.modal-dialog {
	
}

.rateThis {
	
}

.images {
	
}

.searchStandardHint {
	
}

.questions {
	
}

.flag {
	
}

.dropbox {
	
}

.shareLink {
	
}

.mobilefriendlyContainer {
	
}

.closeBtn {
	
}

.facebookbtn {
	
}

.filteraggContainer {
	
}

.webpage {
	
}

.interactives {
	
}

.searchResult {
	
}

.secondaryIC1 {
	
}

.secondaryICactive {
	
}

.searchInner {
	
}

.form-control1 {
	
}

.filterCheckBox {
	
}

.resourceThumbnail {
	
}

.twitterbtn {
	
}

.secondaryIC {
	
}

.searchMainContainer {
	
}

.playerHeader {
	
}

.scrollBar {
	
}

.searchResultMain {
	
}

.dragHere {
	
}

.resourceHeaderTextPanel {
	
}

.texts {
	
}

.filterStandardContainer {
	
}

.standerdTxt {
	
}

.resourceUpArrow {
	
}

.listGroup {
	
}

.form-control {
	
}

.standarBodyContainer {
	
}

.innerResult {
	
}

.filtersInner {
	
}

.panel {
	
}

.filterpublisherContainer {
	
}

.focus {
	
}

.col-md-4 {
	
}

.col-md-2 {
	
}
 .bodyWrapper{}
  .filtersContainer{}
   .filtersButton{}
   .shareRight{}
   .addResource{}  