.searchInner{
	clear:both;
	height:44px !important;	
}
.searchbox {
	display: block !important;
}


.searchbox .form-control {
	height: 33px;
}

.searchbox button.primary {
	display: none;
}

.searchbox .form-group {
	width: 74% !important;
}

.searchbox .navbar-form {
	padding: 6px 0;
}

.filtersButton {
	width: 100% !important;
	text-align: left;
	padding: 0 0;
	margin-bottom: 10px;
}

.PageNotify {
	width: 100% !important;
	text-align: left;
}
.bodyWrapper{
	margin-top:0;
}
.addResource{
	width:140px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.oerContainer {
	
}

.btn {
	
}

.resourceThumbnail {
	
}

.filtersInner {
	
}

.rightPanel {
	
}

.webpage {
	
}

.infoBtnContainer {
	
}

.twitterbtn {
	
}

.scrollBar {
	
}

.searchResultScroll {
	
}

.flag {
	
}

.searchResultMain {
	
}

.secondaryICactive {
	
}

.form-control1 {
	
}

.resourceUpArrow {
	
}

.info {
	
}

.playerHeader {
	
}

.questions {
	
}

.panel-footer {
	
}

.filteraggContainer {
	
}

.searchFilters {
	
}

.ratingWidgetPanel {
	
}

.playerBodyContainer {
	
}

.panelFooterMenuInfo {
	
}

.facebookbtn {
	
}

.categoryFilterContainer {
	
}

.images {
	
}

.mobilefriendlyContainer {
	
}

.secondaryIC1 {
	
}

.panel-footer-main {
	
}

.searchMainContainer {
	
}

.standerdHeader {
	
}

.clearall {
	
}

.standarBodyContainer {
	
}

.dropbox {
	
}

.panel-body {
	
}

.modal-dialog {
	
}

.closeBtn {
	
}

.share {
	
}

.add {
	
}

.shareLink {
	
}

.filterStandardContainer {
	
}

.searchStandardHint {
	
}

.active {
	
}

.innerResult {
	
}

.dragHere {
	
}

.secondaryIC {
	
}

.standerdTxt {
	
}

.secondaryIC1active {
	
}

.searchResult {
	
}

.emailbtn {
	
}

.resourceHeaderTextPanel {
	
}

.folderLinks {
	
}

.searchInner {
	
}

.listGroup {
	
}

.mainHeadContainer {
	
}

.texts {
	
}

.filterCheckBox {
	
}

.interactives {
	
}

.audio {
	
}

.rateThis {
	
}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
  .bodyWrapper{}
 .searchResult1{}
  .filtersContainer{}
  .shareRight{}   