.searchInner{
	clear:both;
	height:74px !important;
}
.searchResult1 {
color: #515151;
margin: 32px;
}

.filtersButton {
	width: 100% !important;
	text-align: left;
	padding: 0 0;
	margin-bottom: 10px;
}

.PageNotify {
	width: 100% !important;
	text-align: left;
}
.secondaryIC1{
	margin-left:0;
	margin-top:3px;
}
.secondaryIC1active{
	margin-left:0;
	margin-top:3px;
}
.addResource{
	width:140px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.webpage {
	
}

.filtersInner {
	
}

.emailbtn {
	
}

.filterStandardContainer {
	
}

.categoryFilterContainer {
	
}

.searchInner {
	
}

.interactives {
	
}

.panel-body {
	
}

.mainHeadContainer {
	
}

.standerdHeader {
	
}

.filterCheckBox {
	
}

.facebookbtn {
	
}

.playerBodyContainer {
	
}

.scrollBar {
	
}

.share {
	
}

.listGroup {
	
}

.form-control1 {
	
}

.resourceUpArrow {
	
}

.btn {
	
}

.playerHeader {
	
}

.searchFilters {
	
}

.audio {
	
}

.panel-footer {
	
}

.oerContainer {
	position: relative;
	margin-bottom: 0px;
	height: 30px;
}

.navbar-form {
	
}

.searchMainContainer {
	
}

.infoBtnContainer {
	
}

.dropbox {
	
}

.form-control {
	
}

.clearall {
	
}

.images {
	
}

.panel-footer-main {
	
}

.add {
	
}

.innerResult {
	display: inline-block;
}

.standarBodyContainer {
	
}

.twitterbtn {
	
}

.texts {
	
}

.resourceThumbnail {
	
}

.dragHere {
	
}

.secondaryIC1 {
	
}

.rateThis {
	
}

.rightPanel {
	
}

.shareLink {
	
}

.searchResult {
	
}

.closeBtn {
	
}

.secondaryIC {
	
}

.active {
	
}

.panelFooterMenuInfo {
	
}

.secondaryICactive {
	
}

.searchStandardHint {
	
}

.questions {
	
}

.searchResultScroll {
	
}

.folderLinks {
	
}

.filteraggContainer {
	
}

.mobilefriendlyContainer {
	position: relative;
	margin-bottom: 0px;
	height: 30px;
}

.modal-dialog {
	
}

.searchResultMain {
	
}

.resourceHeaderTextPanel {
	
}

.searchbox {
	
}

.standerdTxt {
	
}

.ratingWidgetPanel {
	
}

.flag {
	
}

.secondaryIC1active {
	
}

.info {
	
}
.panel{}
 .filterpublisherContainer{}
 .focus{}
 .col-md-4{}
 .col-md-2{}
  .bodyWrapper{}
  .searchResult1{}
   .filtersContainer{}
    .filtersButton{}  
.shareRight{}  