@charset "utf-8";
/* CSS Document */

body {
    background-image: url("../images/background-image.png");
    color: #515151;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 50px;
    padding: 0;
}

*:before, *:after {
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after{
  content: " ";
    display: table;
	 clear: both;
}
.clearfix{
	clear:both;
}

.analyticsContainerMain, .QuestionsContainer{
	width:556px; 

	background:#ffffff;
	margin-bottom:20px;

}

.analyticsContainerInner{
	padding:10px 10px;
}
.leftPanel{
	margin-right:6%;
}

.leftPanel{
	float:left;
	width:46%;
	margin-bottom:15px;	

}

 .rightPanel{
	float:left;
	width:48%;
	margin-bottom:15px;	

}
.borderBottom{
	border-bottom:1px solid #dddddd;
	padding:10px 0;
}
	

.reactionImg, .reactionDescription{
	display:inline-block;
	vertical-align:middle;
	color:#999999;
}
.leftPanel .reactionDescription span{
	font-weight:bold;
	color:#515151;
}

.progressbarMain{
	width:100%;
	margin-bottom:5px;
}

.progressbarMain .emotic{
	display:inline-block;
	vertical-align:middle;
}
.progressbarMain .numaric{
	display:inline-block;
	vertical-align:middle;
	margin:0 5px;
	color:#999999;
}

.progressbarMain .progress{
	display:inline-block;
	vertical-align:middle;

	width:192px;
}
.progressbarMain .progress .pBar{

	height:14px;
	background:#D8D8D8;

}

.smallHeader{
	color:#999999;
	margin-bottom:10px;
}

.qBlock{
	display:inline-block;
	position:relative;
	width:80px;
	height:60px;
	background:#EEEEEE;
	

}
.qBlock img{
	border:1px solid #D8DADE;
}
	

.qBlock .persentage{
 left: 23%;
    position: absolute;
    right: 23%;
	top:23%;
	bottom:23%;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	
}
.qBlock .persentage span{
	font-weight:normal;
	font-size:13px;
}

.reactionDescription span{
	font-weight:bold;
	color:#048AC7;
}

.avgAttempts span{
	display:block;
	text-align:center;
	color:#999999;
}
.avgAttempts .boldTxt{
	font-weight:bold;
	
}

.avgAttempts  .bigText{
	font-size:15px;
	color:#515151;
}


.firstAttempts{
	border-bottom:1px solid #dddddd;
		padding:10px 0;
}

.firstAttempts .leftPanel {
    float: left;
    margin-bottom: 0;
    width: 30%;
		border-right:1px solid #dddddd;
}

.firstAttempts .rightPanel{
	  width: 62%;
	  margin-bottom:0;
}
.leftPanelSmall{
	width:20%;
}
.rightPanelSmall{
	width:75%;
}
.leftPanelSmall, .rightPanelSmall{
	display:inline-block;
}

.rightPanelSmall .check{
	display:inline-block;
	vertical-align:middle;
}
.rightPanelSmall .numaric{
	display:inline-block;
	vertical-align:middle;
	margin:0 5px;
}
.rightPanelSmall .progress{
	display:inline-block;
	vertical-align:middle;
	width: 192px;
}


.rightPanelSmall .progress .pBar{

	height:13px;
	background:#D8D8D8;

}
.greenBar{
	background:#4D9645 !important;
}
.redBar{
	background:#EB3148 !important;
}

.blockDiv{
	display:block;
	margin-bottom:2px;
}


.avgRatings .progressbarMain .progress{
	width:143px;
}

.avgRatings .progressbarMain{
	margin-bottom:8px;
}


.reactionReview{
	display:inline-block;
	vertical-align:middle;
	padding: 0 13px;
	border-left: 1px solid #ddd;
}

.avgReviews .reactionDescription span{
	color:#515151;
}
.avgReviews .reactionDescription{
	margin:0 6px;
}

.totalReviews .leftPanel {
    float: left;
    margin-bottom: 15px;
    width: 40%;
}
.totalReviews .leftPanel{
	margin-right:3%;
}

.totalReviews .rightPanel {
    float: left;
    margin-bottom: 15px;
    width: 57%;
}

.totalReviews .borderBottom{
	padding:20px 0;
}

.reactionReview{
	color:#999999;
}

.reactionReview span{
	color:#515151;
	font-weight:bold;
}