.searchPanel {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);	
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	cursor: pointer;
	margin-top: 22px;
	margin-left: 10px;
	float: left;
	cursor: move;
	width: 559px;
}

.collectionPPPPanel {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);	
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	float: left;
	width: 700px;
}

.added {
	color: #4E9746 !important;
}

.searchResultWrapper {
	width: 557px;
}

.contentPanel {
	/* width: 420px; */
	width: 365px;
	float: left;
	padding: 10px 10px 0px;
}

.statusLbl {
	color: #999999;
	font-style: italic;
	margin: 10px 0 0 0;
	float: right;
	width: 74px;
	min-height: 15px;
}

.hiddenPanel {
	border: 1px solid #FFFFFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	clear: both;
	float: left;
	overflow: hidden;
	width: 578px;
	height: 20px;
}

.share,.infoLbl, .embed {
    color: #333333;
    cursor: pointer;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    box-shadow: none;
}
.moreInfo {
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    box-shadow: none;
}

.moreInfoActive,.infoLblActive,.shareActive, .embedActive, .addLblActive, .analyticsLblActive, .tagsLblActive {
	-moz-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	background: rgb(239,239,239);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(247,247,247,1) 32%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(32%,rgba(247,247,247,1)), color-stop(100%,rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 );
}
.share:HOVER, .moreInfo:HOVER,.infoLbl:HOVER, .shareActive:HOVER, .moreInfoActive:HOVER, .embed:HOVER, .addLblActive:HOVER, .tagsLblActive:HOVER, .analyticsLblActive:HOVER {

	background:#EFEFEF;
	cursor:pointer;
	box-shadow: none;
}
.disclosurePanel {
	float: left;
	color: #999;
	width:91%;
}
.disclosureHeader{
	background:-moz-linear-gradient(center top , #FDFDFD, #EDEDED) repeat scroll 0 0 transparent;
		/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	border:1px solid #dddddd;
	width: 559px;
	margin-left: -1px;
	display: block;
	float: left;
	height: 27px;
}

.collectionPPPDisclosureHeader{
	background:-moz-linear-gradient(center top , #FDFDFD, #EDEDED) repeat scroll 0 0 transparent;
		/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	border:1px solid #dddddd;
	width: 700px;
	margin-left: -1px;
	display: block;
	float: left;
	height: 27px;
}

.disclosureMainHeader {
	height:29px;
}
.disclosureContentPanel {
	float: left;
	padding-top: 5px;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px 20px 0px;
	}

.blueLink,.blueLinkPad {
	color: #0F76BB;
	cursor: pointer;
	float: left;
	font-size: 10px;
	margin-top: 5px;
	padding-left: 4px;
	display: inline-block;
}

.blueLinkPad {
	color: #0F76BB;
	cursor: pointer;
	float: left;
	font-size: 10px;
	margin-top: 1px;
	padding-left: 4px;
	display: inline-block;
}

.moreMetaLbl {
	color: #999999;
}

.tagText {
	color: #1076ba;
}

.ratingWidgetPanel{
	float: right;
	/* padding-top: 10px;*/
	padding-right: 5px;
	text-align:center;
}


.tabActive{
	-moz-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	background: rgb(239,239,239);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(247,247,247,1) 32%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(32%,rgba(247,247,247,1)), color-stop(100%,rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(247,247,247,1) 32%,rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 );
}
.tabActive:HOVER{
	background:#EFEFEF;
	cursor:pointer;
	box-shadow: none;
}
.setFont{
	font-size:12px;
	white-space: normal;
}
