.shelfItemContentDiv {
	border: 1px solid #CCCCCC;
	height: 194px;
	margin: -4px 4px 4px;
}

.ErrorShow {
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid blue;
}

.courseMaxMsg{
	display: none;
}

.coursesContainer {
	float: left;
    width: 586px;
    margin-top: 10px;
    margin-left: 10px;
}
.addButtonForFolder
{
	background: -moz-linear-gradient(center top, #4c98cc, #1076bb) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c98cc), to(#1076bb));
	background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
	background: -moz-linear-gradient(top, #4c98cc, #1076bb);
	background-image: -ms-linear-gradient(top, #4c98cc, #1076bb);
	background: -o-linear-gradient(top, #4c98cc, #1076bb);
	background-color: #1076bb;
	float:left;
	margin-left: 10px;
	margin-right: 17px;
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 4px 6px;
	width: 60px;
	color: #fff !important;
	margin-top: 3px;
	cursor: pointer;
}
.contentAlign {
	line-height: 38px;
}

.shelfItemContentInnerDiv {
	margin: 11px auto 0;
    width: 330px;
}

.contentAlignInputs {
	border: 1px solid #CCCCCC;
    height: 20px;
    padding-left: 2px;
    width: 210px;
}

.errorClass {
	color: #FF0000;
}

.courseMoreInfo {
	clear: both;
	color: #4C90BF;
	left: 10px;
	position: relative;
	cursor: pointer;
}

.newColletionOR input {
	border: 1px solid #CCCCCC;
	border-radius: 0 0 0 0;
	margin-top: 10px;
	padding: 3px 14px;
}

.actionField {
	width: 100%;
}

.errorValidation {
	clear: both;
	color: #CC0000;
	float: left;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.validationErrorContainer {
	float: left;
	height: 61px;
	width: 40%;
}

.important {
	font-weight: bold;
}

.collectionThumbnail {
	float: left;
	height: 121px;
	padding: 10px;
	width: 161px;
}

.collectionThumbnails {
	width: 161px;
	height: 121px;
}

.collectionNotify {
	background: none repeat scroll 0 0 #1076BB;
	height: 121px;
	position: absolute;
	width: 8px;
	z-index: 1;
}

.changeImage {
	font-size: 12px;
	position: relative;
	top: -18px;
	background-color: #515151;
	text-align: center;
	color: #FFFFFF;
	height: 15px;
	cursor: pointer;
}

.shelfGradeInfoTitle {
	color: #515151;
	font-size: 16px;
}

.infoContainer {
	padding: 20px;
	float: left;
	width: 96%;
}

.gradeInfoContainer {
	float: left;
	margin-right: 60px;
	width: 100%;
}

.gradeInfoTitleContainer {
	border-bottom: 1px solid #ccc;
}

.shelfGradeInfoBottom {
	color: #0F76BB;
	margin-top: 5px;
}

.shelfGradeInfogardenContainer{
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    opacity: 0.6;
    clear: both;
}
.shelfGradeInfogarden {
	color: #999999;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
}

.shelfGradeInfogarden:hover {
    background: none repeat scroll 0 0 #1076BB;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF !important;
    cursor: pointer;
}

.infoTextBox {
	border: 1px solid #DDDDDD;
	border-radius: 2px 2px 2px 2px;
	color: #515151;
	font-size: 12px;
	height: 28px;
	padding-left: 5px;
	width: 356px;
	float:left;
}

.infoAddButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB) );
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color:#1076BB;
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: #ffffff !important;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 4px 6px;
	margin: 10px;
	width: 60px;
}

.infoAddButton:HOVER {
	background: #1076BB;;
	color: #ffffff !important;
	cursor: pointer;
}

.standardsCont {
	float: left;
}

.gradeListCont {
	color: #999999;
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	margin: 0 auto;
	opacity: 0.6;
	text-align: center;
	width: 250px;
	float: left;
	clear: both;
	margin-left: 40px;
}

.gradeList {
	float: left;
	width: 60px;
}

.standardsListContainer {
	float: left;
	min-height: 150px;
	width: 33%;
}

.shelfCourseList {
	border-bottom: 1px solid;
	color: #CCCCCC;
	float: left;
	font-size: 16px;
	width: 100%;
}

.shelfNameCourse {
	color: #CCCCCC;
	float: left;
	font-size: 16px;
	min-height: 160px;
}

.shelfVocabulary {	
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	color: #515151;
}

.shelfCourseSubject {
	width: 100%;
	float: left;
}

.shelfCourseAdded {
	border-right: 1px solid;
	width: 375px;
	min-height: 150px;
	float: left;
	margin-top: 5px;
}

.subjectBox {
	width: 75px;
	float: left;
}

.floatLeft {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.courseTextBox {
	border: 1px solid #DDD;
    border-radius: 2px 2px 2px 2px;
    color: #515151;
    font-size: 12px;
    height: 28px;
    width: 356px;
    float: left;
}

.courseAddButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB) );
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color:#1076BB;
	float: left;
    margin-left: 17px;
    margin-right: 17px;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 4px 6px;
    width: 60px;
    color: #ffffff !important;
}

.courseAddButton:HOVER {
	background: #1076BB;
	color: #ffffff !important;
	cursor: pointer;
}


.courseMaxMsgShow {
	display: block;
	width: 113px;
    height: 14px;
    float: left;
    color: #CCCCCC !important;
}

.deleteCollection {
	font-size: 12px;
	color: #1076BB;
	margin-right: 5px;
	float: right;
}

.deleteText {
	width: 100%;
	height: 25px;
	float: left;
}

.shelfGradeInfoHigherEd {
	color: #999999;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    width: 140px;
}

.shelfGradeInfoHigherEd:HOVER {
	background: #1076BB;
	color: #ffffff !important;
	cursor: pointer;
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px px;
	-moz-border-radius: 2px 2px 2px 2px;
	-ms-border-radius: 2px 2px 2px 2px;
	-khtml-border-radius: 2px 2px 2px 2px;
	-o-border-radius: 2px 2px 2px 2px;
}

.shelfHigherEd {
	float: left;
	width: 300px;
}

.addedCoursesList {
	min-height: 30px;
	float: left;
	width: 340px;
	clear: both;
	margin-top: -7px;
	margin-left: 11px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 4px;
}

.standardTxtBox {
	float: left;
    margin-top: 5px;
}

.standardAddBtn {
	float: left;
}

.standardMax {
	display: block;
    float: left;
    font-size: 12px;
    margin-top: 5px;
    width: 130px;
    font-style: italic;
}

.standardMaxHide {
	display: none;
}

.floatLeftNeeded {
	float:left;
}

/**************** Collection Collaborator tab*******************/

.collaboratorPanel{
		width: 50%;
		padding: 20px;
		float: left;
		}
	.addCollaborator {
	    float: left;
	    height: 60px;
	    width: 100%;
	}
	.addedCollaborator {
	    height: auto;
	    width: 100%;
	    clear:both;
	}
	.clear {
			clear: both;
			height: 10px;
		}
	.addCollaboratorText {
		   border-bottom: 1px solid #CCCCCC;
		   clear: both;
		   color: #cccccc;
		   font-size: 22px;
		   width: 65%;
	}
	.collaboratorBox {
		border: 1px solid #DDDDDD;
	    float: left;
	    height: 20px;
	    margin-top: 5px;
	    width: 250px;
	}
	.addButton {
		float: left;
	}
	.collabData {
		float: left;
		height: 20px;
	}
	.collabList {
		height: 75px;
	}
	.addco {
		paddding: 0px !important; 
	}
	.addCollabBlueBtn {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB) );
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color:#1076BB;
	border: medium none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 5px 10px;
	padding: 5px 9px;
	cursor: pointer;
}

.addCollabBlueBtn:HOVER {
	background: #1076BB;
	cursor: pointer;
}
.collaboratorPanelRight{
	float: left;
    padding: 20px;
    width: 40%;	
    min-height: 200px;
    border-left: 1px solid #ccc;
}
.collaboratorRecent{
	 color: #CCCCCC;
    font-size: 20px;	
    border-bottom: 1px solid #cccccc;
}
.kinderGartenGrade{
    font-size: 16px;
    margin-left: 90px;
    text-align: center;
    width: 120px;
}
.higherEducationGrade{
	font-size: 16px;
    margin-left: 80px;
    text-align: center;
    width: 140px;
}
/*Folder Information*/
.folderInformationTextContainer
{
	float:left;
	width:100%;
}
.folderInformationText
{
	color: #ccc;
	font-size: 20px;
	color: #515151;
}
.selectAllContentContainer
{
	float:left;
	width:100%;
	margin-bottom:25px;	
}
.selectAllContent
{
	float:left;
	font-family:arial;
	font-size:12px;
	color:#999999;
	font-style:italic;	
}
.gradeInfoLabel{
	font-size: 14px;
margin-top: 92px;
position: relative;
}