@charset "utf-8";
/* CSS Document */
.teachWrapper {
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 12px;
	width: 100%;
	/* min-width: 1110px; */
	min-height: 400px;
	height: auto;
	margin: 0 auto;
	float: left;
}

.myClassPageImage {
	width: 271px;
	height: 36px;
	margin: 0 auto;
	/* margin-bottom: 36px; */
}
.myClassPageCollectionBtnbg

{
width: 145px;
height: 29px;
background: -moz-linear-gradient(center top, #4c98cc, #1076bb) repeat scroll 0 0 transparent;
background: -o-linear-gradient(top, #4c98cc, #1076bb);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c98cc), to(#1076bb));
background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
background: -moz-linear-gradient(top, #4c98cc, #1076bb);
background-image: -ms-linear-gradient(top, #4c98cc, #1076bb);
background: -o-linear-gradient(top, #4c98cc, #1076bb);
background-color: #1076bb;
border: 0 none;
margin-bottom: 10px;
margin: 0 auto;
margin-top: 18px;
border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-ms-border-radius: 4px 4px 4px 4px;
-khtml-border-radius: 4px 4px 4px 4px;
-o-border-radius: 4px 4px 4px 4px;
color: #fff;
cursor: pointer;
}
.myClassPageCollectionBtnbg:hover
{
	cursor: pointer;
	background: #1076bb;
	
}
.myClassPageCollectionPlusIcon

{
background:url(images/NewResourcePopup/plus.fw.png) no-repeat;
width: 12px;
height: 12px;
float: left;
margin-left: 9px;
margin-top: 7px;
}

.myClassPageCollectionAddTitle

{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 120%;
font-weight: bold;
color: rgb(255,255,255);
text-align: center;
padding: 6px 0px 0px 7px;
float: left;
}


.myClassPageImageText {
	text-align: center;
	padding: 5px;
}

.myClassPageImageTitle {
	margin-top: 64px;
}

.myClassPageInnerWrapper {
	width: 779px;
	height: 450px;
	margin: 0 auto;
	margin-top: 99px;
}

.myClassPageInnerWrapperMain {
	width: 770px;
	height: 300px;
	margin: 0 auto;
	margin-top: 99px;
}

.myClassPageInnerWrapperMainTwo {
	width: 770px;
	height: 310px;
	margin: 0 auto;
	
	background-color: #FFF;
	moz-box-shadow: 2px 2px 4px #d1d0d0;
	-webkit-box-shadow: 2px 2px 4px #d1d0d0;
	box-shadow: 2px 2px 4px #d1d0d0;
	border-radius: 4px;
}

.myClassPageNewAddedWrapper {
	width: 770px;
	height: 115px;
	margin: 0 auto;
	margin-top: 124px;
	background-color: #FFF;
	moz-box-shadow: 2px 2px 4px #d1d0d0;
	-webkit-box-shadow: 2px 2px 4px #d1d0d0;
	box-shadow: 2px 2px 4px #d1d0d0;
	border-radius: 4px;
}

.myClassPageContentContainer {
	width: 779px;
	height: 239px;
	float: left;
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: -3px 3px 25px #CCC;
}

.myClassPageInnerContentContainer {
	width: 737px;
	height: 203px;
	margin-top: 16px;
	float: left;
	margin-left: 15px;
}

.myClassPageWelcomeText {
	float: left;
	margin-bottom: 17px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
}

.myClassPageWelcomeDescribtion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.myClassPageGetStarted {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #515151;
	margin: 20px 0px 10px 0px;
	width: 100%;
}

.myClassPageClickingTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-bottom: 10px;
}
.myClassPageCreateClasspageContainer {
	float: left;
	width: 160px;
	height: 190px;
	background-color: #FFF;
	border-radius: 4px;
	margin-top: 36px;
	box-shadow: -3px 3px 25px #CCC;
	cursor: pointer;
}

.myClassPageCreatePlusIcon {
	float: left;
	margin: 43px 0px 20px 56px;
	width: 49px;
	height: 49px;
	background: url(../images/Classpage/create-a-classpage-icon.png);
	/* Missing */
}

.myClassPageCreateClasspageText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #515151;
	float: left;
	margin-left: 32px;
	width: 94px;
	text-align: center;
	margin-top: 70px;
}

.mainClassPageTextTitle {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin-top: 50px;
	color: rgba(200,200,200, 0.8);
	text-shadow: 1px 2px 2px #EEE, 0 0 0 #000, 1px 2px 2px #EEE;
}

.mainClasspageMainCreateNewClasspage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1076bb;
	text-align: center;
	cursor: pointer;
	width: 11%;
	margin: 0px auto;
	margin-top:20px; /* Dont remove this.*/
}

.mainClasspageMainCreateNewClasspage:hover {
	color:#87BADD;
}

.noClasspages {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-style: italic;
	color: rgb(81, 81, 81);
	text-align: center;
	width: 100%;
	top: 100px;
	position: relative;
	float:left;
}

.myClassPageListWrapper {
	/* margin-top: 124px; */
}


.startNewClasspage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:120%;
	color:rgb(153,153,153);
	float: left;
	
	width: 378px;
	float: left;
	text-align: right;
	margin-right: 23px;
}

.startClasspageContainer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: #999;
	/*float: left;*/
	/*margin: 30px 0 0 88px;*/
	/*width: 467px;*/
	position: absolute;
	top: 0px;
	float: left;
	left: 30px;
}

.arrowImage{
	padding-top: 0px;
	float: left;
	margin-top: -5px;
}

.noClasspageMsgContainer{
	
}


.container{
	/* position: relative; */
	/*width: 100%;*/
	/*margin: 0px auto;*/
	/* position: relative; */
	height: 50px;
}
.loadingImageForClasspage{
		background: url("images/core/B-Dot.gif");
		width: 200px;
		height: 175px;
		margin: 0 auto;
				
}
.classPageScrollPanel {
	height: 450px;
	overflow-x: hidden !important;
	overflow-y: visible !important;
	width: 68%;
	margin: 0 auto;
	margin-top:-16px;
	
}


/* Classpage No Classpage Support */
/* .classpageDesc {
	font-family: Arial, Helvetica, sans-serif;
	width: 196px;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: center;
	padding-bottom: 15px;
	padding-top: 20px;
}

.classpageCreateDesc {
	font-family: Arial, Helvetica, sans-serif;
	width: 180px;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: center;
	padding-bottom: 15px;
	padding-top: 20px;
} */

.classpageShareDesc, .classpageDesc, .classpageCreateDesc {
	font-family: Arial, Helvetica, sans-serif;
	width: 204px;
	font-size: 12px;
	color: rgb(81,81,81);
	text-align: center;
	padding-bottom: 15px;
	padding-top: 20px;
}


.firstDiv, .secondDiv, .thirdDiv{
	float: left;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
.imageCss{
	float:left;
}

.classpageTitleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #1076bb;
	padding-top: 6px;
	padding-left: 45px;
	text-align:left;
}

.classpageResourceThumbnail {
	/* background-color: rgb(153,153,153); */
	width: 185px;
	height: 143px;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:center;
}

.classpageText {
	width: 100%;
	text-align: center;
	padding-top: 25px;
	font-size: 24px;
	color: #1076bb;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.classpageTextOptions {
	margin: 0px auto;
	width: 763px;
	text-align: center;
	padding-top: 25px;
	min-height: 197px;
	color: #1076bb;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.classpageTextSupport {
	clear: both;
	padding-top: 25px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	clear: both;
	margin: 0px auto;
	text-align: center;
}
.classpageContainer {
	margin: 0px auto;
	width: 65%;
	height: 428px;
	border-top: 1px solid #999;
	/*border-bottom: 1px solid #999;*/
}
.classpageFooterTextContainer
{
	width: 100%;
	float: left;
	border-top: 1px solid #999;
	height: 20px;
	padding-top:9px;
}
.classpageBottomBlueText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #1076bb;
	padding: 40px 0px 0px 3px;
	font-style: normal;
	text-decoration: none;
}
.classpageBottomText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #515151;
	text-align: center;
	padding: 40px 0px 0px 260px;
	font-style: normal;
}
.classpageBottomBlueText:hover {
	cursor: pointer;
	color: #87BADD;
}

.imgTextContainer{
	margin: 0px auto;
	text-align: center;
	padding-left: 35px;
}

.imgTextContainerCustomize {
	margin: 0px auto;
	text-align: center;
	/* padding-left: 18px; */
}

.supportLink{
	text-decoration: none !important;
	color: #1076bb;
	cursor: pointer;
}
.supportLink:hover{
	color: #87BADD;
}


.teachNoClasspageDesc{
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;	
}

.classpageImg{
	margin-top: 33%;
}
.shareImg{
	margin-top: 25%;
}



.addClasspage{
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #e7e7e7;
	display: inline-block;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #1076BB;
	cursor: pointer;
	padding: 8px 15px 8px 28px;

	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, #1076BB;
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#4C98CC), to(#1076BB));
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, -o-linear-gradient(top, #4C98CC, #1076BB);
}

.addClasspage:hover{
	background: url("images/NewResourcePopup/plus.fw.png") 11px 11px no-repeat, #1076BB;
	cursor: pointer;
}