/* Classpage List Vc CSS*/
.classpageListContainer{
	background-color: white;
	width: 204px !important;
	height: auto;
	max-height: 265px !important;
	border: 1px solid #999999;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.htmlPanelNoClasspageContainer{
	height: auto;
	padding: 10px; 
	text-align: left;
}

.htmlPanelContentContainer{
	max-height: 194px;
	height: auto;
	/* overflow-y: auto; */
	/* padding: 10px; */
	text-align: center;
	clear: both;
}
.newClasspageLink{
	text-align: left;
	float: left;
	text-decoration: none !important;
	padding: 9px 5px 8px 32px !important;
	color: #515151;
	font-size: 12px;
	cursor: pointer;
	width: 82%;
	background: url(images/Classpage/plus.png) 14px 9px no-repeat;
}

.newClasspageLink:hover{
	background-color: #cfe3f1 !important;
	color: #515151;
	opacity: 1;
}
.classpageListTitle{
	float: left;
	text-decoration: none;
	padding: 10px 10px 10px 16px;
	color: rgb(81,81,81);
	font-size: 12px;
}

.classpageBottomLine{
	/* margin-left: 17px; */
	background-color:#CCC;
	width: 100%;
	height:1px;
	float: left;
}

.loadingText{
	font-style: italic;
	color: rgb(153, 153, 153);
	text-align: center;
}

.htmlPanelClasspageList{
	text-align: left;
	width: 204px !important;
	height: auto;
	max-height: 205px !important;
	/* min-height: 194px; */
}

.scrollPanelClasspageList{
	text-align: left;
	width: 204px;
	height: auto;
	max-height: 194px !important;
	/* min-height: 194px; */
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.plus{
	font-weight: bold;
    font-size: 18px !important;
    vertical-align: middle;
    padding-right: 3px;
}

.plusImg{
	background: url('images/Classpage/plus.png') no-repeat;
}

.gooruGuide{
	text-decoration: none;
	color: #1076bb;
	cursor: pointer;
}

.gooruGuide:hover{
	text-decoration: none;
	color: #87BADD;
	cursor: pointer;
}

.noClasspageYet{
	margin-bottom: 20px;	
}

.classpageLoadingOnPagination {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	padding: 5px 5px 5px 15px;
	font-style: italic;
}

.classpageTitleHeader {
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 184px;
}
.classpageTitleHeaderActive {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(81,81,81);
	padding: 5px 5px 5px 15px;
	font-size:12px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 95%;
}
.classpageTitleHeader:hover,.classpageTitleStudyHeader:hover, .classpageTitleHeaderActive:hover {
 	background-color: #CFE3F1;
	cursor: pointer;
}
.classpageTitleStudyHeader {
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.inputContainer{
	padding: 8px;
	padding-top:12px;
}

.tooltipContentTitle {
	padding-bottom: 10px;
}

.classCodeTxtBox {
	width: 118px;
	border: 1px #E3E3E3 solid !important;
	background-color: #FFF !important;
	font-size: 12px !important;
	outline: 0;
	display: inline-block;
	padding: 6px;
	font-family: Tahoma, sans-serif !important;
	text-transform: uppercase;
	height: 17px;
}