@charset "utf-8";
/* CSS Document */
.collectionPlayerAddResourcesContainer {
	width: 100%;
	height: 120px;
	margin:0 auto;
	background-color: #515151;
/* 	margin-left: 42px; */
	overflow:hidden;
	/* padding-top:50px; */
	/* margin-top:10px;
	margin-bottom:10px; */
}

.collectionPlayerAddResourcesContent {
	width: 100%;
	height: 30px;
}

.collectionPlayerAddResourcesIconContainer {
	margin: 0 auto;
	height: 30px;
	text-align:center;
}

.collectionPlayerAddResourcesIconHolder {
	float: left;
	width: 80px;
	height: 60px;
}

.collectionPlayerAddResourcesIcon {
	float: left;
	margin-top: 6px;
	width: 80px;
	height: 60px;
	position:relative;
}

.collectionPlayerAddResourcesSmallIcon {
	position: absolute;
	margin-top: 39px;
	margin-left: -54px;
}

.collectionPlayerAddResourcesText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 10px;
	/* float: left; */
}

.collectionPlayerAddResourcesCollectionInstead {
	float: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #6c889A;
	margin-right: 127px;
	margin-top: 10px;
	cursor: pointer;
}
.collectionPlayerAddResourcesCollectionInstead:hover{
	opacity: 0.6;
}

.collectionPlayerExistingCollectionContainer {
/* 	width: 960px; */
/* 	height: 85px;
	background-color: #FFF;
 */	margin: 0 auto;

}
.collectionPlayerExistingCollectionContainerAdd {
	width: 960px;
	height: 85px;
	background-color: #F0F0F0;
	margin: 0 auto;

}

.collectionPlayerExistingCollectionContent {
	/* width: 960px;
	margin-left: 266px; */
	min-height: 36px;
	height: auto;
	padding: 3px 0px 0 0px;
	text-align:center;
	width:315px;
	margin:0 auto;
}

.collectionPlayerExistingCollectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	float: left;
	margin-top: 6px;
}

.collectionPlayerExistingCollectionInputContainer {
	float: left;
	display: inline-block;
	margin-left: 10px;
    position:absolute;
	/* width: 312px; */
}

.collectionPlayerExistingCollectionInput {
	width: 324px;
	height: 24px;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	border: 1px solid #CCC;
}

.collectionPlayerExistingAddButton {
	float: right;
	min-width: 60px;
	display: inline-block;
}
.collectionPlayerExistingAddButtonText:hover{
	background: #1076BB;
}

.collectionPlayerExistingAddButtonText {
	font-size: 12px;
	position: relative;
	text-align: center;
	background-color: #1076BB;
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	padding: 8px 9px;
	display: inline-block;
	margin-left: 255px;
	margin-top: -1px;
}

.collectionPlayerNewColletionText {
	/* width: 150px; */
	height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	margin-right: 148px;
	cursor: pointer;
	text-align:center;
}

/* info css */
 @charset "utf-8";
/* CSS Document */
.collectionxPlayerResourcesWrapper {
	width: 940px;
	height: 802px;
	background-color: #f0f0f0;
	float: left;
}

.collectionxPlayerResourcesLeftSection {
	width: 374px;
	min-height: 780px;
	height: auto;
	margin-top: 22px;
	margin-left: 19px;
	float: left;
	border-right: 1px dashed #aaaaaa;
}

.collectionxPlayerResourcesRightSection {
	width: 506px;
	min-height: 760px;
	height: auto;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}

.collectionxPlayerIntractiveIcon {
	width: 27px;
	height: 20px;
	float: left;
}

.collectionxPlayerChapterName {
	float: left;
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 2px;
}

.collectionxPlayerBullet {
	width: 5px;
	height: 5px;
	float: left;
	background-color: #4e9746;
	margin-left: 7px;
	margin-top: 7px;
}

.collectionxPlayerBulletTwo {
	width: 5px;
	height: 5px;
	float: left;
	background-color: #4e9746;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 7px;
}

.collectionxPlayerLessionName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	float: left;
	margin-left: 7px;
	margin-top: 2px;
}

.collecionxplayerLessionDescribtion {
	width: 100%;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	margin-top: 10px;
}

.collectionxPlayerMoreInformation {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	font-weight: bold;
	margin-top: 17px;
}

.collectionxPlayerResourcesTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	font-weight: bold;
}

.collectionxPlayerResourcesChapterTitles {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	font-weight: bold;
	width: 280px;
	margin-left: 10px;
}

.collectionxPlayerMoreInformationLeftContainer {
	width: 194px;
	float: left;
	clear: both;
}

.collectionxPlayerMoreInforamtionLeftContent {
	width: 194px;
	min-height: 100px;
	float: left;
}

.collectionxPlayerMoreInformationOneSetInfo {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.collectionxPlayerMoreInfoHomeIcon {
	float: left;
	width: 23px;
	height: 21px;
	margin-right: 17px;
}

.collectionxPlayerMoreInforamtionText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.collectionxPlayerMoreInforamtionTextBlue {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076b9;
	width: 130px;
}

.collectionxPlayerMoreInformationRightContainer {
	width: 174px;
	float: left;
}

.collectionxPlayerMoreInformationRightOneSetInfo {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.collectionxPlayerMoreInformationViewIcon {
	float: left;
	width: 23px;
	height: 21px;
	margin-right: 17px;
}

.collectionxPlayerMoreInformationLikesIcon {
	float: left;
	width: 23px;
	height: 21px;
	margin-right: 17px;
}

.collectioinxPlayerMoreInformationShareIcon {
	float: left;
	width: 23px;
	height: 21px;
	margin-right: 17px;
}

.collectioinxPlayerMoreInformationStudyIcon {
	float: left;
	width: 22px;
	height: 18px;
	margin-right: 17px;
}

.collectioinxPlayerMoreInformationMeachineIcon {
	float: left;
	width: 22px;
	height: 18px;
	margin-right: 17px;
}

.collectioinxPlayerMoreInformationStandardsIcon {
	float: left;
	width: 57px;
	height: 20px;
	margin-right: 10px;
}

.collectioinxPlayerMoreInformationEorIcon {
	width: 57px;
	height: 20px;
	float: left;
}

.collectionxPlayerMoreInforamtionTimeIcon {
	float: left;
	width: 23px;
	height: 21px;
	margin-right: 17px;
}

.collectionxPlayerChapterBgIcon {
	width: 120px;
	float: left;
	height: 90px;
	background-image: url(../images/chapter-icon.png);
}

.collectionxPlayerChapterBlueBar {
	width: 8px;
	height: 90px;
	float: left;
	background-image: url(../images/chapter-icon-blue-bar.png);
}

.collectionxPlayerResourecesContainer {
	width: 417px;
	height: 90px;
	float: left;
	margin-top: 20px;
}

.collectionxPlayerResourcesAuthorName {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	width: 240px;
	margin-left: 10px;
	color: #999999;
	margin-top: 5px;
}

.collectionxPlayerResourceDetails {
	width: 270px;
	margin-left: 10px;
	float: left;
	margin-top: 5px;
}

.collectionxPlayerDetailsResourceTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	margin-right: 5px;
}

.collectionxPlayerDetailsResourceView {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	margin-right: 5px;
}

.left {
	float: left;
}

.collectionxPlayerResouresSmallNumberImage {
	float: left;
	margin-top: 4px;
	margin-right: 5px;
}

.collectionxPlayerResouresCount {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4f9747;
	float: left;
}

/* New Popup css */
.popupNewCollection {
	width: 212px;
	margin-left: 51px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}

.popupBirthday {
	width: 212px;
	margin-left: 21px;
}

.leftAndWidth {
	float: left;
	width: 43px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.popupNewCollectionDownArrow {
	position: absolute;
	margin-top: -16px;
	margin-left: 292px;
	cursor: pointer;
}

.popupEmail {
	width: 212px;
	margin-left: 32px;
}

.popupNewCollectionUserInput {
	width: 448px;
	float: left;
	margin: 22px 0px 0px 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.popupNewCollectionUserInputTwo {
	width: 448px;
	float: left;
	margin: 12px 0px 0px 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
}

.popupNewCollectionWrapper {
	width: 460px;
	height: 225px;
	margin: 0 auto;
	border: 1px solid #dddddd;
	background-color: #FFF;
}

.popupRegisterWrapper {
	width: 505px;
	height: 261px;
	margin: 0 auto;
	border: 1px solid #dddddd;
	background-color: #FFF;
}

.popupNewCollectionContainer {
	width: 452px;
	height: 217px;
	margin: 3px;
	border: 1px solid #dddddd;
	background-color: #FFF;
}

.popupRegisterContainer {
	width: 497px;
	height: 252px;
	margin: 3px;
	border: 1px solid #dddddd;
	background-color: #FFF;
}

.popupNewCollectionHeader {
	width: 452px;
	height: 34px;
	float: left;
	background-color: #515151;
}

.popupNewCollectionHeaderTitle {
	float: left;
	font: 19px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 9px 0px 0px 10px;
	color: #FFF;
}

.popupNewCollectionDescribtion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	width: 448px;
	margin: 16px 0px 0px 16px;
}

.popupNewCollectionButtonContainer {
	width: 125px;
	margin: 0 auto;
}

.popupNewCollectionSendButton {
	float: left;
	width: 61px;
	height: 33px;
	cursor: pointer;
	margin-top: 30px;
}

.popNewCollectionOkButton {
	float: left;
	cursor: pointer;
	margin-top: 20px;
	width: 42px;
	height: 31px;
}

.popupNewCollectionQuestionMark {
	float: right;
	color: #1076bb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: 120px;
	margin-top: 3px;
}

.popupNewCollectionSendButton {
	float: left;
	width: 50px;
	height: 33px;
	cursor: pointer;
	margin-top: 30px;
}

.popupNewCollectionCancelButton {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1076bb;
	margin: 26px 0px 0px 17px;
	cursor: pointer;
}

/* SUMMARY.CSS */
 @charset "utf-8";
/* CSS Document */
.collectionXPlayerSegmentWrapper {
	width: 1150px;
	min-height: 500px;
	height: auto;
	margin: 0 auto;
}

.collectionXPlayerSegmentHeader {
	width: 1150px;
	height: 57px;
	float: left;
	background-color: #515151;
}

.collectionXPlayerSegmentHeaderTitle {
	float: left;
	font-size: 24px;
	color: #FFF;
	width: 801px;
	margin: 17px 0px 0px 26px;
}

.collectionxPlayerSummaryBottomDescription {
	float: left;
	margin-left: 130px;
	font-size: 12px;
	font-family: arial;
	color: #FFF;
	margin-top: -13px;
}

body {
	background: #000000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.collectionxPlayerSummaryWrapper {
	width: 940px;
	margin: 0 auto;
	min-height: 886px;
	height: auto;
	background-color: #111111;
}

.collectionxPlayerSummaryTitle {
	width: 402px;
	margin: 0 auto;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
}

.collectionxPlayerSummaryTitleText {
	float: left;
	margin-top: 40px;
}

.collectionxPlayerRefreshContainer {
	width: 40px;
	height: 44px;
	margin: 0 auto;
	margin-top: 20px;
}

.collectionxPlayerRefreshImage {
	float: left;
	width: 27px;
	height: 27px;
	cursor: pointer;
}

.collectionxPlayerRefreshText {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	font-size: 12px;
	cursor: pointer;
}

.collectionxPlayerSummaryQuestionTitle {
	float: left;
	width: 93%;
	margin-left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #1076bb;
	margin-top: 40px;
}

.collectionxPlayerSummaryAnswerCorrectlyContainer {
	float: left;
	width: 93%;
	height: 43px;
	margin-left: 40px;
	margin-top: 18px;
}

.collectionxPlayerSummaryAnswerCorrectlyText {
	font-size: 12px;
	float: left;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}

.collectionxPlayerSummaryAnswerCorrectlyBoxContainer {
	float: left;
	clear: both;
	margin-top: 3px;
}

.collectionxPlayerSummaryAnswerCorrectlyBoxGray {
	width: 400px;
	height: 22px;
	float: left;
	background-color: #999999;
}

.collectionxPlayerSummaryAnserCorrectlyBoxGreen {
	float: left;
	background-color: #4e9746;
	height: 22px;
	width: 202px;
}

.collectionxPlayerSummaryQuestionContainer {
	float: left;
	margin-top: 40px;
	width: 861px;
	height: 134px;
	margin-left: 40px;
}

.collectionxPlayerSummaryQuestionImage {
	float: left;
	width: 80px;
	height: 60px;
}

.collectionxPlayerSummaryQuestionAndAnswerContainer {
	width: 766px;
	height: 130px;
	float: left;
	margin-left: 15px;
}

.collectionxPlayerSummaryQuestionAndAnswerWrongImage {
	float: left;
	width: 12px;
	height: 15px;
	margin-right: 7px;
	margin-left: -18px;
}

.collectionxPlayerSummaryQuestionAndAnswerRigntImage {
	float: left;
	width: 15px;
	height: 16px;
	margin-right: 7px;
	margin-left: -22px;
}

.collectionxPlayerSummaryQuestionAndAnswerQuestion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-left: 18px;
}

.collectionxPlayerSummaryQuestionAndAnswerOptionOneContainer {
	float: left;
	width: 700px;
	clear: both;
	margin-top: 7px;
	margin-left: 18px;
}

.collectionxPlayerSummaryQuestionAndAnswerOrder {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	margin-right: 15px;
}

.collectionxPlayerSummaryQuestionAndAnswerOptions {
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
}

.collectionxPlayerSummaryQuestionAndAnswerOptionContainer {
	float: left;
	width: 700px;
	clear: both;
	margin-left: 18px;
}

.collectionxPlayerSummaryQuestionAndAnswerDescribtion {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076bb;
	margin-top: 8px;
}

.collectionxPlayerSummaryStudyMoreContainer {
	width: 90%;
	min-height: 90px;
	height: auto;
	float: left;
	margin-top: 20px;
}

.collectionxPlayerSummaryAuthorName {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	width: 80%;
	margin-left: 10px;
	color: #FFF;
	margin-top: 5px;
}

.collectionxPlayerSummaryPartDetails {
	width: 270px;
	margin-left: 10px;
	float: left;
	margin-top: 5px;
	color: #FFF;
}

.collectionxPlayerChapterBgIcon2 {
	width: 120px;
	float: left;
	height: 90px;
	background-image: url(../images-2/chapter-icon.png);
}

.collectionxPlayerChapterBlueBar2 {
	width: 8px;
	height: 90px;
	float: left;
	background-image: url(../images-2/chapter-icon-blue-bar.png);
}

.collectionxPlayerDetailsSummaryTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: 5px;
}

.collectionxPlayerBulletTwo {
	width: 5px;
	height: 5px;
	float: left;
	background-color: #4e9746;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 7px;
}

.collectionxPlayerDetailsSummaryView {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: 5px;
}

.collectionxPlayerBulletTwo {
	width: 5px;
	height: 5px;
	float: left;
	background-color: #4e9746;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 7px;
}

.left {
	float: left;
}

.collectionxPlayerResouresSmallNumberImage {
	float: left;
	margin-top: 4px;
	margin-right: 5px;
}

.collectionxPlayerResouresCount {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4f9747;
	float: left;
}

.collectionxPlayerSummaryStudyMoreChapterTitles {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076bb;
	width: 80%;
	font-weight: bold;
	margin-left: 10px;
}

.collectionAddingStyles {
	font-style: italic;
	margin-left: 33px;
}

.resourceAdditionErrorStyle {
	font-style: italic;
	margin-left: 12px;
	font-style: italic;
	color: #FBB03B;
	display: none;
	font-size: 11px;
}

.collectionAddedToShelf {
	float: left;
	margin-left: -335px;
	margin-top: 10px;
	font-size: 12px;
	color: green;
	width: 314px !important;
}

.collectionAddedToShelfText {
	font-size: 12px;
	color: green;
	display: none;
	margin-top:25px;
}
.dropdownListPlaceHolder{
	background-color: white;
	color: #999;
	padding: 5px 25px 5px 5px;
	border-bottom: 1px solid #DDD;
	background: white url("../_images/dropdown-menu-arrow.png") no-repeat right center;
	border: 1px solid #DDD;
	cursor: pointer;
	display: block;
	width: 240px;	
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif, Calibri;
}
.dropdownListContainer{
	list-style-type: none;
	padding:0;
	margin:0;
	z-index:9999;
	background-color: #F9F9F9;
}
.dropdownListContainerScrollPanel{
	border: 1px solid #DDD;
	list-style-type: none;
	padding:0;
	margin:0;
	z-index:9999;
	max-height:86px;
	background-color: #f9f9f9;
	width: 242px;
}

.dropdownListItemContainer{
	padding: 5px;
	background: white;
	margin: 0px;
	font-family: Arial, sans-serif;
	color: #515151;
	font-size: 12px;
}

.dropdownListItemContainer:hover{
	background-color: #CFE3F1;
	cursor: pointer;
}
/*Scroll bar style for default scrolls*/
.dropdownListContainerScrollPanel::-webkit-scrollbar {
	width: 8px;
} /* this targets the default scrollbar (compulsory) */
.dropdownListContainerScrollPanel::-webkit-scrollbar-track {
	background-color: white;
	width: 15px;
}
/* the new scrollbar will have a flat appearance with the set background color */
.dropdownListContainerScrollPanel::-webkit-scrollbar-thumb { /*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: rgba(0, 0, 0, 0.2);
	width: 15px;
} /* this will style the thumb, ignoring the track */
.dropdownListContainerScrollPanel::-webkit-scrollbar-button {
	background-color: #DDDDDD;
	width: 0px;
	height: 0px;
}
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.dropdownListContainerScrollPanel::-webkit-scrollbar-corner {
	background-color: red;
}
.addingLabelText{
	margin-left: 343px;
	margin-top: 5px;
	color: white;
	display: none;
}
.resourceTypeSmallImage{
	position: absolute;
	margin-top: 73px;
	z-index:99;
}
.errorLabelText{
	margin-left: 782px;
	float: left;
	margin-top: -12px;
	font-style: italic;
	color: #FBB03B;
    font-size: 12px;
	
}

.successMessageContainer{
	margin: 0 auto;
/* 	width: 960px; */
}
.successMessageLabelText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: #FFF;
	text-align: center;
	padding-bottom: 7px;
	padding-top: 5px;
}
.workSpaceLinkContainer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #1076BA;
	text-align: center;
	margin-top: 12px;
	height: 45px;
}
.workSpaceLinkText{
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #6c889A;
}
.workSpaceLinkText:hover{
	/* color: #4C98CC; */
	opacity:0.6;
	text-decoration: none;
}
.addCollectionInsteadLabelContainer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #1076BA;
	text-align: center;
}
.horizontalLineStyle{
	width: 70%;
	margin: 0 auto;
	background-color: transparent;
	border-bottom: 1px solid #DDD;
}
.addCollectionInsteadLabelText{
	float: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #1076BB;
	cursor: pointer;
	margin-right: 138px;
	margin-top: -15px;
}
.addCollectionInsteadLabelText:hover{
	color: #4C98CC;
}
.addCollectionContainer{
/* 	width:960px; */
	margin:0 auto;
}

.addButtonHideLbl {
	float: right;
	padding-right: 20px;
	font-size: 12px;
	color: #1076bb;
	padding-top: 2px;
	cursor: pointer;
}

.addButtonHideLbl:hover {
	color: #87badd;	
}

.dropdownListPlaceHolder{
	background:url("images/dropdownMenuArrow.png") no-repeat;
	background-color: white;
	background-position: right center;
	text-align:left;
	color: #999;
	padding: 5px 25px 5px 5px;
	border-bottom: 1px solid #DDD;
	border: 1px solid #DDD;
	cursor: pointer;
	display: block;
	width: 240px;
	height: auto;	
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif, Calibri;
}
.resource-info-bottomImageContainer{
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	padding-bottom:5px;
	width: 45px;
	margin: 0 auto;
}
.resource-info-hideImage{
	display: inline-block;
	background-image: url("images/hide_arrow.png");
	width: 10px;
	color: #fff;
	height:6px;
}
.resource-info-hideText{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	margin-left: 4px;
}
.addNewLabel{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6c889A;
}
.addNewLabel:hover{
	cursor: pointer;
	opactity:0.6;
}
.resource-info-bottomImageContainer{
	text-align: center;
	padding-top: 7px;
	cursor: pointer;
	width: 45px;
	margin: 0 auto;
}
.resource-info-hideImage{
	display: inline-block;
	background-image: url("images/hide_arrow.png");
	width: 10px;
	color: #fff;
	height:6px;
}
.resource-info-hideText{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	margin-left: 4px;
}
