body {
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	font-size: 12px;
}
.UrlPopUp {
	background: none repeat scroll 0 0 #FFF;
	clip: inherit !important;
	overflow: visible !important;
	position: absolute !important;
	width: 521px;
	z-index: 998;
}
.shelfItemPopUpOuterDiv {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background: -moz-linear-gradient(top, #666, #515151);
	background: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	color: #FFF;
	margin: 4px;
	padding: 10px 15px;
}
.shelfItemHeaderText {
	font-size: 16px;
	color: #FFF;
}
.shelfItemHeaderText {
	font-size: 16px;
	color: #FFF;
}
.shelfItemContentDiv {
	border: 1px solid #CCC;
	min-height: 550px;
	height: auto;
	margin: -4px 4px 4px;
}
.shelfItemContentInnerDiv {
}
.dontWorrkText {
	word-wrap: break-word;
	line-height: 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(81,81,81);
	padding-top: 20px;
	padding-bottom: 20px;
}
/* .gwt-Label {
	text-align: right;
	width: 150px;
	padding-right: 10px;
} */
.contentDesc {
	font-size: 12px;
	line-height: 120%;
	color: rgb(81,81,81);
	text-align: center;
	padding: 20px;
}
.contentAlign {
	float: left;
	line-height: 38px;
}
.newColletionOR {
	width: 270px;
	border: 1px solid #CCC;
	border-radius: 0 0 0 0;
	padding: 5px 14px;
}
.textBoxWithPlaceholderText {
	color: #515151;
	width: 285px;
	height:25px;
	border-radius:0px;
	border: 1px solid #DDD;
	font-size: 12px;
	padding-left: 12px;
}
.textBoxWithPlaceholder {
	border: 1px solid #DDD;
	height: 18px;
	display: block;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 3px;
	width: 235px;
	padding: 5px;
	text-align: left;
}
.mandatoryLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30%;
	color: #FAB03A;
	text-align: right;
	position: relative;
}
.errorClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FAB03A;
	text-align: right;
	padding: 0 0 0 0;
	margin-right: 44px;
	float: right;
}
.contentAlignInputs {
	border: 1px solid #CCC;
	padding-left: 2px;
	width: 300px;
	padding: 5px 14px;
}
select {
	background: #FFF;
}
.sourceToolTip {
	position: absolute;
	width: 212px;
	left: 129px;
	margin-top: 19px;
	height: 200px !important;
}
.actionField {
	padding-left: 90px;
}
.showShareInnerDiv {
	display: block;
}
.radioButtonPanel {
	float: left;
}
.publicImage {
	background: url(images/icon-sprite.png) repeat scroll -63px -390px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	width: 27px;
	margin-top: 5px;
}
.publicText {
	line-height: 10px;
	padding: 6px 0px 0 55px;
	margin-top: 6px;
}
.visibilityText {
	word-wrap: break-word;
	line-height: 15px;
	color: #999;
	padding-left: 55px;
	padding-bottom: 15px;
}
.linkImage {
	background: url(images/icon-sprite.png) repeat scroll -61px -261px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	width: 38px;
	margin-top: 9px;
}
.privateImage {
	background: url(images/icon-sprite.png) repeat scroll -61px -209px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	float: left;
	height: 24px;
	width: 27px;
}
.clearStyle {
	clear: both;
}
.validationErrorContainer {
	float: left;
	height: 61px;
	width: 40%;
}
.errorValidation {
	clear: both;
	color: #C00;
	float: left;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.formViewButtonContainer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
.overRideBlueButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB) );
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	clear: both;
	color: #FFF;
	cursor: pointer;
	padding: 7px 9px;
}
.collectionFormCancelButton {
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #DDD;
}
.visibilitySection {
	float: left;
	width: 353px;
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.visibilityMainTitle {
	float: left;
	padding-right: 5px;
	text-align: right;
}
button.secondary {
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #EFEFEF;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFDFD), to(#DDD));
	background: -webkit-linear-gradient(top, #FDFDFD, #DDD);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #DDD;
}
.formContainer
{
	margin:10px 0px;
}
.formContainerLabel
{
	float:left;
	width:140px;
	padding-right: 10px;
	text-align: right;
	padding-top: 6px;
}

.formContainerinput
{
	padding-left:10px;
}

.mandatoryLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 100%;
	color: rgb(250, 176, 58);
	text-align: right;
	position: relative;
	margin-right: 41px;
	
}
.dropMenu:hover{
	background-color: #cfe3f1;
color: #515151;
cursor: pointer;
}
.dropMenu{
	padding: 5px;
}
.dropContainer{
	width:100%;
	margin-top: 6%;
position: relative;
margin-left: 2%;
}
.dropOverContainer{
		width:15%;
		float:left;
				height:450px;
		overflow:auto;
		border: 1px solid #ccc;
}
.dropOverContainerLastlevel{
	width:40%;
		float:left;
		height:450px;
		overflow:auto;
		border: 1px solid #ccc;
}
.dropOverContainerSecondlevel{
	width:25%;
		float:left;
				height:450px;
		overflow:auto;
		border: 1px solid #ccc;
}
.btnStandardsStyle{
	float:left;
	margin:5px 5px;
}
.btnStandardsContainer{
	margin-left: 1.5%;
margin-top: 1%;
}
.gwtGlassPanel{
	z-index:99999;
	background-color:#000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.addBtnStyle{
	float:right;
}
.addBtnOuterContainer{
	width:100%;
	float:right;
	margin-right:20px;
}
.dropMenuSelected{
	background-color: #cfe3f1;
	color: #515151;
}
.listText{
	display:inline-block;
	vertical-align:top;
	width:184px;
}