* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/landing-page/gray_noise_25.png");
	font-family: Arial, sans-serif;
	color:#515151;
	font-size:12px;
}

a {
	text-decoration:none;
	color:#1076BB;
}

a:hover {
	color:#87BADD;
}

.gooru-button {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 7px 9px;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	
}

.gooru-button:hover {
	cursor:pointer;
	background: #1076BB;
	
}


.userTitle {
	font-size:16px;
	margin-bottom:20px;
}



.tabsLiActive {
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	-moz-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	box-shadow: inset 0 5px 16px 0px rgba(0,0,0,.1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#F5F5F5));
	background: -webkit-linear-gradient(top, #DDD, #F5F5F5);
	background: -moz-linear-gradient(top, #DDD, #F5F5F5);
	background: -ms-linear-gradient(top, #DDD, #F5F5F5);
	background: -o-linear-gradient(top, #DDD, #F5F5F5);
	
}

.tabsLi, .tabsLiDeactivated {
	height: 35px;
	display:inline-block;
	padding:10px 20px;
	cursor: pointer;
	background: rgb(239,239,239); /* Old browsers */
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	
	
	
}

.tabsLi:hover {
	background-color:#efefef;
	cursor: pointer;	
}



.folderBlock {
	float: left;
	background-color: white;
	border-radius: 4px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	min-height: 100px;
	padding: 10px;
	margin-bottom: 20px;
	display: block;
	width: 680px;
}

.contentNavigationPanel {
	width:350px;
	height:100%;
	overflow:auto;
	float:left;
	border-right: 1px dashed #ccc;
	padding:20px 20px 0px 0px;
}

.contentVisualView {
	width:708px;
	height:100%;
	overflow:auto;
	overflow-x: hidden;
	padding:20px;
	margin-left: 370px;
}

.folderIcon {
	background: url("images/profilepage/folder-icon.png") no-repeat;
	width:121px;
	height:91px;
	float:left;
	margin-right:20px;	
}

.folderInfo {
	width:480px;
	float:left;
}

.blockHoverButtons {
	width:50px;
	float:right;
	text-align:center;
}

ul {
	list-style-type:none;
}

.folders {
	border: 1px solid #ddd;
	margin-bottom: 100px;
}

.folders-li {
	margin:0px;
	color:#515151;
	border-bottom:1px solid #ddd;
	border-top:1px solid #eee;
	width: 240px;
	cursor: pointer;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	
	
	
}

.folders-li:hover, .folders-li.open:hover {
	background:#EFEFEF;
	
	
	
	
	box-shadow:none;
	border-bottom:1px solid #efefef;
	border-top:1px solid #efefef;
}

.folders-li.open {
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#F5F5F5));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #DDD, #F5F5F5);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #DDD, #F5F5F5);

	/* IE 10 */
	background: -ms-linear-gradient(top, #DDD, #F5F5F5);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #DDD, #F5F5F5);
	
	
	
	
	box-shadow: inset 0 0 10px rgba(0,0,0,.1);
	border-top:1px solid #ccc;
	border-bottom:1px solid #ddd;
}

.folderlimarker {
	background: url('images/profilepage/folder-icon-small.png') no-repeat;
	height: 16px;
	width: 23px;
	margin: 5px;
	display: inline-block;
	float: left;
	margin-top: 8px;
}

.folder-li-title {
	height: 18px;
	padding: 6px;
	padding-top: 9px;
	width: 295px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subFoldersLi {
	margin:0px;
	color:#515151;
	border-bottom:1px solid #ddd;
	border-top:1px solid #eee;
	width: 350px;
	cursor: pointer;
	background: #EFEFEF;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
	
	
	
	
	/* IE 10 */
	background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);
	
}

.subFoldersLi {
	padding-left: 15px;
}

.subFoldersLi .folder-li-title {
	width:275px;
}

.collectionlimarker {
	background: url('images/profilepage/collection-icon-small.png') no-repeat;
	height: 16px;
	width: 23px;
	margin: 5px;
	display: inline-block;
	float: left;
	margin-top: 8px;
}

.collection-li-title {
	height: 18px;
	padding: 6px;
	padding-top: 9px;
}

.folders .resource-li {
	padding: 3px 10px 4px 18px;
	background: white;
	border:none;
}

.folders .resource-li:hover {
	background: #EEF5FA;
}

.folders li:hover {
	/* background-color:#CFE3F1; */
	cursor: pointer;
}

.sub-list li {
	padding-left:15px !important;
}

.sub-2-list li {
	padding-left:30px !important;
}

.sub-3-list li {
	padding-left:45px !important;
}

.folders .arrow, .dropdown .arrow {
	margin-right:5px;
}

.folders .open, .dropdown .open {
	margin-right:0px;
}

.collection-navigation {
	padding:10px;
}

.collection-navigation li {
	float:left;
	height:90px;
	padding:10px;
	margin:5px;
	width:80px;
	margin-bottom:10px;
	list-style-type:none;
	cursor:pointer;
}

.collection-navigation li.active {
	background-color:#DDD;
	-moz-box-shadow:     inset 0px 0px 5px rgba(100,100,100,.3);
	-webkit-box-shadow:  inset 0px 0px 5px rgba(100,100,100,.3);
	box-shadow:          inset 0px 0px 6px rgba(100,100,100,.3);
}

.collection-navigation li:hover {
	background-color:#DDD;
}

.search-result-box {
	background-color:white;
	border-radius:4px;
	-moz-box-shadow:     0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow:  0 0 10px rgba(0,0,0,.1);
	box-shadow:          0 0 10px rgba(0,0,0,.1);
	margin-bottom:20px;
	padding: 10px;
	min-height:108px;
}

.search-result-box ol {
	list-style-type:none;
}

.search-result-box.full-screen {
	height:560px; /* This needs to be calculated. Use the window height - 250px */
}

.search-result-box.full-screen .resources-inside, .search-result-box.full-screen .more-info {
	height:370px; /* This needs to be calculated. Use the window height - 440px */
}



.search-result-box .resources-inside li {
	clear:both;
}

.resource-info, .collection-info {
	width: 650px;
}

.resource-title, .collection-title {
	font-size:16px;
	font-weight:normal;
	margin-bottom:3px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	text-align:left;
	display:inline-block;
}

.resource-title:hover, .collection-title:hover {
	opacity:.8;
	cursor:pointer;
}

.author {
	color: #999;
}

li.resources {
	color:#4e9746;
}

.resource-image {
	width:80px;
	height:60px;
}

.collection-image {
	width: 120px;
	height: 90px;
}
	
.resource-thumbnail {
	cursor: pointer;
}

.collection-thumbnail {
	border-left: 7px solid #1076bb;
}

.collection-thumbnail:hover {
	cursor: pointer;
	border-left: 7px solid #062F4B;
}

.resource-thumbnail div.resource-hover {
	display:none;
	width:80px;
	height:60px;
	background-color: rgba(0,0,0,.6);
	top:-83px;
	position:relative;
	z-index:20;
}

.collection-thumbnail div.collection-hover {
	display:none;
	width:120px;
	height:90px;
	background-color: rgba(0,0,0,.6);
	top:-93px;
	position:relative;
	z-index:20;
}

.related-collection-thumbnail div.collection-hover {
	display:none;
	width:120px;
	height:90px;
	background-color: rgba(0,0,0,.6);
	top:-93px;
	position:relative;
	z-index:20;
}

.resource-thumbnail:hover div.resource-hover {
	display:block;
}

.collection-thumbnail:hover div.collection-hover {
	display:block;
}

.related-collection-thumbnail:hover div.collection-hover {
	display:block;
}

.collection-thumbnail .play-icon {
	width:12px;
	height:16px;
	margin:37px 54px;
}

.related-collection-thumbnail .play-icon {
	width:12px;
	height:16px;
	margin:37px 54px;
}

.resource-thumbnail .play-icon {
	width:12px;
	height:16px;
	margin:23px 34px;
}

.resource-metadata li{
	display: inline;
	color: #999;
	margin:0px;
}

.resource-metadata li.resources {
	color:#4e9746;
}

.source {
	font-style: italic;
}

.resource-info .standards {
	margin-top:10px;
}

.collection-info .standards {
	margin-top:21px;
}

.standards li{
	cursor:default;
	display: inline;
	font-size: 10px;
	color:white;
	background-color: #515151;
	padding:3px 5px;
	margin-right:3px;
	border-radius:4px;
	position:relative;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#515151));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #666, #515151);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #666, #515151);

	/* IE 10 */
	background: -ms-linear-gradient(top, #666, #515151);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #666, #515151);
	
	
	
}

.standards li div.bubble-arrow {
	left:60px;
	margin-bottom:-2px;
}

.bubble-arrow {
	width: 25px;
	height: 10px;
	position: relative;
	left: 22px;
	background-image: url("images/bubble-arrow.png");
}


.resource-description {
	margin:10px 0px 0px 0px;
	padding:0px;
}

.collection-description {
	margin:10px 0px 0px 0px;
	padding:0px;
}

.resource-thumbnail {
	float:left;
	width:80px;
	height:60px;
	margin:0 10px 10px 0px;
}

.collection-thumbnail {
	float:left;
	width:120px;
	height:90px;
	margin:0 10px 0px 0px;
}

.resource-type-icon {
	vertical-align: top;
	margin:1px 2px;
}

.resource-type {
	display:block;
	background: url('images/profilepage/resource-type-icons.png') no-repeat;
	width: 27px;
	height: 20px;
	position:relative;
	top:-23px;
	z-index:10;
}

.interactive { background-position: 0px 0px; }
.textbook { background-position: -27px -0px; }
.question { background-position: -54px -0px; }
.handout { background-position: -0px -20px; }
.lesson { background-position: -27px -20px; }
.exam { background-position: -54px -20px; }
.slide { background-position: -0px -40px; }
.video { background-position: -27px -40px; }
.website { background-position: -54px -40px; }

.actions {
	width:60px;
	float:right;
	margin-top:50px;
	text-align:right;
	display:none;
}

.collection-actions {
	margin-top:75px;
}

.inline-icon {
	vertical-align:bottom;
	margin-top:5px;
}

.more-metadata {
	color:#999;
	margin-top:10px;
	padding-top:10px;
	overflow:auto;
}

.more-metadata.active {
	display:block;
}

.more-info {
	width:160px;
	float:left;
	border-right:1px dashed #DDD;
	height:215px;
	overflow:auto;
	padding-right:10px;
}

.more-info-header {
	color:#515151;
	font-weight:bold;
	margin-bottom:10px;
}

.collection-info-list li {
	padding: 5px 0px 5px 30px;
}

.collections-using {
	width:398px;
	float:left;
	padding-left:10px;
	height:220px;
	overflow:auto;
}

.resources-inside {
	width:600px;
	float:left;
	padding-left:10px;
	height:215px;
	overflow:auto;
}

.resources-inside li {
	margin-left:0px;
}

.resources-inside div.resource-title{
	color:#515151;
	font-weight:bold;
	font-size: 12px;
}

.resources-inside div.resource-source{
	color:#999;
	font-style:italic;
}

.related-collection-info {
	margin-top:10px;
}

.related-collection-title {
	margin-bottom:3px;
	color:#515151;
	font-size: 12px;
	text-align: left;
}

.related-collection-thumbnail {
	float:left;
	width:120px;
	height:90px;
	margin:0 10px 0px 0px;
	border-left:7px solid #1076BB;
}

.related-collection-thumbnail:hover {
	cursor: pointer;
	border-left: 7px solid #062F4B;
}

.related-collection-image {
	width:120px;
	height:90px;
}

.related-collection-metadata li{
	display: inline;
	color: #999;
	margin:0px;
}

.author {
	font-style:italic;
	margin-bottom:3px;
}

.more-info li {
	margin-top: 10px;
}

.left-column-icon {
	width:25px;
	float:left;
	margin-right: 15px;
}

.left-column-icon img {
	display:block;
	margin:auto;
}

.icon-description {
	display:block;
	float:left;
	width:120px;
}

.share, .add-section {
	margin-top:10px;
	padding-top:10px;
	overflow:hidden;
}

.shareProfilePage {
	width:640px;
	margin:30px auto;
}

.share-left, .share-right {
	width:300px;
	float:left;
}

.share-right {
	margin-left:40px;
}

.share-url {
	width:277px;
	padding:3px 5px;
	margin-top:5px;
	color:#515151;
}

.gooru-button.facebook, .gooru-button.twitter, .gooru-button.email {
	margin-top: 5px;
	padding: 4px 8px;
}

.social-button-icon {
	height: 13px;
	margin-right: 10px;
	vertical-align: top;
}

.gooru-system-message {
	font-style:italic;
	color:#999;
}

.userDesc {
	float: left;
	padding-top: 5px;
}

.userNumber {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 3px 9px;
	border: none;
	float: left;
	display: inline-block;
	background-color: rgb(135,186,221);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.userCourseName {
	color: white;
	border-radius: 4px;
	padding: 3px 9px;
	border: none;
	float: left;
	font-family: Arial, sans-serif;
	display: inline-block;
	background-color: rgb(81,81,81);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.share-rightDesc {
	float: right;
	font-size: 12px;
	color: rgb(51,51,51);
	clear: right;
	padding: 4px 0px;
}

.gooru-social-Input {
	float: right;
	padding-right: 10px;
	margin-top: 8px;
}
.gooru-social-url {
	width: 123px;
	height: 32px;
	font-size: 12px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(221,221,221);
	padding: 0px 5px;
}
.gooru-button.socialFacebook, .gooru-button.socialTwitter, .gooru-button.socialEmail {
	margin-top: 6px;
	padding: 6px 7px;
	margin-left: 7px;
	cursor: pointer;
}
.social-button-iconResize {
	height: 19px;
	margin-right: 0px;
	vertical-align: top;
}

.profileSaveBtnContainer {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 385px;
	text-align: center;
}

.editPencil {
	background: url(images/pencil-hover-icon.fw.png) no-repeat;
	height: 20px;
	width: 12px;
	cursor: pointer;
	display: inline-block;
	margin-left: 3px;
}

.bioLeftContainer {
	float: left;
	width: 73px;
}

.starBg {
	color: #fff;
	cursor: pointer;
	bottom: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	font-weight: bold;
	padding: 10px 7px;
	padding-left: 30px;
	background: #4D9645 url('images/profilepage/rating.png') 5px 8px no-repeat;
}


.addedCourseLbl {
	font-size: 14px;
	margin: 5px;
}

.profilepageFollwoingContent{
	Width:100%;
	float:left;
	
}
.profilepageFollwoingContentlabel{
	float:left;
}
.profilepageTagContentMainDiv{
	Width:90%;
	float:left;
}
.profilepageTagContentMainDivconent{
	float:left;
	width:65%;
	color:green;
}
.profilepageTagContentMainDivconentcount{
	float:left;
	width:25%;
	color:green;
}
.infoSectionAuthor{
    margin-top:15px;
    padding-bottom:15px;
    border-bottom:1px solid #ddd;

}
.rightPanel .userImageContainer {
    margin-right:10px;
    width:40px;
    height:40px;
    border-radius:40px;
    display:inline-block;
    vertical-align:middle;
    border:3px solid #87BADD;
}
.rightPanel .userImage{
    width:40px;
    height:40px;
     border-radius:40px;
    display:inline-block;
    vertical-align:middle;
}
.teacherTipOuterContainer
{
	width:200px;
	word-wrap:break-word;
	padding:5px;
	overflow:hidden;
	
}

