@charset "utf-8";
/* CSS Document */

.myFolderRightContentWrapperTwo {
width: 800px;
min-height: 270px;
height: auto;
background-color: #FFF;
float: left;
border-radius: 4px;
margin: 13px 0px 0px 23px;
moz-box-shadow: 2px 2px 4px #d1d0d0;
-webkit-box-shadow: 2px 2px 4px #d1d0d0;
box-shadow: 2px 2px 4px #d1d0d0;
}
.myFolderRightContentWrapperNew {
width:100%;
min-height: 270px;
height: 100%;
float: left;
border-radius: 4px;
}
.newMockLeftAlignController
{
	float:left; 
	width:840px; 
	border-right:1px solid #dddddd; 
	height:100%;
}
.myClassPageInnerContentContainer {
width: 737px;
height: 203px;
margin-top: 16px;
float: left;
margin-left: 15px;
}

.myClassPageWelcomeText {
float: left;
margin-bottom: 17px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: #515151;
width:80%;
}
.myClassPageWelcomeDescribtion {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
}
.myClassPageGetStarted {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #515151;
margin: 20px 0px 10px 0px;
width: 100%;
}
.myClassPageGetStartedContainer
{
	float:left;
}
.myClassPageCollectionInfo
{
	width:240px; min-height:90px; height:auto; float:left;
}
.myClassPageCollectionInfoImage
{
	float:left; background:url(../images/one.png); width:15px; height:33px;
}
.myClassPageCollectionInfoText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#515151; margin-left:10px;
}
.myClassPageTaskContainer
{
	width:220px; min-height:90px; height:auto; float:left;
}
.myClassPageTaskImage
{
	background: url(../images/two.png); width:23px; height:33px; float:left;
}
.myClassPageTaskText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#515151; margin-left:10px;
}
.myClassPageBarCodeContainer
{
	width:260px; min-height:90px; height:auto; float:left;
}
.myClassPageBarCodeNumber
{
	background:url(../images/three.png); width:22px; height:33px; float:left;
}
.myClassPageBarCodeText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#515151; width:210px; margin-left:10px;
}
.myClassPageBarCodeImage
{
	float:left; width:19px; height:14px; background:url(../images/barcode.png); margin:10px 0px 0px 32px;
}
.myClassPageVisitLinkContainer
{
	float:right; font-size:12px;
}
.myClassPageHelpLink
{
	float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999;
}
.myClassPageHelpGoLink
{
	float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#1076BA; cursor:pointer; margin-left:5px;
}
.myClassPageAlgebraTextBox
{
	float:left; width:257px; height:37px; border:1px #CCC solid; background-color:#FFF; margin:33px 0px 21px 23px; font-size:20px; color:#515151;
}
.myClasspageShareContainer
{
	float:right; margin-right:20px;
}
.myClassPageTitle{
	float:left;
height: 18px;
text-align:left;
font-size:32px;
font-weight:bold;
/*text-shadow: -1px 1px 0px #b0b0b0, -1px 1px 0px #d4d4d4;*/
text-shadow: 0px 1px 4px #d4d4d4, -1px 0px 3px #999999;
color: #d4d4d4;
}
.myClassPageTitleEdit
{
	float:left; background:url(../images/pencil-icon.png); width:10px; height:15px; cursor:pointer; margin:10px 0px 0px 12px;
}
.myClassPageShareText
{
	float:left; margin-top:28px; font-size:12px; font-family:Arial, Helvetica, sans-serif;
}
.myClasspageShareImage
{
	float:left; margin-right:10px; clear:both; margin-top:13px;
}
.myClasspageShareInputBox
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1076BA; width:202px; height:20px; margin-top:7px;
}
.myClasspageWrapperTwoInputContainer
{
	float:left; width:100%;
}
.myClasspageWrapperTwoInputOne
{
	float:left; width:302px; height:30px; border:1px solid #CCC; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; margin:10px 5px 5px 20px;
}
.myClasspageWrapperTwoInputTwo
{
	float:left; width:479px; height:57px; border:1px solid #CCC; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; margin-left:20px;
}
.myClasspageWrapperTwoChapterText
{
	float:left; width:257px; height:37px; margin:33px 0px 21px 23px; font-size:20px; color:#515151;
}
.myClasspageWrapperTwoChapterTextEdit
{
	float:left; width:358px; height:52px; margin:13px 0px 0px 23px; font-size:20px; color:#515151;
}
.myClasspageWrapperTwoChapterTextEditInput
{
		float:left; width:358px; height:52px; 

text-align: left;
font-size: 38px;
font-weight: bold;
color: #515151;
}
.myClasspageWrapperTwoChapterTextRight
{
	float: right; width:257px; height:37px; margin:20px 0px 0px 23px; font-size:20px; color:#515151; text-align:right;
}
.myClasspageWrapperTwoChapterTextLeft
{
	float:left; width:257px; height:37px; margin:20px 0px 0px 23px; font-size:20px; color:#515151; text-align:left;
}
.myClasspageMyCollectionBg
{
	float:left; background:url(../images/mycollection.png); width:142px; height:27px; /*margin:50px 0px 0px 287px;*/
}
.myClasspageMyCollectionText
{
	float:left; font-size:12px; margin:6px 0px 0px 15px; font-family: Arial, Helvetica, sans-serif; color:#515151;
}
.myCollectionDragHereImage
{
	float:left; background:url(../images/drag-collection.png); width:151px; height:96px; margin:10px 0px 30px -92px;
}
.myCollectionAddSecction
{
	float:left; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#515151; cursor:pointer; margin:20px 0px 0px 23px;
}
.myCollectionDrandAndDropContainer
{
	margin: 50px 0px 0px 287px; float:left; cursor:pointer;
}
.myCollectionDayReviewContainer
{
	float:left; margin:10px 0px 0px 23px; float:left; width:759px; height:57px; border-bottom:1px solid #CCC;
}
.myCollectionDayReviewContainerTwo
{
	float:left; margin:10px 0px 0px 23px; float:left; width:759px; height:57px;
}
.myCollectionDayReviewTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; width:100%;
}
.myCollectionDayReviewContent
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; width:100%; margin-top:20px;
}
.myCollectionDayReiveInputBg
{
	width:761px; height:169px; float:left; background-color:#7f7f7f; margin:35px 0px 15px 20px;
}
.myCollectionDayReviewInputBoxContainer
{
	width:345px; height:38px; margin:27px 0px 0px 12px; position: absolute;
right: 132px;
margin-top: 140px;
cursor:pointer;
}
.myCollectionDayReviewInputIconContainer
{
	float:left; width:18px; height:39px; z-index:5; position:relative;
}
.myCollectionDayReviewPlusICon
{
	float:left; background:url(../images/plus-icon.png); width:18px; height:18px; cursor:pointer;
}
.myCollectionDayReviewMinusICon
{
	float:left; background: url(../images/drag-minus-icon.png); width:18px; height:18px; cursor:pointer;
}
.myCollectionDayReviewBlueIcon
{
	float:right; background:url(../images/input-blue-bar.png);width:4px; height:18px; margin-top:-3px;
}
.myCollectionDayReviewInputHolder
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#515151; margin-left:-9px; z-index:1; background-color:#FFF; height:28px; margin-top:9px; border:1px solid #999999;
}
.myCollectionDayReviewInput
{
	width:290px; height:27px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#515151; margin:8px 0px 0px 25px;
}
.myCollectionPlusAddCollectionContainer
{
	float:left; margin-top:22px; width:100%;
}
.myCollectionPlusAddCollection
{
	 width:150px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; color:#FAB03A; font-size:20px;
}
.myCollectionPlusAddCollectionPointer
{
	cursor:pointer;
}
.myCollectionInsightImageContainer
{
	float:left; width:120px; height:170px; margin:20px 20px 30px 20px;
}
.myCollectionInsightImageContainerTwo
{
	float:left; width:120px; height:170px; margin:20px 60px 22px 20px;
}
.myCollectionInsightImageDescribtion
{
	float:left; margin-top:5px; font-size:12px; color:#515151;
}
.myCollectionInsightSmallImage
{
	float:left; width:20px; height:17px; cursor:pointer; margin-top:13px;
}
.myCollectionInsightLessionContainer
{
	float:left; width:734px; height:116px; border-bottom:#dddddd 1px solid; margin:20px 0px 0px 20px;
}
.myCollectionInsightLessionContainerTwo
{
	float:left; width:734px; height:380px; border-bottom:#dddddd 1px solid; margin:20px 0px 0px 20px;
}

.myCollectionInsightLessionImageContainer
{
	float: left; width:80px; height:62px; margin-right:15px;
}
.myCollectionInsightLessionImageHolder
{
	float:left; width:80px; height:90px;
}
.myCollectionInsightLessionTitleContainer
{
	float:left; width:470px; height:60px;
}
.myCollectionInsightLessionTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#515151; font-weight:bold;
}
.myCollectionInsightLessionSubTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1076B9; clear:both; cursor:pointer; margin-top:8px;
}
.myCollectionInsightRightIconsContainer
{
	float:right; width:127px; height:100px;
}
.myCollectionInsightRightSignleIconsContainer
{
	float:left; width:100%; height:20px; margin-bottom:6px;
}
.myCollectionInsightRightSignleIcon
{
	float:left; margin-right:8px;
}
.myCollectionInsightRightSignleIconText
{
	float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#515151;
}
.myCollectionInsightChapterContainer
{
	float:left; width:734px; height:116px; border-bottom:#dddddd 1px solid; margin:20px 0px 0px 20px;
}
.myCollectionInsightChapterBigImageContainer
{
	float: left; width:120px; height:116px; margin-right:15px;
}
.myCollectionInsightChapterBigImage
{
	float:left; width:120px; height:90px;
}
.myCollectionInsightChapterTitleContainer
{
	float:left; width:470px; height:100px;
}
.myCollectionInsightChapterTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#515151; font-weight:bold;
}
.myCollectionInsightChapterSubTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1076B9; clear:both; cursor:pointer; margin-top:8px;
}
.myCollectionInsightQuestionResultSubTitleContainer
{
	float:left; margin-top:25px; width:70%;
}
.myCollectionInsightQuestionResultSubTitle
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4e9746; cursor:pointer; 
}
.myCollectionInsightQuestionResultSubTitleSeparator
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4e9746; cursor:pointer; margin-left:5px;
}
.myCollectionInsightQuestionResultSubTitleTwo
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4e9746;cursor:pointer; margin-left:5px;
}
.myCollectionInsightQuestionContainer
{
	width:757px; height:253px; float:left; clear:both; margin-top:0px;
}
.myCollectionInsightQuestion
{
	float:left; font-size:12px; color:#515151; font-family:Arial, Helvetica, sans-serif; margin-top:20px;
}
.myCollectionInsightAnswerContainer
{
	float:left; width:100%; min-height:20px; height:auto; margin-top:20px;
}
.myCollectionInsightAnswerOptionsNumbers
{
	float:left;  font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#515151;
}
.myCollectionInsightAnswerOptions
{
	float:left;  font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#515151; margin-left:10px; width:337px; min-height:20px; height:auto;
}
.myCollectionInsightAnswerViewerContainer
{
	width:158px; float:right; height:16px; margin-right:30px;
}
.myCollectionInsightAnswerPercentageViewerContainer
{
	float:left; width:117px; height:100%; 
}
.myCollectionInsightAnswerPercentageViewer
{
	float:left; width:100%; height:100%; background-color:#4d9645;
}
.myCollectionInsightAnswerPercentageViewerTwo
{
	float:left; width:100%; height:100%; background-color:#999999;
}

.myCollectionInsightAnswerNumbers
{
	float: right; font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
.myCollectionInsightResponse
{
	float:right; font-size:12px; font-weight:bold; margin:20px 20px 0px 0px;
}
.bottomLine
{
	width:754px; height:5px; float:left; background-color:#999999; margin-bottom:12px; margin-left:23px;
}
.myCollectionTitleDashedBorderContainer
{
	margin:0px 0px 10px 20px; 
	float:left; 
	width:756px; min-height:192px; 
	border:1px dashed #DDDDDD;
}
.myCollectionTitleBgColorContainer
{
	margin:0px 0px 10px 20px; 
	float:left; 
	width:756px; min-height:192px;
	background-color:#7F7F7F;
}
.myCollectionAssigntmentDescriptionText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; margin:0px 0px 15px 15px; width:96%;
}
.myCollectionAssigntmentDueDateText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4C9645; margin:0px 0px 15px 15px; width:90%;
}
.myCollectionAssigntmentDueDateTextAlign
{
	width:60px;margin-top:10px; float:left;
}
.myCollectionAssigntmentDueDateTextInputText
{
	float:left; width:308px; height:26px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999;
}
.myCollectionAssigntmentTitleText
{
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#515151; margin:15px; width:90%;
}
.howToUseThisPage
{
	float:right; font-family:Arial, Helvetica, sans-serif; margin:10px 25px 0px 0px; color:#85B8DD; font-size:12px; cursor:pointer;
}
.addAsAnAssignment
{
	font-family: Arial, Helvetica, sans-serif;font-size: 16px;color: #85B8DD;margin: 0px 0px -5px 20px; clear:both; cursor:pointer;
}
.myCollectionShareStudentContainer
{
	float:left; width:100%;
}
.myFolderNormalContainerBoxShadow
{
	width:227px; float:left; min-height:30px; height:auto; background-color:#FFF; moz-box-shadow: 1px 1px 4px #d1d0d0;
-webkit-box-shadow: 1px 1px 4px #d1d0d0; box-shadow: 1px 1px 4px #d1d0d0;
}
/*gooru popup*/
.myClassPageVisitLinkContainerAlign
{
	float:left; width:98%;
}
.myClasspagesAssementInputContainer
{
	float:left; width:680px;
}
.myCollectionAssigntmentTitleTextInput
{
	float:left; width:308px; height:26px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999;
}
.myCollectionDueDateInputContainer
{
	float:left; width:90%;
}
.myCollectionEditAndDeleteContainer
{
	float:right; margin:10px 13px 0px 0px; width:56px; height:60px;
}
.myCollectionEditBg
{
	float:left; width:56px; height:30px; cursor:pointer; color:#FFF;font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#1076BB; border-radius:4px; cursor: pointer;
}
.myCollectionEditText
{
	float:left; padding:8px 0px 0px 17px;
}
.myCollectionUpdateText
{
	float:left; padding:8px 0px 0px 8px;
}
.myCollectionDeleteContainer
{
	float:left; width:56px; height:30px; cursor:pointer; color:#1076B9;font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
.myCollectionDeleteText
{
	float:left; padding:8px 0px 0px 11px;
}
.myCollectionAssigntmentDescriptionTextArea
{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; width:97%; height:50px; text-align:left;
}
.myCollectionInsightRemove
{
	float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1076bb; margin-top:15px; cursor:pointer;
}
.pattern {
width: 250px; margin:0 auto;
}
.display {
width: 250px;
margin:0 auto;
}
.pagination {
list-style-type: none;
margin: 40px 10px;
white-space: nowrap; float:left;
}
.paginationLi {
display: inline-block;
margin-right: 5px;
float:left;
cursor:pointer;
}
.paginationAnchor {
padding: 7px 10px;
background-color: white;
border: 1px solid #DDD;
border-radius: 4px;
}
.paginationAnchorActive {
padding: 7px 10px;
background-color: white;
border: 1px solid #DDD;
border-radius: 4px;
background-color: #F0F0F0;
-moz-box-shadow: inset 1px 1px 3px rgba(100,100,100,.1);
-webkit-box-shadow: inset 1px 1px 3px rgba(100,100,100,.1);
box-shadow: inset 1px 1px 3px rgba(100,100,100,.1);

}
.anchor {
text-decoration: none;
color: #1076bb;
}
.settingContentWrapperNew {
width:100%;
min-height: 270px;
height: 100%;
border-radius: 4px;
}
