@charset "utf-8";
/* CSS Document */

.settingInfoTitleContainerLast {
	width: 100%;
	float: left;
	min-height: 50px;
	height: auto;
	border-bottom: 1px solid #CCC;
	margin-bottom: 15px;
}

.settingOneSetOfInputBoxContainer {
	/*  float: left; 
	 width:146px; */
	
}

.settingOneSetOfSecurityInputBoxContainer {
	float: left;
	border: 1px solid #CCC;
	clear: both;
	margin-bottom: 10px;
}

.settingOneSetOfInputBox {
	border: 0px;
	width: 303px;
	height: 30px;
	padding-left: 5px;
}

.settingPageUserNameColorlastName {
	border: 0px;
	width: 303px;
	height: 30px;
	padding-left: 4px;
	color: #515151;
	vertical-align: middle;
	line-height: 30px;
}

input.styled {
	display: none;
}

.radioStyled {
	display: none;
}

.settingPageUserImageChangeImageBg {
	background-color: #000;
	width: 201px;
	height: 23px;
	opacity: 0.6;
	z-index: 3;
	float: left;
	margin-top: -24px;
}

.settingPageUserImageChangeImage {
	font-size: 12px;
	color: #FFF;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 3px;
	cursor: pointer;
}

.settingPageSecurityChangePassword {
	width: 100%;
	float: left;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	margin-bottom: 15px;
}

.settingPageChangePasswordBtn {
	float: left;
	clear: both;
	height: 30px;
	cursor: pointer;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #1076BB;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 15px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
}

.settingsPageCancelButtonContainer {
	float: left;
	padding-top: 13px;
	padding-left: 10px;
	color: #4c98cc;
	cursor: pointer;
}

.settingPageChangePasswordBtn:hover {
	background-color: #1076BB;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 15px;
}

.settingPageChangePasswordText {
	float: left;
	padding: 8px 8px 0px 8px;
}

.settingInfoNameTextOne {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	margin-top: 10px;
	margin-left: 37px;
	padding: 0px 0px 16px 8px;
	cursor: pointer;
	color: #4c98cc
}

.settingOneSetOfLable {
	border: 0;
	float: right;
	width: 325px;
	height: 30px;
	padding: 15px 0px 0px 0px;
	color: rgb(148, 143, 143);
}

.radioText {
	margin-left: 5px;
}

.settingOneSetOfLabelontainerName {
	border: none;
	color: #515151;
	padding: 10px;
}
/* save popup */
.facebox {
	display: table;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 391px;
	top: 150px;
	left: 503px;
	width: 360px;
	z-index: 1001;
}

.content {
	display: table;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	top: 150px;
	left: 503px;
	/* width: 360px; */
	z-index: 1001;
}

.settingsSuccessPopUpContainer {
	border: 1px solid #CCC;
	float: left;
	width: 100%;
}

.settingsSuccessPopUpContainer .settingsSuccessHeaderTitleDiv {
	background: none repeat scroll 0 0 #515151;
	clear: both;
	display: block;
	float: left;
	font-size: 16px;
	width: 100%;
}

.settingsSuccessPopUpContainer .settingsSuccessHeaderTitleDiv .successHeaderText
	{
	color: #FFF;
	float: left;
	font-size: 16px;
	padding: 8px 8px 8px 15px;
}

.settingsSuccessPopUpContainer .successMessageDiv {
	clear: both;
	float: left;
	margin: 15px 5px 8px 15px;
	width: 95%;
}

.settingsSuccessPopUpContainer .successMessageDiv .settingsSuccessText {
	color: #585858;
	float: left;
	font-size: 12px;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
}

.settingsSuccessPopUpContainer .successFormButtonDiv {
	float: left;
	margin: 15px 120px;
}

.settingsSuccessPopUpContainer .settingsSucessOkButton {
	background-color: #4c98cc;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 15px;
	text-align: center;
	margin-left: 60px;
}

.settingsSucessOkButton:hover {
	background: #1076bb;
	cursor: pointer;
}

.facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: left;
	width: 391px;
}

.popup {
	position: absolute;
	border: 3px solid rgba(0, 0, 0, 0);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 255, 255);
	padding: 1px 2px 1px 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	position: static;
	width: 100%;
}

.mandatoryLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30%;
	color: rgb(250, 176, 58);
	/* 	text-align: right;
	position: relative;
	top: 10px; */
	float: right;
	padding: 2px 112px 9px 0px;
}

/*button center alignment*/
/* Profile settings Css */


.clear {
	clear: both;
}

.publicProfileIcon {
	height: 146px;
	top: 0px;
	position: relative;
	z-index: 20;
}

.publicProfilePencilIcon {
	background: url(images/profilepage/pencil-hover-icon.fw.png);
	width: 10px;
	height: 15px;
}

.publicProfileHoverButtonBg {
	color: white;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 7px 0px 7px 0px;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

.publicProfileHoverButton {
	padding: 2px 2px;
}

.publicProfileHoverButtonBg:hover {
	cursor: pointer;
	background-color: #4C98cc;
}


.publicProfileIcon-hover {
	display: none;
	height: 146px;
	top: 0px;
	position: relative;
	z-index: 20;
}

.profileEditImage {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -71px -169px transparent;
	float: right;
	height: 18px;
	width: 14px;
	cursor: pointer;
	margin-top: 15px;
}


/* Adding Course and Grade feature css */

/* .settingGradeInfoContainer {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 385px;
} */
/*course title css here*/

.coursePoupSaveBtnContainer {
	width: 125px;
	margin: 0 auto;
}

.coursePopupCancelLbl {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #1076bb;
	text-align: left;
	padding: 0 0 0 3px;
	cursor: pointer;
	float: left;
	margin-top: 6px;
	border-radius: 4px;
	padding: 7px 9px 8px 9px;
	display: inline-block;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd),
		to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}

.coursePopupCancelLbl:hover {
	background: #eee;
}

/*this following 2 classes copied form collection.css*/
.profileKinderGartenGrade {
	font-size: 14px;
	text-align: center;
	width: 102px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 12px;
}

.profileHigherEducationGrade {
	font-size: 14px;
	text-align: center;
	width: 126px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 70px;
	margin-top: 12px;
	margin-bottom: 10px;
}
/*this class has added for 5.9 sprint*/

.settingOneSetOfStandardInputContainerDefault {
	float: left;
	width: 395px;
	min-height: 30px;
	margin-bottom: 30px;
	height: auto;
	margin-top: 10px;
}

.deafaultCourse {
	color: white;
	border-radius: 4px;
	padding: 3px 9px;
	cursor: pointer;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background-color: #515151;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 2px;
	float: left;
}
