.inputLabel {
	font-weight: bold;
	margin-bottom: 5px;
}

.teachPopupInput {
	margin-left: 50px;
	margin-bottom: 10px;
}

.teachPopupDisplay {
	width: 100%;
	/* min-height: 642px; */
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

.teachPopup {
	background-color: white;
	width: 450px;
	margin: 50px auto;
	padding: 3px;
}

.teachPopupInner {
	border: 1px solid #DDD;
}

.teachPopupHeader {
	padding: 10px 15px;
	color: white;
	background-color: #515151;
	font-size: 16px;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #666, #515151);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #666, #515151);
	/* IE 10 */
	background: -ms-linear-gradient(top, #666, #515151);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #666, #515151);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666',
		EndColorStr='#515151');
}

.teachPopupContent {
	padding: 15px;
	text-align: center;
}

.teachPopupContent {
	text-align: left;
}

.teachPopupContent .header {
	font-size: 12px;
	text-align: left;
	color: #515151;
	padding: 25px 0px 0px 65px;
	margin-bottom: 15px;
}

.teachPopupLabel {
	color: #515151;
	padding: 30px 0px 10px 90px;
}

.buttonBlock {
	width: 100%;
	text-align: center;
	margin: 15px auto 0px auto;
}

.extra {
	margin-bottom: 0px !important;
}

.teachPopupInner {
	overflow: auto;
}

.teachContainer {
	width: 1002px;
	margin: 0 auto;
	overflow: visible;
}

.teachTab {
	text-align: center;
	padding-bottom: 20px;
	margin: 20px 0px;
	border-bottom: 1px solid #ddd;
}

.teachTab .select {
	color: #fff;
	cursor: pointer;
	padding: 10px 60px;
	background-image: -moz-linear-gradient(#1076BB 0%, #579ECF 100%);
	background-image: -webkit-gradient(linear, color-stop(0, #1076BB),
		color-stop(1, #579ECF));
	background-image: -webkit-linear-gradient(#1076BB 0%, #579ECF 100%);
	background-image: -o-linear-gradient(#1076BB 0%, #579ECF 100%);
	background-image: -ms-linear-gradient(#1076BB 0%, #579ECF 100%);
	border: 1px solid #1076BB;
	-moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.teachTab .selected {
	position: relative;
	left: 7px;
	border-radius: 5px 0px 0px 5px;
}

.teachTab .selectd {
	position: relative;
	right: 7px;
	border-radius: 0px 5px 5px 0px;
}

.teachTab .deselect {
	color: #515151;
	cursor: pointer;
	padding: 10px 60px;
	background-image: -moz-linear-gradient(3% 0% -90deg, rgb(255, 255, 255)
		0%, rgb(221, 221, 221) 100%);
	background-image: -webkit-gradient(linear, 3% 0%, 3% 114%, color-stop(0, rgb(255, 255, 255
		)), color-stop(1, rgb(221, 221, 221)));
	background-image: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(221, 221, 221) 100%);
	border: 1px solid #ccc;
	border-radius: 5px;
}

.teachContent {
	padding: 30px;
	min-height: 500px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border: 1px solid #eaeaea;
	background: #fff;
}

.teachTitle {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
	padding-top: 8px;
}

.buttonOverlay {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.cTxt {
	display: inline-block;
	padding-top: 3px;
	padding-right: 5px;
}

.cBg {
	width: 20px;
	height: 20px;
	background: #FFF;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .2);
}

.cBg {
	display: inline-block;
	vertical-align: top;
	position: relative;
	right: -10px;
}

.dis {
	right: 10px !important;
}

.teachDesc {
	font-size: 12px;
	margin-bottom: 10px;
}
.checkboxStyle
{
	-moz-appearance: none;
	height: 33px;
	width: 120px
}


.teachBold {
	font-weight: bold;
	display: inline;
}

.teachItalic {
	font-style: italic;
	font-weight: bold;
	display: inline;
}

.assignDiv {
	padding-bottom: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ddd;
	background: #f0f0f0;
}
.visibilityDivContainer {
	margin-bottom:10px;
}

.radioBtnVisiblity {
    -webkit-appearance: none;
width: 30px;
height: 30px;
border-radius: 50%;
-moz-border-radius: 50%;
outline: none;
margin: 0;
float: left;

}
.radioBtnVisiblitySecondContainer{
	margin-top:20px;
}

.radioBtnVisiblity::before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;  
   -moz-border-radius: 50%;
	border:1px solid #1076bb;
    background-color:#fff;
}
.radioBtnVisiblity:checked::before {
   background-color:#1076bb;
}

.assignTitle {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding: 15px 15px 15px 9px;
	border-bottom: 1px solid #dddddd;
	margin-left:0px;
}

.subTitle {
	font-size: 16px;
	line-height: 240%;
	text-align: left;
	font-weight:bold;
}

.assignTextArea {
	width: 650px;
	height: 50px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 12px;
	border: 1px solid #ddd;
}

.titleBold {
	font-weight: bold;
	text-align: left;
	line-height: 210%;
}

.codeContent {
	padding-top: 40px;
}

.code {
	color: #515151;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	padding-right: 50px;
}

.assignSec {
	width: 320px;
	display: inline-block;
	vertical-align: top;
}

.assignSecTitle {
	color: #515151;
	font-weight: bold;

}

.assignSecTitleheader {
	color: #515151;
	font-weight: bold;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.codeContent .icon {
	cursor: pointer;
	padding-left: 5px;
}

.input1 {
	color: #515151;
	width: 63px !important;
	height: 15px !important;
	margin-top: 10px;
	margin-bottom: 15px !important;
}

.codeContent .input2 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	position: relative;
	top: -3px;
}

.codeContent .input3 {
	margin-top: 0px;
	width: 160px !important;
	margin-bottom: 0px !important;
}

.inputWidth {
	width: 160px !important;
}

.textControl {
	color: #999;
	font-size: 12px;
	width: 330px;
	height: 80px;
	padding: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.codeButton {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin: 15px 0px;
}

/* .btn {
	margin-left: 10px;
	padding: 7px 20px !important;
} */

.btn1 {
	vertical-align: top;
	margin-left: 10px;
}

.btn2 {
	padding: 5px 15px !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-moz-box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, .2);
	box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, .2);
}

.btn3 {
	background: #999 !important;
	border: none !important;
}

.btn4 {
	float: right;
	padding: 7px 30px !important;
	margin-top: 10px;
	margin-right: 5px;
}

.btn5 {
	padding: 12px 25px !important;
}

.btn6 {
	padding: 5px 20px !important;
}

.teachContentView {
	padding: 20px 5px 0px 5px;
	background-color: #fff;
}

.title {
	font-size: 12px;
	font-weight: bold;
	color: #515151;
	line-height: 200%;
	border-bottom: 1px solid #eaeaea;
}

.teachTxt {
	color: #515151;
	font-size: 12px;
	padding: 10px 0px;
}

.teachContentView .desc {
	text-align: center;
	padding: 50px 0px;
}

.viewBlock {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}
.profileText {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	color: #515151;
	padding-left: 10px;
	margin-top: 15px;
}

.listTextarea {
	color: #999;
	width: 415px;
	height: 65px;
	border: 1px solid #ddd;
	padding-top: 5px;
	padding-left: 5px;
}

.teachContentView .systemMessage {
	text-align: center;
	padding: 50px;
}

.twoActions {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.twoActions .manage {
	background: url(../images/manage_list.png) left top no-repeat;
	height: 110px;
    width: 122px;
    float: left;
    margin: 0 0;
}

.twoActions .progress {
	background: url(../images/class_progress.png) center top no-repeat;
	height: 110px;
    width: 122px;
    float: left;
    margin: 0 0;
}

.twoActions div {
	font-weight: bold;
	/* width: 450px;*/	
	font-size: 14px;
	display: inline-block;
	/* margin: 40px 20px; */
	/* padding-top: 200px; */
	text-align: center;
	white-space: normal;
}

.twoActions .manageText{
	float: left;
	/* width: 166px; */
	text-align: left;
	margin: 0 0 15px 0;
}

.twoActions .manageStudents{
	margin: 50px 0;
	width: 420px;
	float: left;
}

.twoActions .manageProgressStudents{
	margin: 50px 0;
	width: 420px;
}

.twoActions .progressStudents{
	width: 275px;
	margin: 0 0;
	text-align: left;
}

.twoActions .manageDes{
	font-weight: normal;
	margin: 0 0;
	text-align: left;
}

.existPopup {
	width: 514px;
	background-color: white;
	/* margin: 50px auto; */
	padding: 3px;
}

.existPopupContent {
	padding-top: 30px;
	text-align: center;
}

.threeActions {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.threeActions .analystic {
	background: url(images/Classpage/Features/analytics.png) center top no-repeat;
}

.threeActions .classList {
	background: url(images/Classpage/Features/student.png) center top no-repeat;
}

.threeActions div {
	width: 196px;
	font-size: 13px;
	display: inline-block;
	margin: 5px 10px;
	padding-top: 90px;
	text-align: center;
	white-space: normal;
}

.threeActions .heading {
	font-weight: bold;
	color: #515151;
}

.checkboxContainer {
	position: relative;
	top: 25px;
	color: #999;
	width: 230px;
	text-align: left;
}

.checkboxContainer label {
	vertical-align: middle;
}

.publicPrivate.toggle {
	display: inline-block;
	float: right;
}

.publicPrivate {
	display: inline-block;
	float: right;
	width: 120px;
	cursor: pointer;
}

.shareTextboxLink {
	width: 300px;
	height: 31px !important;
	padding: 5px;
	border: 1px solid #DDD;
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: #fff;
	margin-top: 0px;
}

.classTypeCheckbox {
	color: #999999;
	width: 22px;
	height: 22px;
	border: 1px solid #DDD;
	vertical-align: middle;
}

.ToggleButton {
	border: 1px solid;
	cursor: hand;
	cursor: pointer;
	margin: 3px 1px;
	padding: 1px 10px;
}

.ToggleButtonuphovering {
	padding: 0px 9px;
	color: #555;
	border-top: 4px solid;
	border-left: 4px solid;
	border-right: 4px solid;
	border-bottom: 4px solid;
}

.ToggleButtondown,.ToggleButtondownhovering {
	padding: 4px 9px;
	border-top: 4px solid;
	border-left: 4px solid;
	border-right: 4px solid;
	border-bottom: 4px solid;
}

.toggleMainSpan {
	left: -100px;
	margin: 0;
	padding-right: 100px;
	position: absolute;
	text-align: left;
	width: 100%;
}

.toggleSubContainer {
	background-color: #999;
	border: 1px solid #777;
	border-radius: 30px;
	background-color: #999;
	-moz-box-shadow: inset 0 0 10px #777;
	-webkit-box-shadow: inset 0 0 10px #777;
	box-shadow: inset 0 0 10px #777;
	content: '';
	display: block;
	height: 32px;
	width: 100%;
	left: 100px;
	position: absolute;
	top: 0;
	moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	webkit-transition: all 0.5s ease-out;
}

.spanContainer {
	left: -100px;
	margin: 0;
	padding-right: 100px;
	position: absolute;
	text-align: left;
	width: 100%;
}

.classlistCheckbox {
	color: #999999;
	width: 120px;
	height: 22px;
	border: 1px solid #DDD;
	vertical-align: middle;
}


/* Invite students css */
.buttonContainer {
	text-align: left;
	display: inline-block;
	width: 100%;
}

.buttonTooltip{
	display: inline-block;
	position: relative;
}

.tooltipContainer {
	display: none;
}

.tooltipContainer {
	position: absolute;
	left: -134px;
	z-index: 97;
}

button[disable]:hover, .buttonTooltip:hover .tooltipContainer{
	display:block;
}
.arrowBorder {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #DDD transparent;
	position: relative;
	top: 0px;
	margin: auto;
	border-top: none;
	left: 65px;
}

.arrow {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent white transparent;
	position: relative;
	margin: auto;
	top: -9px;
	border-top: none;
	z-index: 97;
	left: 65px;
}

.tooltipContent {
	text-align: left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 15px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
	top: -10px;
	width: 155px;
	float: left;
}

.pleaseWait{
	font-style: italic;
	color: #515151;
	height: 24px;
	margin-top: 8px;
}

.error{
	text-align: right;
	width: 86%;
	word-wrap: break-word;
}

.subBody{
	padding: 10px 20px;
	text-align: left;
}

.subBodyInviteContainer{
	padding: 10px 20px;
	width:100%;
	
}

.leftInviteContainer{
	width:20%;
	float:left;
	margin-top: 29px;
	
}

.inviteDivContainer{
	min-height: 167px;
}

.rightInviteContainer{
width: 71%;
float: left;
margin-top: 18px;
margin-left: 43px;
	
}


.pendingMembers, .activeMembers{
	color: #515151;
	font-weight: bold;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.activeMembersDesc{
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 11px;
	margin-bottom: 10px;
}

.membersList{
	background-color: #FFF;
	text-align: left;	
	padding: 20px 0px;
}

.pendingContainer, .activeContainer{
	padding: 0px 10px;
	padding-bottom: 20px;
}

.activeContainer > table{
	width: 100%;
}

.pendingContainer > table{
	width: 100%;
}

.noActiveStudents{
	margin: 50px auto;
	text-align: center;
}

/* MembersViewVc Css */

.membersListPanel{
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px 5px;
}
.panelCollaborators{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: transparent;
}
.radioButtonImg{
    display: inline-block;
    border-radius: 30px;
    -moz-border-radius: 30px;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border: 3px solid #8bd;
    background: url(images/collaborators/profile.png) no-repeat;
    margin-left: 10px;
}
.usernameCss{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    color: #515151;
    padding-left: 15px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emailIdCss{
    display: inline-block;
    width: 42%;
    vertical-align: top;
    color: #515151;
    padding-left: 15px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnRemove{
    vertical-align: middle;
    margin-left: -10px;
}

.emailButton {
	color: white;
	background-color: #1076bb;
	font-size:12px;
	border-radius: 4px;
	padding: 7px 28px 7px 37px;
	border: 1px solid #1076BB;
	font-family: Arial, sans-serif;
	display:inline-block;
	cursor:pointer;
	
	/* Old browsers */
	background: #1076BB;
	
	/* IE 10 */
	background: #1076BB url("images/FTE.png") -24px -69px no-repeat;
	
	/* Safari 4-5, Chrome 1-9 */
	background: url("images/FTE.png") -24px -69px no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1076BB), to(#1076BB));

	/* Safari 5.1, Chrome 10+ */
	background: url("images/FTE.png") -24px -69px no-repeat, -webkit-linear-gradient(top, #1076BB, #1076BB);

	/* Firefox 3.6+ */
	background: url("images/FTE.png") -24px -69px no-repeat, -moz-linear-gradient(top, #1076BB, #1076BB);

	/* Opera 11.10+ */
	background: url("images/FTE.png") -24px -69px no-repeat, -o-linear-gradient(top, #1076BB, #1076BB);
}
.emailStyle{
	float: right;
	margin-top: 9px;
    margin-right: 5px;
}

.seeMoreActive, .seeMorePending, .pleaseWait{
	float: right;
}


.privacyAlignStyle{
	margin-right: 2px;
}

.regularRadioButton input[type="radio"] {
	display: none;
}

.regularRadioButton input[type="radio"] + label {
	-webkit-appearance: none;
	background-color: #ffffff;
	border: 1px solid #1076bb;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regularRadioButton input[type="radio"]:checked + label:after {
	content: ' ';
	width: 20px;
	height: 20px;
	border-radius: 50px;
	position: absolute;
	top:-1px;
	background: #1076bb;
	
	text-shadow: 0px;
	left: -1px;
	font-size: 32px;
}

.regularRadioButton input[type="radio"]:checked + label {
	background-color: #ffffff;
	color: #99a1a7;
	border: 1px solid #1076bb;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regularRadioButton input[type="radio"] + label:active, .regularRadioButton input[type="radio"]:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regularRadioButton{
width: 30px;
height: 30px;
float: left;
text-align: center;
margin-top: 5px;
margin-right: 5px;}

