.collectionOverviewText {
	text-align: center;
}

.collectionTimeSpentDetails .collectionBreakDown_infobox {
	margin-bottom: 5px;
}

.alignCenterAndBackground {
	
}

.setMarginAuto {
	
}

.reaction_explain1 {
	
}

.reaction_understand1 {
	
}

.reaction_mean1 {
	
}
.alignLeft{}
.reaction_dontunderstand1 {
	
}

.reaction_needhelp1 {
	
}

.reaction_redneedhelp {
	
}

.reaction_reddontunderstand {
	
}

.correct_legend_one {
	
}

.correct_legend_other {
	
}

.incorrect_legend {
	
}

.floatLeft {
	
}

.resource_monitor_header_title {
	
}

.category_new_type_audio {
	
}

.category_new_type_image {
	
}

.category_new_type_other {
	
}

.category_new_type_interactive {
	
}

.category_new_type_question {
	
}

.category_new_type_text {
	
}

.category_new_type_video {
	
}

.category_new_type_webpage {
	
}

.setProgressBar {
	
}

.resourceBreakDownTimeSpent {
	
}

.viewResponseTextOpended {
	
}

.displayMessageTextForScoredQuestions {
	
}

.displayMessageTextForOEQuestions {
	
}

.setOETextPopupCenter {
	
}

.setGlassStyleName {
	
}

.setEmailGlassStyleName {
	
}

.setEmailPopupCenter {
	
}
.no-gutter{
	
}
.individualScore{
	width:20%;
	overflow-x:auto;
}
.collectionBreakDown_infobox_titles{}
.correct_incorrect_text{}
 .printWidget{}
 .filterDropDown{}
 .collectionOverviewText{}
 .showEmptyMessage{}
.collectionOverViewpnl{}
.collectionBreakDown_infobox{}
 .collectionTimeSpentDetails{}