.forgetPopupInnerdiv {
	background-color: rgb(255,255,255);
	width: 470px;
	height: 220px;
	margin: 0 auto;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
}
.forgetPopupHeaderBg {
	width: 100%;
	height: 39px;
	background-color: #4e9746;
	color: white;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7ab075), to(#4e9746));
	background: -webkit-linear-gradient(top, #7ab075, #4e9746);
	background: -moz-linear-gradient(top, #7ab075, #4e9746);
	background: -ms-linear-gradient(top, #7ab075, #4e9746);
	background: -o-linear-gradient(top, #7ab075, #4e9746);
	filter: progid;
}
.forgetPopupHeaderTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255,255,255);
	padding: 10px 5px 5px 15px;
}
.forgetPopupCloseBtnContainer {
	float: right;
	padding: 10px 10px 0px 0px;
}
.forgetPopupCloseBtnContainer:hover {
	cursor: pointer;
}
.forgetPopupBtnSprite {
	background: url(images/sprites-login.png) no-repeat;
}
.forgetPopupCloseBtn {
	background-position: -52px -116px;
	width: 18px;
	height: 19px;
}
.forgetPopupCheckBoxContainer {
	float: right;
	padding: 5px 10px 10px 0px;
}
.forgetPopupCheckBoxControl {
	float: left;
}
.forgetPopupCheckBoxDescText
{
	margin-top: 0px;
   /*  margin-left: 173px; */
    font-size:16px;
    float:left;
}
.forgetPopupGplusButtonContainer {
	padding: 15px 0px 30px 0px;
}
.forgetPopupGplusButton {
	background-image: -moz-linear-gradient(58% 0% -90deg, rgb(251,251,251) 0%, rgb(231,231,231) 100%);
	background-image: -webkit-gradient(linear, 58% 0%, 58% 100%, color-stop(0, rgb(251,251,251)), color-stop(1, rgb(231,231,231)));
	background-image: -ms-linear-gradient(-90deg, rgb(251,251,251) 0%, rgb(231,231,231) 100%);
	width: 175px;
	height: 32px;
	margin: 0 auto;
	border-color: rgb(231,231,231);
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-style: solid;
	background-color:#fbfbfb;
	cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb,endColorstr=#ffe7e7e7,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbfbfb, endColorstr=#ffe7e7e7, GradientType=0); 
}
/* .loginPopupGplusButton:hover {
	Firefox v3.6+
	background-image: -moz-linear-gradient(58% 0% -90deg, rgb(232,232,232) 0%, rgb(231,231,231) 99%);
	safari v4.0+ and by Chrome v3.0+
	background-image: -webkit-gradient(linear, 58% 0%, 58% 100%, color-stop(0, rgb(232,232,232)), color-stop(0.99, rgb(231,231,231)));
	Chrome v10.0+ and by safari nightly build
	background-image: -webkit-linear-gradient(-90deg, rgb(232,232,232) 0%, rgb(231,231,231) 99%);
	Opera v11.10+
	background-image: -o-linear-gradient(-90deg, rgb(232,232,232) 0%, rgb(231,231,231) 99%);
	IE v10+
	background-image: -ms-linear-gradient(-90deg, rgb(232,232,232) 0%, rgb(231,231,231) 99%);
	background-image: linear-gradient(-90deg, rgb(232,232,232) 0%, rgb(231,231,231) 99%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe8e8e8,endColorstr=#ffe7e7e7,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe8e8e8, endColorstr=#ffe7e7e7, GradientType=0);
	cursor:pointer;
} */
.forgetPopupGplusOuterdiv {
	float: left;
	border-right: 1px solid rgb(221,221,221);
	padding: 8px 0px 0px 5px;
	cursor: pointer;
}
.forgetPopupGplusBtn {
	background-position: -51px -176px;
	width: 32px;
	height: 23px;
}
.forgetPopupGplusDesc {
	/* float: left; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: rgb(16,118,186);
	text-align: left;
	padding: 10px 17px 9px 39px;
	cursor: pointer;
}
.clear {
	clear: both;
}
.loginPopupErrorMsg{
 padding: 30px 0px 0px 60px; 
 font-weight: normal; 
 font-size: 20px; 
}
.loginPopupMessage{
	 text-align: center; 
	 font-size: 14px; 
	 padding: 2px 0px 0px 0px; 
}
.supportMailID{
	 float: left; 
	 padding-left: 3px; 
	 padding-top: 2px; 
	 font-size:13px;
	 color: rgb(16,118,186);
}
