.ratingVisualizations {
    overflow:hidden;
}

.rating {
    margin: 3px 10px 3px 0px;
    font-size:12px;
    
    
 
    vertical-align:middle;
    line-height: 1.4em;
}

.rating .star, .userRating .star {
    font-size:14px;
    color:#999;
}

.rating .star.filled {
    color:#4e9746;
}

//.rating .star:before, .userRating .star:before {content:'\2606';}
//.rating .star.filled:before, .userRating .star.filled:before {content:'\2605';}

.star:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:'\f006';
}

.star.filled:before {
    content: "\f005";
}

.userRating .star.filled {
    color:#1076BB;
}

/*//////////////////////////////////////////////////// popups ////////////////*/

body.popupBG {
    background-color:rgba(0,0,0,.6);
}

.popup {
	background-color:white;
	width: 450px;
	margin:50px auto;
	padding:3px;
}

.popupInner {
	border: 1px solid #DDD;
}

.popupHeader {
    position:relative;
	padding:10px 15px;
	color:white;
	background-color:#515151;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#515151));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #666, #515151);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #666, #515151);

	/* IE 10 */
	background: -ms-linear-gradient(top, #666, #515151);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #666, #515151);
	
	
	
}

.popupHeader h1 {
    font-size:16px;
    font-weight:normal;
}

.popupContent {
	padding:15px;
    height:400px;
    overflow:auto;
}

.closeButton {
    width: 17px;
    height: 17px;
    background: url("../_images/close-button.png") no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeButton:hover {
    opacity:.6;
}

/*//////////////////////////////// distribution graph////////////*/

.distribution {
    float: left;
    width: 120px;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 120px;
}

.average {
    float:left;
    width:150px;
}

h3 {
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;
}

.barGraph .label { 
    display:inline-block;
    width:60px;
    line-height:12px;
    text-align:right;
    margin-right:5px;
    vertical-align:middle;
}

.barGraph .bar { 
    display:inline-block;
    width:100px; /* this is the max width for the bars */
}

.bar {
    height:10px;
    background-color: #8CC63E;
  
    display:inline-block;
    vertical-align:middle;
}

.barGraph .bar:nth-child(7) {
    background-color: #57B53B;
}

.barGraph .bar:nth-child(11) {
    background-color: #4E9746;
}

.barGraph .bar:nth-child(15) {
    background-color: #45843E;
}

.barGraph .bar:nth-child(19) {
    background-color: #0F7A42;
}

.count {
    display:inline-block;
    font-size:11px;
}

/*//////////////////// ratings and reviews ////////*/

.userRating {
    clear:both;
    background:#f0f0f0;
    padding:10px 15px;
    margin: 15px 0px;
    line-height:29px;
}

.userRating.reviewContainer {
    line-height:1.2em;
    padding:15px;
    position:relative;
}

.userRating.editContainer {
    line-height:1.2em;
    padding:15px;
}

.userRating button {
    float:right;
}

.reviewContainer button {
    float:none;
    display:block;
    visibility:hidden;
    opacity:0;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

.reviewContainer:hover button {
    visibility:visible;
    opacity:1;
}

.userRating.reviewContainer .username,
.userRating.reviewContainer .timestamp,
.userRating.reviewContainer .rating,
.userRating.reviewContainer .review {
    opacity:1;
    transition:opacity .2s;
}

.userRating.reviewContainer:hover .username,
.userRating.reviewContainer:hover .timestamp,
.userRating.reviewContainer:hover .rating,
.userRating.reviewContainer:hover .review {
    opacity:.4;
}

.userRating.reviewContainer {
    background:#f0f0f0;
    transition:background .2s;
}

.userRating.reviewContainer:hover {
    background:#f6f6f6;
    cursor:default;
}

.reviewContainer {
    margin-bottom:25px;
    position:relative;
}

.reviewContainer .username,
.editContainer .username {
    width:200px;
    float:left;
}

.reviewContainer .timestamp, 
.editContainer .timestamp {
    float:right;
}

.reviewContainer hr, .editContainer hr {
    clear:both;
    border:none;
    border-bottom: 1px solid #ddd;
    margin:3px 0px;
}














.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:16px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    line-height:1.2;
    color:#999;
    font-size:16px;
    transition: color .2s;
}

.rating:not(:checked) > label:before {
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:'\f006';
}

.rating > input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:'\f005';;
}

.rating > input:checked ~ label {
    color: #579ECF;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #1076BB;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #1076BB;
}

fieldset {
    border:none;
    display:inline-block;
}

.ratingContainer {
    height:60px;
    white-space:nowrap;
   
    
    -webkit-font-smoothing: antialiased !important;
    margin:10px;
    position:relative;
}

.editRatingContainer {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0px;
    left: 0px;
}

.userRating .editRatingContainer {
    position: absolute;
    width: 100%;
    height:100%;
    top: 0px;
    left: 0px;
}

.editRatingContainer {
    background:none;
    transition: background .2s;
}

.editRatingContainer:hover {
    background:rgba(255,255,255,.6);
}

.userRating .editRatingContainer {
    background:none;
}

.userRating:hover .editRatingContainer {
    background:none;
}

.editRating {
    margin:44px auto 0px auto;
}

.editContainer textarea {
    width:100%;
    height:72px;
    display:block;
    display: block;
    resize: none;
    padding: 5px;
    border: 1px solid #DDD;
    box-sizing:border-box;
    font-size:12px;
}

.saveCancelContainer {
    text-align:center;
}

.saveCancelContainer button {
    float:none;
    margin:10px 2px 0px 2px;
}

.timestamp .edited {
    color:#999;
}

.editRatingContainer {
    text-align:center;
}

.editRatingContainer button {
    text-align:center;
    margin-top:10px;
    display:inline-block;
}

.userRating .editRatingContainer button {
    margin-top:25px;
}

.editRatingContainer .dropdownButtonContainer {
    margin: 25px auto;
    display: block;
    width: 150px;
    position:relative;
}

.userRating .editRatingContainer .dropdownButtonContainer {
    margin: 0px auto;
}

.editRatingContainer .dropdownButtonContainer .dropdown {
    width:150px;
    position:absolute;
    right:0px;
    text-align:left;
}

.userRating.deleting {
    text-align:center;
    color:#999;
    padding:30px;
}

.ratingConfirmationContainer {
    padding:20px;
    border:1px solid #ddd;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    width:300px;
    text-align:center;
    border-radius:4px;
    position:absolute;
    top:0px;
    left:115px;
    white-space:normal;
}

.ratingConfirmationContainer h1 {
    font-size:20px;
    font-weight:normal;
    margin-bottom:20px;
}

.ratingConfirmationContainer .rating {
    margin-bottom:20px;
}

.ratingConfirmationContainer label {
    display:block;
    font-weight:bold;
    text-align:left;
    margin:5px 0px;
}

.ratingConfirmationContainer textarea {
    width:100%;
    height:150px;
    display:block;
    display: block;
    resize: none;
    padding: 5px;
    border: 1px solid #DDD;
    box-sizing:border-box;
}

.arrowBorder {
width: 0px;
height: 0px;
border: 10px solid;
border-style:inset solid inset none;
border-color: transparent #DDD transparent transparent;
position: absolute;
top: 15px;
margin: auto;
border-left: none;
left: -10px;
}

.arrow {
width: 0px;
height: 0px;
border: 10px solid;
border-style:inset solid inset none;
border-color: transparent white transparent transparent;
position: absolute;
margin: auto;
top: 15px;
border-left: none;
z-index: 100;
left: -9px;
}

.confirmationIcon {
    width:55px;
    height:55px;
    margin:0px auto 20px auto;
    background: url('../_images/checkmark.png') center no-repeat;
}

.ratingValue{
	text-align: left;
	margin-left: 15px;
	margin-bottom: 2px;
	font-style: italic;
}