/*ToolTipPopUPcss*/
.organizeContainer {
display: block;
width: 240px;
margin: 0 auto;
}
.PopupArrow {
	background: url(images/bubble-arrow.png);
	display: block;
	width: 25px;
	height: 13px;
	position: relative;
	margin: 0px auto;
	z-index: 999999;
/* top: 9px; */
}
.organizePopupTextContainer {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -1px;
	color: #515151;
	float:left;
	line-height:18px;
	z-index: 99999;
}
.organizeTextContainer
{
	float:left; 
	min-width: 84px;
	max-width: 300px;
}
.organizeText
{
	float:left; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	margin: 2px 0px 0px 8px;
}

.content {
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -4px;
}
/* adedd for standard pref */
.tooltipContainer {
	position: absolute;
}

.arrowBorder {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #DDD transparent;
	position: relative;
	top: 0px;
	margin: auto;
	border-top: none;
}

.arrow {
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent white transparent;
	position: relative;
	margin: auto;
	top: -9px;
	border-top: none;
	z-index: 100;
	left:0;
	right:0;
}

.tooltipContent {
	text-align: left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 5px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	/* border-radius: 4px; */
	-moz-border-radius: 4px;
	/* -webkit-border-radius: 4px; */
	position: relative;
	top: -10px;
	width: 163px;
	float: left;
	left: -7px;
}

.tooltipContentTitle {
	padding-bottom: 10px;
}
.tooltipContentorganize {
	text-align: left;
	color: #515151;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ddd;
	padding: 5px;
	background-color: white;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	/* border-radius: 4px; */
	-moz-border-radius: 4px;
	/* -webkit-border-radius: 4px; */
	position: relative;
	top: -90px;
	width: 277px;
	float: left;
	left: -7px;
	z-index: 999999;
}
