.toolTipPopUp {
	
}

.closeLabelRemove {
	display: block;
	float: left;
	width: 10px;
	cursor: pointer;
	padding: 1px 5px 0px 0px;
}
.closeLabelRemoveInCentury {
	display: block;
	float: right;
	width: 16px;
	cursor: pointer;
	padding: 2px 0px 0px 5px;
}
.closeLabelRemoveInSetting {
	display: block;
	float: left;
	width: 10px;
	cursor: pointer;
	padding: 1px 0px 0px 0px;
	margin-left:10px;
}
.closeLabelText {
	float: left;
	font-size:12px;
	padding-left:4px;
	/*width: 125px;*/
}

.closeLabel {
	background: -moz-linear-gradient(center top, #666666, #515151) repeat
		scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background-image: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: white;
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px 1px;
	cursor: default !important;
	min-height: 12px;
	height: auto;
}

.closeLabelCentury {
	background: -moz-linear-gradient(center top,#7AB075, #7AB075) repeat
		scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7AB075),
		to(#7AB075));
	background: -webkit-linear-gradient(top, #7AB075, #7AB075);
	background-image: -ms-linear-gradient(top, #7AB075, #7AB075);
	background: -o-linear-gradient(top,#7AB075, #7AB075);
	background-color: #7AB075;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: white;
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px 1px;
	cursor: default !important;
	min-height: 12px;
	height: auto;
}
.closeLabelSearch {
	background: -moz-linear-gradient(center top, #88bbe1, #88bbe1) repeat
		scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88bbe1),
		to(#88bbe1));
	background: -webkit-linear-gradient(top, #88bbe1, #88bbe1);
	background-image: -ms-linear-gradient(top, #88bbe1, #88bbe1);
	background: -o-linear-gradient(top, #88bbe1, #88bbe1);
	background-color: #88bbe1;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: white;
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin-right: 5px;
	margin-top: 5px;
	padding: 3px 1px;
	cursor: default !important;
	min-height: 12px;
	height: auto;
}

.toolTipPopUp {
	
}

/*CollectionImageUc*/
.collectionThumbnail {
	float: left;
	height: 91px;
	margin: 0 10px 0 0;
	width: 127px;
	
}

.collectionThumbnail1{
		height: 91px;
		width: 127px;
}

.collectionPPPThumbnail {
	float: left;
	height: 91px;
	margin: 0 10px 0 0;
	width: 127px;
	position: relative;
	
}

.collectionThumbnails {
	width: 120px !important;
	height: 90px !important;
	border-left:7px solid #1076BB;
}

.collectionNotify {
	background: none repeat scroll 0 0 #1076BB;
	height: 91px;
	position: absolute;
	width: 8px;
}

.collectionHover {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	display: none;
	height: 91px;
	position: relative;
	top: -94px;
	width: 121px;
	z-index: 20;
}

.collectionThumbnail:hover {
	opacity: 0.6;
	cursor: pointer;
}

.playIcon {
	background: url("images/Collection-Search/play-icon.png") no-repeat
		scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	left: 53px;
	position: relative;
	top: 38px;
	width: 12px;
}

/*DownToolTipUc*/
.popup {
	display: block;
	min-width: 75px;
	max-width: 250px;
	margin: 0 auto;
}

.header {
	background: url("images/Collection-Search/standards-arrow.png");
	display: block;
	width: 29px;
	height: 15px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
}

.content {
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -4px;
}

/*LeftToolTipUc*/
.lpopup {
	display: block;
	min-width: 75px;
	max-width: 200px;
	margin: 0 auto;
}

.lheader {
	background: url("images/Collection-Search/standards-arrow-right.png")
		no-repeat;
	display: block;
	width: 11px;
	height: 25px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
	float: right;
	left: -2px;
}

.lcontent {
	background-color: white;
	border: 1px solid #DDD;
	color: #515151;
	font-size: 12px;
	width: 90px;
	height: 13px;
	position: relative;
	padding: 5px 10px;
	float: left;
}

/*EditableLabelUc*/
.editableField {
	cursor: pointer;
	padding: 0px;
	font-size: 32px !important;
}

.editableFieldforClspage {
	cursor: pointer;
	padding: 0px;
	font-size: 26px !important;
}
.editableTextField {
	width: 687px !important;
	height: 100%;
	cursor: pointer;
	padding: 0px;
	font-size: 32px !important;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}
.editableSelfField {
	cursor: pointer;
	cursor: hand;
	padding: 0px;
	font-size: 15px !important;
}
.editableUserSettingField {
	/* cursor: pointer; */
	/*padding: 10px;*/
	font-size: 12px !important;
	float:left;
	
}
.editableFieldProfile {
	cursor: pointer;
	color: black !important;
	padding: 0px;
	font-size: 12px !important;
	/*height: 146px;*/
	max-width: 303px;
	/*max-height: 450px;*/
	height: 100%;
	float: left;
	width: 95%;
	line-height: 140% !important;
	word-wrap: break-word;
}

.profilePageEditDecsription {
	cursor: pointer;
	color: #515151;
	padding: 0px;
	font-size: 12px !important;
	max-width: 823px;
	float: left;
	word-wrap: break-word;
}

.publicProfileTextarea {
	background-color: rgb(255, 255, 255);
	width: 196px !important;
	height: 146px !important;
	max-height: 146px;
	max-width: 196px;
	word-wrap: break-word;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	outline: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	cursor: pointer;
	float: left;
	position: relative;
	bottom: -2px;
}

.profilePageTextAreaDecsription {
	background-color: rgb(255, 255, 255);
	width: 680px !important;
	height: 60px !important;
	font-size: 12px;
	word-wrap: break-word;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	outline: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	cursor: pointer;
	float: left;
	position: relative;
	padding: 2px;
}

.editableFieldForFolders {
	cursor: hand;
	padding: 0px;
}

/*ErrorPopupVc*/
.errorPopUp {
	background-color: #FFFFFF;
	height: 164px;
	width: 450px;
	padding: 3px 0 0 2px;
}

.captionTitle {
	height: 50px;
	width: 445px;
	background-color: #515151;
}

.headerText {
	color: #FFFFFF;
	font-family: arial;
	font-size: 20px;
	left: 10px;
	position: relative;
	top: 12px;
}

.inlineBorder {
	border: 1px solid #CCCCCC;
	height: 158px;
	width: 445px;
}

.firstTextBox {
	height: 66px;
	width: 450px;
}

.secondTextBox {
	height: 40px;
	width: 450px;
}

.QCFText {
	left: 10px;
	position: relative;
	top: 30px;
	width: 400px;
}

.dragMsg {
	left: 10px;
	position: relative;
	top: 12px;
	width: 400px;
	color: #515151;
}

.QuestMsg {
	float: left;
	color: #1076BB;
}

.okButton {
	background-color: #1076BB;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 50px;
	padding: 8px 15px;
	text-align: center;
}

.okButton:hover {
	background-color: #4C98CC;
}

.cancelButton {
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	width: 50px;
}

.OkCancelDiv {
	float: right;
	width: 318px;
	color: #1076BB;
}

/*ResourceImageUc*/
.resourceThumbnail {
	width: 81px;
	height: 61px;
	float: left;
	margin: 0 10px 0 0;
}

.resourceThumbnails {
	width: 81px;
	height: 61px;
}

.resourceHover {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	display: none;
	height: 61px;
	position: relative;
	top: -84px;
	width: 81px;
	z-index: 20;
}

.resourceThumbnail:hover {
	/* display: block; */
	/*opacity: 0.6;*/
	cursor: pointer;
}

.rplayIcon {
	background: url("images/Collection-Search/play-icon.png") no-repeat
		scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	left: 35px;
	position: relative;
	top: 21px;
	width: 12px;
}

/*StandardSgItemVc*/
.standards {
	font-size: 13px;
	/* font-weight: bold; */
	color: #515151;
	margin-bottom: 5px;
}

.descStandards {
	color: #999999;
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
}
.descLicence {
	width: 200px;
	min-height: 25px;
	margin-bottom: 10px;
}
/* DisclosurePanelUc */
.disclosurePanelUc {
	border: none;
}

.disclosurePanelUcHeader {
	margin: 25px 0px;
}

.disclosurePanelUcHeaderImgOpen {
	float: left;
	margin-top: 2px;
}

.disclosurePanelUcHeaderImgClose {
	float: left;
	margin-top: 1px;
}

.disclosurePanelUcHeaderText {
	color: #515151;
	font-size: 12px;
	text-decoration: none;
	float: left;
	margin-left: 4px;
}

.gooruBlueButton {
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 9px;
	margin: 10px 10px 10px 0px;

	/* float: right; */
}

.gooruBlueButton:HOVER {
	background: #1076BB;
	color: #FFFFFF !important;
}

.gwtErrorMessage {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-top: 50px;
}

.gwtErrorInfo {
	font-size: 12px;
	text-align: center;
}

.gooruPanel {
	background: grey;
}

/* .gooruPanel:HOVER {
	background-color: #cccccc;
	color: #000000 !important;
}
 */
.gooruPanelIn {
	background: #55bbee;
}

.labelStyle {
	text-align: center;
	color: black;
}

.paginationUcSelected {
	background-color: #F0F0F0 !important;
	color: #1076BB !important;
	text-decoration: none !important;
	-moz-box-shadow: inset 1px 1px 3px rgba(100, 100, 100, .1);
	-webkit-box-shadow: inset 1px 1px 3px rgba(100, 100, 100, .1);
	box-shadow: inset 1px 1px 3px rgba(100, 100, 100, .1);
}

.paginationUc:hover {
	background-color: #F0F0F0;
	color: #1076BB;
	text-decoration: none;
	opacity:1;
}

.paginationUc {
background-color: white;
border: 1px solid #ddd;
border-radius: 4px 4px 4px 4px;
padding: 7px 10px;
cursor: pointer;
margin: 0 5px 5px 0;
color: #1076bb;
float: left;
}

.separator {
	float: left;
	text-align: center;
	width: 17px;
	color: #999999;
}
.separatorSuggested {
	float: left;
	width: 17px;
	color: #999999;
	display:inline-block;
	text-align: center;
}
.labelGlassPanelText {
	margin-top: 10px;
	color: #FFFFFF;
	display: table-cell;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.userDefaultSelectDisable {
	cursor: default;
	-webkit-user-select: none; /* Chrome all / Safari all */
	/*-moz-user-select: none;  Firefox all */
	-ms-user-select: none; /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.userMoveSelectDisable {
	cursor: move;
	-webkit-user-select: none; /* Chrome all / Safari all */
	/*-moz-user-select: none;  Firefox all */
	-ms-user-select: none; /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

/**************/
.resourceName {
	color: #FFFFFF;
	font-size: 12px;
	height: 61px;
	/* left: -8px; */
	position: relative;
	text-align: center;
	top: -61px;
	width: 81px;
}

.resourceNameNew {
	background: url("../images/resource-type-icons.png") no-repeat
		transparent;
	color: #FFFFFF;
	font-size: 12px;
	height: 20px;
	/* left: -8px; */
	position: relative;
	text-align: center;
	top: -23px;
	width: 35px;
}

.videoSmall {
	background:url("../images/Video_1.png") no-repeat
		transparent;
}

.interactiveSmall {
	background:url("../images/Interactive_1.png") no-repeat
		transparent;
}

.websiteSmall {
	background:url("../images/Website_1.png") no-repeat
		transparent;
}
.webpageSmall {
	background:url("../images/Website_1.png") no-repeat
		transparent;
}
.examSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
	/* background-position: 0px -84px !important; */
}
.textSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
}
.textbookSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
}

.handoutSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
	/* background-position: 0px -56px !important; */
}

.lessonSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
	/* background-position: 0px -112px !important; */
}

.slideSmall {
	background:url("../images/Text_1.png") no-repeat
		transparent;
	/* background-position: 0px -168px !important; */
}

.questionSmall {
	background:url("../images/Question_1.png") no-repeat
		transparent;
}
.imageSmall {
	background:url("../images/Image_1.png") no-repeat
		transparent;
}
.audioSmall{
	background:url("../images/Audio_1.png") no-repeat
		transparent;
}
.otherSmall{
	background:url("../images/Text_1.png") no-repeat
		transparent;
}
/**************/


/******/


.videoSmallNew {
	background-position: 0px 0px !important;
}

.interactiveSmallNew {
	background-position: 0px -28px !important;
}

.websiteSmallNew {
	background-position: 0px -224px !important;
}
.webpageSmallNew {
	background-position: 0px -224px !important;
}
.examSmallNew {
	background-position: 0px -224px !important;
	/* background-position: 0px -84px !important; */
}
.textSmallNew {
	background-position: 0px -55px !important;
}
.textbookSmallNew {
	background-position: 0px -196px !important;
}

.handoutSmallNew {
	background-position: 0px -196px !important;
	/* background-position: 0px -56px !important; */
}

.lessonSmallNew {
	background-position: 0px -196px !important;
	/* background-position: 0px -112px !important; */
}

.slideSmallNew {
	background-position: 0px -251px !important;
	/* background-position: 0px -168px !important; */
}

.questionSmallNew {
	background-position: 0px -140px !important;
}
.imageSmallNew {
	background-position: 0px -251px !important;
}
.audioSmallNew{
	background-position: 0px -279px !important;
}
.otherSmallNew{
	background-position: 0px -307px !important;
}
/*********/
.imageUploadPopup {
	width: 500px;
	height: 247px;
	background: #fff;
	z-index: 99;
}

.textBoxWithPlaceholder {
	border: 1px solid #ddd;
	height: 18px;
	display: block;
	font-size: 12px;
	margin: 0 0 5px 0px;
	padding: 3px;
	width: 235px;
	padding: 5px;
	text-align: left;
	box-sizing:content-box;
}

.textBoxWithPlaceholderText {
	color: #999999;
}

.increaseZindex {
	z-index: 999;
}

/*************DatePicker Style **********/
.datePickerContainer {
	z-index: 99999;
}

.parentDatePickerContainer {
	overflow: visible;
	position: absolute;
	top: 294px;
	z-index: 9999;
}

.parentDateBox {
	border: 1px solid #CCCCCC;
	float: left;
	margin-bottom: 22px;
	padding: 1px;
	width: 216px;
}

.parentDateText {
	border: 0 none;
	float: left;
	height: 20px;
	width: 181px;
}

.monthYearContainer {
	background-color: #4393C9;
	border-radius: 6px 6px 0px 0px;
	height: 21px;
	padding: 4px;
	box-sizing:content-box;
}

.yearListStyle {
	float: right;
	width: 50%;
}

.monthListStyle {
	float: left;
	width: 50%;
}

.todayButton {
	float: left;
	height: 24px;
	width: 40%;
}

.doneButton {
	float: right;
	height: 24px;
	width: 40%;
}

.dateButtonContainer {
	background-color: #4393C9;
	border-radius: 0px 0px 6px 6px;
	height: 21px;
	padding: 4px;
	box-sizing: content-box;
}

.gooruDateBox {
	border: 1px solid #CCCCCC;
	float: left;
	/* margin-bottom: 22px; */
	padding: 2px;
	width: 264px;
}

.gooruDateBoxAssignment {
	border: 1px solid #CCCCCC;
	float: left;
	/* margin-bottom: 22px; */
	padding: 2px;
/* 	width: 308px; */
	width: 100%;
	margin-bottom: 10px;
}

.gooruDateText {
	border: 0 none;
	float: left;
	height: 20px;
	width: 228px;
}

.gooruCalendarIcon {
	background: url("images/Collection-Search/icon-sprite.png") no-repeat
		scroll -7px -472px transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	margin-left: 4px;
	width: 30px;
}

.gooruDatePickerBox {
	border: 1px solid;
	border-radius: 5px 5px 5px 5px;
	width: 192px;
}

.searchStandard {
	background: -moz-linear-gradient(center top, #666666, #515151) repeat
		scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666),
		to(#515151));
	background: -webkit-linear-gradient(top, #666, #515151);
	background-image: -ms-linear-gradient(top, #666, #515151);
	background: -o-linear-gradient(top, #666, #515151);
	background-color: #515151;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	color: white;
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin-right: 5px;
	margin-top: 1px;
	padding: 3px;
	cursor: default !important;
}

.glassPanelWithLoading {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.imageLoadingPanel {
	width: 100%;
	height: 100%;
}

.imagePanel {
	text-align: center;
	/* margin-left: 76px; */
}

.previousArrow {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -4px -373px transparent;
	float: left;
	height: 40px;
	left: 2px;
	position: absolute;
	top: 250px;
	vertical-align: middle;
	width: 50px;
	cursor: pointer;
}

.nextArrow {
	background: url("images/Collection-Search/icon-sprite.png") repeat
		scroll -4px -314px transparent;
	float: right;
	height: 41px;
	position: absolute;
	right: 2px;
	top: 250px;
	width: 50px;
	cursor: pointer;
}

.navigationLabel {
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.navigationLabel:hover {
	border-bottom: 2px solid #a6caa2;
}

/*remove tool top style*/
.removeToolTipConatainer {
	display: block;
	min-width: 60px;
	max-width: 236px;
	margin: 0 auto;
}

.removeTollTipTopImage {
	background: url(images/Collection-Search/up-arrow-small.png) no-repeat;
	display: block;
	width: 12px;
	height: 8px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
}

.removeToolTipContentContainer {
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 5px;
	position: relative;
	top: -4px;
}

.hoverPopupContainer {
	display: block;
	/* height: 188px; */
	width: 175px;
	margin: 32px 0px 0px 480px;
	z-index: 9;
	position: absolute;
}
/* .hoverCollPopupContainerPos{
	left: 483px;
	top: 24px;
}

.hoverStasPopupContainerPos{
	left: 639px;
	top: 24px;
} */
.hoverCollPopupContainerPos {
	/* left: 418px;
	top: 24px; */
	
}

.hoverStasPopupContainerPos {
	/* left: 566px;
	top: 24px; */
	
}

.hoverPopupArrow {
	background: url(images/standards-arrow-two.png);
	display: block;
	width: 25px;
	height: 9px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
}

.hoverPopupTextContainer {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #515151;
	font-size: 12px;
	padding: 15px;
	position: relative;
	top: -1px;
	color: #fab03a;
	text-align: center;
}

.comingSoonLbl {
	font-size: 18px;
}

.classPageEmailPopupContainer {
	float: left;
	background-color: rgb(255, 255, 255);
	padding: 3px;
}

.classPageEmailHeaderContainer {
	float: left;
	padding-bottom: 15px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	padding: 0px 45px 15px 0px;
}

.classPageEmailHeaderContent {
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(102, 102,
		102)), color-stop(1, rgb(81, 81, 81)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(102, 102, 102) 0%,
		rgb(81, 81, 81) 100%);
	background-color: #515151;
	height: 38px;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff666666,endColorstr=#ff515151,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff666666,
		endColorstr=#ff515151, GradientType=0);
}

.classPageEmailHeaderDesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: left;
	padding: 10px 0px 0px 15px;
}

.classPageEmaiInputContainer {
	margin-top: 10px;
}
.txtAlignLeft{
	margin-left:53px;
}

.classPageEmaiInputText {
	float: left;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: right;
	padding: 11px 10px 0px 10px;
}

.classPageEmailInputControl {
	width: 305px;
	height: 30px;
	font-size: 12px;
	/* color: rgb(153,153,153); */
	padding: 3px 0px 0px 5px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	outline: 0;
}

.classPageEmailInputNormalControl {
	width: 305px;
	height: 30px;
	max-width: 305px;
	max-height: 30px;
	font-size: 12px;
	/* color: rgb(153,153,153); */
	color: black;
	padding: 3px 0px 0px 5px;
	background-color: rgb(255, 255, 255);
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	outline: 0;
}

.classPageEmailInputControlInnerDiv {
	float: left;
}

.classPageEmailCheckBoxContainer {
	padding: 2px 0px 27px 0px;
}

.classPageEmailCheckBoxBg {
	display: inline-block;
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(255, 255,
		255)), color-stop(1, rgb(240, 240, 240)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	/* Opera v11.10+ */
	background-image: -o-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	/* IE v10+ */
	background-image: -ms-linear-gradient(-90deg, rgb(255, 255, 255) 0%,
		rgb(240, 240, 240) 100%);
	float: right;
	width: 18px;
	height: 16px;
	border-color: rgb(204, 204, 204);
	/* border-width: 1px; */ /* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 5%/5%;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 5%/5%;
	border-style: solid;
	margin: 3px 0px 0px 0px;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#fff0f0f0,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,
		endColorstr=#fff0f0f0, GradientType=0);
}

.classPageEmailCheckBoxBg:hover {
	cursor: pointer;
}

.classPageEmailNormalText {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(81, 81, 81);
	text-align: right;
	padding: 5px 6px 0px 0px;
}

.classPageEmailAlign {
 /*	padding-top: 10px;
	 padding-bottom: 110px;  */
	min-height:110px; 
}

.classPageEmailButtonContainer {
	float: right;
	padding: 25px 135px 0px 0px;
}

.classPageEmailButtonBg {
	float: left;
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(76, 152,
		204)), color-stop(0.99, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(76, 152, 204) 0%,
		rgb(16, 118, 187) 99%);
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 7px 5px 7px 5px;
	border-radius: 4px;
	background-color: #1076bb;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,endColorstr=#ff1076bb,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4c98cc,
		endColorstr=#ff1076bb, GradientType=0);
}

.classPageEmailButtonBg:hover {
	cursor: pointer;
	background-image: -moz-linear-gradient(51% 3% -90deg, rgb(16, 118, 187)
		0%, rgb(16, 118, 187) 99%);
	background-image: -webkit-gradient(linear, 51% 3%, 51% 100%, color-stop(0, rgb(16, 118,
		187)), color-stop(0.99, rgb(16, 118, 187)));
	background-image: -webkit-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -o-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: -ms-linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	background-image: linear-gradient(-90deg, rgb(16, 118, 187) 0%,
		rgb(16, 118, 187) 99%);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #1076bb;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb,endColorstr=#ff1076bb,GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1076bb,
		endColorstr=#ff1076bb, GradientType=0);
}

.classPageEmailButtonTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-align: center;
	cursor: pointer;
	/* padding: 1px 5px 1px 5px; */
	border: 0 outset buttonface;
	border-image: initial;
	background-color: transparent;
	box-sizing: border-box;
	padding: 6px 0px -1px 11px;
}

.classPageEmailButtonCancel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	line-height: 120%;
	color: rgb(16, 118, 186);
	text-align: left;
	padding: 8px 0px 0px 7px;
}

.classPageEmailButtonCancel:hover {
	cursor: pointer;
}

.clear {
	clear: both;
}

.classPageEmailMainContainer {
	background-color: rgb(255, 255, 255);
	width: 448px;
	height: 160px;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 1px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 1px;
	border-style: solid;
	padding: 0px 30px 15px 0px;
}

.classPageEmailBlueText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(16, 118, 185);
	text-align: center;
	padding: 20px 0px 0px 10px;
}

.classPageEmailDescText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	text-align: center;
	padding: 15px 0px 0px 10px;
}

.classPageEmailButtonOuterDiv {
	float: left;
	width: 58%;
	margin-top: 15px;
}

.classPageEmailOktext {
	text-align: center;
	padding: 0px 5px 0px 5px;
}

.emailShareErrorLabel {
	font: 12px arial;
	color: #fab03a;
	text-align: right;
	/* margin-left: 201px; */
	margin-top: 3px;
	padding: 3px;
	/* width: 198px; */
}

.classPageEmailCheckBoxBgHoverSprite {
	width: 19px;
	height: 17px;
	background: url(images/checkboxsprite.png) no-repeat;
	display: inline-block;
	margin-bottom: -5px;
}

.classPageEmailCheckBoxBgHover {
	width: 19px;
	height: 17px;
	background: url(images/checkboxsprite.png) no-repeat;
	display: inline-block;
	margin-bottom: -5px;
	background-position: 0px -34px;
}

.displayNone {
	display: none;
}

.profilePopup {
	width: 268px;
	height: 80px;
	z-index: 9999;
	background-color: #FFF;
	border-radius: 4px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.profilePopupContainer {
	position: absolute;
	margin-top: 22px;
	margin-left: -53px;
	z-index: 99;
}

.profilePopupInnerContaienr {
	float: left;
	margin-top: 15px;
	margin-left: 14px;
}

.profilePopupInnerImage {
	background: url(/images/profilepage/user-profile-popup-pic-small.png);
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	/* -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
}

.profilePopupInnerSeparator {
	width: 1px;
	height: 80px;
	float: left;
	background: #dddddd;
	margin: 0px 10px 0px 10px;
	display: none;
}

.profilePopupInnerTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #515151;
	float: left;
	width: 190px;
}

.profilePopupInnerHints {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	float: left;
	width: 194px;
}

.profilePopupInnerHints span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1076BB;
	cursor: pointer;
}

.profilePopupInnerDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #515151;
	float: left;
	width: 194px;
	margin-top: 5px;
}

.editImage {
	float: left;
	margin-left: 5px;
	color: #1076bb;
	border-radius: 4px;
	padding: 7px 9px;
	border: none;
	font-family: Arial, sans-serif;
	display: inline-block;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}
.editImage:hover {
	cursor: pointer;
	background: #eee;
}
.errorValidation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: left;
	padding: 2px 0px 9px 0px;
	width:51% !important;

}
.errorValidationClassPage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: right;
	padding: 2px 0px 9px 0px;
	/* width:54% !important;DO-3502 */

}
.errorValidationSetting {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: right;
	padding: 2px 0px 9px 0px;
	/* margin-left:126px; */

}
.errorValidationEmailForSetting {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: rgb(250, 176, 58);
	float: left;
	padding: 2px 0px 9px 0px;
	margin-left: 273px;
	width: 189px;
	margin-top: -31px;

}


.publicPPGwtErrorMessage {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-top: 50px;
	margin-right: -174px;
}



/* Tooltip CSS */
.toolTip {
	position: absolute;
	margin-top: 22px;
	margin-left: -53px;
	z-index: 99;
	width: 268px;
	height: 80px;
    background-color: #ffffff;
    border: 1px solid #DDD;
    /* position:relative; */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.1);
}

.arrowShadow {
    background-color: transparent;
	width: 6px;
	height: 17px;
	position: absolute;
	top: -7px;
	left: 138px;
	z-index: -10;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.arrowBorder {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent #DDD transparent;
    position:absolute;
    top: -10px;
	left: 130px;
	border-top: none;
}

.arrow {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    position:absolute;
    left: 130px;
    top: -9px;
    border-top: none;
}


.disableGooruButon{
	/* Firefox v3.6+ */
	background-image:-moz-linear-gradient(88% 0% -90deg,rgb(187,187,187) 0%,rgb(153,153,153) 100%); 
	/* safari v4.0+ and by Chrome v3.0+ */
	background-image:-webkit-gradient(linear,88% 0%,88% 100%,color-stop(0, rgb(187,187,187)),color-stop(1, rgb(153,153,153)));
	/* Chrome v10.0+ and by safari nightly build*/
	background-image:-webkit-linear-gradient(-90deg,rgb(187,187,187) 0%,rgb(153,153,153) 100%);
	/* Opera v11.10+ */
	background-image:-o-linear-gradient(-90deg,rgb(187,187,187) 0%,rgb(153,153,153) 100%);
	/* IE v10+ */
	background-image:-ms-linear-gradient(-90deg,rgb(187,187,187) 0%,rgb(153,153,153) 100%);
	background-image:linear-gradient(-90deg,rgb(187,187,187) 0%,rgb(153,153,153) 100%);
	width:60px;
	height:30px;
	/* Firefox v1.0+ */
	-moz-border-radius:4px;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:4px;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:4px;
	color:rgb(255,255,255);
	background-color: rgb(187,187,187);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbbbbbb,endColorstr=#ff999999,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbbbbbb,endColorstr=#ff999999,GradientType=0);
}
/* Standards Popup*/
.standardsHeader {
	width: 98%;
	height: 31px;
	background-color: rgb(81,81,81);
	padding: 10px 0px 0px 10px;
}

.standardsTitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: rgb(255,255,255);
	width: 94%;
}

.standardsCloseMarker {
	float: left;
}


.standardsSprite {
	background: url(images/Classpage/assign-sprite.png) no-repeat;
}

.standardsCloseMark {
	background-position: -52px -116px;
	width: 18px;
	height: 19px;
	cursor: pointer;
}
.standardsContent{
	/* width: 98%; */
	padding: 10px 10px 10px 10px;
	background-color: transparent;
	border-color: rgb(221,221,221);
	border-width: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border-style: solid;
	min-height:275px;
	height:275px;
}
.container{
	width: 500px;
}

.divContainer{
	padding: 6px;
	float: left;
	width: 87%;
}

.standardsDesc{
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Standards Popup*/
/*Setting page css for 5.9 sprint*/
.settingpageEditTextBox{
border: 0;
width: 303px;
height: 30px;
padding-left: 5px;
float: right;
border: 1px solid #ccc;
}
.editableFieldSetting {
	/* cursor: pointer; */
	padding: 0px;
	font-size: 12px !important;
	/* float: left; */
	padding-left: 15px;
}
.SettingEditEmail {
	width: 235px !important;
	height: 27px !important;
	border: 1px solid #ccc;
	font-size: 12px !important;
	padding: 0px 5px;
}
.SettingEditLastName{
width: 135px !important;
height: 27px !important;
border: 1px solid #ccc;
font-size: 12px !important;
padding: 0px 5px;
}
.editableFieldlastNameSetting{
	padding: 0px;
	font-size: 12px !important;
	padding-left: 5px;
}

.iconPosition{
	margin-top: 9px;
	margin-left: -35px;
}

.shareEmailButtonContainer {
	padding: 25px 0 0 45px;
	width: 123px;
	margin: 0 auto;
}

button.emailPrimary {
	color: white;
	background-color: #1076bb;
	border-radius: 4px;
	padding: 7px 9px;
	border: 1px solid #1076BB;
	font-family: Arial, sans-serif;
	display:inline-block;
	
	/* Old browsers */ 
	background:#1076BB;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);

	/* IE 10 */
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
}

button.emailPrimary:hover {
	color:white;
	background:#1076BB;
	cursor:pointer;
}

button.emailSecondary {
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
}

button.emailSecondary:hover {
	background: #efefef;
	cursor:pointer;
}
.emailSendButton{
	float: left;
    margin-right: 4px;
	
}
.privacyAlignStyle{
	margin-right: 2px;
}

.paddingClear{
	padding:0;
}
