@charset "utf-8";
/* CSS Document */

.playerflagpopupwrapper
{
	width:418px;
	float: left;
	margin:0 auto;
	background-color:#FFF;
}
.playerflagpopupinnerwrapper
{
	width:410px;
	float:left;
	background-color:#FFF;
	border:1px solid #DDDDDD;
	margin:3px;
}
.playerflagpopupheader
{
	float:left;
	width:100%;
	height:38px;
	background-color: #515151;
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(81,81,81,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(81,81,81,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}
.playerflagpopupheaderCloseBtn
{
	float:right;
	width:15px;
	height:15px;
	margin:10px 10px 0px 0px;
}
.playerflagpopupheaderCloseBtn:hover
{
	cursor:pointer;
	opacity:.5;
}
.playerflagpopupheadertitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;
	padding: 10px 5px 5px 15px;
	float: left;
}
.playerflagcontentcontainer
{
	margin:0px 0px 0px 28px;
	float:left;
	width:382px;
	/*height:291px;*/
}
.playerflagcontentcontainerThankYou
{
	margin: 0 auto;
	width:382px;
	margin-top: 52px;
	
}
.playerflagcontenttext
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	width: 280px;
}
.playerflagcontent
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 3px;
	width: 345px;
	
}
.playerflagcontentTextdescription
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 3px;
	width: 345px;
	
}

.playerflagcontentTextCollectiondescription
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 7px;
	width: 345px;	
}

.playerflagcontentTextResourcedescription
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 7px;
	width: 345px;	
}
.playerflagcontentChooseResource
{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	margin-top:11px;
	margin-left: 0px;
	width: 345px;
}
.playerflagradiobutton, radio
{
	clear: both;
	margin-left: 5px;
	float: left;
}
 input[type="checkbox"] {
	float:left;
}  
.playerflagtextarea
{
	float: left;
	width: 358px;
	height: 81px;
	max-width: 358px;
	max-height: 81px;
	color: #515151;
	margin: 7px;
	border-color: #ddd;
	font-family:Arial, Helvetica, sans-serif;
}
.playerflagbuttoncontainer
{
	width:151px;
	float:left;
	height:32px;
	margin-left: 140px;
	margin-bottom: 8px;
}
.resourcePlayerflagbuttoncontainer
{
	width:151px;
	float:left;
	height:32px;
	margin: 0px 0px 0px 120px;
	margin-bottom: 8px;
}
.playerflagbuttoncancel
{
	float:left;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-right:10px;
	color: #1076BB;
	padding: 7px 9px;
	border-radius: 4px;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	text-decoration:none;
}

.playerflagbuttoncancel:hover
{
	background:#eee;
	cursor:pointer;
}

.playerflagbuttonsubmit
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	text-decoration:none;
	cursor: pointer;
	
	
}
.playerflagbuttonsubmit:hover
{
	background: #1076BB;
	color: #FFFFFF !important;
}
.playerflagbuttoncancelGray
{
	float:left;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 7px 9px;
	border-radius: 4px;
	background: #999;
	background: #efefef;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
	background: -webkit-linear-gradient(top, #fdfdfd, #ddd);
	background: -moz-linear-gradient(top, #fdfdfd, #ddd);
	background: -ms-linear-gradient(top, #fdfdfd, #ddd);
	background: -o-linear-gradient(top, #fdfdfd, #ddd);
	border: 1px solid #ddd;
	text-decoration:none;
	cursor: default;
	
}
.playerflagbuttonOk
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	background: -moz-linear-gradient(center top, #4C98CC, #1076BB) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC),
		to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background-image: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	background-color: #1076BB;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	text-decoration:none;
	width:37px;
	margin:0 auto;
	height:32px;
	cursor: pointer;
	margin-top: 18px;
	margin-left: 170px;
	
}
.playerflagbuttonOk:hover
{
background: #1076BB;
color: #FFFFFF !important;	
}
#select
{
	width:302px;
	height:30px;
	float: left;
	border:1px solid #DDDDDD;
	margin-top: 8px;
	padding: 0px 0px 0px 6px;

}
.downarrow
{
	width:302px;
	height:30px;
	float:left;
	cursor:pointer;
	border:1px solid #DDDDDD;
	margin-top: 8px;
	padding: 0px 0px 0px 6px;
	background-color: #fff !important;
	color: #515151;
}
.leftalign
{
	float:left;
}
.flagresourcesinnerwrapper
{
	width:569px !important;
	float:left!important;
	margin:3px !important;
	border: 1px solid #DDD;
	background-color: #fff;
}
.flagresourceleftpart
{
	float:left;
	width:169px;
	height:398px;
	border-right:1px solid #DDDDDD;
}
.flagresourcenmenutext
{
	padding:8px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#515151;
}
/*open ended question css*/
.endedquestionheader {
width: 100%;
background-color: #515151;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
height: 39px;
}

.endedquestionheaderflagtext {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
float: left;
padding: 11px 0px 0px 11px;
color: #FFF;
}

.flagresourceleftpart {
float: left;
width: 169px;
height: 398px;
border-right: 1px solid #DDDDDD;
background-color: #e5e5e5;
}

.flagbuttonDeSelected {
width: 100%;
height: 36px;
border-bottom: 1px solid #DDD;
border-bottom: 1px solid #ddd;
border-top: 1px solid #eee;
background: white;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EDEDED));
background: -webkit-linear-gradient(top, #FDFDFD, #EDEDED);
background: -moz-linear-gradient(top, #FDFDFD, #EDEDED);
background: -ms-linear-gradient(top, #FDFDFD, #EDEDED);
background: -o-linear-gradient(top, #FDFDFD, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#EDEDED'
}

.flagbuttonDeSelected:hover {
background:#e5e5e5;
box-shadow: none;
cursor:pointer;
}
.flagresourcenmenutext {
padding: 8px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #515151;
}

.flagButtonselected {
box-shadow: inset 0 0 10px rgba(0,0,0,.1);
border-top: 1px solid #ccc;
border-bottom: 1px solid #ddd;
height: 36px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#efefef));
background: -webkit-linear-gradient(top, #cccccc, #efefef);
background: -moz-linear-gradient(top, #cccccc, #efefef);
background: -ms-linear-gradient(top, #cccccc, #efefef);
background: -o-linear-gradient(top, #cccccc, #efefef);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#efefef',GradientType=0 );
}
.flagButtonselected:hover {
cursor:default !important;
}

.endedquestionrightpart {
float: right;
width: 376px;
/*height: 397px;*/
}

.playerflagcollectionresourcescontentcontainer {
margin: 14px 0px 0px -6px;
float: left;
width: 382px;
}

.playerflagcontenttext {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
width: 360px;
word-wrap: break-word;
}

.playerflagcontenttextCollectionTitle {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
width: 360px;
word-wrap: break-word;
margin-top:10px;
}

/*add new resource into flag styles*/
.endedquestionwrapper {
width: 575px !important;
height: 439px !important;
margin: 0 auto;
}

.endedquestionheader {
width: 100%;
background-color: #515151;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
height: 39px;
}

.endedquestionheaderflagtext {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
float: left;
padding: 11px 0px 0px 11px;
color: #FFF;
}

.flagresourceleftpart {
float: left;
width: 169px;
height: 471px;
border-right: 1px solid #DDDDDD;
}

.endedquestionmenu {
background: rgb(253,253,253);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ededed',GradientType=0 );
width: 100%;
height: 36px;
border-bottom: 1px solid #DDD;
cursor: pointer;
}

.flagresourcenmenutext {
padding: 8px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #515151;
}

.endedquestionmenuselected {
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 6%, rgba(240,240,240,1) 90%, rgba(221,221,221,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(6%,rgba(226,226,226,1)), color-stop(90%,rgba(240,240,240,1)), color-stop(100%,rgba(221,221,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,226,226,1) 6%,rgba(240,240,240,1) 90%,rgba(221,221,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
width: 99%;
height: 36px;
border: 1px solid #DDD;
cursor: pointer;
}

.endedquestionrightpart {
float: right;
width: 376px;
/*height: 397px;*/
}

.playerflagcontenttext {
float: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #515151;
}
/*Thank you popup*/
.thankyoupopupwrapper
{
	width:418px !important;
	height:162px !important;
	margin:0 auto;
	background-color:#FFF;
}
.thankyoupopupinnerwrapper
{
	width:410px !important;
	height:156px !important;
	float:left;
	background-color:#FFF;
	border:1px solid #DDDDDD;
	margin:3px;
}
.thankyoubuttoncontainer
{
	width:37px;
	margin:0 auto;
	height:32px;
}
.playerflagcontentthankyou
{
	clear: both;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#515151;
	text-align: left;
}
.thankyouflagbuttonsubmit
{
	float:left;
	background-color:#1076bb;
	color:#FFF;
	padding: 7px 9px;
	font-family: Arial, sans-serif;
	font-size:12px;
	display: inline-block;
	border: 1px solid #1076BB;
	background: #1076BB;
	border-radius: 4px;	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C98CC), to(#1076BB));
	background: -webkit-linear-gradient(top, #4C98CC, #1076BB);
	background: -moz-linear-gradient(top, #4C98CC, #1076BB);
	background: -ms-linear-gradient(top, #4C98CC, #1076BB);
	background: -o-linear-gradient(top, #4C98CC, #1076BB);
	text-decoration:none;
	margin-top: 20px;
}
.glassStyle{
	background-color:#000;
	opacity:0.3;
	z-index:100000;
}
.ckeckBoxPlyerStyle
{
width: 17px;
height: 17px;
float: left;
margin-top: 10px;
}
.collectionPlayerExistingCollectionInputContainer{
	width: 324px;
	float: left;
	margin-right: 10px;
	margin-left: 1px;
	margin-top: 3px;
}
  .dropdownListPlaceHolder{
	background:url(images/dropdownMenuArrow.png) no-repeat;
	background-color: white;
	background-position: right center;
	color: #999;
	padding: 5px 25px 5px 5px;
	border-bottom: 1px solid #DDD;
	border: 1px solid #DDD;
	cursor: pointer;
	display: block;
	width: 280px;
	height: auto;	
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif, Calibri;
} 
.dropdownListContainerScrollPanel{
	border: 1px solid #DDD;
	list-style-type: none;
	padding:0;
	margin:0;
	z-index:9999;
	max-height:86px;
	width: 310px;
	position:absolute !important;
}
/*Scroll bar style for default scrolls*/
.dropdownListContainerScrollPanel::-webkit-scrollbar {
	width: 8px;
} /* this targets the default scrollbar (compulsory) */
.dropdownListContainerScrollPanel::-webkit-scrollbar-track {
	background-color: white;
	width: 15px;
}
/* the new scrollbar will have a flat appearance with the set background color */
.dropdownListContainerScrollPanel::-webkit-scrollbar-thumb { /*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: rgba(0, 0, 0, 0.2);
	width: 15px;
} /* this will style the thumb, ignoring the track */
.dropdownListContainerScrollPanel::-webkit-scrollbar-button {
	background-color: #DDDDDD;
	width: 0px;
	height: 0px;
}
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
.dropdownListContainerScrollPanel::-webkit-scrollbar-corner {
	background-color: red;
}
.dropdownListContainer{
	list-style-type: none;
	padding:0;
	margin:0;
	z-index:9999;
}
.dropdownListItemContainer{
	padding: 5px;
	background: white;
	margin: 0px;
	font-family: Arial, sans-serif;
	color: #515151;
	font-size: 12px;
}

.dropdownListItemContainer:hover{
	background-color: #CFE3F1;
	cursor: pointer;
}

.emailThankYouLbl {
	color: #1076bb;
	font-size: 16px;
	text-align: center;
}

.emailIdLbl {
	text-align: center;
	margin-top: 5px;
	font-size: 12px
}
